[2018-06-21 19:00] kentcdodds commented on #471
Why don't you go ahead and open a PR, then we can check out the demos (your PR will automatically be deployed as a preview) in various browsers and see if that fixes it without breaking anything else.

[2018-06-21 19:00] kentcdodds commented on #471
Thanks!

[2018-06-21 20:55] Alex-Mason-1982 commented on #478
Sorry about the wall of text it was formatted when i put it in i swear.  the problem persists in my code after making your change but when i created the sandbox it did not give the error. Think it might be a version issue (sandbox version is higher than mine)?  I don't know ill keep digging.

[Autocomplete example](https://codesandbox.io/s/825rq931jj)

[2018-06-21 21:02] kentcdodds commented on #478
Go ahead and keep digging. If you find a bug, feel free to comment here.

[2018-06-21 21:02] #478 closed

[2018-06-21 22:39] franklixuefei commented on #481
I'll just give a piece of my opinion on this. From what you described and showed in codesandbox, It seems like you want to update `defaultSelectedItem`. However, if you look at the documentation, `defaultSelectedItem` is only meant to assign the **initial** value to `Downshift`. Essentially, `defaultSelectedItem` is only used in the constructor of `Downshift`, as below:
https://github.com/paypal/d

[2018-06-21 23:41] samdenty99 opened #483 "Best practices on re-mapping default keybindings"
- `downshift` version: 2.0.7

What:

Best practices on re-mapping keybindings to different keys. I searched the issues but could only find #140.

Question:

Currently I'm attempting to add auto-completion to a `<textarea>` element, which is working great so far. I've set the tab key to manually call the `selectHighlightedItem` method, but Downshift seems to be `preventDefault`'ing on all enter eve

[2018-06-22 02:10] geeofree commented on #480
Hi! :wave: Perhaps we can make `Downshift` have a `ref` callback prop that gets called inside the `cDU` with `Downshift` as an argument to it? Something like this:

[code]

That way we can use `Downshift`'s various methods on stateful components like this:
[code]

What do you think?

[2018-06-22 02:21] kentcdodds commented on #480
You can do that already. That's how refs in react work. No need to change the code.

That said, it would be very imperative so it'd probably be better to do this a different way.

If you want to control the selectedItem state outside downshift, the solution is to use control props. See the documentation for how to accomplish that. There's also [an example for this as well](https://github.com/paypa

[2018-06-22 02:21] #480 closed

[2018-06-22 10:11] oliverjam commented on #481
Yeah you're right. I guess it just felt weird because we weren't _really_ controlling it until we started persisting the value in localStorage.

It makes that that default props only set initial values, thanks!

[2018-06-22 10:11] #481 closed

[2018-06-22 14:54] #471 closed

[2018-06-22 15:04] kentcdodds commented on #471
:tada: This issue has been resolved in version 2.0.9 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-22 15:38] alexandernanberg commented on #458
I've done some digging and it seems like NVDA doesn't fire `keyDown` event on buttons when you are in "browse mode". There is an issue about this on their GitHub page https://github.com/nvaccess/nvda/issues/7898.

There is a workaround and that is to enter "focus mode", typically by pressing `caps`+`space` then the `keyDown` events will fire and Downshift works as expected.

I'm uncertain if there

[2018-06-22 15:41] green-arrow commented on #444
@kentcdodds  - Sorry for not testing this out sooner! I just pulled down `2.0.9`, but I"m still having this issue. I've applied `getMenuProps` to my `ul` which is in a portal, and `reset` is still triggered.

Looking at the code, it seems like `this._menuNode` is only being used in determining if the event happened inside of downshift on mouse up. The `onTouchStart` event still only uses `this._ro

[2018-06-22 15:44] Nazerbayev commented on #458
About nvda swallowing key events it is normal that it does that on browse mode, nvda was failing to change to forms mode when reading the role of combobox on <2.0.x

2.0.x+ is using listbox and it seems to be working as expected

[2018-06-22 15:54] green-arrow opened #485 "Menu closes when touching an item inside a menu which is in a portal"
- `downshift` version: 2.0.9
- `node` version: 8.9.4
- `npm` (or `yarn`) version: yarn 1.7.0

Relevant code or config

[code]

What you did: Click on an item inside the menu, which is being rendered inside of a portal.

What happened:

Menu item was not selected and the menu was closed.

Reproduction repository:

N/A - Can create a code sandbox if needed

Problem description:

When touching an ite

[2018-06-22 16:23] kentcdodds commented on #485
Let's do it :+1: Thanks for filing the issue. Would you like to contribute the changes?

[2018-06-22 16:24] kentcdodds commented on #458
Hey that's great! Thanks for working through this together team.

So if I'm not missing something, 2.0.0 fixed the issue and we're good to go now right? If so, please close this issue :)

[2018-06-22 16:25] kentcdodds commented on #444
Yup, that was an oversight on my part. I'd love a PR :) Thanks!

[2018-06-22 17:00] green-arrow commented on #485
Yep, sure will!

[2018-06-22 17:57] alexandernanberg commented on #432
I usually solve this by doing something like this: https://codesandbox.io/s/xpwovvx5vz

The usage looks like this. The `defaultValue` or `value` have to match the `value` of one of the items in the `options` array.
[code]

When you need to use this in a form I usually use a native `<select />` element and sync the `selectedItem` to it. I can provide an example of it if anyone is interested.

[2018-06-22 18:22] #485 closed

[2018-06-22 18:32] kentcdodds commented on #485
:tada: This issue has been resolved in version 2.0.10 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-23 00:40] #483 closed

[2018-06-26 20:15] martinmckenna commented on #452
get rid of the lamda in the usage example, as lamdas are bad for performance.

I'm in the process of trying to figure out how to work DownShift without a lamda in my `render` method and it's pretty complicated. I want to pass things such as `getInputProps` and `highlightedIndex` down to a method called `renderDownShiftChildren`

[2018-06-27 11:13] damonbauer opened #489 "Type Ahead Example Differences in v1 & v2"
- `downshift` version: 2.0.10

**Relevant code or config**
https://codesandbox.io/s/2w0ww46pqj

**What you did:**
Updated the Type Ahead example ([v1](https://codesandbox.io/s/82m2px40q9)) to version 2.0.10.

**Problem description:**
When filtering the list with the character "a", then selecting "apple", an alert shows & says I chose "apple". However, the input still shows "a", as well as the "Sel

[2018-06-27 13:50] davereid91 opened #490 "parent.contains is not a function when used with styled components"
- `downshift` version: 2.0.10
- `node` version: 9.5.0
- `npm` (or `yarn`) version: 1.5.1

Relevant code or config

[code]

What you did:
The code above is pseudo code but roughly equates to what I am doing. I am building a dropdown using downshift that toggles when you click a button. I am combining this with styled components and when I click outside of the div I am getting an error from within d

[2018-06-27 16:36] alexandernanberg commented on #490
I think the problem is that the `getMenuProps` is trying to set a `ref` on the `<Dropdown />`. Styled components accepts an `innerRef` prop for this, so please try with this instead
[code]

Altough we should probably add a check if the `ref` exists before we try accessing it.

[2018-06-27 19:43] kentcdodds commented on #490
Agreed. I'd accept a PR for that :+1:

[2018-06-27 19:57] kentcdodds commented on #489
This was one of the few breaking changes in downshift 2. Here's a working version of your sandbox: https://codesandbox.io/s/n991m9ol4p

In addition, I added a more complete example to the examples here: https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fordered-examples%2F03-typeahead.js&moduleview=1

Thanks for inspiring me to update that :)

[2018-06-27 19:57] #489 closed

[2018-06-28 15:21] davereid91 commented on #490
Yep that fixed it, thanks very much @alexandernanberg :)

[2018-06-29 06:40] alexandernanberg commented on #490
@kentcdodds Been thinking a bit more about this one. Wouldn't it be good to also print a warning when this happens? The `ref` is there for solving issues when using the menu inside a portal, so this could lead to unexpected behavior 🤔

[2018-06-29 12:15] morajabi commented on #490
Also, it seems it's not in type definitions.

[2018-06-29 13:23] kentcdodds commented on #490
Yes, we should log a warning 👍

[2018-06-29 13:23] kentcdodds commented on #490
And we should add type definitions.

[2018-06-29 19:46] franklixuefei commented on #490
If nobody is working on this, I’ll take a stab later.

[2018-07-01 18:01] omorhefere commented on #333
@newyork-anthonyng What does {...input} do?

[2018-07-01 21:31] newyork-anthonyng commented on #333
Hi @omorhefere

See below for an example of what the [spread syntax](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) does in React.
[code]

[2018-07-04 12:52] smelliot commented on #433
It might help to update the Readme as it still has a link that says "Use a render prop!" and links to this article: https://cdb.reacttraining.com/use-a-render-prop-50de598f11ce

[2018-07-04 13:02] blocka commented on #433
@smelliot a render prop doesn't literally mean "a prop called render". It's the idea of passing in a function to a component, whether through an explicit prop (which most people would call "render" for lack of anything better) or through the implicit "children" prop (otherwise known as "function as a child").

[2018-07-04 15:14] smelliot commented on #433
@blocka thanks, but I was merely trying to point out that there could be some confusion caused by this due to how broadly "prop" is used to describe things and that not everyone would know that it could refer to "function as a child" (this is only mentioned in one small paragraph in the article and there is no downshift documentation to say the "prop called render" which is demonstrated in the lin

[2018-07-11 12:05] arthurdenner opened #496 "Add documentation about getButtonProps applying type: 'button' by default"
- `downshift` version: 2.0.10
- `node` version: 9.11.1
- `npm` (or `yarn`) version: 1.7.0

**Relevant code or config**
N/A

**Problem description**:
I was trying to toggle Downshift when submitting a form by pressing Enter in an input, thinking that the form would submit (normal behaviour), but it didn't. Looking at #315 I saw why and "fixed" it (because the current behaviour makes more sense). Ho

[2018-07-11 13:32] TLadd opened #497 "Default autoComplete to "nope""
Currently with my inputs, I am following the advice in https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion and overriding Downshift's `autoComplete="off"` to `autoComplete="nope"`. Otherwise, the autocomplete behavior still occurs in at least Chrome. I'm curious if it would make sense for downshift to use a default of nope, if the goal is to act

[2018-07-11 13:44] stipsan commented on #496
Hey! 😄 Could you share something on [codesandbox](https://codesandbox.io/s/6z67jvklw3) to help understand the use case?

[2018-07-11 13:50] mayk93 opened #498 "While testing, simulating sending keys to the input child of `Downshift` results in a error."
- `downshift` version: 2.0.10
- `node` version: v9.11.1
- `npm` (or `yarn`) version: 5.6.0
- `react` version: 16.4.1
- `jest` version: 20.0.4

**Relevant code or config**

[code]

**What you did**:

I built a component with `Downshift`. I want to test this component now.
The test checks that autocomplete suggestions are not rendered initially but are rendered once input is sent.

**What happened**

[2018-07-11 14:01] stipsan commented on #497
Thanks for sharing this info! 😄

I managed to reproduce it but only if the input is directly followed by this element that uses `autoComplete`:
[code]

Sandbox link: https://codesandbox.io/s/p7769vo227

Adding `autoComplete="nope"` does indeed fix it, but if this is the only case where it's needed then I'm not sure if it makes sense to change the default 🤔

[2018-07-11 14:12] arthurdenner commented on #496
Hey @stipsan, here it is: https://codesandbox.io/s/ko0w1ro537

Trying to explain better, I'd expect these two codes to work equally, but since #315 it doesn't because `getButtonProps` applies `type: 'button'` by default. If you uncomment the line 32, `With Downshift` works like `Without Downshift`, so I'm suggesting adding a note about it.

[2018-07-11 14:22] stipsan commented on #498
Hey! It looks like you're using enzyme 🙂

The error is thrown here: https://github.com/paypal/downshift/blob/01b7dad511d73a2aff5c09792ee9b983ae668bb9/src/utils.js#L233-L235

This means that enzyme is not providing `event.key`. Using `simulate` in enzyme is a bit misleading, it sounds like it simulates events but it's in fact *not*.

I highly recommend you try out this library for cases like this:

[2018-07-11 14:38] kentcdodds commented on #496
You should not be using that prop getter for a button you want to use as a submit button though. Maybe I'm missing something...

[2018-07-11 14:40] kentcdodds commented on #498
I'm pretty sure all you need to do is provide a `key` in addition to the `keyCode` (which I think you would have to do with react-testing-library as well).

[2018-07-11 14:42] kentcdodds commented on #497
I'm actually good with the suggested change. Things like this are the reason people use libraries. We deal with the weird stuff so people don't have to know what's going on. A pull request would be welcome here (with code comments that link to the article). 👍

[2018-07-11 14:49] stipsan commented on #496
Thanks for sharing the example, it makes it more clear what you mean 😄

Have you considered customizing the submit event that is currently calling `e.preventDefault()` and use the `openMenu` prop in there to open downshift? In my experience relying on how browsers deal with onClick on submit buttons when hitting enter on text inputs can be really flaky between browsers. It can also make the code h

[2018-07-11 14:54] stipsan commented on #497
Ah fair point.

In the code sandbox I shared if you remove the password input element chrome no longer autocompletes the downshift input. I haven't seen this problem with chrome ignoring `autocomplete="off"` for other things than username, email or password fields myself but I know better than relying on my own experience 😄

Good fix 👍

[2018-07-11 14:58] stipsan opened #499 "Follow up on #495 and upgrade Cypress dependency once iframe blur bug is fixed"
Following up on https://github.com/paypal/downshift/pull/495:

The issue is tracked here: https://github.com/cypress-io/cypress/issues/2124

Once Cypress is out with a fix lets unpin the version again 😄

[2018-07-11 15:00] arthurdenner commented on #496
I totally missed that `openMenu` prop, thanks for pointing it out, @stipsan.

By using that, I can accomplish the same behavior with a more correct code.

Thank you both!

[2018-07-11 15:00] #496 closed

[2018-07-11 15:30] #497 closed

[2018-07-11 15:42] kentcdodds commented on #497
:tada: This issue has been resolved in version 2.0.12 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-11 20:49] garycourt commented on #465
I was able to work around the issue by adding `onClick={e => e.preventDefault()}` to the `label`.

[2018-07-12 00:06] TLadd opened #501 "Lint fails on freshly cloned repo"
- `downshift` version: master
- `node` version: 9.8.0
- `npm` (or `yarn`) version: 5.6.0

**What you did**:
[code]

**What happened**:
[code]

**Problem description**:
When you first clone the repo, lint fails while validating when running `npm run setup` because the example folders dependencies are not installed. Running `npm install` in the examples folder resolves the lint errors.

**Suggested

[2018-07-12 19:54] martinmckenna opened #504 "onFocus support"
**Problem description**:
When using the `downshiftStateReducer`, I'd like to be able to add a switch case for input focus

[2018-07-13 20:58] kentcdodds commented on #504
The reason that there isn't any support in the state reducer is because no state change occurs on input focus. If you want to respond to focus of the input then you can apply `onFocus` to your input like so:

[code]

Good luck!

[2018-07-13 20:58] #504 closed

[2018-07-14 12:48] alexandernanberg commented on #501
Closing this as it was solved by #503

[2018-07-14 12:48] #501 closed

[2018-07-15 09:47] alexandernanberg commented on #457
Closing this as the original issue was solved by the [2.0.12 release](https://github.com/paypal/downshift/releases/tag/v2.0.12).

Doing it like @denkristoffer suggests would work in earlier versions of Downshift also.

[2018-07-15 09:47] #457 closed

[2018-07-15 23:41] martinmckenna commented on #504
@kentcdodds The problem that I was running into was the fact that (when in use with React), the `onFocus` handler was not triggering a render on Downshift's internal render method.

I need a way to change state onFocus and trigger the contents inside Downshift's render method to run

[2018-07-16 01:37] kentcdodds commented on #504
What specifically do you need to have happen?

[2018-07-16 13:45] xshyne88 commented on #490
Is there any update on this, I'm still hitting it in my codebase.

[2018-07-16 22:32] kentcdodds commented on #490
@xshyne88, this is the solution: https://github.com/paypal/downshift/issues/490#issuecomment-400745565

[2018-07-16 22:36] kentcdodds commented on #504
Could you simply use: `getInputProps({onFocus: openMenu})`? The `openMenu` helper is documented in the README (sorry, short on time otherwise I'd make an example for you).

[2018-07-17 03:15] lixualinta opened #508 "touchStart is missing from Downshift.stateChangeTypes typing"
`downshift` version: 2.0.0

**What you did**:
I would like to use `Downshift.stateChangeTypes.touchStart`

**What happened**:
`touchStart` is missing in typing

**Suggested solution**:
Add `touchStart to StateChangeTypes`

[2018-07-17 04:03] kentcdodds commented on #508
Thanks! Would you like to [make a pull request](http://makeapullrequest.com/)?!

[2018-07-17 12:45] martinmckenna commented on #504
@kentcdodds ah! yep that works like a charm. Thanks!

Definitely would help to have examples of using the action helpers in the README if you're taking requests for enhancements

[2018-07-17 18:13] kentcdodds commented on #504
Here it is: https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fother-examples%2Fusing-actions.js&moduleview=1

[2018-07-17 20:14] klis87 opened #512 "inputValue is set to empty string on select of already selected item"
- `downshift` version: 2.0.0 +
- `node` version: 9.11.1
- `npm` (or `yarn`) version: yarn 1.7

**Relevant code or config**
See updated `Custom select with downshift` example - https://codesandbox.io/s/18ll7293vq
I updated version of Downshift to 2.0.0 and made Downshift using controlled `selectedItem` prop.

**What you did**:
I tried to use Downshift for a custom select component according to exam

[2018-07-17 20:55] kentcdodds commented on #512
Yeah this is a bug. Could you do a little [digging](https://blog.kentcdodds.com/spelunking-in-node-modules-bf165af19968) and see what we can do to fix it? Thanks!

[2018-07-18 10:15] alexandernanberg commented on #508
Closing as it was fixed by #511 and #513

[2018-07-18 10:15] #508 closed

[2018-07-18 10:20] klis87 commented on #512
@kentcdodds Unfortunately I dont have too much time at the moment to really dig into it, but I went through all the code and this https://github.com/paypal/downshift/blob/master/src/downshift.js#L272 is really suspicious to me.

In below snippet
[code]
I am not sure why `inputValue` update depends on whether `selectedItem` is controlled prop or not, in my opinion `onSelect` `inputValue` should alw

[2018-07-18 13:18] kentcdodds commented on #512
Oh right. This is happening because of #243.

I think what's going on is this. When an item is selected, the downshift state needs to be "reset" (menu closed, highlighted index set to its default value, etc). Originally we set the inputValue to the itemToString of the item, but #243 caused a change in that behavior under the assumption that a componentDidUpdate will cause the inputValue to change

[2018-07-18 17:00] klis87 commented on #512
Thanks for the explanation and workaround example.

I will think about possible solution without breaking #243 , maybe over the weekend. I will keep you posted.

[2018-07-18 17:18] kentcdodds commented on #512
Thanks! :D

[2018-07-18 23:13] licypal opened #516 "Displaying suggestions in dropdown only after n number of characters are typed in searchbox instead of one"
- `downshift` version: 2.0.16
- `node` version: 6.12.0
- `npm` version: 5.8.0

**Relevant code or config**
https://codesandbox.io/s/82m2px40q9

**What you did**:

I tried to use Downshift to select a value from the dropdown

**What happened**:

Everything works fine. I have a question though. Currently it works in such a way that when I type one letter in the searchbox, dropdown starts showing sug

[2018-07-18 23:46] kentcdodds commented on #516
Hi, here's one thing you could try: https://codesandbox.io/s/kpm4v628r

If that's not enough, please ask on our [spectrum community](https://spectrum.chat/downshift)

[2018-07-18 23:46] #516 closed

[2018-07-18 23:48] licypal commented on #516
@kentcdodds Thank you so much! Appreciate your help.

[2018-07-21 17:12] klis87 commented on #512
@kentcdodds I spent quite big amount of time on this today, and really I cannot find a way to fix this not to break #243 . Actually I think that #243 solution is kinda hacky and won't work always anyway, because in:
[code]
the assumption is that `selectedItem` was never changed since mounting the component, which is not necessary true - then resetting it to `this.props.defaultInputValue` won't be

[2018-07-21 23:13] kentcdodds commented on #512
I think I agree with you and I'd like to consider a 3.0.0 to change this behavior. This will require a bit of coordination with one or two other changes I'd like to make. Hopefully I can dedicate some time soon to make these changes in the next few weeks.

Until then, you could probably make a form of the project and ship that knowing that you'd be able to upgrade without much problem when this is

[2018-07-22 08:16] alexandernanberg commented on #512
Wouldn't a quick and dirty fix be to just compare the current `selectedItem` and `item`? This works when I test locally and all tests are passing as well. Could a possible solution be to add this fix to v2 and refactor it in v3?

[code]

[2018-07-22 13:44] klis87 commented on #512
@kentcdodds Thanks! Probably I will subclass `Downshift` class to override `selectItem` for now (I know, subclassing in React?! but it should work :))

@alexandernanberg Interesting idea :+1:

[2018-07-22 14:12] kentcdodds commented on #512
I'd rather just fix it properly. I'm hoping to be able to do that this week.

[2018-07-22 14:20] klis87 commented on #512
If anyone would like to have it know, I recommend doing:
[code]

[2018-07-24 13:39] Mario-Eis opened #527 "[bug] autocomplete="nope" is ignored by browsers"
- `downshift` version: 2.0.18

**What happened**:

The attribute autocomplete="nope", set by downshift, is ignored in Chrome 67 and Opera 54 (latest at the time of writing). However autocomplete="off" on the input would work.

**Problem description**:
Cant deactivate the browsers auto complete what is really annoying when using the auto suggest menu.

**Suggested solution**:
use autocomplete="off"

[2018-07-24 13:48] kentcdodds commented on #527
You know, we originally had off set and recently "fixed" this bug where it was ignored. Then I think the browsers updated to start honoring it because I started seeing autocomplete on downshift inputs. So I think we need to revert the fix. Could you make a pull request to change "nope" back to "off" ? Thanks!

[2018-07-24 15:51] JCofman commented on #527
Hi,
I had the same issue created a pull request -> #528

[2018-07-26 23:03] jf248 opened #529 "Can't compose Downshift with other 'render prop' components because of validateGetRootPropsCalledCorrectly"
- `downshift` version: 2.0.19
- `node` version:
- `npm` (or `yarn`) version:

**Reproduction repository**:
https://codesandbox.io/s/jjk32o429y

**Problem description**:
(I've seen #235 and aware of the `suppressRefError` workaround but it doesn't work for this use case, as demonstrated.)

I'm trying to 'compose'/'chain' Downshift with another 'render prop' component. (My reproduction example is de

[2018-07-27 17:15] jf248 commented on #529
Yes, that works, but it entangles the presentational root div inside the logic components (Downshift and Foo). It prevents us extracting a reusable pure logic component `DownshiftWithFoo`:

`const DownshiftWithFoo = () => <Downshift>{() => <Foo/>}</Downshift>`

[2018-07-27 18:01] kentcdodds commented on #529
Interesting... Ok, I'd be fine with an (undocumented) prop for this use case. PRs accepted. Thanks @jf248!

[2018-07-27 18:04] jf248 commented on #529
Thanks, I'll send a PR

[2018-07-27 20:02] nealfwilliams opened #530 "*Id props not specified on ts type for Downshift component"
- `downshift` version: 2.0.19

**Problem description**:
The Downshift component has these props -- labelId, inputId, menuId, and getItemId -- that aren't declared on the ts type for the component.
https://github.com/paypal/downshift/blob/v2.0.19/src/downshift.js#L61
https://github.com/paypal/downshift/blob/v2.0.19/typings/index.d.ts#L71

**Suggested solution**:
Update typings/index.d.ts.  I can su

[2018-07-27 22:03] kentcdodds commented on #530
Cool, could you [make a pull request](http://makeapullrequest.com)?

[2018-07-29 23:20] #529 closed

[2018-07-30 02:21] martinpgaunt commented on #529
I8

[2018-07-30 13:34] okonet commented on #527
I think it's even worse. See https://medium.com/paul-jaworski/turning-off-autocomplete-in-chrome-ee3ff8ef0908

[2018-07-30 14:11] kentcdodds commented on #527
Ugh, I remember doing this back in my angular-Formly days. Can't really do this in downshift, but maybe we should add an example... Anyone interested?

[2018-07-31 15:14] dronsfield commented on #512
Spent hours earlier this month trying to debug this thinking I was doing something wrong / going crazy. Thanks for the workaround @klis87, works perfectly

[2018-08-03 06:43] VikR0001 opened #532 "On IOS: Text Input Field Cleared When Keyboard is Hidden"
- `downshift` version: downshift@2.0.20
- `node` version: v8.11.3
- `npm` (or `yarn`) version: npm 5.6.0

**Relevant code or config**

No changes made to Downshift sample code.

**What you did**:

No changes made to Downshift sample code.

**What happened**:

Input field cleared at inappropriate time.

**Reproduction repository**:

Unmodified Downshift example for Apollo:

https://codesandbox.io/s

[2018-08-03 14:38] kentcdodds commented on #532
Hi @VikR0001!

That's a great question. Can you find the answer? If that's possible, then I think we can investigate avoiding calling `reset` when that event is fired. I'm guessing what's happening is hiding the keyboard removes focus from the input which will reset downshift. There is a simple workaround for this behavior using a `stateReducer`, but I think it'd be better to see if we can detect

[2018-08-03 18:09] VikR0001 commented on #532
The input field appears to be getting blanked in `this.reset`, when it is called by `this.input_handleblur()` after the Done key is pressed:

[code]
`selectedItem` is `null` here. Would it potentially be helpful to avoid changing `inputValue` when `selectedItem` is null?

[2018-08-03 20:08] kentcdodds commented on #532
No, this behavior is intentional and there's a way to disable it for a specific use case (using a `stateReducer` as I indicated) and you can feel free to do that, but I'd suggest instead that if we can find a way to determine if the blur event was fired due to the keyboard being dismissed then we could prevent reset in that situation.

[2018-08-03 20:50] VikR0001 commented on #532
`handleblur` calls `this.reset` with:

`_this4.reset({ type: Downshift.stateChangeTypes.blurButton });`

Would it be helpful for `this.reset` to test `type`, and if it  == `Downshift.stateChangeTypes.blurButton`, skip changing the inputValue?

[2018-08-03 21:09] kentcdodds commented on #532
There are many different use cases for components that you can build with downshift. The original use case for why I built downshift was to only show the selected item, if the user doesn't change the selection then the input should revert to the currently selected item. In the case that there is no selected item then that's an empty string.

As I said, if this doesn't satisfy your use case, you ch

[2018-08-03 21:09] #532 closed

[2018-08-03 21:13] VikR0001 commented on #532
Awesome. Thanks!

[2018-08-04 04:50] franklixuefei commented on #512
In my case, when I **first** clicked on the selected item, the input **was not** flushed. But for **subsequent** clicks, the input value would always become empty. Is this also the case for you guys?

[2018-08-04 04:54] franklixuefei commented on #490
Uh... I need some help here...

I applied `getMenuProps()` to a primitive element, `<div>`, but it still complains that getMenuProps() was not applied correctly.

my code looks something like below, where I applied `getMenuProps` on a div, but that div itself is under some composite component.

[code]

I thought we only need to specify a `refKey` if `getMenuProps` is applied to a composite compone

[2018-08-04 05:07] kentcdodds commented on #490
Hmmm... I'm unable to reproduce this: https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fordered-examples%2F01-basic-autocomplete.js&moduleview=1

[2018-08-06 13:43] kentcdodds commented on #443
Ah, now that's no good! Could you investigate what changed and caused the bug?

[2018-08-07 00:16] franklixuefei commented on #490
@kentcdodds Okay I found the problem. I was mounting and unmounting the entire menu as needed. Apparently menu should mean to be mounted all the time. Not sure if we want to document this explicitly?

[2018-08-07 03:13] kentcdodds commented on #490
Yes, for accessibility reasons it should always be rendered. Feel free to make a PR to improve docs. I think it is mentioned but could probably be called out better.

[2018-08-07 16:49] JCofman commented on #452
Hi everyone,

I am wondering whether it is a valid use case to render multiple independently dropdown lists inside downshift.

I want to jump between multiple lists and safe the current highlightedIndex. I didn't find an example for that and tried this -> https://codesandbox.io/s/m339x2613p?module=%2Fsrc%2Fordered-examples%2Ftest-multi-dropdown-autocomplete.js but I am wondering whether there is a

[2018-08-07 21:43] #490 closed

[2018-08-08 12:59] Rendez opened #536 "Rendering in shadow root - clicks don't register"
- `downshift` version: v2.0.20

**What you did**:

Render Downshift within a shadow root using the web components API.

**What happened**:

Clicking on items do not select or register at all.

**Reproduction repository**:

https://codesandbox.io/s/kk674yvm0o

**Problem description**:

This is totally related to #200, and it has been fixed. However to make it work with a shadowRoot (document fragme

[2018-08-08 15:07] kentcdodds commented on #536
Hi @Rendez!

Thanks for the issue. If that fixes the issue then you're welcome to [make a pull request](http://makeapullrequest.com) for it. I would like to have a test for this though. It looks like [jsdom does not yet support web components](https://github.com/jsdom/jsdom/issues/1030), so we'll probably need to make it part of the E2E test suite with [Cypress](https://github.com/paypal/downshift

[2018-08-08 20:50] audiolion commented on #334
hey was working on an autocomplete component for react native using Downshift and I am encountering the same error. I am not really sure what is causing it yet, if I find out any useful information I will report back here.

[2018-08-09 03:00] kentcdodds commented on #334
If you'd like to make a PR to fix this, that'd be welcome :)

[2018-08-09 08:17] Rendez commented on #536
Thanks for the suggestion on js-dom. I will make it happen though might take a couple of days, cheers!

[2018-08-09 08:31] eyalcohen4 commented on #334
Hey @audiolion, There is a WIP PR for this issue (#368), but I've haven't found the time and the solution yet to solve it. The issue is already solved, but we need to finish the tests. You can check the PR and send me a DM if you need any help.

[2018-08-09 12:51] audiolion commented on #334
@eyalcohen4 thanks for letting me know, I will see if I have some time to pitch in in the coming weeks.

[2018-08-10 09:38] IvanCoronado commented on #512
I have the same problem, unfortunately, @klis87 solution doesn't work with TS (or I am not able to make it work).

Anyway, We can live with this bug by now because we are not still in production.

[2018-08-10 14:40] adrienharnay opened #537 "Provide option to customize scrollIntoView.block"
- `downshift` version: 2.0.20
- `node` version: 10.5.0
- `npm` (or `yarn`) version: yarn 1.7.0

**Relevant code or config**

[code]

**What you did**:

Instantiate Downshift with `defaultHighlightedIndex`

**What happened**:

It scrolled to the 13th element, but it ended at the bottom of the Select (because `block: 'nearest'` [here](https://github.com/paypal/downshift/blob/e34f5bcbcfa6024cbaf73dcc

[2018-08-10 18:32] kentcdodds commented on #537
I think I have a better idea. I'll make a PR :)

[2018-08-10 18:52] kentcdodds commented on #537
What do you think of this @adrienharnay? https://github.com/paypal/downshift/pull/538

[2018-08-10 19:08] #537 closed

[2018-08-10 19:18] kentcdodds commented on #490
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-10 19:18] kentcdodds commented on #537
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-10 19:40] adrienharnay commented on #537
Really nice :+1: Thanks a lot, always a pleasure to use Downshift and to interact with you on Github!

[2018-08-11 16:30] Drapegnik commented on #443
Sorry, it was my issue: I did not use `getMenuProps` and `targetWithinDownshift(event.target, false)` return `false`, so it was interpreted as outside click.

[2018-08-12 15:35] alexandernanberg commented on #452
Some things I'd like to see in future versions are:
- Smaller bundle size. Not sure how we'd achieve that but Downshift weights in a ~7kb which is a bit much IMO
- Really like the idea of auxiliary component packages. I often use Downshift to implement a `<select />` with custom styling. I'd be down to write this package if it comes to that!

[2018-08-12 16:42] kentcdodds commented on #452
It definitely could be smaller, but as far as components like downshift go, it's actually tiny! But we could redesign things a little bit to make it smaller.

I'd really love auxillary packages! We could have many I think that would make things really nice for people.

[2018-08-13 14:17] kentcdodds commented on #452
I love both of those ideas 👍👍

[2018-08-13 14:18] kentcdodds commented on #452
I think we should also make the build-conditional logic more terse. I think we can do this with a custom macro for this project. Anyone want to take that on?

[2018-08-13 15:40] Andarist commented on #452
I can do it, could you specify what do u mean by "we should also make the build-conditional logic more terse."?

[2018-08-13 15:45] kentcdodds opened #540 "Improve build-conditional logic code with a custom macro"
There are a few places in downshift that we do stuff like this:

[code]

For example:

https://github.com/paypal/downshift/blob/4b659d083f3ec0c7709b9bc9a060bab7438fdbc4/src/downshift.js#L249-L255

I'm pretty sure we could write a custom [macro](https://github.com/kentcdodds/babel-plugin-macros) to make this simpler:

[code]

I'm fairly certain all we'd need to do is replace `isReactNative` with `t

[2018-08-13 15:45] kentcdodds commented on #452
Here's what I mean @Andarist: https://github.com/paypal/downshift/issues/540

This one will be fun :)

[2018-08-13 15:47] kentcdodds commented on #452
Another thing we should consider is improving composition so we don't have to have so much conditional logic. Perhaps create a base component that has the common logic, then expose dom and native-specific components on top of that for the differences... That may make things more complex though... Not less...

[2018-08-13 16:17] Andarist commented on #540
Dibs 😉

[2018-08-13 16:39] eliperkins commented on #452
This would be pretty nice from the React Native side. There's a lot of `window` or `document` or DOM-specific things that the React Native version can't benefit from (and aria as a whole in this case too).

I know coming up with primitives to expose to both platforms might lead to some more complex code, but I think it might be nice to figure out a better strategy than what we have so far.

[2018-08-13 16:45] alexandernanberg commented on #452
I did a local test using ’warning’ and/or ’invariant’ a while back, and the filesize savings was very minimal. I could have done something wrong, although I was using the babel plugin for them.

Anyway, doesn’t hurt to strip the warnings away. But is there a better way than using ‘warning’/‘invariant’ for this?

[2018-08-13 16:49] kentcdodds commented on #452
I don't expect to save a lot from stripping warnings personally, but it's probably not a bad idea. Let's open another issue for tracking that.

@eliperkins, I agree it's worth looking into. Let's open another issue for tracking that as well. I wont personally have time to work on it though.

[2018-08-13 21:48] kentcdodds opened #547 "Investigate intermittent TypeScript test failures"
If you take a look at the [Travis Build history](https://travis-ci.org/paypal/downshift/builds) ([especially PRs](https://travis-ci.org/paypal/downshift/pull_requests)), you'll notice a fair number of failures. These are due to the `test:ts` script failing. I have no idea what's going on. This is the only output:

[code]

Help is appreciated :) This is slowing our releases. I normally just rerun i

[2018-08-14 05:48] stipsan commented on #547
Interesting. I've never seen that error thrown by TS. But I have seen failures on Travis before with exit code 137 that happened due to a child_process running out of memory. Could that be happening here?

Time to play with this shiny new [ndb](https://github.com/GoogleChromeLabs/ndb) thing me thinks 🙂

[2018-08-14 13:10] kentcdodds commented on #547
It could definitely be a memory problem. We're running several scripts in parallel and perhaps it's too many for Travis to handle. Maybe we should split them into two on Travis. We could do this in the travis config:

[code]

[2018-08-14 16:12] #547 closed

[2018-08-14 17:41] #540 closed

[2018-08-14 23:29] lauraSantillan opened #549 "Working with a huge list of elements makes app super slow, using downshift, match-sorter and react-tiny-virtual-list"
- `downshift` version: 2.1.1
- `node` version: 10.6.0
- `npm` version: 6.2.0

**What you did**: I write an app using downshift, match-sorter and react-tiny-virtual-list, in order to generate certificates for students, the campus has around 180000 students. On my first try, I split the data and used only a thousand students, everything was working great until I started using the whole set of data.

[2018-08-15 01:45] kentcdodds commented on #549
That's a LOT of data 😅 Definitely more than I've tried before. Let me play around with a few things and see if I can help you. Interesting problem.

[2018-08-15 02:10] kentcdodds commented on #549
Ok, based on this I think the problem is match-sorter: https://codesandbox.io/s/pkqp0n97mj?module=%2Fsrc%2Fother-examples%2Ftons-of-data.js&moduleview=1

It's not very fast using the `filter` method, but it's unbearably slow if you set `const useMatchSorter = true`.

I'm afraid there's not much we can do for you here in downshift. downshift is performing really really well with tons of data (you c

[2018-08-15 02:10] #549 closed

[2018-08-15 13:11] jquense opened #550 "Most examples aren't accessible?"
i've been trying most of the examples on the netlify site with various SR's, and admittedly i'm not the most fluent SR user, but most examples seem broken for the SR.

this in particular: http://downshift.netlify.com/?selectedKind=Examples&selectedStory=multiple&full=0&addons=1&stories=1&panelRight=0 the "value" here is purely the visual color of a div, the screen reader sees nothing. I know the b

[2018-08-15 13:47] kentcdodds commented on #550
Fair point. We're using codesandbox for examples now and not dedicating much time to keep those things in the repo updated (though we do use them for full browser tests with Cypress).

That said, if you'd like to help make them accessible that would be super.

[2018-08-15 14:05] lauraSantillan commented on #549
Thank you so much! =D

[2018-08-15 18:28] creatyvtype commented on #512
What's the status of this? Currently looking at this bug as it causes problems for options derived from input via async search. Making a selection triggers empty onInputValueChange which causes options to return empty.

[2018-08-15 20:06] izyb opened #551 "Menu closing without selecting element on touch inside a Popper"
- `downshift` : 2.1.0
- `node` : 8.11.2
- `npm` : 5.6.0

**Relevant code or config**

[code]

**What you did**:
Tapping items in chrome/firefox devtools device mode, using Material UI's Popper components in the above configuratoin.

**Problem description**:
Tapping items does not select them, and the menu instantly closes on touchstart.

**Suggested solution**:
After reading #485, I tried setting

[2018-08-15 20:57] kentcdodds commented on #512
Sorry, I'll try to get to it as soon as I'm able. It's something I really want to get right and therefore need to consider carefully.

[2018-08-15 22:14] izyb commented on #551
This is also demonstrated on a Material UI demonstration page https://material-ui.com/demos/autocomplete/#downshift.

[2018-08-16 14:18] Kevin-K commented on #512
Walked into the same issue.

Was able to get around it by forcing the inputValue in the state reducer if the selectedItem doesn't change by calling my itemToString implementation with the current selectedItem.

[code]

[2018-08-18 08:47] alexandernanberg commented on #452
Another thing I've thought about is to maybe move the typescript typings to the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) project. Then you'd just import then from `@types/downshift`.

I'm not a TypeScript user so this won't affect me but here is a [relevant comment/explanation](https://github.com/styled-components/styled-components/issues/1778#issuecomment-401974135) f

[2018-08-18 18:39] sachiner commented on #549
@kentcdodds how can I get the index of the selected value in onchange function

[2018-08-20 02:04] kentcdodds commented on #551
Yup, this is an issue for sure. Anyone wanna track down what's going on?

[2018-08-20 02:08] kentcdodds commented on #549
Use [`Array.prototype.indexOf`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/indexOf) :+1:

[2018-08-20 20:47] roginfarrer opened #557 "Disabled items breaking focus in menu"
- `downshift` version: 2.1.1
- `node` version: 8.9.4
- `npm` (or `yarn`) version: 6.1.0

![Example of the issue](https://dzwonsemrish7.cloudfront.net/items/3P2v1H2k2M1e0O2D0D3S/Screen%20Recording%202018-08-20%20at%2004.43%20PM.gif?v=9c43f8b3)

**Problem description**:

I have a Downshift dropdown that has a menu stay open after an option is selected. Selected or disabled options also remain in the

[2018-08-20 21:10] roginfarrer commented on #557
I opened a pull request, let me know what your thoughts!

[2018-08-20 21:49] kentcdodds opened #559 "TypeScript failing the build"
Could one of the TS maintainers please look into this: https://travis-ci.org/paypal/downshift

[code]

[2018-08-20 21:59] franklixuefei commented on #559
Filed a PR for this.

[2018-08-20 22:31] kentcdodds commented on #559
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-21 13:36] roginfarrer commented on #557
Resolved by https://github.com/paypal/downshift/pull/558, released in v2.1.4

[2018-08-21 13:36] #557 closed

[2018-08-22 14:37] nathanforce opened #561 "Idea: Overload getItemProps for Advanced Props"
- `downshift` version: 2.1.5

How would you feel about a PR implementing the added functionality below to `getItemProps`? These props are simple for Downshift to calculate internally but can be difficult or impossible to determine in userland.

[code]

Let me know what you think! Happy to make the PR if we think people might want this.

Thanks!

[2018-08-22 14:43] kentcdodds commented on #561
To be clear, prop getters could accept an object of props or a function that accepts the same thing as children and returns an object of props.

If that's true, yes that sounds great. We'll need docs, tests, and implemention. Do you want to do that?

[2018-08-22 14:52] nathanforce commented on #561
Not quite.  The function would accept the same thing plus some other helpful props like `isHighlighted` or `isSelected` that are trivial for Downshift to determine internally.

For example..

[code]

[2018-08-22 14:56] kentcdodds commented on #561
Ah, gotcha.

Yes, that would be acceptable I think. Though the itemCount may not be accurate. The items are reset in every render and added to a you call `getItemProps`, so for the first item the itemCount would be 0...

In addition, I would like all other prop getters to support the function capabilities!

[2018-08-22 15:02] nathanforce commented on #561
Okay I can do that.

Do you have any ideas on which values each prop getter would expose?

[2018-08-22 15:05] kentcdodds commented on #561
Let's start with `this.getStateAndHelpers()` for all of them + `isHighlighted` and `isSelected` for `getItemProps`

[2018-08-23 07:11] #530 closed

[2018-08-23 07:19] nealfwilliams opened #562 "Idea: dirty input value state"
**Problem description**
Something that would be useful is another property in the state that tracks if the input has been edited since the last selection.

The use case for this is a select field with autocomplete.  Upon opening the dropdown, all the options should be shown, even if the input has a value.   Filtering using the input value doesn't start happening until the user starts typing (ie th

[2018-08-23 13:49] #562 closed

[2018-08-24 16:31] nathanforce commented on #561
@kentcdodds This is what I've got for `getItemProps` currently.  Wanted to get some feedback before doing the others.

Open discussion:

- This introduces a second argument to `getItemProps`. I could not come up with a way to do the overloading, as `{ item, index? }` are required to determine `isSelected` and `isHighlighted`
- What should happen if you pass an argument other than `{ item, index? }

[2018-08-24 16:47] kentcdodds commented on #561
Let's go ahead and merge the conflicts. Similar to `Object.assign`, we'll have the second one win in the event of a conflict. And we'll do a shallow merge (similar to `Object.assign` or object spread which is what I'd recommend using).

[2018-08-25 01:30] bresson commented on #551
@izyb Can you confirm the same behavior on Downshift's Storybook ( "react-popper"):
https://downshift.netlify.com/

In Downshift's Storybook, I ran a cursory test on my iPad, iPhone and with desktop Chrome/FF ( versions ... ) in devtools and responsive mode and "react-popper" tested OK.

In the Material-UI Popper at https://material-ui.com/demos/autocomplete/#downshift, I can absolutely duplicate

[2018-08-27 18:35] izyb commented on #551
@bresson I also can't reproduce the issue on Downshift's storyboard, and I think you're right that it's an implementation inconsistency between the popper libraries.

I'll make an issue on Material-UI about this, and see what needs to be done to resolve the problem.

[2018-08-27 18:58] klapouchy opened #564 "Passing item object to getItemProps"
I need to pass additional data to `onChange` function.

The below code works however, since I am passing an Object I am getting a warning:

 `An object was passed to the default implementation of 'itemToString'`.

How can I pass `item` object without getting the above warning?

[code]

[2018-08-27 19:34] oliviertassinari commented on #551
I'm looking into it.

[2018-08-27 22:46] kentcdodds commented on #564
Hi @klapouchy,

Use the `itemToString` prop :)

[2018-08-27 22:46] #564 closed

[2018-08-28 22:05] dallonf commented on #527
For what it's worth, v2.0.19 (which included #528) seemed to fix the issue for me.

[2018-08-28 22:27] dallonf opened #566 "Strange, hard-to-debug behavior when `selectedItem` changes to `undefined`"
- `downshift` version: 2.1.4
- `node` version: 8.11.3
- `npm` (or `yarn`) version: Yarn 1.9.4

**Relevant code or config**

Note that the `Downshift` is controlled, but it can set itself to `undefined`, which I believe switches it to being uncontrolled. (`NONE_OPTION` is just a `Symbol`)

[code]

**What you did and what happened**:

Open the reproduction repository: https://codesandbox.io/s/w08on9

[2018-08-28 22:36] oliviertassinari commented on #551
The issue can easily be solved by using the `disablePortal` option of the Popper. However, it defeats a large part of the use case for the Popper component.
Looking at #485 and the closing issue, I haven't found any way to improve the support of the Portal component. Any tips?

[2018-08-29 00:37] kentcdodds commented on #566
I think I'd prefer option 1! Thank you!

Could you make a pull request for it?

[2018-08-29 14:11] oliviertassinari commented on #551
I have removed the `Popper` component out from the equation. Using a `Portal` component is enough. Here is a reproduction example: https://codesandbox.io/s/2xz252nwq0.

[2018-08-29 15:02] dallonf commented on #566
Sure! I'll start working on that.

[2018-08-29 19:50] dallonf opened #567 "Contributor workflow: test failures relating to React Native"
- `downshift` version: master branch (commit `784c4b9dc4deed3286c9552bf9126ce4e0ffb9e6`)
- `node` version: v8.11.3
- `npm` (or `yarn`) version: npm 5.6.0
- OS version: macOS High Sierra 10.12.6 (16G1510)

**Relevant code or config**

N/A

**What you did**:

Made a fork of the project, cloned locally, ran `npm run setup` as recommended by `CONTRIBUTING.md`

**What happened**:

~~The command failed,

[2018-08-29 19:54] kentcdodds commented on #567
Yeah, we're aware of the react native issues. I'm not sure what's going on with flow for you. I'm afraid that I don't have time to figure out what's going on, but if you have some time (or anyone else) to do some digging that would be really helpful.

[2018-08-29 20:14] dallonf commented on #567
After a quick reboot, the Flow errors went away... which I should have tried earlier, Flow has never been particularly stable in my local environment. Now we've at least got a ticket for the React Native test failure, I guess!

[2018-08-29 20:29] kentcdodds commented on #567
Yes, thank you for that.

I've had trouble with flow reliability on my machine as well. It's pretty frustrating to be honest :-(

[2018-08-29 20:33] dallonf commented on #566
Here's a PR for this: https://github.com/paypal/downshift/pull/568

[2018-08-29 20:35] #566 closed

[2018-08-30 14:07] #567 closed

[2018-08-30 14:18] kentcdodds commented on #567
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-30 14:18] kentcdodds commented on #566
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-30 19:15] sibelius commented on #527
autoComplete: "nope" worked for me

but autoComplete: "off" didn't

[2018-08-30 19:17] kentcdodds commented on #527
Sorry, you'll have to go ahead and override that yourself.

[2018-08-31 10:07] trepidacious commented on #512
I've also run into this issue and spent a few hours trying to work out what I was doing wrong ;)

If this can't be fixed soon, would it make sense to at least add a property to select the old (in my opinion correct) behaviour (as described by @klis87 on Jul 21)? I've tried using `props.breakingChanges.resetInputOnSelection` as found here https://github.com/paypal/downshift/commit/831aeaba329dee811

[2018-09-04 17:03] kentcdodds commented on #512
Thanks @trepidacious. I'm planning on getting this worked on and maybe even released today!

[2018-09-04 18:37] trepidacious commented on #512
That's great, by the way thanks for the library - I'm working on a [facade](https://github.com/trepidacious/scalajs-react-material-ui) for using material-ui in [scalajs](https://www.scala-js.org/) and downshift looked like by far the easiest way to get autoselect working.

[2018-09-04 19:35] kentcdodds commented on #512
Dang, something came up and I had to stop my progress. Hopefully soon though!

[2018-09-05 01:26] lucasbesen opened #571 "[BUG] autoComplete="off" edge case"
- `downshift` version: 2.2.0
- `node` version: 10.9.0
- `npm` (or `yarn`) version: 1.9.4

**Relevant code or config**

[code]

**Problem description**:
`autoComplete="off"` works well to normal text auto fill on Chrome, but in name/e-mail, it doesn't work.

![image](https://user-images.githubusercontent.com/13984388/45065553-35408480-b090-11e8-9bb9-1211c41810b5.png)

[2018-09-05 01:31] kentcdodds commented on #571
How frustrating. Do you have a suggestion for a fix?

[2018-09-05 10:53] slavikdenis commented on #334
Any progress on this one? What's wrong with https://github.com/paypal/downshift/pull/451 ?

[2018-09-05 13:49] eliperkins commented on #334
@slavikdenis It looks like #451 has some feedback that still needs to be addressed. Would you like to pick it up and address the remaining feedback?

[2018-09-05 14:06] audiolion commented on #334
@eliperkins are we allowed to make changes to hit patch though? or are you saying make a new PR from that PR?

[2018-09-05 14:09] eliperkins commented on #334
Making a new PR that cherry picks that commit/branches from that branch to start from would be your best bet. That way the original contributor gets credit for the work they've done so far! ✨

If you have issues or questions with how to do that, let me know and I'm more than glad to help out.

[2018-09-05 16:37] samuelfullerthomas commented on #334
hey @audiolion & @slavikdenis I've updated my PR if you want to check it out

[2018-09-06 15:23] Morton opened #574 "Downshift producing empty input on blur if nothing is selected"
- `downshift` version: 2.1.4
- `node` version: 10.7.0
- `npm` (or `yarn`) version: 6.1.0

**Relevant code or config**
Any usage of downshift. I assume this behaviours is on purpose.

**What you did**:
After opening a page using downshift I input text into the downshift-input but instead of selecting an item I blur this input (click somewhere on the page).

**What happened**:
After blurring the inp

[2018-09-06 15:25] #574 closed, assigned to nobody

[2018-09-06 15:26] kentcdodds commented on #574
lol, I just realized that the typeahead example doesn't actually use a state reducer. It's even simpler than that. I hope it's helpful in any case :)

[2018-09-10 14:21] kirillku opened #575 "Add `getToggleButtonProps` as breaking change to 2.0.0 release notes"
Can you add renaming `getButtonProps` to `getToggleButtonProps` to breaking changes section of [2.0.0](https://github.com/paypal/downshift/releases/tag/v2.0.0).

Got `Uncaught TypeError: getButtonProps is not a function` error and was not able to find in the changelog, why it's not there anymore. Later found that it's deprecated in bug fixes section of [1.31.1](https://github.com/paypal/downshift/

[2018-09-10 18:52] kentcdodds commented on #575
Sorry about that! I've updated the changelog 👍 Thank you!

[2018-09-10 18:52] #575 closed

[2018-09-14 00:26] jamestalmage opened #577 "Controlling what happens onBlur"
If the user tabs out of the drop down, it always selects the last selected item - even if they've completely typed out a different value.

I think it would be beneficial to add another function that deals with what to do when the focus leaves the component (either because of tabbing out or clicking outside). I am looking at using it in two different spots, and in one case I want to just select the

[2018-09-14 00:31] jamestalmage commented on #577
![out](https://user-images.githubusercontent.com/4082216/45522897-f6978200-b793-11e8-99ce-7a5f34c2e042.gif)

[2018-09-15 15:35] binarybaba commented on #512
Subscribing!

[2018-09-16 05:03] hungrymonkey commented on #577
I believe you did not create any boundaries for your last item. Even if you click outside, it will select the last element.

If you were clicking outside, Downshift should reset by triggering the mouseUp state
.
To change the default behavior of clicking outside, you need to modify the stateReducer
https://github.com/paypal/downshift#statereducer

I do not know how to tab out.

[2018-09-17 02:05] jamestalmage commented on #577
Looks like I can figure out what I want to do with `stateReducer`.

Only pain point is that there is no access to `highlightedItem` (i.e. - that's not a property that is recorded in the state).

It seems like you could capture the currently highlighted option when they call `getItemProps`.

[2018-09-17 02:09] jamestalmage opened #578 "Record `highlightedItem` instead of just `highlightedIndex`"
It seems like, if people are calling `getItemProps` correctly, you could record the `highlightedItem` in addition to just the `highlightedIndex`.

This would just be for convenience when using (for example) `stateReducer` to handle blur events.

See #577

[2018-09-17 04:00] kentcdodds commented on #578
I'm not sure I understand what you mean. The state reducer does have access to the highlighted index which you should be able to use to derive the highlighted item.

[2018-09-17 12:03] linzhaoken opened #579 "Accessibility with voiceover on iPad"
- `downshift` version: 2.0.0 and after
- `node` version: v8.11.4
- `npm` (or `yarn`) version: 6.4.1

**Relevant code or config**

[code]

**What you did**:
I am recently test accessibility with voiceover on iPad for one of my web pages which is using downshift. I found I could not navigate through all the element with gesture which is works in downshift version 1.31.16.

**What happened**:
When I

[2018-09-17 17:49] jamestalmage commented on #578
If you are keeping the list of items in memory yourself, yes, that's true. I wasn't initially. I had a larger set of items which I was filtering and sorting based on `inputValue` - but I wasn't keeping the result of that filter/sort. I am now, but for the sole purpose of being able to derive the highlighted item.

As I said, there's workarounds for this. This would be a convenience method.

[2018-09-17 20:30] kentcdodds commented on #578
Oh, I see what you mean. Yeah, I don't think we're going to do any work on this. The workarounds are sufficient I think. Thanks anyway!

[2018-09-17 20:30] #578 closed

[2018-09-17 20:31] kentcdodds commented on #577
I think the workarounds are sufficient for this scenario. Make sure to checkout this example as well: https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fordered-examples%2F03-typeahead.js&moduleview=1

[2018-09-17 20:31] #577 closed

[2018-09-17 21:31] kentcdodds commented on #579
Hi @linzhaoken!

Thank you for reporting this! Unfortunately I don't personally own an iPad so I can't test this myself so I'd really appreciate your help to debug what went wrong in the 2.0.0 release. Could you help figure that out?

It was probably somewhere in [the 200 lines changed in `downshift.js` between 1.31.16 and 2.0.0](https://github.com/paypal/downshift/compare/v1.31.16...v2.0.0#diff-e

[2018-09-20 03:49] third774 commented on #561
Glad to see this issue!

I'd love to see `isHighlighted` provided by `getItemProps()`. I'm currently working on refactoring a Dropdown component to use Downshift, and unfortunately there are some spots where comparing the index would be quite cumbersome if not impossible.

Right now all I've come up with is a super gross hack that I really don't want to use.

[code]

[2018-09-20 04:00] kentcdodds commented on #561
Could you use this workaround? https://github.com/paypal/downshift/pull/563#issuecomment-421428072

[2018-09-20 04:00] kentcdodds commented on #561
I had intended on closing this per that conversation.

[2018-09-20 04:00] #561 closed

[2018-09-20 04:16] third774 commented on #561
Yeah - looks like I'm doing something similar. I suppose it's not so bad. Thanks! :)

[2018-09-20 08:30] VikR0001 opened #580 "Option to Clear Search Results when Search Text is Cleared?"
- `downshift` version: from CodeSandbox Demo
- `node` version:from CodeSandbox Demo
- `npm` (or `yarn`) version:from CodeSandbox Demo

**Relevant code or config**
na

no change to code shown at `https://codesandbox.io/s/6z67jvklw3`

**What you did**:
typed a search term, then backspaced to delete all search text

**What happened**:
the entire available list of terms to be searched is displayed. In

[2018-09-20 19:40] VikR0001 commented on #580
Beautiful. Thanks, Kent!

[2018-09-21 12:09] vfatia opened #582 "Improve hover/highlight behaviour"
Presently, when hovering a menu built with downshift the highlight gets "sticky" when the cursor moves away from the menu.

The ideal behaviour is that only the highlight triggered from a keyboard would be sticky, while a hover highlight would be dismissed when a cursor moves away. A good example of this is the macOS menus.

[2018-09-21 13:44] kentcdodds commented on #582
Hi @vfatia, you can definitely build this yourself with the current features that downshift has available. Give it a try :)

[2018-09-21 14:08] vfatia commented on #582
@kentcdodds Yup! I have no doubts about it… just didn't want to go even deeper into the customisation route (although that's the best part of Downshift).

Happy to add it on my end for the time being, but it would be nice to see on core 😉

[2018-09-21 14:21] kentcdodds commented on #582
I understand why you might feel that way, but most people using downshift won't need that feature and I'd prefer to avoid putting code in core that most people won't use especially when building it yourself is relatively trivial. Otherwise we'll be increasing the bundle size for 99% of people for the small benefit of 1% of people.

[2018-09-21 14:22] kentcdodds commented on #582
That said, I'd love it if you could add what you build to the examples! But I'll go ahead and close your issue for now. Thanks!

[2018-09-21 14:22] #582 closed

[2018-09-22 05:40] vfatia commented on #582
That's such a simple solution! Thanks @jonas-arkulpa

I'm actually building a component to browse and search a list of items. Still a typeahead but of different sorts… I will add the full component into the examples later on.

[2018-09-22 16:58] toolness opened #583 "Confusion about simulating keypresses in a Downshift component during testing"
Hello!  Thanks for creating this excellent component, as well as react-testing-library, which I am also pleased with, and find far less confusing than enzyme.

However, I am having trouble testing the component I've made with Downshift, using react-testing-library.  All I'd like to do is simulate typing input into a Downshift component, and ensuring that my `onInputValueChange` callback is being c

[2018-09-22 17:02] kentcdodds commented on #583
Hi!

Try removing this line:

[code]

When you do that react knows and when the change event is fired it doesn't think that the value was actually changed.

[2018-09-22 17:05] toolness commented on #583
Thanks! What's weird is that I could swear I already tried that--because I anticipated that might be the case--but when I just commented it out now, it worked!

Would you mind if I submitted a PR to the docs on how to test the component or something?  I had been messing with this for an hour or so and was getting pretty frustrated, so it'd be nice if future people in my situation have an easier ti

[2018-09-22 17:40] kentcdodds commented on #583
Sure! 👍

[2018-09-25 17:54] RaySheikh opened #584 "How to get selectedItem Id"
Hello,

I am new to downshift. I'm using downshift to get information from a server. Each record has an IdKey. I'm using the key to map the results. when an item is selected from the dropdown, I want the IdKey for that item to do a callback. Is there a simple way to get the id for a selectedItem?

Thank you in advance for any tips.

[2018-09-25 20:34] RaySheikh commented on #432
+1

[2018-09-25 21:28] kentcdodds commented on #584
You probably want to use the `onSelect` prop: https://github.com/paypal/downshift/tree/5de14674942fb653e987efdff9c1a2222ab53e24#onselect

[2018-09-26 01:26] matt-erhart opened #585 "A component has changed the uncontrolled prop "inputValue" to be controlled."
Sorry for the unformated issue. I'll forget about it if I don't post now.

this works when currentWordText is a string
[code]
this gives the warning in the title
[code]
No idea why dotting into a text field would result in this error but thought you should know. Feel free to close.

[2018-09-26 01:35] kentcdodds commented on #585
It's probably because the way your state object is. Make sure you're accessing the right value.

Good luck.

[2018-09-26 01:35] #585 closed

[2018-09-26 07:31] RaulTsc commented on #512
Any updates on this? :D

[2018-09-26 09:58] joshdcuneo commented on #512
One workaround that feels ok to me is to close the dropdown if the entered
value matches one in the dropdown. It feels like fairly natural auto
complete behaviour and prevents the user selecting the matching one.

On Wed., 26 Sep. 2018, 5:31 pm Raul Tomescu, <notifications@github.com>
wrote:

[2018-09-26 11:38] binarybaba commented on #512
I don't think that's a very good way to go about it. This is more of a core
issue. Let's hope this gets closed soon because downshift has a great
support for asyc loading of items. You will find using it some day or the
other.
The workaround i resorted to was storing the selected item in my
localstorage and then making another component which uses that. Then I made
a service to crud to the localst

[2018-09-26 12:15] joshdcuneo commented on #512
Certainly depends on the use case.

On Wed, Sep 26, 2018 at 9:38 PM Amin Mohamed Ajani <notifications@github.com>
wrote:

[2018-09-26 14:38] RaySheikh commented on #584
How to best use the `onSelect `prop. I'm using React with apollo below is my code. Any tips will help greatly.
thanks!
[code]

[2018-09-26 17:29] RaySheikh commented on #584
Thank you for the Reply. I figured it out using `itemToString`. Below is my code incase someone needs help. hit me up if you have questions.
The setup below will display the name upon selecting an item but also console.log their id in the `onChange`.

[code]

[2018-09-26 18:01] kentcdodds commented on #584
Glad you worked it out!

[2018-09-26 18:01] #584 closed

[2018-09-27 21:31] matt-erhart commented on #360
Here's some code I used to learn how to combine downshift and slate (like draftjs). It's a crappy figure stuff out script, but some might find it helpful: https://codesandbox.io/s/1qj5918w5l

[2018-09-29 09:41] Rendez commented on #536
Alright, so I started looking at the source and couldn't find a strong-enough reason to do this elegantly.
I wouldn't modify the current approach, since the environment **has** to be a window-like object, and ShadowRoot simply isn't one. In other words, the current implementation covers iframe and window usages perfectly, but it's also normal to want to adapt it for web components.

GIven the API

[2018-09-30 09:53] Rendez commented on #536
That is exactly what I was trying to say. I'll open the PR :)

[2018-09-30 09:53] #536 closed

[2018-10-01 11:11] aalises opened #587 "Setting the selectedItem when data changes."
Hello! Thanks for creating this amazing library! :1st_place_medal:  I am having an issue on updating the selected item via code when the data of the component has changed (I pass it as props).
[code]
When I add a new entry to the `data` object is creates a re-render as we are modifying the props of the component. What I want to do is then have **downshift to select the added object**. I am not suc

[2018-10-01 19:04] pastr commented on #587
Hi,

You can control the selected item yourself by storing it in the parent component state.
Then you can pass the selectedItem={this.state.selectedItem} prop to your Downshift component.
So you just have to update your state when you receive the new prop or directly give selectedItem your data prop (selectedItem={this.props.data}).
Here an example where the selectedItem is managed by the parent c

[2018-10-02 09:58] kitfit-dave commented on #443
Quick update: I was using (much like the material ui example) Paper as the menu container, spreading getMenuProps() - if I wrap this in a div it works as expected.

I have not had time to look at why using the Paper as the menu does not work... though I'd guess that it's due to missing refKey - they seem to have removed most of the ref stuff from material ui yes? (see https://github.com/mui-org/ma

[2018-10-04 00:02] franklixuefei commented on #512
@kentcdodds Any updates or plans on this? 😄

[2018-10-04 14:14] silviuavram opened #589 "[Enhancement][Accessibility] When Listbox is closed, Up/Down should also highlight last/first option"
- `downshift` version: 2.2.3
- `node` version: 8.11.3
- `npm` (or `yarn`) version: npm, 5.6.0

**Enhancement description**:
According to ARIA 1.1 guidelines related to the Combobox, when Listbox is closed and you hit Up / Down as focus is on the Input, the Listbox should open, and the highlighted option should be last / first item. More on that [here](https://www.w3.org/TR/wai-aria-practices/examp

[2018-10-04 14:19] kentcdodds commented on #589
I'm pretty sure that if you set the `defaultHighlightedIndex` to `0` that's the behavior you'll get.

[2018-10-05 08:10] johnjesse commented on #313
Why wouldn't you use generics for this, getInputProps currently returns an `any` - but we can do better than that as we know most of what it's going to return - and then we can extend that with the generic type of the passed props - as long as your component is typed this should still catch typos

e.g.

[code]

[2018-10-05 16:35] silviuavram commented on #589
https://github.com/paypal/downshift/pull/590

Related to your answer, if I do that, the dropdown will always open with first item highlighted.

I only want for it to 1) open with first highlighted when I press Arrow Down and 2) open with last highlighted when I press Arrow Up.

When opened at click / text input, behaviour should remain the same. Do you agree?

[2018-10-05 16:58] kentcdodds commented on #512
Ok, I'm for real working on this today.

[2018-10-05 17:07] RaulTsc commented on #512
good luck mate :)

[2018-10-05 18:01] kentcdodds commented on #550
Closing for inactivity.

[2018-10-05 18:01] #550 closed

[2018-10-05 18:02] kentcdodds commented on #527
I think this is resolved.

[2018-10-05 18:02] #527 closed

[2018-10-05 18:02] kentcdodds commented on #571
I think this has been resolved as much as we're able.

[2018-10-05 18:02] #571 closed

[2018-10-05 18:03] kentcdodds commented on #334
I think this has been resolved

[2018-10-05 18:03] #334 closed

[2018-10-05 18:04] kentcdodds commented on #579
Closing this due to inactivity. Please open a new issue if anyone has more findings.

[2018-10-05 18:04] #579 closed

[2018-10-05 18:05] kentcdodds commented on #443
So this appears to be more with how downshift is (mis)used than downshift itself.

If someone would like to contribute some documentation to help people avoid using it incorrectly in this way that'd be great! But I'm going to go ahead and close this as I'm trying to clean house a bit :)

[2018-10-05 18:05] #443 closed

[2018-10-05 18:06] kentcdodds commented on #465
Closing this due to inactivity. Please open a new issue if anyone has more findings.

[2018-10-05 18:06] #465 closed

[2018-10-05 18:06] kentcdodds commented on #452
Going to go ahead and close this one now :)

[2018-10-05 18:06] #452 closed

[2018-10-05 18:08] kentcdodds commented on #551
This is still an issue with the latest from everything. Anyone want to spend some time debugging what's going on here?

[2018-10-05 18:09] kentcdodds commented on #432
Closing this due to inactivity. Please open a new issue if needed.

[2018-10-05 18:09] #432 closed

[2018-10-05 18:09] #583 closed

[2018-10-05 18:10] kentcdodds commented on #498
I think we're good here 👍

[2018-10-05 18:10] #498 closed

[2018-10-05 18:12] kentcdodds opened #591 "Release 3.0.0"
Alrighty, we've got a few breaking changes that need to happen:

- [x] Respect defaultInputValue when provided #467
- [x] inputValue is set to empty string on select of already selected item #512
- [x] [Enhancement][Accessibility] When Listbox is closed, Up/Down should also highlight last/first option #589

And I have a few things I want to do:

- [x] upgrade all deps
- [x] move from storybook to

[2018-10-05 18:12] oliviertassinari commented on #551
I believe it's still an issue, as soon as it's fixed, we can revert our portal hack and close https://github.com/mui-org/material-ui/issues/13014 on Material-UI side.

[2018-10-05 19:35] izyb commented on #551
@kentcdodds @oliviertassinari  sorry I've been busy this past month, I'm willing to look at it more in depth this weekend, on both ends

[2018-10-05 19:41] kentcdodds commented on #551
Thanks!

[2018-10-05 20:04] kentcdodds commented on #512
Alrighty, this one's resolved in the `next` branch.

See #591 to keep up with what's left for 3.0.0

[2018-10-05 20:28] kentcdodds commented on #467
I'm working on this at the moment and I've got a solution that I like.

The one difference from what we discussed is the changes to the `reset` function. I will document this, but the expectation of the `reset` function isn't to totally revert the state of downshift to the initial state, but instead to reset it to the last selected item. Based on how it's used internally and externally, that's the

[2018-10-05 21:17] kentcdodds commented on #591
Ok, so there are two things left:

- [ ] Fix react native tests
- [ ] Fix typescript tests

I'm unable to work on these. I may just push forward with a 3.0.0 as we are and we can fix those things later. Unless someone wants to grab those and look at what's going on?

[2018-10-05 21:53] whirledsol opened #593 "Typeahead example: unexpected behavior on selection"
- `downshift` version: 2.2.3
- `node` version: 8.9.4
- `npm` (or `yarn`) version: yarn 1.6.1

This is occurring in [the "typeahead" example from the downshift documentation.](https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fordered-examples%2F03-typeahead.js&moduleview=1) I am able to replicate it on my local version as well.

**What you did**:
1. Type in

[2018-10-05 22:07] franklixuefei commented on #591
I can work on the typescript part, given that the documentation is updated so that I can just refer to it. :-)

[2018-10-05 22:10] kentcdodds commented on #591
Yeah, not many changes, and the changes are documented. Thank you @franklixuefei!

[2018-10-05 23:14] franklixuefei commented on #591
@kentcdodds Typescript tests errors are related to the outdated version of `@types/jquery` in `cypress`.

cypress-io/cypress#2363
cypress-io/cypress#2369

Please take a look at my comment in the PR.

[2018-10-07 00:47] izyb commented on #551
I've made a branch [here](https://github.com/izyb/downshift/tree/bugfix/touch-popper)* in which I added an example to the downshift storybook demonstrating the problem.

Okay so here's what I've gathered so far:

## Why is this happening?
This is a bug with the passing of the `ref` prop down from downshift's `getMenuProps` to the target menu node. When paired with `Popper`, `Portal`, and/or `Paper

[2018-10-07 01:28] kentcdodds commented on #593
Yeah, I think this is the same problem reported in https://github.com/paypal/downshift/issues/512

We'll be releasing a fix for this on Monday I think. See #592 :)

Thanks!

[2018-10-07 01:28] #593 closed

[2018-10-07 01:47] izyb commented on #551
@kentcdodds Yes putting `getMenuProps` on the inside component like that will work, assuming the ref is properly forwarded/applied to the DOM (either via a native `ul` as you've done or with a component that has some way of forwarding the ref to a native element)!

I agree that the validation would be difficult to implement and handle all cases. I think adding a `isDOMElement()` call in [`validate

[2018-10-07 01:55] kentcdodds commented on #551
I'd prefer to come up with this more permanent solution in time for the 3.0.0 release on Monday (in case the solution involves breaking changes).

[2018-10-07 03:10] izyb commented on #551
I hear ya, it would be nice to have it done by Monday. I'll look into other solutions for now

[2018-10-08 20:23] #591 closed

[2018-10-08 20:23] #467 closed

[2018-10-08 20:23] #512 closed

[2018-10-08 20:23] #589 closed

[2018-10-08 21:13] kentcdodds commented on #591
Ok, so the reason the result failed is because we have the deps: docz -> docz-theme-default -> react-live -> buble -> acorn & acorn-jsx

And buble is using mismatched versions of acorn and acorn-jsx. That's been fixed in their repo, but it looks like it hasn't been published. So we can lock down buble to 0.19.3 until another version is released.

[2018-10-08 21:27] kentcdodds commented on #499
This has been fixed 👍

[2018-10-08 21:27] #499 closed

[2018-10-08 21:28] kentcdodds commented on #551
I went ahead and pushed the release. I think we're probably good for now. If you come up with something though that'd be super :)

[2018-10-08 21:28] kentcdodds commented on #551
I'll actually go ahead and close this issue for now.

[2018-10-08 21:28] #551 closed

[2018-10-08 21:29] kentcdodds commented on #591
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-08 21:29] kentcdodds commented on #467
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-08 21:29] kentcdodds commented on #512
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-08 21:29] kentcdodds commented on #589
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-08 21:32] kentcdodds opened #594 "Fix react native tests"
They're currently disabled. I'm not sure what's wrong with them.

I don't have time to work on this and I don't use react native. So we'll need contributions here.

[2018-10-08 21:33] kentcdodds opened #595 "Fix typescript tests"
Based on research from @franklixuefei I'm pretty sure we're just waiting for cypress 3.1.1 to be released, then we can upgrade and the typescript tests can be re-enabled.

[2018-10-08 21:43] eliperkins commented on #594
Sorry I missed when this happened before! 🤔

Is there a point when CI failed? I'll repro this locally, but discussing over a build failure might be more helpful.

[2018-10-08 21:46] kentcdodds commented on #594
here: https://travis-ci.org/paypal/downshift/builds/437797785

[2018-10-08 21:53] eliperkins commented on #594
I'd say this is due to React Native 0.57 changing the default Babel preset, from `babel-preset-react-native` to `metro-react-native-babel-preset`: https://github.com/react-native-community/react-native-releases/issues/34#issuecomment-407006185

I'll pick this one up real quick and see what I can find.

[2018-10-08 21:54] eliperkins commented on #594
Here's a better link to the changes that need to happen: https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#updating-to-this-version

[2018-10-08 21:59] eliperkins commented on #594
Hmmm, upgrading only the Babel preset doesn't seem to address all the issues, as I still get the following error after running `yarn remove babel-preset-react-native && yarn add --dev metro-react-native-babel-preset@\^0.45.0 && yarn run jest --projects other/misc-tests other/react-native`

[code]

[2018-10-08 22:04] eliperkins commented on #594
Aaaaaand one more bit of sleuthing to discover some more context here: https://github.com/facebook/react-native/issues/21150#issuecomment-427768751

I ran `yarn add --dev schedule@0.4.0` followed by `yarn run jest --projects other/react-native` and got the following:
[code]

I'm out of time to look at this further tonight, but I'd say we've got some pretty hairy version mismatches to unwind here,

[2018-10-09 03:40] RaulTsc commented on #512
Nice Kent! Thank you

On Mon, 8 Oct 2018 at 23:29, Kent C. Dodds <notifications@github.com> wrote:

[2018-10-09 08:39] oliviertassinari commented on #551
@kentcdodds Awesome, thank you, I'm continuing that on Material-UI side :).

[2018-10-09 18:33] morrisallison opened #597 "Excessive `div` elements created within `#a11y-status-message`"
- `downshift` version: `3.0.0`
- `node` version: `N/A`
- `npm` (or `yarn`) version: `N/A`

**Relevant code or config**

https://codesandbox.io/s/oxzn3x8jq5

[code]

**What you did**:

The Autodesk HIG team has created a dropdown component ([`@hig/dropdown`](https://github.com/Autodesk/hig/tree/development/packages/dropdown)) using Downshift. One of our consumers needs to use the dropdown inside an

[2018-10-09 18:37] kentcdodds commented on #597
Hi @morrisallison,

Those will be removed when the next message is anything other than `foo`. It's unlikely in a real application situation that the message would be the same thing over and over again like this. This isn't a practical issue, in reality there will likely only be a handful of divs in there at any given time (normally there will only be one).

We're not going to change the way that t

[2018-10-09 18:37] #597 closed

[2018-10-09 18:43] morrisallison commented on #597
@kentcdodds is this documented somewhere so I can properly relay the message?

With that said, I still don't understand why new messages are being added, when the value doesn't change.

[2018-10-09 18:45] kentcdodds commented on #597
Turn on a screen reader when using downshift.

I'm not sure what you mean by "relay the message." That div is an implementation detail that you shouldn't concern yourself with.

[2018-10-09 21:47] morrisallison commented on #597
I understand this is a feature for screen readers. A screen reader will say "foo" each second with the given sandbox.

Sorry for the confusion. I meant, is there more information about this implementation so that we can better explain how this functionality works to our consumers.

Regardless, thanks for you time @kentcdodds 😊

[2018-10-09 22:01] kentcdodds commented on #597
Why do your consumers need to know how this functionality works?

[2018-10-10 16:03] johnjesse opened #598 "Blurring the input field triggers an "onInputValueChange" event - with the changes being empty and it clears the value"
- `downshift` version: 3.0.0
- `node` version:
- `npm` (or `yarn`) version:

**Relevant code or config**

[code]

**What you did and What happened**:
I noticed in our own project using downshift that tabbing through a control raised a inputValueChange event when you leave the control, with an empty new input value

Here's a quick repro - having forked the downshift demo - demonstrating the issue

[2018-10-10 19:38] kentcdodds commented on #598
Nice find. I think we just need to improve this if statement:

https://github.com/paypal/downshift/blob/3bdf3fd6df46ed4c9ecb3229c1dc5ec7f68fb53a/src/downshift.js#L364

Would you like to make a PR for this?

[2018-10-10 20:12] johnjesse commented on #598
Yup, I can do that

[2018-10-10 21:20] johnjesse commented on #598
@kentcdodds Actually, I'm not sure it's that simple, it looks like state is deliberately reset when the input is blurred - and reset sets the `inputValue` back to the value of the selected item.

https://github.com/paypal/downshift/blob/3bdf3fd6df46ed4c9ecb3229c1dc5ec7f68fb53a/src/downshift.js#L799-L801

https://github.com/paypal/downshift/blob/3bdf3fd6df46ed4c9ecb3229c1dc5ec7f68fb53a/src/downshif

[2018-10-10 22:36] kentcdodds commented on #598
Yeah, we definitely don't want to fail that test. There's a good reason for that. We'll have to be more creative. `onInputValueChange` is a [special-case prop](https://github.com/paypal/downshift/issues/217) and I'd recommend using `onStateChange` if you can.

I think we could get away with removing the `!isStateToSetFunction` and just relying on what state looks like currently:

[code]

Give that

[2018-10-11 13:08] gaearon commented on #186
Just a heads-up that code like https://github.com/paypal/downshift/issues/186#issuecomment-328917593 is pretty fragile and can indeed break in the future.

[2018-10-11 13:09] johnjesse commented on #598
So I don't think that will fix it because `stateToSet.inputValue` is `''` in this case. The reset deliberately sets it back to an empty string so amending the check to look for differences in the current state and the stateToSet won't stop the event being fired.

Also, in this case onStateChange is fired too - with `inputValue: ''`. I've amended the code sandbox example to demonstrate.

I think I

[2018-10-11 13:36] arackaf commented on #186
@kentcdodds - I think the solution here may be simple.  Instead of a clearItems method, what about a `setItems` method that we could call in the Downshift render method.

That would turn `items` into a controlled prop, so `getItemProps` would no longer need to be called after every parent render.

[2018-10-11 13:55] kentcdodds opened #599 "Get rid of downshift's items instance property"
I'll add more details later, but [this](https://github.com/paypal/downshift/issues/186#issuecomment-328917593) is probably not going to work in concurrent react, so we need to figure out another way to accomplish this...

[2018-10-11 14:09] gaearon commented on #186
The whole notion of calling methods during render sounds off to me.

Why does the component need to store `items` at all if it's supposed to be "out of scope" of its knowledge? Either component truly doesn't need `items` (and then you shouldn't need an instance property), or it does (and then it should be a prop).

[2018-10-11 14:11] kentcdodds commented on #598
Hmmm... I think this is only an issue on tab, not on blur.... for some reason.

![kapture 2018-10-11 at 8 09 23](https://user-images.githubusercontent.com/1500684/46810109-30c15880-cd2d-11e8-90cf-f08fa0e7c751.gif)

[2018-10-11 14:12] arackaf commented on #186
Think about things like highlighted index. As you hit the down arrow key, the next item in the list gets highlighted. But once you hit the end of the array, down key keeps the last item highlighted.

Thinking about it, surely items *could be* a regular prop, and then added to the render props, couldn't it?  `getItemProps()` might still be needed, since I'm sure you might need to know which dom nod

[2018-10-11 14:12] kentcdodds commented on #598
Yes, that's what the stateReducer is for 👍

Yes, this is deliberate.

Thanks!

[2018-10-11 14:12] #598 closed

[2018-10-11 14:45] kentcdodds commented on #186
We're going to look into fixing this. Tracking here: https://github.com/paypal/downshift/issues/599

[2018-10-11 14:46] arackaf commented on #186
Yeah I saw - thanks a ton for the amazing library.

[2018-10-12 04:13] miguelocarvajal opened #601 "Menu rendered below field when there is not enough space"
- `downshift` version: 2.0.20
- `node` version: 8.9.4
- `npm` (or `yarn`) version: yarn 1.9.2

**Problem description**:

If the field associated with Downshift is at the bottom of the screen, the menu is still rendered below the field.

This is problematic because the user must scroll down and this might be the last field in the form.

**Suggested solution**:

The menu items appear above the field

[2018-10-14 20:46] GuidovdRiet opened #602 "Warning: Prop `aria-labelledby` did not match. Server: "downshift-1-label" Client: "downshift-0-label""
- `downshift` version: 3.1.0
- `node` version: 9.2.0
- `npm` (or `yarn`) version: 5.6.0

**Relevant code or config**

[code]

Usingin Next JS for SSR.

**What happened**:
I receive the following warning:

index.js:2178 Warning: Prop `aria-labelledby` did not match. Server: "downshift-1-label" Client: "downshift-0-label"

What could be the problem here?

[2018-10-16 06:35] rifler opened #604 "styled-components and ref"
- `downshift` version: 3.1.0
- `node` version: 10.6.0
- `npm` (or `yarn`) version: 6.4.1

**Relevant code or config**

[code]

**Problem description**:
Since v4 styled-components uses forwardRef and accepts ref prop without any problems
https://www.styled-components.com/docs/advanced/#refs
![image](https://user-images.githubusercontent.com/871583/46996807-97c48000-d126-11e8-8c4d-af039a596173.png)

[2018-10-16 10:56] Morton opened #606 "Prop initialSelectedItem renders typescript error"
- `downshift` version: 3.1.0
- `node` version: v10.7.0
- `npm` (or `yarn`) version: 6.1.0

**Relevant code or config**

[code]

**What you did**:
I am using typescript for running above code snippet. Everything works fine until adding the `initialSelectedItem`-prop.

**What happened**:
TypeScript will showing following stack trace:
`Property 'initialSelectedItem' does not exist on type 'IntrinsicA

[2018-10-16 15:07] kentcdodds commented on #604
Hi @rifler. This is tough. I want to error early so people who don't know what they're doing know that they've done something wrong....

Hmmm... What if we do something like this:

[code]

I think that should work. Thoughts? Would you like to open a PR?

[2018-10-16 19:41] GuidovdRiet opened #607 "ARIA Attributes Follow Best Practices"
- `downshift` version: 3.1.0
- `node` version: 9.2
- `npm` (or `yarn`) version: 5.6

Receiving the following errors while testing Downshift in Chromes Audit:

1. Elements with [role] that require specific children [role]s, are missing:

`<div role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="lang-switcher-label"><button type="button" role="button" aria-label="open menu

[2018-10-17 09:10] rifler commented on #604
Of course, I will.

[2018-10-17 19:30] Wgil opened #609 "Dropdown with select by key example is broken"
**What you did**: I opened the [dropdown with select by key](https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fother-examples%2Fdropdown-select-by-key%2FCustomDropdown%2Findex.js) codesandbox example

**What happened**:

There's a `TypeError` that prevents the example to shown.

[code]

[2018-10-17 19:33] kentcdodds commented on #609
Yeah, looks like that example is pretty broken. I'm not sure what's wrong with it. It's a pretty untypical example though so I wouldn't be too concerned.

[2018-10-18 11:20] GuidovdRiet opened #610 "Updated props are not received in onChange handler"
**Relevant code or config**

[code]

**Problem description**:
Updated props are not received in onChange handler.

const { slug } = this.props.context;

The slug value is not updated on prop change in context. Is it possible to pass the onChange method a second argument?

**Suggested solution**:
On render pass the onChange(param1, param2).

[2018-10-18 18:51] GuidovdRiet commented on #610
`import withContext from '../../context/withContext';

class LangSwitcher extends Component {
  constructor() {
    super();
    this.onChange = this.onChange.bind(this);
  }

  onChange(lang) {
    const {
      context: { slug },
    } = this.props;
    Router.push(`/page?slug=${slug}&lang=${lang}`, `/${lang}/${slug}`);
  }

  render() {
    const {
      context: { languages },
      router: {

[2018-10-20 12:48] rifler commented on #606
will be fixed after https://github.com/paypal/downshift/pull/603

[2018-10-20 13:38] kentcdodds commented on #606
Merged.

[2018-10-20 13:38] #606 closed

[2018-10-21 17:13] chmaltsp commented on #604
@rifler  to get around this error all you need to do is pass the ref key down to the styled compoent
[code]

[2018-10-22 10:32] rifler commented on #604
@chmaltsp do you use v4? In v4 they use `forwardRef` API and `ref` key. `innerRef` is deprecated now

[2018-10-22 21:30] kentcdodds commented on #480
Here's a permalink: https://github.com/paypal/downshift/blob/e1273c8df4d6b33365d8f2bf69cee9d6f8b97760/stories/examples/controlled.js

[2018-10-22 22:45] mfix22 commented on #610
@GuidovdRiet in this case couldn't you just compare `lang` with `this.props.router.query.lang` to see if it had changed? In fact you are probably always going to be able to compare the change with some prop manually, which is super common in React code 🙂

[2018-10-23 10:50] silviuavram commented on #607
For error number 1, your failure comes from failing to supply an `<input>` element inside the `<div role="combobox" />`. A combobox needs a input to type into as its child. You may also be required to supply an `aria-owns` with the listbox ID if you plan to use the listbox outside the combobox div, but that is not the problem right now. Take a look at [aria combobx](https://www.w3.org/TR/wai-aria-

[2018-10-23 19:54] rifler commented on #604
Thanks!

[2018-10-23 19:54] #604 closed

[2018-10-26 05:31] tatimoreira opened #614 "Checkbox just selected when click in the box and not in the whole item"
Hello is there any way I can use checkbox in Downshift but just select an option clicking in the box and not in the whole label/text/option ? I would like to achieve this because I have a nested object which will show its subOptions when clicked and will just be selected when the box on the checkbox is clicked.

[2018-10-30 19:04] FezVrasta opened #615 "Provide `getInputProps` to the consumer after I used it?"
Hi, this is more an usage question than a bug request, I hope it's fine to ask it here.

I want to provide this kind of API to my consumers:

[code]

but, internally, I need to do this:

[code]

So, basically, I need to use `getInputProps` internally, to make sure both the Downshift `onFocus` is called, together with my `openMenu` function.

But then, I want to allow my consumer to use `getInputPr

[2018-11-03 18:12] kristianmandrup commented on #313
Running into similar problems trying to convert the Material UI searchbox-downshift example to work in Typescript.

[code]

[2018-11-06 21:59] kentcdodds commented on #615
I think something like this should work:

[code]

I've done this in the past and it works great. :)

[2018-11-06 21:59] #615 closed

[2018-11-07 08:45] FezVrasta commented on #615
Thanks! Is the `callAll` helper exposed by Downshift?

[2018-11-07 12:00] gabrielmicko commented on #615
This is great! Thanks!

[2018-11-07 18:05] kentcdodds opened #617 "Look into accessibility issues"
Ryan Florence mentioned that lots of combobox components (like downshift) get some things wrong:

- "escape" when navigating the list vs. escape when typing
- selecting the autocompleted portion
- ~not autocompleting the wrong async results that come back in the a different order than they went out~ (we can't do anything about this because we don't deal with loading the items).

Let's look into wh

[2018-11-07 18:19] kentcdodds commented on #615
No, `callAll` is not exposed, but it's pretty simple:

[code]

[2018-11-07 18:20] FezVrasta commented on #615
Ok cool, thanks for the support :-)

[2018-11-08 05:08] keeganstreet opened #618 "Difficult to scroll on touch screen devices"
Downshift is adding a `touchstart` event listener and reseting the component if the touch originated outside of the component. This is preventing users from scrolling on touch-screens when Downshift is open, unless they scroll by touching inside the associated DOM element.

This effects iOS and Android.

Screen recording:
![downshift-touchstart](https://user-images.githubusercontent.com/513363/481

[2018-11-08 05:28] keeganstreet commented on #618
Great, yep I'd be happy to.

[2018-11-08 16:29] aureooms opened #620 "stateChangeTypes is badly documented"
**Problem description**:
The current documentation suggest the user to *run* the following *in his app*

[code]

**Suggested solution**:
Add an explicit list of those keys to the documentation.

[2018-11-08 18:09] kentcdodds commented on #620
I think this is a good idea. Would you like to open a pull request for this please @aureooms? Thanks!

[2018-11-08 19:38] #618 closed

[2018-11-08 19:49] kentcdodds commented on #618
:tada: This issue has been resolved in version 3.1.5 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.1.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-08 20:59] aureooms commented on #620
Sure! Can you tell me which file(s) define(s) those keys?

[2018-11-08 21:31] kentcdodds commented on #620
https://github.com/paypal/downshift/blob/master/src/stateChangeTypes.js

[2018-11-08 21:32] kentcdodds commented on #620
By the way, use `keyDownEscape` not `__autocomplete_keydown_escape__`.

[2018-11-09 22:02] dstapleton92 opened #621 "Weird Voiceover behavior in latest version of Chrome"
- `downshift` version: 1.31.16
- `node` version: 10.11.0
- `npm` (or `yarn`) version: yarn 1.10.1

Has anyone else noticed weird behavior when using Voiceover on the autocomplete suggestions in Chrome in macOS Mojave? Our autocomplete suggestions are read partially, and then read again. For example, if you type "apple" into the search field, and scroll down to a suggestion for "apple sauce", VO wi

[2018-11-12 15:58] trepidacious commented on #512
Thanks 👍 :)

[2018-11-13 11:35] silviuavram commented on #621
confirmed here as well, after tried to fix it from my end for about an hour.

[2018-11-13 11:36] silviuavram commented on #607
@kentcdodds can we close this? unless you have something more to add.

[2018-11-13 14:53] #620 closed

[2018-11-13 14:55] #607 closed

[2018-11-15 14:38] silviuavram commented on #621
Reproduced it with other screen readers as well, only that Jaws and NVDA will narrate the autocomplete suggestion twice. Narrator just stops while narrating first and then narrates it again.

Issue comes from `getA11yStatusMessage` because it returns `itemToString(highlightedItem)` when you go through the suggestions in the list. Screen readers read the <li> option naturally, without us needing to

[2018-11-15 16:19] kentcdodds commented on #621
Interesting! Could you open a PR for the fix and I'll give it a look. Thank you so much for all the time you've spent helping make the corner of the internet that uses downshift more accessible 🤗

[2018-11-18 18:16] aaa-magenic-eleazarj opened #623 "onChange of MaskInput is not triggered inside Downshift"
- `downshift` version: 2.0.20
- `node` version: v6.11.1
- `npm` (or `yarn`) version:  3.10.10

**Problem description**:
Hi, Good day!

I have implemented a simple downshift app that search for phone number or extension.
It basically search a phone number and once you select an item it will populate the phone and it's extension .
One thing I've noticed, at the first load of page, and I search and s

[2018-11-19 19:38] EleazarJusto commented on #623
Hi, does anyone has thought on this issue? Thank you

[2018-11-20 11:25] andreoav opened #624 "Error: isForwardRef not exported."
- `downshift` version: >= 3.1.3
- `node` version: 10
- `npm` (or `yarn`) version: latest

**Relevant code or config**

[code]

**What you did**:
Upgrade downshift from version 3.1.2

**What happened**:

[code]

**Problem description**:

After upgrading from downshit 3.1.2 my rollup build throws the error above. I had a configuration for `react-is` used by my package itself and other dependencies.

[2018-11-20 20:16] kentcdodds commented on #624
I have no idea why that's happening. Based on https://github.com/rollup/rollup/wiki/Troubleshooting#name-is-not-exported-by-module it looks like you're configuring things correctly... :-/

[2018-11-20 22:52] andreoav commented on #624
I'll try to investigate and double check if did everything correctly.

[2018-11-21 13:52] andreoav commented on #624
I did a fresh install of everything a 3rd time and everything work.
Closing this issue since I was not able to reproduce it again.

[2018-11-21 13:52] #624 closed

[2018-11-22 17:30] kentcdodds commented on #269
That actually makes sense as a default. I'd be interested to see a pull request that implements this if you'd be willing to open one up.

[2018-11-22 17:32] kentcdodds commented on #269
Actually, thinking about it I just realized that this is not necessary. Just _don't_ call `getItemProps` for an item which you render which is disabled. Like in this example: https://codesandbox.io/s/v666z3o6ml

[2018-11-22 17:53] giuseppeg commented on #269
uh indeed it works already, my highlighting logic for `getIsActive` was wrong :) I thought `highlightedIndex === index` would be enough. Thanks Kent!

[2018-11-23 11:22] miiimooo opened #625 "Behaviour when moving before the first item"
- `downshift` version: 3.1.5
- `node` version: 8.9
- `npm` (or `yarn`) version: 5.6.0 (1.3.2)

**Relevant code or config**

[code]

**What you did**:
* I enter a term like "test", I see a list of suggested results
* press the down cursor key, selects first item of results
* press the up key, I'm on the last item of the results

![image 11](https://user-images.githubusercontent.com/1226434/48941102

[2018-11-23 19:01] kentcdodds commented on #625
You're actually _always_ in the input box... At any point you can continue typing because the focus never leaves the input box.

[2018-11-24 19:39] dstapleton92 commented on #621
For our use case, overriding `getAllyStatusMessage` with a similar function that doesn't read the selected item was a no-go. The reason why is because Safari does **not** automatically read the selected item of the aria combobox, so this would exclude Safari users from being able to use a screen reader.

Knowing that the autocomplete suggestions are just plain divs with no tab index, I thought "wh

[2018-11-25 04:15] kentcdodds commented on #621
Maybe downshift should just do that by default. Part of the benefit of an abstraction like downshift is it allows people to do the right thing by default without proper having to know what Hanks are going on to make it work.

Anyone up for a pull request? Should be simple.

[2018-11-25 17:37] dstapleton92 commented on #621
@kentcdodds 👍 Just opened PR #626.

[2018-11-29 00:24] ilovett opened #627 "controlled `inputValue` is overridden when controlled `selectedItem` is cleared"
- `downshift` version: 3.1.5
- `node` version: 10.12.0
- `npm` (or `yarn`) version: 1.12.3

**Relevant code or config**

[code]

**What you did**:

When the selectedItem is cleared, there is logic to set the internal state inputValue to use a value determined by itemToString on an empty selection:

![image](https://user-images.githubusercontent.com/1776100/49191025-c343a880-f329-11e8-8a39-8eec9664

[2018-11-30 12:48] jazzytomato commented on #627
I am having the same issue, for now I have fixed it by downgrading downshift to ^2.0.20 (same as in the code samples which work fine [here](https://codesandbox.io/s/github/kentcdodds/downshift-examples))

With the same code samples, you can see the problem by upgrading downshift to 3.0.15  https://codesandbox.io/s/j5rlpj6yw

The problem is obvious in the `04-multi-select.js` component

[2018-12-02 16:03] nmaves opened #628 "Downshift without an input"
- `downshift` version: 3.1.5

This is a common error but one that I would like to see hidden for my specific use case.

An object was passed to the default implementation of `itemToString`. You should probably provide your own `itemToString` implementation. Please refer to the `itemToString` API documentation. The object that was passed: {label: "Add all to Cart"}

I am trying to use Downshift for

[2018-12-03 12:03] silviuavram commented on #621
@kentcdodds please take a look over changes I made in https://github.com/paypal/downshift/pull/629 and see if they make sense.
@dstapleton92 please also take a look over the PR, and check if it solves the issue in Safari. I tried it in the docs example and it worked for me. But I want to also test with other screen readers and also need input from you as well.

Thank you everyone for your patience

[2018-12-03 16:49] kentcdodds commented on #627
Ah yeah, `04-multi-select.js` has an obvious problem, but I'm struggling to see how the issue opened by the original poster is related because the `inputValue` is not controlled in that example. Are these related? In any case, that should definitely be fixed. If it's unrelated, we'll want a new issue for it.

As for the original poster's issue, the `internalSetState` method wont actually change in

[2018-12-03 22:19] kentcdodds commented on #628
Hi @nmaves 👋

If you don't need it, you could just do: `<Downshift itemToString={() => {}} />`

I don't think I want to add any code for this use-case. It's not very common.

Thanks!

[2018-12-03 22:47] nmaves commented on #628
Sounds good, that is what I have already done 🏅

[2018-12-03 22:47] #628 closed

[2018-12-04 17:07] brenoos commented on #297
Hello.

Can you please show how can I made this?

Thanks

[2018-12-04 17:18] johnjesse opened #630 "Handling Events, prevent default, stop propagation"
This is a question, and this may not be the correct forum for it as it's more about events themselves than Downshift.

Downshift handles the keyDown event and calls preventDefault on the event  https://github.com/paypal/downshift/blob/27a19a31fb3f3f9475d29080817c2ad866c6eed6/src/downshift.js#L556

It doesn't call `stopPropagation` - I'm assuming that's by design.
This causes an issue for me as I u

[2018-12-04 20:59] johnjesse commented on #630
haha, fair enough,

so I'd argue that it should be using `stopPropagation` too, it's handled the event and no one else should be. By not calling `stopPropagation` anything further up the Dom tree would have to check the event to see if it's already been handled.

I'd be happy to submit a PR

[2018-12-04 21:14] kentcdodds commented on #630
That sounds good to me, so long as there's a way to prevent that (like we have with preventDefault). Thanks for your help and understanding <3

Also, your username is the same name as my father-in-law....

Dad?

[2018-12-05 18:34] brenoos commented on #549
Hello @lauraSantillan

I Have the same problem, with this code:

`getSuggestions = value => {
    const funds = this.props.autoComplete.fundsList
    const inputValue = deburr(value.trim()).toLowerCase().replace(/(\.|\/|\-)/g, "")
    const inputLength = inputValue.length
    let count = 0

    return inputLength === 0
      ? []
      : _.filter(funds, fund => {

        const keep =
          co

[2018-12-06 17:40] brenoos commented on #549
@lauraSantillan I solved in my application using another lib instead match-sorter, the lib called Fuzzy-Search

`  getItems = filter => {
    const searcher = new FuzzySearch(this.props.autoComplete.fundsList, ['n', 'c'], {
      sort: true,
    })

    return filter
    ? searcher.search(filter).splice(0, 10)
    : []
  } `

Now its pretty fast

[2018-12-08 22:16] hally9k opened #631 "React ref to the input in the render prop breaks on Safari 12."
- `downshift` 3.1.5:
- `node` version: 10.8.0
- `npm` (or `yarn`) version: 1.12.3
- `iOS Safari 12`

**What you did**:
I am having trouble handling the focus of the input while developing an autocomplete on iOS Safari 12.
The basic task is to blur the input of my autocomplete when making a selection from the menu. This ensures the keyboard closes etc.

**What happened**:
I originally made a react

[2018-12-11 04:17] kentcdodds commented on #620
:tada: This issue has been resolved in version 3.1.6 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.1.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-11 18:15] qoby opened #632 "Function components cannot be given refs. Attempts to access this ref will fail."
Performed a package upgrade and started getting this error, haven't tracked down the reason yet:

[code]

this started popping up too:

[code]

[code]

edit:

Converted to a class and error went away, not sure why this was working before.

[2018-12-11 19:04] #632 closed

[2018-12-14 14:42] #630 closed

[2018-12-21 00:51] kentcdodds commented on #409
Yeah, I'm open to an extra check 👍 PRs welcome.

[2018-12-22 16:08] ZeroPie opened #636 "Accessing State Attributes"
- `downshift` version: "3.1.5",
- `node` version:  10.3.0
- `npm` (or `yarn`) version: 6.1.0

**Relevant code or config**

Hi, this is probably lack of understanding on my behalf: I do not understand why i cannot access state inside downshift rendering.

Ive got a Form and if i put my SelectCity with Downshift into a separate file.

If i put the items inside the SelectCity.js file then it works as

[2018-12-23 03:32] kentcdodds commented on #636
Hi @ZeroPie,

If you put this in [a codesandbox](https://kcd.im/ds-example) I'll fix it up to show you how to do it correctly :)

[2018-12-23 03:52] Wgil opened #637 "Make getItemCount available in getStateAndHelpers"
Hello,

I see there is a `resultCount` variable used for ARIA statuses. I was wondering if there's a reason of why `getItemCount` or `resultCount` aren't available in the response object of `getStateAndHelpers` function.

**Problem description**:
My current problem is that I would like to show a No Results message only when the API results are available without adding another piece of state to man

[2018-12-23 14:20] ZeroPie commented on #636
Hi @kentcdodds
I put it in a codesandbox: https://codesandbox.io/s/w6m5pql0zl

[2018-12-23 20:50] kentcdodds commented on #636
Looks like you figured it out actually. Is there something wrong still or did you work it out?

[2018-12-23 20:51] kentcdodds commented on #637
Hi @Wgil!

I'm not sure this is going to do what you want it to. How do you know that the result count is `0` because there was nothing found vs it's `0` because they haven't been loaded yet?

[2018-12-24 03:00] Wgil commented on #637
I thought it could be:
[code]
but now I can't find any difference than checking for `this.state.items.length` 😅 . I think it got confused with `isOpen`. So now to show my items I'm going to do `{isOpen && isLoaded && (...)}`

I'm closing this,
Have happy holidays!

[2018-12-24 03:00] #637 closed

[2018-12-24 17:33] ZeroPie commented on #636
@kentcdodds
Thanks! It makes sense now:
I guess i had a misconception about rendered props sharing state implicitly. But if you say that's a working example, then feel free to close it? or should i?
Merry Christmas for you and your loved ones!

[2018-12-24 19:52] kentcdodds commented on #636
Same to you!

[2018-12-24 19:52] #636 closed

[2018-12-26 18:08] amin-iqi commented on #481
I LOVE YOU @franklixuefei

[2018-12-31 00:30] eliseumds opened #638 "Shouldn't scrollIntoView execute relative to menuNode?"
I'm rendering the menu using PopperJS in a portal and, whenever an item is selected (all of them but the first), the page scrolls to the bottom. I suppose it's because *scrollIntoView* is being called relative to the root node. The structure is something like this:

[code]

Does it make sense to be called relative to the rootNode? Shouldn't we pass menuNode instead?

https://github.com/paypal/down

[2018-12-31 07:56] stipsan commented on #638
Could you make a gif of the behavior? 🙂

[2019-01-03 13:07] MeLlamoPablo opened #640 "The "blurInput" state change type is not emmited if the user clicked outside the input"
- `downshift` version: *2.0.20*
- `node` version: *not applicable (codesandbox)*
- `npm` (or `yarn`) version: *not applicable (codesandbox)*

**Relevant code or config**

[code]

**What you did**:

Expect the `onStateChange` to emit the `Downshift.stateChangeTypes.blurInput` change type when the input is blurred **by clicking on other HTML Element instead of pressing tab**.

**What happened**:

Th

[2019-01-03 18:15] kentcdodds commented on #640
Hi @MeLlamoPablo,

The problem is that if we did that, then the menu would disappear between the time the blur event fires and the click event fires. This means that users wouldn't be able to click elements in the menu.

Believe me, I've dealt with that bug many times. Really annoying.

So downshift handles this for you by not firing the blur event on mouse down. Instead, it waits until there's a

[2019-01-03 20:38] kentcdodds commented on #595
@franklixuefei, do you think this is ready yet?

[2019-01-03 22:50] franklixuefei commented on #595
@kentcdodds Yes! I saw you bumped up the version for `cypress` to 3.1.4, which already includes the `jQuery` dependency fix. https://github.com/cypress-io/cypress/releases/tag/v3.1.1

Feel free to uncomment the typescript test script.

[2019-01-04 04:32] kentcdodds commented on #595
Looks like they're still failing (maybe a new error now?)

[2019-01-04 04:32] kentcdodds commented on #595
Here's the failing build: https://travis-ci.org/paypal/downshift/builds/475157908

[2019-01-04 05:38] franklixuefei commented on #595
Yes this is a new error. Taking a look tonight.

Frank

[2019-01-04 16:31] kentcdodds commented on #640
I think this is the main confusion. The `stateReducer` isn't an "event dispatch handler" but a "state change handler." So the "events" are actually state changes. If any particular event does not cause a state change, then your `stateReducer` will not be called. In addition to that, your `stateReducer` should be a pure function so it would be wrong if you're doing anything other than handling stat

[2019-01-04 16:35] #640 closed

[2019-01-05 16:16] timvracer commented on #630
NOOOOO This is wrong and has broken my app in 3.8, with NO WORKAROUND.  If you want to stop propagation, just create a key handler and stop stop it for the key events you wish to not propagate.  Some of us badly need to know when ESCAPE is hit, and the element that "needs to know" is not the immediate parent element.  Things were fine as they were, but now broken in 3.8.  PLEASE remove the stopPro

[2019-01-05 16:20] kentcdodds commented on #630
Sorry to break your app. I agree. I think it would be better to propagate. Feel free to open a pull request to fix this.

[2019-01-05 16:29] timvracer opened #642 "Issue #630 regarding key event propagation is a breaking change. I cannot find a workaround that is reasonable"
- `downshift` version: 3.8
- `node` version:
- `npm` (or `yarn`) version:

**Relevant code or config**

[code]

**What you did**:

**What happened**:

**Reproduction repository**:

**Problem description**:

Issue #680 was implemented in 3.8, and unfortunately is a breaking change for anybody who needs the ESCAPE key further up in the component chain.    I'd like to suggest that the previous behavi

[2019-01-05 16:35] timvracer commented on #630
Thanks Kent, I submitted a new issue for this... is that good enough, or do I need to go and make the change in the source?  (I did not inspect the source, I just saw this issue and realized what had happened).

Happy to try and figure it out in the source and create a PR if that is what you would like.

[2019-01-05 16:38] johnjesse commented on #630
@timvracer sorry that this broke your app, can't you use `preventDownshiftDefault` to stop this behaviour if you don't want it?

[2019-01-05 16:45] johnjesse commented on #630
@timvracer One of the reasons I didn't like the workaround you suggested is it ties my implementation to knowing the state of the downshift element to decide whether to stop the propagation of the key event.

e.g. If I put the downshift element in a dialog and hit escape when the downshift element is focused I need to know if downshift has actually processed the key - which it may or may not have

[2019-01-05 16:47] johnjesse commented on #630
I see you opened a new issue, I'll comment there

[2019-01-05 16:55] johnjesse commented on #642
sorry that this broke your app @timvracer , I take it you can't use preventDownshiftDefault to stop this behaviour because you still want downshift to handle it too.

Also... It was my understanding that the escape event handler only ran if the dropdown was open... i.e. if it actually reset the control. If the control was already reset and escape would do nothing I agree it should not be marking t

[2019-01-05 17:00] kentcdodds commented on #642
I think it would be useful to see examples of both use cases (can use an older version of downshift for the previous behavior) and see which is more awkward/flexible.

[2019-01-05 17:15] timvracer commented on #642
John,
You are correct, I still want Downshift behavior (e.g. close the menu on Escape and reset the value), but in the case where them menu is already closed, I also need to close my dialog box, as you also note above in your assumption that in fact it would not stop propagation if the menu was closed.

Indeed, I am having to keep track of the menu open/close state myself via onStateChange to make

[2019-01-05 17:18] timvracer commented on #642
BTW.. not sure what you meant by "capture phase of the event", what I am trying to do now to work around it is fire a simulated event using Simulate from test utils, but this is bad -- has many issues, and  it sorta works... but not breaks as well -- so not going to work I think.

[2019-01-05 17:31] timvracer commented on #642
causes 2 tests to fail, of course will need to update those too.  What do you all think?

[2019-01-05 17:55] johnjesse commented on #642
Tim,
the idea sounds good to me,  I'd suggest the prop be a little more general... something like
`stopPropgationOfKeyDownEvents` that defaults to false, can be true, or an object specifying the names of key events to stop propagation on? as the `stopPropagation` on other key events could also cause issues for others.

As for the capture phase, I meant that if you have some global behaviour that a

[2019-01-06 05:36] timvracer commented on #642
I submitted a PR request for this issue.  However, it appears a test is failing in Travis, but the tests all run for me.  hmm... not sure why. Will look...

[2019-01-06 15:02] dimadetrix commented on #167
@techniq Perfect solution !! I have a little bit another data structure... but looking into your code i wrote something similar to your example, and it works as expected, You saved my time  :)

[2019-01-06 15:33] kentcdodds commented on #640
:tada: This issue has been resolved in version 3.1.9 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.1.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-06 20:08] stipsan commented on #638
Ah I got it, the portals are rendering elsewhere in the DOM so the target `node` do not have `this._rootNode` as its parent node anymore, is that right?

If changing the [boundary](https://github.com/stipsan/compute-scroll-into-view#boundary) from `this._rootNode` to `this._menuNode` doesn't break anything for the rest of our users, then I think we should make it the new default 🙂

@bestguy try if

[2019-01-06 21:02] stipsan commented on #638
On it! 🏃

[2019-01-06 21:34] #638 closed

[2019-01-06 21:37] bestguy commented on #638
Thanks @stipsan for the fast reply, perhaps my issue is something else, as I am unable to scroll to view the selected item even in a non-portal situation:

https://codesandbox.io/s/wynv166o7

I assumed that when the menu is opened via the toggle button, the scrollable div would scroll to the previously selected item.

[2019-01-06 21:41] kentcdodds commented on #638
:tada: This issue has been resolved in version 3.1.10 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.1.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-07 00:14] bestguy opened #645 "Scrolling to selectedItem on menu open?"
- `downshift` version: 3.1.10

I'm trying to implement a combobox that lists all items in a scrollable menu. The combobox does not filter or reduce the list of items.

When the menu opens (on focus or button click), I would like the menu to automatically scroll to the selected item (if any).

Is this something supported by Downshift?

Basic example:
https://codesandbox.io/s/wynv166o7

[2019-01-07 00:15] bestguy commented on #638
(Moved my last question to new issue: #645 )

[2019-01-07 01:57] eliseumds commented on #638
Nice! Tks everyone! 🎉

[2019-01-07 02:45] kentcdodds commented on #645
Hi @bestguy,

The simplest way is to use a `stateReducer` like so:

[code]

https://codesandbox.io/s/8k2vrlv589

I noticed that it made the highlighted index appear at the bottom of the scroll view. If you'd like to change that then you can specify your own [`scrollIntoView`](https://github.com/paypal/downshift#scrollintoview) function. Good luck!

[2019-01-07 02:45] #645 closed

[2019-01-07 02:49] bestguy commented on #645
Terrific!  Thanks!

[2019-01-07 04:02] bestguy commented on #645
Actually @kentcdodds I'm seeing a little odd/counfusing behavior, if you toggle the menu, but then focus the input without changing text, sometimes the menu does not scroll to selectedItem when open.  If you toggle the menu a few times it will then scroll to selectedItem.

Maybe I don't fully understand stateReducer but unable to clear it up if you have any ideas.

[2019-01-07 04:06] kentcdodds commented on #645
I'm not sure I understand what you mean. Could you make a gif?

[2019-01-07 08:07] stipsan commented on #645
Looks like the sandbox link @kentcdodds shared is missing the stateReducer prop. Try this one: https://codesandbox.io/s/yq7pw7zm0v

[2019-01-07 09:00] abumuawiyah commented on #6
@tizmagik if you don't mind can you share sample code downshift+react-virtualized

[2019-01-07 10:06] bestguy commented on #645
Looks like I can resolve the issue by setting the `highlightedIndex` to `null` when the menu is closing (`isOpen: false`):

[code]

I don't understand why this fixes the issue or is necessary, but I stumbled on the fix by noticing the issue was triggered by alternating between input focus and clicking toggle button.  In that case the `changes` are:

[code]

But also noticed alternating between inp

[2019-01-07 16:45] kentcdodds opened #647 "New primary maintainer needed"
Hey folks,

I'm drowning in GitHub notification emails and need to lighten my load. So with heavy heart I'm picking a few projects to detach myself from and unfortunately this is one of them. I'm choosing downshift particularly because I haven't personally used it in over a year so it really doesn't make a lot of sense for me to continue to maintain it.

I would like to hand this project off to so

[2019-01-07 16:52] kentcdodds commented on #6
I'm guessing this example will be very similar to react-virtualized: https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fother-examples%2Freact-window%2Findex.js&moduleview=1

[2019-01-07 16:53] kentcdodds commented on #645
My guess is the `highlightedIndex` gets set to something superfluous at some point. I'm not sure why. Glad that you worked out a good solution though!

[2019-01-08 01:48] abumuawiyah commented on #6
Cool. Thanks.

[2019-01-08 08:16] MeLlamoPablo commented on #640
@kentcdodds thank you for your insights!

[2019-01-11 17:03] camdub opened #650 "Uneccessary ARIA role for Buttons"
- `downshift` version: `3.1.12`
- `node` version: `10.14.1`
- `npm` (or `yarn`) version: `npm 6.4.1`

I am using the method on a `button` like this:

[code]

One of the ARIA attributes that the `getToggleButtonProps` method sets is `role="button"`.  This works fine, but I ran the `axe-core` testing engine on the output and it flagged the output of the above code as follows:

[code]

Upon more rese

[2019-01-12 08:58] StupidSexyJake commented on #527
It seems you guys have changed this back to 'off' again...

From line 781 of dropshift.js:

[code]

autoComplete 'off' doesn't work. Can you please change it to autoComplete '__nope' or any other random name so that it actually works?

[2019-01-12 15:08] kentcdodds commented on #527
Sorry @StupidSexyJake, that change didn't work for me. If you want "__nope" then you can set it yourself in `getInputProps`

[2019-01-12 15:16] StupidSexyJake commented on #527
Ohhh that's so easy! Sorry, my bad. I was adding it in the wrong area like so and it wasn't changing...

`{renderInput({
     autoComplete: '__nope',
     InputProps: getInputProps({
     }),
 })}`

Works perfectly by simply moving it to getInputProps... I'm not sure why it's not working for you though, seems to work fine for me although I've only tested on Chrome so far (Version 71.0.3578.98 for

[2019-01-12 15:46] silviuavram commented on #650
Hi @camdub, thank you for your issue.

If I remember from a course I did some months ago, `<button role="button">` is an overkill, but it's not breaking anything. Theoretically.

We are adding it just in case your `toggleButton` is a `div` or a `span` or an `i` or whatever. We may need to think a bit about the `aria-label` from it, maybe we can make a better default value from that, but it's a sto

[2019-01-12 15:56] silviuavram commented on #642
@timvracer can I close this? I am not fully aware of the context, but from what I saw there was not any agreement on any changes.

[2019-01-12 16:00] silviuavram commented on #647
I will help out Kent with maintaining this project starting immediately. It will take some time for me to work out all the necessary operations, so please be a bit more patient than usually. There won't be any major changes in the near future, the library is stable, we will work towards clearing the issues and open PRs.

Thank you.

[2019-01-12 18:32] kentcdodds commented on #647
Thanks!

[2019-01-12 18:32] #647 closed

[2019-01-13 14:55] kentcdodds commented on #625
I think this can be closed

[2019-01-13 14:55] #625 closed

[2019-01-13 20:11] timvracer commented on #642
I believe this was resolved by reverting the prior change, so yes, we
should be able to close this.  Thanks!

On Sat, Jan 12, 2019 at 7:57 AM Silviu Alexandru Avram <
notifications@github.com> wrote:

[2019-01-13 20:15] #642 closed

[2019-01-14 12:44] silviuavram opened #651 "[Accessibility] Highlight defaultHighlightedIndex +/- 1 on Up/Down Arrow"
If `defaultHighlightedIndex` prop is passed to Downshift, opening the list with Up/Down Arrow will highlight the defaultHighlightedIndex -/+ 1.

At the moment the behaviour is to highlight 0/count - 1 when you open the list with Down/Up Arrow. This behaviour will not be changed if you don't pass `defaultHighlightedIndex`. It will act as a default.

Work in progress, will add a PR today, maybe tomo

[2019-01-14 12:47] silviuavram commented on #614
@tatimoreira is this issue still active? If not I will close it. If yes, I will try to assist you with a solution.

[2019-01-14 15:31] #614 closed

[2019-01-14 16:24] silviuavram commented on #651
Created Pull Request.

[2019-01-16 03:37] lnhrdt opened #653 "Why is itemToString ever called when inputValue is controlled?"
When I control both inputValue and selectedItem:

[code]

I would expect that `itemToString` is never called. However it seems to be called when the `selectedItem` prop changes. In my application, `Item` is an object so this causes an error to be logged to the console because the default `itemToString` is being called. I end up having to provide this this silly `itemToString` function where I re-p

[2019-01-16 19:55] camdub commented on #650
@silviuavram sounds good.

Setting `role` to `undefined` for the button passed the aXe a11y checks.

[2019-01-16 19:55] #650 closed

[2019-01-18 18:53] eriklharper commented on #478
I would think based on your example that you should control the `inputValue` prop directly on the `Downshift` component like this:
[code]
I'm running into this same issue even though I'm controlling it like that ☝️ but maybe I'm doing it wrong.  Its hard to find a full-fledged "controlled" Downshift example anywhere and the docs don't fully explain how to control everything with a concrete example

[2019-01-18 19:56] eriklharper commented on #478
I figured it out.  There were states (mostly initially) where I was passing `null` or `undefined` values for `selectedItem` and `inputValue`.  I changed it to pass `""` in the cases where a value is `null` or `undefined` which has resolved the console error.  Might be good to update the docs to point this out more clearly.

[2019-01-20 13:06] silviuavram commented on #653
Your question is a valid one, but `itemToString` was not made to cover only the generation of the `inputValue`. It is also used to also compute an `aria-live` message, see `getA11yStatusMessage` in `utils.js`. We may use it for something else in the future as well.

Since we cannot assume that you want the same controlled `inputValue` in every other place we use the `itemToString`, you should prov

[2019-01-20 21:15] lnhrdt commented on #653
Hey @silviuavram that makes total sense, thanks for sharing the context. I can see why you'd need a string representation of a value for things like `aria-live`.

I'm still seeing a scenario I don't understand though. When I'm providing an explicit `inputValue` and a `value` Downshift passes the `inputValue` to my input element until `value` is updated. Then Downshift instead passes the result of

[2019-01-22 10:47] chekkan commented on #604
Shouldn't the same change also be done for the `getMenuProps` method? Getting the following error when running unit tests. The menu element is a composite `styled.ul` component in my case.
[code]

[2019-01-22 21:43] kentcdodds commented on #604
Probably. [PRs welcome](http://makeapullrequest.com)!

[2019-01-24 11:15] #621 closed

[2019-01-25 08:48] #651 closed

[2019-01-25 08:56] silviuavram commented on #651
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-27 10:03] Gregoor commented on #651
Glad to see this fixed, thanks for the hard work :)

What I've noticed is that onChange is still not fired, until the cursor keys are used. Is that on purpose?

[2019-01-28 09:45] silviuavram commented on #651
I will take a look and will come back to you. Thank you!

[2019-01-29 16:53] FezVrasta opened #657 "React.HTMLProps is not a thing in Flow"
- `downshift` version:
- `node` version:
- `npm` (or `yarn`) version:

**Relevant code or config**

[code]

**What you did**:

**What happened**:

**Reproduction repository**:

**Problem description**:

Your Flow type definitions make use of React.HTMLProps, but this type doesn't exist in Flow.

https://github.com/paypal/downshift/blob/master/flow-typed/npm/downshift_v2.x.x.js.flow#L142

**Suggest

[2019-01-30 01:36] nmchaves commented on #409
Today I saw this exception for an IE 11 user on our system:
[code]
My team is using Downshift v3.2.0.

The [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/DocumentOrShadowRoot/activeElement#Value) explain that `activeElement` will be null if there is no focused element. The [current logic](https://github.com/downshift-js/downshift/blob/9fb1524a2d5f83db243001807cf890b0657aa8a6/src/downs

[2019-01-30 01:52] kentcdodds commented on #409
I'm fine with extra null checks.

[2019-01-30 13:58] montogeek opened #659 "When providing initialSelectedItem, onSelect, onChange, onStateChange and stateReducer are not called"
- `downshift` version: 3.2.0
- `node` version: v10.11.0
- `npm` (or `yarn`) version: 6.5.0

**Relevant code or config**

[code]

**What you did**:

Added `initialSelectedItem` to `Downshift`.

**What happened**:

State/events callbacks are not called.

**Reproduction repository**:
https://codesandbox.io/s/8ynqpmmpk9

**Problem description**:

Currently when passing `initialSelectedItem`, state/eve

[2019-01-31 15:38] silviuavram commented on #659
yes they are called https://codesandbox.io/s/9lv48pkw74

[2019-01-31 15:42] silviuavram commented on #659
`stateReducer={(state, changes) => console.log(state, changes)}` be careful with this, as you don't return anything. Read the documentation for it.

[2019-01-31 15:51] silviuavram commented on #657
thanks for the report. I am not familiar at the moment with those types and Flow in general, so it may take some time for me to find a solution to this. if you can find the proper one and create a PR for it, along with explanation, it may be better for everyone. Thanks!

[2019-01-31 15:57] FezVrasta commented on #657
Just to understand, the Flow types have been automatically generated, but they can be changed independently without being "reset" by a new auto generation, right?

[2019-01-31 16:07] silviuavram commented on #653
Your problem is probably in `selectItem` function. The problem is probably the fact that the `inputValue` is changed to the autocontrolled value in the state setter, and `itemToString` is already called before that.

Yes, we can improve our autocontrolled logic. It may need a big refactoring however, and bugs may appear. At the moment, I am not planning to do that myself, as I have some other thin

[2019-01-31 16:09] silviuavram commented on #631
if it works on Chrome and not on Safari, not sure if it's related to Downshift.

if you can dig into it and provide info, it would be great :)

[2019-01-31 17:46] montogeek commented on #659
@silviuavram Already tried without it.

[2019-02-01 12:17] silviuavram commented on #659
@montogeek I have no idea what you did in your code, cannot help you much I'm afraid.

I tried to repro in the combobox.js (our testing example) with the following code:
[code]

Every handler is called and console logs are shown. Hope that code above helps you in digging further.

[2019-02-01 13:35] montogeek commented on #659
@silviuavram Thanks, will check!

[2019-02-01 13:35] #659 closed

[2019-02-01 17:33] silviuavram commented on #657
as I mentioned, I'm not familiar at the moment with this. maybe @kentcdodds ?

[2019-02-01 17:35] kentcdodds commented on #657
Actually @stereobooster did most of the work for flow stuff.

[2019-02-01 23:14] stereobooster commented on #657
Hey. Type signatures were automatically generated, but I edited them manually after. So if you want to create a PR, you are more than welcome. Changes won't be reseted by auto-generation script.

I tried to create some tests for type signatures, but as you can see they don't work.

[2019-02-04 02:01] vedantroy opened #662 "Cannot Clear Input Field When Pressing Enter In Specific Scenarios"
- `downshift` version: ^3.2.2
- `node` version: Don't know how to find
- `npm` (or `yarn`) version: 6.5.0

**Relevant code or config**

[code]

[code]

**What you did**:
I want the input field to clear itself when a legitimate value (a value that is among the suggestions provided in the drop down) is in the input field and the user hits enter. Afterwards, I want the suggestion to be removed from t

[2019-02-04 18:36] silviuavram commented on #662
The behaviour you are describing is standard search dropdown behaviour. You can convince yourself [here](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html).

If you want to clear the `inputValue` when you pick a value from the list, you should use `inputValue` as controlled prop, by passing it to `Downshift` from your `Search` component (maybe a property

[2019-02-04 18:48] jeffboyus commented on #624
If anyone else comes to this issue and needs a bit more help on this, you may need to update the key used in the namedExports config object in your Rollup config.

`
commonjs({
  include: 'node_modules/**',
  namedExports: {
    'react-is': ['isForwardRef', 'isValidElementType'],
  },
}),

or

commonjs({
  include: 'node_modules/**',
  namedExports: {
    'node_modules/react-is/index.js': ['isForw

[2019-02-05 03:54] vedantroy commented on #662
Thank you for the response. I tried implementing your advice, but the input field ended up being always empty (e.g--nothing could be typed). I have made a fork of the original repository, here: https://codesandbox.io/s/jprzwpx3ly

[2019-02-05 08:54] silviuavram commented on #662
Yes, that is expected. I forgot to mention you should also change your variable each time Downshift does it. You have `onInputValueChange` for that. To recap:
- have your own `inputValue` on the state of `Search`
- pass it to `Downshift` as a prop, so you control it.
- in `onInputValueChange`, update your `inputValue` with the new one from `Downshift` by setting your state with the new one.
- in `

[2019-02-07 01:14] KatherineGraham opened #663 "How best to add before/after arrows to downshift dropdown"
downshift version - 3.2.2
node version - 9.9.0
npm version - 5.6.0

This really isn't an issue but a question. I created a dropdown using this sandbox as a guide. https://codesandbox.io/s/zrm0oonoop

I was wondering if there was an easy built in way to add before/after arrows to the dropdown to signify when it is opened closed and if anyone had done it before. I was having issues adding it. I've a

[2019-02-08 11:23] silviuavram commented on #663
Hello @KatherineGraham . I believe there are many ways to create that arrow. In the example you provided I think it's an HTML symbol https://stackoverflow.com/questions/6041209/html-character-codes-for-this-or-this

You can also use Icon Fonts, but that will require you download the whole file for only one icon. Not really efficient.

Another option is to use a SVG icon for a chevron. You can prob

[2019-02-10 05:27] vedantroy commented on #662
Thanks. I applied the advice in your post and resolved the issue. The completed example can be found here: https://codesandbox.io/s/jprzwpx3ly

[2019-02-10 05:27] #662 closed

[2019-02-11 03:05] bkilrain opened #664 "Feature Request: Reset downshift state when inputValue changes"
- `downshift` version: 3.1.12
- `node` version: 8.11.1
- `npm` (or `yarn`) version: 5.6.0

**Relevant code or config**

[code]

**What you did**:

I'm using Downshift to render the dropdown for an autocomplete component. The `defaultHighlightedIndex` is set to `0` so that there is always a 'highlighted' item in the dropdown.

**What happened**:

If I hover an item lower in the list (index 4 or 5),

[2019-02-11 15:29] silviuavram commented on #664
Thank you for the improvement request @bkilrain . I'd be happy to see this solved in our library so every user can benefit from it. Are you up for a Pull Request? :)

[2019-02-11 15:45] rjuszkiewicz opened #665 "Default / Initial value for downshift"
I'm using downshift 3.0.0

How to set the initial default value ?

My code:
[code]

[2019-02-11 18:29] bkilrain commented on #664
Yep - I'm happy to take this on. To be clear, we just want to reset Downshift state when `inputValue` changes?

[2019-02-12 08:55] GonchuB opened #666 "Cannot prevent default keyDown handling and weird debugging issue"
#666 😈

- `downshift` version: 3.2.2
- `node` version: codesandbox
- `npm` (or `yarn`) version: codesandbox

**Relevant code or config**

_**Snippet 1**_
[code]

_**Snippet 2**_
[code]

**What you did**:

Created a text dropdown with Downshift with 2 custom behaviors:

- When dropdown gets opened and Enter key is the pressed, first option should be selected.
- When dropdown is closed and Enter key

[2019-02-12 11:15] silviuavram commented on #665
Hello @rjuszkiewicz have you tried using the `initialSelectedItem` prop?

[2019-02-12 11:17] silviuavram commented on #664
I don't think we need to do all of that. As I understand, the issue is to reset only the highlightedIndex to the defaultHighlightedIndex each time the input value changes. Am I correct?

Resetting the whole state will probably mean other state stuff reset which we may not want to reset, like the selected item.

[2019-02-12 15:02] silviuavram opened #667 "Handle custom element IDs on Downshift children (list items, list, input etc)"
At the moment the code assumes that the IDs it is adding are permanent. But if the user will change them to fulfil certain scenarios, some functionalities will be broken.

For instance, a user added custom element id on the `<li>` elements, and the scroll to element functionality was broken, as it could not find the element to scroll to.

I can see 2 options:
- handle custom IDs if the user overri

[2019-02-12 15:48] rjuszkiewicz commented on #665
@silviuavram , I've tried defaultSelectedItem as Downshift prop.
`           <Downshift
                itemToString={item => (item ? item.value : '')}
                onSelect={this.props.onChange}
                defaultSelectedItem={}

But it's not working.
I've seen `initialSelectedItem`prop in documentation, but I don't know how to use it.
DownshiftProps doesn't contain initialSelectedItem.

[2019-02-12 16:12] silviuavram commented on #665
can you please read our documentation? it's the reason why it is there. and it has all the information you needed to fix your problem in less than 5 minutes.

there is no `defaultSelectedItem` so no point in using that.
you can use that as `<Downshift onChange={this.handleChange} initialSelectedItem='Blue'>` . I copied this line from our example in combobox.js. It will add `Blue` as the default se

[2019-02-12 16:21] silviuavram commented on #666
Hello. Let me answer to your points.
1. From what I can see in your state change code, it seems that you can achieve that functionality by using `defaultHighlightedIndex` prop and pass 0 to it :). Not sure why the reducer is called again, maybe something in your code triggering it, but just use that prop I suggested and remove that custom `stateReducer`.
2. Right now I am not really familiar with

[2019-02-12 16:24] GonchuB commented on #666
@silviuavram for 1, you are right, the `defaultHightlightedIndex` prop works as expected (I guess I had a typo when I tried it out 😢). As for 2, its the same, downshift code checks for both (neither is working for me): https://github.com/downshift-js/downshift/blob/f2b7b6f3de493352b2d006b10ca897588592cf67/src/utils.js#L93

[2019-02-12 16:50] silviuavram commented on #666
1. `stateReducer` is called in our `internalSetState` and is used in case you want to change something before the state is set.
2. you still need to preventDefault on the `onClick` since hitting Enter on a button not only triggers a `onKeyDown`, but also a `onClick`. We love Javascript :)

[2019-02-12 16:53] GonchuB commented on #666
1. I understand that, but I can’t ser why I’m receiving a null highlighted index in the second call (and no other change)

2. I was afraid I would need to prevent the default given at the end it is a button click. The downside is that I can’t get the normal behavior of “submitting a form with enter key” that I would get with a submit button if the toggle is getting the click and preventing default

[2019-02-12 17:09] GonchuB commented on #666
@silviuavram

1. I understand that, but I can’t see why I’m receiving a null highlighted index in the second call (and no other change, with the same changes.type that it was called before)

2. I was afraid I would need to prevent the default given at the end it is a button click. The downside is that I can’t get the normal behavior of “submitting a form with enter key” that I would get with a sub

[2019-02-12 17:18] bkilrain commented on #664
Ok - fair enough.

[2019-02-12 17:29] joyguy55 opened #668 "Remove History autofill box"
- `downshift` version: 2.0.18
- `node` version: 8.9.1
- `npm`  version: 6.4.1

I just want the option to remove or disable the history box pictured below with res and response. As I don't need it for this specific use case.

<img width="250" alt="screen shot 2019-02-12 at 10 23 13 am" src="https://user-images.githubusercontent.com/14304220/52655082-9fb3e700-2eb0-11e9-9ac4-be8eb68cd517.png">

It's

[2019-02-13 13:49] silviuavram commented on #668
Hello. I am not sure what history box you refer to in that picture. But we don't really handle rendering of stuff, that's your job. We just give you methods to make whatever it is you're rendering accessible. So not sure how I can help here.

[2019-02-13 14:21] silviuavram commented on #666
1. at the moment, we have 2 state changes for toggle. I don't think this is really required, maybe you can help out. in `toggleMenu` first there is a setState with a new `isOpen` then there is a callback to set the `highlightedIndex`. As it's a toggle and there is no `defaultHighlightedIndex`, that ends as being `null`. So if you can help improving this, that could be very nice :).

2. I still don

[2019-02-13 15:00] GonchuB commented on #666
@silviuavram

1. Clear. I will take a look and see if I can work it out.

2. Maybe I did not make myself clear. Want I would like to achieve is the same behavior as having a native <select> tag. When that tag is inside of a form with a submitt button, the enter keypress when focusing the select would submit the form.

Sure, I can pass an onSubmit callback and trigger it manually, but I want to avo

[2019-02-13 16:03] straightforwardprog opened #670 "Autocomplete with Multiple select after typing character (.)"
Hello I'm using downshift to build a query, so i need to have multiple autocomplete system without style, for example i choose the first value after typing dot or space the datasource of autocomplete should change and when i select a value it is concatenated to the previous input String.  i don't know how to do that with downshift cause when i type (.) the menu doesn't show up.

Example
Year.Month

[2019-02-14 09:18] GonchuB commented on #666
Opened https://github.com/downshift-js/downshift/pull/672 to solve the double call to set internal state

[2019-02-17 04:14] kilrain commented on #664
Hey there - I've completed the fix but I'm getting [this error](https://github.com/pedronauck/docz/issues/596) when I run the `setup` script. I'll cut a PR anyways... just want to let you know.

Also, I'll submit from my work github account. Thanks!

[2019-02-18 23:33] rodgobbi opened #673 "Error when using hooks in an inline render function"
Before anything, thanks for the awesome library!

- `downshift` version: 3.2.2
- `node` version: 9.3.0
- `yarn` version: 1.10.1

**Relevant code or config**
![image](https://user-images.githubusercontent.com/3410227/52973307-61c92e00-339c-11e9-940b-6c955cb14851.png)

**What you did**:
Used an inline render function as only child of `Downshift` component.

**What happened**:
`Hooks can only be call

[2019-02-20 12:59] k15a commented on #673
You can only use hooks in React components and they have to be called unconditionally in the same order every render. Read more about that here: https://reactjs.org/docs/hooks-rules.html

If you want to use the hooks in the render function you can create a new component and move the hooks into the new component. Then you use that component in your render function from Downshift. Probably the easie

[2019-02-20 14:19] rodgobbi commented on #673
Hi @k15a , thanks for the help, I tried both while developing and it worked:

and

And from what I analysed I was respecting the hook constraints, is just that this error can show when some other library is not yet compatible in some way with hooks, not just analysed but I tested, moved the same code using hooks from the Downshift render function to the upper render function that was rendering Dow

[2019-02-21 17:57] rodgobbi commented on #673
@k15a understanding better hooks now I see that it won't be able to use hooks in the render props of `Downshift`, because it's called inside a class component

[2019-02-21 17:57] #673 closed

[2019-02-21 18:42] silviuavram opened #679 "Select item at index when input is blurred"
https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

In the examples shown there, highlighted item is also selected on input blur:
- clicking away.
- tab/shift tab.
- toggle button click when menu is open.

[2019-02-21 18:51] silviuavram opened #680 "Escape should clear text in input"
https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

Escape key inside input should clear the text from it. Currently we are resetting it to the string value of the item.

[2019-02-24 06:23] babzcraig commented on #680
If no one is on this yet, I'd like to take this on @silviuavram. I've read the requirements on the w3 page and can make a PR for this

[2019-02-24 10:03] silviuavram commented on #680
That is great to hear! It's all yours, let me know when I can help out. Thanks!

[2019-02-25 19:50] silviuavram commented on #670
I think I understand what you want. Maybe you can add custom handler for input key, and when you get space or dot, you save the value in your custom string variable, and then reset the state of the dropdown, so you can begin a fresh search.

You can also have your variable as an array of strings, and show it in front end as a concatenation, and you will have the advantage of being able to add anot

[2019-02-28 12:52] partyka1 commented on #478
I got this error when I had:
[code]
but my item didn't have `value` key. Switch to `item.name`(as my data had `name` key) helped

[2019-02-28 14:26] Pau1fitz commented on #347
@donysukardi the sandbox is showing a 404 😞

[2019-02-28 16:59] Manubi commented on #347
would need the same actually 🙏

[2019-02-28 22:40] Pau1fitz commented on #347
So this should work for you @Manubi

This is what I understood from @donysukardi comment and it works for me 😁

[code]

[2019-03-04 16:18] sibelius opened #683 "hooks api"
Every render props can be replaced with hooks api

I think it makes sense to provide hooks apis for downshift, after the hooks apis landed, we can start rewriting the core of it to use hooks

what do you think?

related to this https://twitter.com/sseraphini/status/1102602849152843776

[2019-03-05 04:21] donysukardi commented on #347
@Pau1fitz, something like that. However, you might want to consider persisting the debounced callback with `useRef`. Otherwise, whenever your component re-renders, you'd get a new instance of the function, which could possibly cause some unwanted side effects.

[code]

[2019-03-06 15:43] Amnesthesia opened #684 "How is Typescript generic with isMulti supposed to work?"
- `downshift` version: 2.2.3
- `node` version: 10.11.0
- `npm` (or `yarn`) version: yarn 1.10.1
- `typescript` version: 3.3.1

Curious how the `Item` generic is supposed to work when using isMulti? When using `isMulti` for a multi-select or multi-autocomplete component, `selectedItem` will always be a single item, and `setState` will accept only single items. If you pass in an array of any type as

[2019-03-09 13:33] silviuavram commented on #684
hello :) I don't think we support this prop anymore. maybe it was supported in the past, I really have no idea. Downshift now is only single search. I also know[ this example ](https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fordered-examples%2F04-multi-select.js&moduleview=1)that provides some details on how to use it for multiple selection.

[2019-03-09 13:34] silviuavram commented on #683
it makes sense and I like the idea. I just did not have time myself to explore it.

[2019-03-10 12:34] eldargab opened #686 "Double rendering (Lifecycle hook scheduled a cascading update) after item selection"
Hello!

When using Downshift with controlled `selectedItem` property it always triggers cascading update from `componentDidUpdate()` after selection has changed.

Here is a guilty excerpt
[code]

There should be a way to move this piece of code away from `componentDidUpdate` hook to run before any rendering occurs.

[2019-03-11 21:17] silviuavram commented on #686
Hello. I don't think it should. Maybe it depends on how you are using it. What does a cascading update mean? Can you provide more information?

[2019-03-11 21:17] silviuavram commented on #680
@babzcraig how is the progress on this one? need any help? :)

[2019-03-12 07:05] eldargab commented on #686
Cascading update is the following situation:

1. Component received new props/state and update was scheduled
2. Re-rendering occurred and all changes were committed do DOM
3. Immediately after that (typically from `componentDidUpdate()`) component receives new props/state again which causes another update cycle.

From efficiency point of view it's much better to apply/derive all state changes at o

[2019-03-14 11:41] rekhamundada opened #687 "When i am trying to use itemToString and initialSelectedItem together, initialSelectedItem is not rendered. If i remove itemToString list shows object object. What can we use instead of itemToString to display a list in dropdown."
- `downshift` version:
- `node` version:
- `npm` (or `yarn`) version:

**Relevant code or config**

[code]

**What you did**:

**What happened**:

**Reproduction repository**:

**Problem description**:

**Suggested solution**:

[2019-03-14 22:13] silviuavram commented on #687
hello @rekhamundada thank you for raising this. I am not able to reproduce it, so maybe you can share your use of Downshift. make sure you return a string from your `itemToString` callback. for instance, this can be a valid use:
[code]

[2019-03-15 03:59] rekhamundada commented on #687
I am passing initialSelectedItem as props, that might be the issue. Thanks

[2019-03-15 08:19] gaskar commented on #680
hi @silviuavram I can take this one.

[2019-03-15 08:48] babzcraig commented on #680
@gaskar please feel free to. I couldn't get downshift's `validate-setup` command to work and I've been too swamped to debug for a while. @silviuavram perhaps you can help me with this and I can take on another issue. Thanks!

[2019-03-15 17:07] Pau1fitz opened #688 "Possible to use arrow keys when dropdown opens on hover"
- `downshift` 3.2.2:
- `node` version: 11.3.0
- `npm` (or `yarn`) version: 6.4.1

**Relevant code or config**

[code]

**What you did**:

My dropdown downshift menu opens when a user hovers on a parent component. I want to set up my component to allow the user to use the arrow keys to navigate the dropdown when it is open. I am using `getMenuProps` and `getItemProps`, but they are not being trigge

[2019-03-15 20:02] gaskar commented on #680
@babzcraig seems there is a problem with cypress tests, I've tried different versions nothing is working beside of just commenting out these tests, seems that @silviuavram created PR for this problem but it is failing as well
https://github.com/downshift-js/downshift/pull/661

[2019-03-15 20:06] babzcraig commented on #680
I see. I had just changed my development machine so I though maybe I hadn't set up things well yet. I might have to do the same then. If you want to take this issue, please do. I won't be available until Sunday so I'll just pick another issue then if you're on this

[2019-03-15 20:08] gaskar commented on #679
hi @silviuavram , I can take this one

[2019-03-16 17:43] caleb opened #690 "Mouse interferes with keyboard navigation in Safari (#240 repeat)"
This looks like the same issues as #240 but in Safari (for macOS) only. This bug is fixed in Firefox and Chrome. I am running on Safari 12.0.3.

When the mouse cursor is hovered over the menu and the user scrolls the list with their keyboard, the item under the mouse cursor becomes the highlighted item after the user stops using the arrow keys.

I reproduced it on a forked codesandbox of the examp

[2019-03-20 07:30] bonbonio opened #691 "How to reset the input when an item is clicked"
Hello,

I am using DownShift as a search input, with the results shown underneath as ListItems with a {Link/React-Router-v4} component.

I want to reset the contents of the search when I click the ListItem - is there a specific callback or lifecycle I could use? The search appears on all pages.

Couldnt see this use case in any examples.

[2019-03-21 07:32] zxti commented on #653
I'm also seeing the input's value being set to the result of itemToString even when I'm passing in an explicit inputValue - this seems like a bug.

Here's a simple repro based on the official first example, simply made controlled.  Start typing in some characters and then blurring—Downshift forcefully resets the inputValue.

https://codesandbox.io/s/q7jw24nn99

[2019-03-21 07:39] zxti opened #692 "Downshift controlled props being ignored / overridden"
- `downshift` version: 3.2.6
- `node` version: 10.15.1
- `npm` (or `yarn`) version: 1.13.0

**Relevant code or config**
[code]

**What you did**:
All I did was make the 01-basic-example controlled on its inputValue.

Try typing in some characters and then blurring.

**What happened**:
Downshift forcefully resets the inputValue.

**Reproduction repository**:
https://codesandbox.io/s/q7jw24nn99

**P

[2019-03-21 07:50] zxti commented on #692
Actually, this is not specific to inputValue, e.g. selectedItem is also ignored.  And not only onBlur, but on selection as well.

[2019-03-21 09:59] silviuavram commented on #687
glad it works. can we close this issue?

[2019-03-21 10:00] silviuavram commented on #686
still on vacation, so I cannot do any real debugging, but you can create a PR with improvements and I will take a look after I come back. Thanks!

[2019-03-21 10:05] silviuavram commented on #688
what do you mean not triggered? not rendering? since you are using custom React components in that example, not sure what is happening there. can you please detail what is expected to happen and what is happening?

[2019-03-21 10:10] silviuavram commented on #690
If you write a new mail in Gmail, and start writing in To input text, you will see the same behavior in their Dropdown of suggestions. Which brings up the question: if you highlight one item by keyboard and another one by mouse, which one is the actually highlighted item

I think the current behavior is acceptable, one highlighted item is enough, and this behavior is generally available everywhere

[2019-03-21 10:12] Pau1fitz commented on #688
@silviuavram thanks for your response.

I mean that usually when you click on the button, are enter input for the dropdown it will change the `isOpen` state and the user can use their keyboard to navigate the items in the dropdown. However, as I am opening the menu manually when the user `hover`s over the button so the internal Downshift `isOpen` is never triggered.

Take this [example](https://co

[2019-03-21 10:12] silviuavram commented on #691
there are a couple of them actually. take a look at what `onChange` and `onSelect`.

[2019-03-21 10:19] silviuavram commented on #688
hmm, if you want it to open on hover, you need to pass a onHover (or whatever relevant listener you need) as a parameter to `getToggleButtonProps`. in that callback, set a variable on the state of your wrapper component, and use that variable as controlled prop `isOpen` by passing it to Downshift. Are we on the same page? :D

[2019-03-21 10:33] silviuavram commented on #692
interesting. can you debug where the problem is? maybe somewhere in `internalSetState`. I am on vacay now :D

[2019-03-21 10:38] Pau1fitz commented on #688
hahah, we are close enough. i think you understand what I mean, but I will have to play around with the implementation that you have described 😁

[2019-03-21 16:48] caleb commented on #690
The problem is that the mouse cursor disappears and still interferes with keyboard selection.

If the user didn’t intend to select an item with the mouse (just hovered the mouse over the menu to scroll it maybe), this behavior would seem confusing.

[2019-03-21 17:24] caleb commented on #690
On Safari on MacOS the cursor disappears, which makes it confusing when the invisible mouse cursor “gets in the way” with keyboard navigation.

I can investigate a solution, but since this is a repeat of a bug that was already fixed, it seems that being consistent across browsers would be preferable. Of course if the solution is not viable it’s something that I can live with.

[2019-03-21 21:39] rekhamundada commented on #687
Sure! Thank you.

[2019-03-22 05:56] zxti commented on #692
I set a breakpoint in my itemToString callback.

Stack trace:

[code]

The issue seems to be simply that Downshift is ignoring inputValue and just blindly setting (via internalSetState) the inputValue to the itemToString().

Also I think #653 is a symptom of this issue.

[2019-03-22 06:25] zxti commented on #692
BTW, when blurring in the codesandbox example, be sure to click far down to ensure you're clicking completely outside the autocomplete, and not just to the right (which I guess is still considered inside the autocomplete - the example doesn't have any proper styling).

[2019-03-22 07:14] zxti opened #693 "How to use DownshiftInterface?"
It seems very convenient to have a type-parameterized Downshift, so I can check that the items I pass in/out of Downshift are of the correct item type.  Seems like there should be a simple answer, but what's the correct way to use this / to get a type-parameterized Downshift component?

[2019-03-23 23:03] Nic128 opened #694 "Controlling when updateStatus is called"
- `downshift` version: 3.2.7
- `node` version: 10
- `npm` (or `yarn`) version: 1.13

**Relevant code or config**

[code]

**What you did**:

I have a very similar integration to this asynchronous example: https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fother-examples%2Fgmail%2Findex.js&moduleview=1

**What happened**:

I tested with a screen reader (Voice

[2019-03-24 08:49] FredyC commented on #653
Got surprised by the same thing. It doesn't make much sense why it should be resetting user input on blur without selecting an item. What if a user just needs to do something else, he certainly does not want to lose what he typed so far.

[2019-03-27 22:18] decafdennis commented on #686
There is a second reason triggering select/change handlers in response to state changes is problematic: if one of these event handlers throws an exception, it will kill the React rendering pipeline. On the other hand, typical event handlers are out of the rendering pipeline and will print errors to the console but not kill React.

For example, we had a bug in an `onSelect` handler, which is called

[2019-04-04 14:48] AlexCppns opened #696 "How to disable onBlur?"
-  `downshift`: 3.1.8,
- `node`: v10.7.0
- `yarn`: 1.13.0

**Problem description**:

Is there a way to disable/override the onBlur behavior? Right now I have a modal window closing when I click on it because it's bound to the autocomplete elements.

[2019-04-04 14:55] silviuavram commented on #696
if you are talking about the `onBlur` from the input, you should be able to find how written in the documentation, on how to override handlers. ihttps://github.com/downshift-js/downshift#event-handlers

[2019-04-05 16:38] KumarAbhirup commented on #305
Having same problem, I need help. Using `div` completely breaks all my searchbox `styles`

[2019-04-05 17:22] KumarAbhirup commented on #235
`suppressRefError` still gives me the same error :-(

[2019-04-05 17:47] AlexCppns commented on #696
@silviuavram I just found the way to override the onBlur handler but I am still unable to prevent the suggestions from closing, is there an option I could use for that?

[2019-04-08 16:19] claytron5000 opened #698 "Pass along highlighted items values"
<aside><h2> I'm leaving this code here, but including the code from the codesandboxes at the bottom for better references.</h2></aside>

- `downshift` 3.2.7:
- `node` v9.11.2:
- `npm` 6.5.0:

**Relevant code or config**

[code]

**Problem description**:
I want to expose the highlighted item to other parts of the application, specifically which item in the list is highlighted. The previous code wor

[2019-04-10 14:27] austin94 opened #699 "Controlling isOpen state removes initial highlightedIndex when opened via keyboard"
- `downshift` version: `latest@3.2.7`
- `node` version: `v11.8.0`
- `npm` (or `yarn`) version: `yarn@1.13.0`

**Relevant code or config**

[code]

**What you did**:

When using downshift in its fully uncontrolled state, the `highlightedIndex` is updated to either the first or last index depending on which key was used to trigger the open action.

Working Uncontrolled Example:
![uncontrolled](https

[2019-04-10 15:02] silviuavram commented on #696
not sure where the closing part is triggered, and I don't know what exactly your example is, can you create a code sandbox?

[2019-04-10 15:37] silviuavram commented on #698
But when you change input, the `highlightedIndex` will be null. It resets itself at each input change. Can you create a code sandbox that will point out the problem better? Or describe better how you want it to behave? Or maybe I don't understand the whole workflow :D

In my mind, if you input something, since the index will be reset to null (or `defaultHighlightedIndex` if passed), then your othe

[2019-04-10 15:56] silviuavram commented on #699
I think the issue is that you are updating your `isOpen` variable after `Downshift` already set its state.

The flow now is like this:
- you trigger Keydown.
- Downshift gets that and tries to: set open to true and set highlightedIndex to a value if you are using arrow up or down.
- Downshift fails to do both of them, because you are controlling isOpen and because when it tries to update highlight

[2019-04-10 18:41] claytron5000 commented on #698
I'm glad you responded, this gives me a chance to clarify what I'm looking for.

https://codesandbox.io/s/kwn6x1ypp7

I have a list of fruit objects, in this case they have a name and a color. As I hover or arrow through that list, I want the fruit color(outside the dropdown) to update. If the list is unfiltered, I can just use the highlightedindex with the original list, works great! But as soon

[2019-04-10 18:56] claytron5000 commented on #698
Reviewing the docs for `stateReducer`, and I noticed

So, I'm definitely doing it wrong.

[2019-04-10 19:03] claytron5000 commented on #698
I figured out _a_ solution, it's decidedly less snappy than the example above. I'm high-jacking the `getA11yStatusMessage` property where we have access to the whole fruit(no pun intended).

https://codesandbox.io/s/w03p3020jl

[2019-04-11 13:16] gevalo1 opened #700 "Preact 10 support"
- `downshift` version: v3.2.7
- `node` version: v10.11.0
- `npm` (or `yarn`) version: npm 6.4.1

**Problem description**:

Downshift does not work with Preact 10 (currently still alpha, 10.0.0-alpha.4 at the time that I create this issue), are there already any plans to support the new Preact version?

[2019-04-11 15:15] silviuavram commented on #698
as a last resort, just use:
[code]

but maybe we can figure out a better way. like identifying the cases when you need to change that color instead of having the condition above, where it triggers an update on any change.

[2019-04-11 15:46] claytron5000 commented on #698
But the above doesn't work once the list is filtered. That `changes.highlightedIndex` is the current highlighted index of the filtered list, not the index of the props list. If you follow the first link: https://codesandbox.io/s/kwn6x1ypp7, type "ap" into the field, you have a list of "grape", "apple", "apple". On hover the `highlightedIndex`es are `0`, `1`, `3`. So the colors that appear in the b

[2019-04-11 15:58] claytron5000 commented on #698
Here is the code evolution from the sandboxes. Again, the goal here is to update another part of the page based on the current item highlighted by either the mouse or arrow keys.

### Try one using the stateReducer
https://codesandbox.io/s/kwn6x1ypp7
Problem: once the list is filtered, the `highlightedIndex` no longer points to the correct color.
[code]

###Try with getAllyStatusMessage
https://co

[2019-04-14 10:22] silviuavram commented on #700
I did not work with Preact so far so I don't know. What does not work? Can you help fixing the problem?

[2019-04-14 10:46] silviuavram commented on #698
Why not keep a filtered version of your items on the state? Use `onInputValueChange` callback, there refresh your array `this.setState({filteredFruits: this.filterFruits(this.props.fruits)})` and use those to be rendered. Now you can directly relate the highlightedIndex to the filteredFruits and have a consistent result. Isn't this way more easy?

[2019-04-14 10:49] silviuavram commented on #693
Well, if you use TypeScript, we have support for types.

[2019-04-14 10:59] silviuavram commented on #692
I managed to look at what you are doing. Yes, you control the prop, but you just refresh it with what Downshift gives you as standard behaviour. Which, in this case, is empty string. So yes, you control it, but with what we give you as part of our default behaviour.

So ... it works as expected.

[2019-04-14 17:14] rincedd opened #702 "End key comes up as stateChangeTypes.keyDownEnter in stateReducer"
- `downshift` version: 3.2.7
- `node` version: 11.14.0
- `npm` version: 6.9.0

**Relevant code snippet**
[code]
In the state reducer, pressing the "End" key is registered as `keyDownEnter`. This is because of a copy-paste error in `stateChangeTypes.js`.

I'll provide a PR to fix this.

[2019-04-15 11:50] babzcraig commented on #667
@silviuavram if this is till open, I'd like to take it on. I can start with taking a look at the two approaches you mentioned here (and any others that come to my mind) and figuring out pros and cons of each approach.

[2019-04-15 11:54] #668 closed

[2019-04-15 11:56] silviuavram commented on #666
solved by https://github.com/downshift-js/downshift/pull/674

[2019-04-15 11:56] #666 closed

[2019-04-15 11:57] silviuavram commented on #653
Behaviour should be this one: https://github.com/downshift-js/downshift/issues/679

will close this issue as we will use the one above to track

[2019-04-15 11:57] #653 closed

[2019-04-15 12:00] #663 closed

[2019-04-15 12:01] #664 closed

[2019-04-15 12:01] #670 closed

[2019-04-15 12:02] #684 closed

[2019-04-15 12:02] #687 closed

[2019-04-15 12:02] #688 closed

[2019-04-15 12:03] #690 closed

[2019-04-15 12:03] #691 closed

[2019-04-15 12:03] #692 closed

[2019-04-15 12:03] #693 closed

[2019-04-15 14:50] silviuavram opened #704 "Enable Cypress E2E tests back into Travis CI"
I thought I could fix it fast but I spent some time without finding a solution to it.

So far, I think there is something with a js file missing when you run `npm run docs:serve` and after a few seconds it will throw an error with `Unexpected token <`.

Since the cypress task will run docs:serve to have the docs ready for the tests, the test run itself will fail.

I need someone brave enough to he

[2019-04-15 16:46] austin94 commented on #699
Thanks for the tips @silviuavram, using `stateReducer` got me closer, but I was still running into issues of it not making it past this `internalSetState` call https://github.com/downshift-js/downshift/blob/master/src/downshift.js#L549-L559

[2019-04-15 16:50] austin94 commented on #699
Thanks for the tips @silviuavram, using stateReducer got me closer, but I was still running into issues of it not making it past this internalSetState call https://github.com/downshift-js/downshift/blob/master/src/downshift.js#L543-L547

After some troubleshooting I found that the reason it wasn't being called with my scenario was that my component had an `itemCount` of 0.  This was due to me not

[2019-04-15 16:50] #699 closed

[2019-04-15 18:27] zxti commented on #693
Yes, I'm referring to the Typescript types.

[2019-04-18 02:22] sibelius opened #705 "Migrate to Typescript?"
- `downshift` version: latest
- `node` version: 10
- `npm` (or `yarn`) version: 1.15.2

**Relevant code or config**

[code]

**What you did**:

**What happened**:

**Reproduction repository**:

**Problem description**:
The code is not typed, so it is hard to maintain

**Suggested solution**:
Migrate code to TypeScript

[2019-04-18 02:24] sibelius commented on #683
this could be a good benchmark https://github.com/react-dropzone/react-dropzone

[2019-04-18 02:28] kentcdodds commented on #705
What makes you say it's hard to maintain?

[2019-04-18 15:41] sibelius commented on #705
it boils down to this tweet https://twitter.com/mdiep/status/1116418826848153601

[code]
I want to move some errors from unit tests to compile/typecheck errors
Types also improves code completion dx

I think the most complexity of this package is because it handles both control and uncontrolled values

Hooks based api could help in this matter, like the below codesandbox:

https://codesandbox.io/s

[2019-04-18 15:55] kentcdodds commented on #705
I'm no longer maintaining the package, so it's not my decision. But if I were, then I would totally rewrite the whole thing in hooks and it would be amazing. These patterns are WAY simpler with hooks.

[2019-04-19 10:44] silviuavram commented on #705
Rewriting with hooks is something I am currently looking into. It will take some time as I am new to hooks, but after talking to Kent about the advantages I am excited to work on this.

As for Typescript, I don't know. Will consider it, but certainly not for the current library.

[2019-04-19 10:56] #702 closed

[2019-04-19 11:03] silviuavram commented on #702
:tada: This issue has been resolved in version 3.2.8 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/downshift-js/downshift/releases/tag/v3.2.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-24 16:27] #680 closed

[2019-04-24 16:28] roginfarrer opened #708 "stateChangeTypes.keyDownArrowDown fires after initial up/down arrow press"
- `downshift` version: 3.2.8

**What you did**:

I upgraded my version of downshift to v3.2.8 (up from 2.1.4), and discovered this bug.

**What happened**:

 I use `stateReducer` to modify the highlightedIndex, and I found that when I tabbed to the input with a selected item, and pressed up or down, the highlightedIndex was incorrect.

**Reproduction repository**:

https://codesandbox.io/s/vnyxvwk

[2019-04-24 16:34] silviuavram commented on #680
:tada: This issue has been resolved in version 3.2.10 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/downshift-js/downshift/releases/tag/v3.2.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-25 09:11] silviuavram commented on #708
Hello. The fact that you get two events in the reducer is expected. One comes with the `isOpen` changed, and the other one comes with the `highlightedIndex`. The reason for this is the fact that on opening we don't know anything about the items. Probably this can be improved because I also prefer only one state changed, with both `isOpen` and `highlightedIndex`. If you can look into this that woul

[2019-05-01 01:33] totymedli commented on #333
Based on this thread, I will sum what worked for me.

Add these props to `<Downshift>`:
[code]

Conditionally render the input based on the shown suggestion count:
[code]

Of course I need to store the currently shown suggestion for this via `setState`.

[2019-05-03 12:15] rincedd commented on #704
Hi @silviuavram,

I'm looking into this issue now. Do you have more details on the failure scenario? I currently just enabled the Cypress tests on CI and got a green run on Travis for my branch https://github.com/rincedd/downshift/tree/cypress-on-ci:

[test:cypress]
[test:cypress]   Running: combobox.js...                                                                  (1 of 1)
[test:cypress]
[te

[2019-05-03 12:44] silviuavram commented on #704
Hey, thanks for looking into this! It's strange, my runs always ended up with a server/docs related failure and the run would fail. I did not try to look into them for a while, but I will try to do it this weekend.

Let's make sure that the there are no differences in dependencies or something similar. If updates related to libraries used helped fix the problem, that would be cool! Will get back t

[2019-05-03 13:11] rincedd commented on #704
It seems to happen only sometimes. I got a couple of green runs and some red ones with the `Unexpected token <` error. It could be related to running the tests on the documentation page. Perhaps loading the web fonts or other resources fails once in a while. You would get an `Unexpected token <` when the server responds with an HTML error page but the browser expected, e.g.,  a web font.

I'll con

[2019-05-04 16:52] silviuavram commented on #667
closing, just found that we already have an `id` prop for overriding the default ones.

[2019-05-04 16:52] #667 closed

[2019-05-05 06:49] universse opened #711 "[Question] Popover menu?"
Hi, is it recommended to use Downshift for popover menus in terms of accessibility?

Something like this (from ProductHunt)
![image](https://user-images.githubusercontent.com/15166715/57189735-d267fb80-6f44-11e9-913a-cb5db8157275.png)

[2019-05-06 11:55] alexandernanberg commented on #711
I don't think that downshift is really built for that. I'd advise you to look at https://ui.reach.tech/menu-button or similar instead!

[2019-05-06 13:11] alvinjchoi commented on #698
Did you figure out a solution for this? I'm having an exact same issue

[2019-05-06 13:40] claytron5000 commented on #698
@alvinjchoi I worked on the solution @silviuavram suggests above: put the static list in state. I think the next step is to essentially filter the static state list at the same time you're filtering the render list. I started down that path, but I've been side tracked on other things.

My last solution in the comments above also works, the one title "Try with stateReducer, and hiding elements inst

[2019-05-06 18:55] claytron5000 commented on #698
@alvinjchoi Here is an example using a mutable array in state. It look fragile to me. We're filtering the original list in the fruitReducer > changeinput. And then setting the outside the list color in the fruitReducer > keyDown, keyUp, mouseOver.

We have to keep the props around so that when we delete input we can revert it back to the original list.

I'm not sure I would use this one, or the on

[2019-05-06 19:38] TazmanianD commented on #536
@Rendez I have a question about this. A link to your solution is provided on the main doc page but I'm confused as to why it has to be as complicated as it is. Why do you need to use a Proxy for this? Why can't you just return an object that has the three properties that downshift expects that do what you need. Why doesn't this work?:

[code]

[2019-05-07 09:30] Rendez commented on #536
@TazmanianD that works too, I was being extra safe and also playful in the example above.

[2019-05-07 15:09] TazmanianD commented on #536
@Rendez I've been playing around with this some more and I think there's a bug in your proxy and by extension mine as well. You're assigning `environment.document` to `shadowRoot.ownerDocument` but I think that's a mistake. The downshift library uses `environment.document` to get at the active element as well as call getElementById but those properties aren't on `ownerDocument`, they're on `shadow

[2019-05-08 14:43] Rendez commented on #536
About the `add/removeEventListener`, yes, it would be more correct to assign them to the `shadowRoot` that's right, more similar to `window`. However I **do** have all of the prototype properties you mention within `ownerDocument`. I do not however have `body` in the `shadowRoot` prototype. Also, do you know if the `activeElement` of `shadowRoot` is ever anything but `null`?

To be honest I haven'

[2019-05-08 15:44] TazmanianD commented on #536
I found that your version did not work correctly although the only case where I could see that was that the dropdown wasn't scrolling automatically when you use the arrow keys to navigate items. The ownerDocument does have `getElementById` but it was always returning null for some reason but calling it on the shadow root does work.

And yes, the activeElement on the shadow root did seem to be the

[2019-05-08 18:04] claytron5000 opened #712 "Trouble running setup script"
- `downshift` version: 0.0.0-semantically-released
- `node` version: v8.12.0
- `npm` (or `yarn`) version: 6.4.1

**Relevant code or config**

[code]

**What you did**:
Ran `npm setup`
**What happened**:
Setup fails. I've seen the similar issue, but I'm using a proper node version, permissions are not `sudo`-ed.

**Reproduction repository**:
Here's the full log from running `npm run setup`
[code]

[2019-05-08 18:11] claytron5000 commented on #712
One running `npm run test:flow` I got a little more information.
[code]
Appears four times. Full output to follow.

[code]

[2019-05-09 13:54] claytron5000 commented on #708
I have a potential PR to deal with the double `keyDownArrowDown` or `Down` statechange. It includes a new stateChangeType. I'm having trouble running `setup`, that's another issue. When I get that setup I can offer a fix.

[2019-05-10 02:58] hardiked commented on #683
I have just started looking at hooks and it is really amazing. I like the idea to rewrite it with hooks.

[2019-05-13 08:36] silviuavram commented on #712
interesting, I have no idea of how those flow types work. I will try an npm setup myself later today and see if I reproduce it.

[2019-05-13 21:20] a-type opened #713 "Support RefObjects for sub-components"
- `downshift` version: 3.2.10
- `node` version: 10.9.0
- `npm` (or `yarn`) version: 6.2.0

**Relevant code or config**

[code]

**What you did**:

I passed an object-style ref to `getMenuProps`

**What happened**:

I got an error:

[code]

**Reproduction repository**:

**Problem description**: Downshift tries to compose external refs, but it assumes all refs are functions.

**Suggested solution**:

[2019-05-14 07:33] silviuavram commented on #713
Can you specify what are you trying to achieve?

If you just want the ref, then pass a `refKey` to `getMenuProps`, and get it from the result using destructuring. Like this:

[code]

[2019-05-14 13:07] a-type commented on #713
I'm trying to compose a ref through multiple different sources, including a hook. I'm developing a hook to use Popper.js.

Here's a full example I mocked up of the hook interacting with Downshift. It's not quite functional yet, but getting there:

[code]

(I sorta forgot, I was using `getInputProps`, but the same principle applies here).

The basic idea is just to be able to establish a ref for my

[2019-05-14 14:10] claytron5000 commented on #712
It looks like the flow document is automatically generated.  http://github.com/joarwilk/flowgen. It also looks like the `...getItemProps` is the offending spread. There's an issue around spread in the flow repo: https://github.com/facebook/flow/issues/2405.

I'm really not sure if this will require a work-around, or if there's a way I can bypass this step and still contribute. Remember, the goal f

[2019-05-16 16:24] lilrooness commented on #631
Also seeing this issue in safari IOS 11 and 12. The field remains in focus after selecting an option and unless you select a different component first, you cannot re-open the dropdown

[2019-05-29 12:36] 0xR opened #714 "Bug: Input gets replaced with last autocomplete value on blur"
This can be reproduced on the demo here: https://downshift.netlify.com

**What you did**:
* Select a color using the autocomplete
* Replace the text with something else
* Click outside the input to trigger a blur event

**What happened**:
The input is now replaced by your autocomplete value.

**Expected**
The input of the value should remain then same when a blur event occurs.

[2019-05-29 13:04] silviuavram commented on #714
Actually, on blur, if there is a highlighted index, it should be selected.

https://github.com/downshift-js/downshift/issues/679

You can check the design pattern on the Aria website. Also if you can code a fix for this, that would be super helpful!

[2019-05-29 13:06] 0xR commented on #714
I know, but there is no highlighted index. This is a bug.

[2019-05-29 13:20] silviuavram commented on #714
Probably this fix will require more than a simple change in the way we handle `value`.

I am unable to code this bit at the moment but I can help you with a review if you decide to fix this issue and also maybe the select by blur. Thank you!

[2019-05-31 16:22] #711 closed

[2019-06-03 21:50] bwong opened #716 "Accessibility issue specifically with Internet Explorer 11 and JAWS"
- `downshift` version: v2.0.0 and up
- `node` version:
- `npm` (or `yarn`) version:

**What you did**:

We were using `downshift v^1` and upgraded to `downshift v^3`.

**What happened**:

When a user using Internet Explorer 11 in conjunction with JAWS (screen reader for PCs) navigates to the input field, they are unable to type anything.  And some how inexplicable any keys the user types initiates

[2019-06-06 19:41] sandroweb commented on #668
![image](https://user-images.githubusercontent.com/260201/59061345-af00db00-8879-11e9-960f-5b97c8c0597f.png)
###### _Legend: First list is my custom list. The second list is the browser autoFill._

How I can to disable the browser autoFill?

[2019-06-07 12:26] giva9712 opened #717 "Autocomplete: when i click outside, it resets value of input."
How to disable this action?

`import React, { useState } from "react";
import PropTypes from "prop-types";
import Downshift from "downshift";
import {
  TextField,
  Paper,
  MenuItem,
  InputAdornment,
  IconButton,
  Icon
} from "@material-ui/core";
import { makeStyles } from "@material-ui/core/styles";
import deburr from "lodash/deburr";

const suggestions = [
  { label: "Afghanistan" },
  { la

[2019-06-10 20:14] silviuavram commented on #717
You can try to use `stateReducer`, catch the `Downshift.stateChangeTypes.blurInput` state change, and return whatever you want there to be your new state. Does it make sense?

[2019-06-10 20:18] silviuavram commented on #716
I am not the best with screen readers, no idea if Jaws and IE11 work that well together either. I know there is forms mode in Jaws and scan mode or something like that. Maybe you can try switching between these two and see if you can input stuff.

It may also be the problem of our current HTML structure, which I found not to work on Jaws (but I tested on Chrome): the Jaws focus was behaving very w

[2019-06-10 20:30] bwong commented on #716
FYI: I did try it with the forms mode in JAWS and that still could not get input to be entered.  The JAWS focus is behaving very weird.

The newer versions of `downshift` work with other browsers such as Safari and Firefox.  It is just specifically Internet Explorer 11.  Sigh.

I'm not sure what you mean by:

Could you elaborate a little more?

[2019-06-10 20:41] silviuavram commented on #716
Just make sure when you render your HTML that it matches the ARIA combobox one.
[code]

By default Downshift will have the listbox `ul` inside the combobox `div`. Because of this HTML mismatch the screen reader Jaws may not work :)

[2019-06-12 00:22] steveoh commented on #683
This package can still be used in a function component using hooks without any changes correct?

[2019-06-13 11:58] epeli commented on #289
I was looking for the same thing and I came here from Google but it seems that the preventDefault() solution does not work anymore in 3.2.10.

But it is also preventable using the state reducer:

[code]

[2019-06-14 15:40] apfelbox commented on #700
Hi,

the beta doesn't seem to work as well:

https://codesandbox.io/embed/simple-downshift-example-eccbd

It just fails with:
![2019-06-14 at 17 39](https://user-images.githubusercontent.com/1032411/59520926-5bbb0800-8ecb-11e9-9e7e-a467772695f9.png)

even if we just returns simple DOM elements:

![2019-06-14 at 17 39](https://user-images.githubusercontent.com/1032411/59520948-670e3380-8ecb-11e9-9b

[2019-06-15 00:52] atomicpages commented on #713
@a-type did you ever figure this out? I'm facing a similar issue with access the DOM node via `ref`.

[2019-06-17 07:54] apfelbox commented on #700
@silviuavram does my example help you in pinpointing the issue?

[2019-06-17 08:06] silviuavram commented on #700
@apfelbox I don't have the bandwidth to work on this issue on the moment, my focus is in rewriting the library with hooks so I am fully committed on experimenting in that area.

If you can fix the problem I can help you with a review. Thank you for the effort!

[2019-06-18 17:21] fenech opened #718 "TypeScript compiler error with ref passed from getInputProps to component using a forwardRef"
- `downshift` version: 3.2.10
- `node` version: v11.15.0
- `npm` (or `yarn`) version: 6.7.0
- `react` version: 16.8.4
- `styled-components` version: 4.3.1

**Relevant code or config**

[code]

**What you did**: Attempted to pass a custom `getInputProps` to a component which implements a forward ref (in this case, to an `<input>` element).

**What happened**: A compiler error from TypeScript:
[code

[2019-06-18 18:38] TLadd opened #719 "onChange called with null when `esc` pressed"
- `downshift` version: 3.2.10
- `node` version: 10.16.0
- `npm` (or `yarn`) version: 1.16.0

**Relevant code or config**

[code]

**What you did**:
I created a Downshift dropdown that behaves as a simple select with a button to open/close. I click on the `button` to open the menu and then press `esc` key.

**What happened**:
The onChange prop is called with `null`, and the above code crashes becau

[2019-06-19 20:19] jetpacmonkey commented on #693
The default `Downshift` export is typed as `DownshiftInterface<any>`. Is there a way to use `DownshiftInterface` with a narrower item type that isn't `any`? I assume that's what @zxti is asking.

[2019-06-20 06:55] silviuavram commented on #719
Just as a heads up, I am planning to create React hooks for dropdowns. The solution you are looking for is my first hook, [here](https://github.com/silviuavram/downshift-hooks) but it's not an npm package yet. Still work in progress, just as a heads up.

As for this usage, Downshift only works by design with search dropdowns (comboboxes), not simple dropdowns such as your.

What you can do is to u

[2019-06-20 07:07] silviuavram commented on #718
I looked into the codesandbox but I don't see any error with ref. Instead I see one with the <Input> you are using, that it does no accept onKeyUp (or onKeyDown for instance). If you cast it to any `const Input: any` then it works for me.

Try to fix it at your end or change the codesandbox with the relevant error. Thank you!

[2019-06-20 07:52] fenech commented on #718
@silviuavram the error is there, it says `Types of property 'ref' are incompatible.` (the second line of the error message in my original post). I included one custom prop `onKeyUp` to make the use case more realistic but you can remove it and pass an empty object `{}` to see the same error, slightly less hidden.

Typing the return value of the function as `any` is indeed what I have done in my ap

[2019-06-20 19:16] jetpacmonkey commented on #693
My workaround:

[code]

[2019-06-21 17:00] etairi commented on #717
@silviuavram Thanks, this works. However, when the user clicks outside the input field, the change type that is executed is not `Downshift.stateChangeTypes.blurInput`, instead it is `Downshift.stateChangeTypes.mouseUp`.

[2019-06-25 09:20] iamandrewluca commented on #705
This does not help? :)
https://github.com/downshift-js/downshift/blob/master/typings/index.d.ts

[2019-06-25 17:24] klis87 commented on #719
I believe this behaviour was added recently. Previously on ESC just options were closed and item text was set to selected `itemToString`. Now, additionally selected item is reset to `null`

Personally I find this behaviour really user unfriendly. As a user, on ESC I would not expected a selected item to be unset. This is not even done in native select!

Remember, Downshift can be used also to buil

[2019-06-25 17:59] TLadd commented on #719
Yeah it does appear it was added recently in https://github.com/downshift-js/downshift/pull/689 to match the spec for comboboxes.

It is a little problematic since Downshift is surely used to implement simple custom dropdowns and multi dropdowns, where the behavior isn't quite as clear or desirable. But I guess Downshift has to pick one or the other as the default. Do agree that a major release wo

[2019-06-26 07:13] klis87 commented on #719
The problem is that Downshift can be used not only for combobox, but as select, multiselect too, as mentioned in readme. For select input obviously clearing selected item is wrong. For combobox, well, I know it is w3, but for me this is illogical. Escape usually is used for closing/hiding, not to update state. Standards are changed too, they are not axiom, they are based on someone elses opinion.

[2019-06-26 08:22] silviuavram commented on #719
Thank you all for you input, let's try to work out a solution out of this. This is still a versioned library, no need to update to 3.2.10, nobody wants to break apps and all the effort is to actually make both the library and the apps that use it better.

With that in mind:
- I know that you can use Downshift to create other forms of dropdowns, I did it myself for `stardust-ui`. But it requires cu

[2019-06-28 08:57] #717 closed

[2019-06-28 09:19] Vincent-Alibert opened #723 "getInputProps Show bad value if props change without actions"
`@material-ui/core` : 3.1.2
`downshift` : 3.2.10
`formik` : 1.3.2
`react` : 16.8.6
`react-dom` : 16.8.6
`react-scripts` : 3.0.1

**_What you did:_**

I created a dynamical form with formik and i use Downshift on custom field. I can add or remove component Downshift in form.

_**What happened:**_

When i add multi downshift and i remove one element , props change and my composant parent composant i

[2019-06-28 09:47] klis87 commented on #719
@silviuavram I hope community will not complain about it as long as there will be an easy way to revert it to previous behaviour which would also explained in docs.

What would you recommend to make not painful for people like me who prefer the previous behaviour?

[2019-06-28 17:50] elsangedy commented on #683
Hey guys, what do you think? any suggestion? I'll work in a PR

https://github.com/elsangedy/use-downshift

[2019-06-29 09:18] silviuavram commented on #683
That is great news! I only wished that this did not appear out of nowhere. But nevertheless it's very awesome work and we should aim to collaborate for a unified better solution.

I am also working on https://github.com/silviuavram/downshift-hooks. I am close to release it as npm which is what I will do since I came this far. My idea was to start with a normal dropdown hook and have hooks for each

[2019-06-29 14:57] towry commented on #333
My solution:

[code]

[2019-06-29 22:43] sibelius commented on #683
can we run both implementation on tests of this repo, so we can make sure they don't break anything

[2019-07-02 16:43] elsangedy commented on #683
@silviuavram great job with `downshift-hooks`!
I agree with you and I think we should follow through with your project, I would like to help.

@sibelius good idea, we can try to apply the same test suite of this repo

[2019-07-03 13:18] eldargab commented on #719
Agree, that this behaviour from W3C is weird, raised an issue about that - https://github.com/w3c/aria-practices/issues/1066

[2019-07-05 11:56] silviuavram commented on #704
Fixed by https://github.com/downshift-js/downshift/pull/724

[2019-07-05 11:56] #704 closed

[2019-07-05 19:39] eriklharper commented on #305
A good reason to support fragments in general is when say using a composite component that you build with downshift, whose contents that you ultimately want to render to the DOM need to be direct flex children from a parent DOM node that applies `display: "flex"`.  When you include an extraneous root div, it breaks intended flex behavior because the nodes that you want to render inside a fragment