[2017-07-25 17:57] kentcdodds opened #1 "Help make examples"
**Latest Update**:

Alrighty! We're getting really close now! Just need to tie up some loose ends and make sure we cover all the use cases we want to (ALL OF THEM).

We've released an official "release candidate"

You can install it with:

[code]

If you want to help, try implementing an autocomplete/combobox/multi-select/etc. with downshift. You can:

1. fork [the example codesandbox here](http:/

[2017-07-25 23:26] souporserious opened #2 "itemToString name change proposal"
Are you tied to the name `itemToString`?  After using react-autosuggest, I liked the prop name `getSuggestionValue`, seemed to be clear what it was. How would you feel about something like `getItemValue` or even more explicit `getInputValue`?

[2017-07-25 23:28] souporserious opened #3 "initialIndex prop"
How do you feel about adding an `initialHighlightIndex` prop so you can do something like [highlight the first item when the menu opens](https://github.com/moroshko/react-autosuggest#highlightFirstSuggestionProp)?

[2017-07-25 23:30] kentcdodds opened #4 "Support preact out of the box"
@zouhir says he'll be working on this a bit :)

[2017-07-26 00:00] kentcdodds opened #5 "Performance benchmark"
Would be great to get an idea of the perf of this component and track that overtime or something. Also to find bottlenecks and speed them up.

[2017-07-26 00:02] kentcdodds opened #6 "Windowing"
One thing that could really help with performance is if we window the scrollable area for the autocomplete. I'm thinking that we could either just have an example of how to use this with react-virtualized _or_ if it's not too complex, we could include our own miny implementation of windowing. Thoughts/ideas appreciated!

[2017-07-26 00:26] souporserious opened #7 "Item component "item" prop name change proposal"
Another one 😇 how do you feel about the Item prop `item` being changed to `value`. Seems more natural to write `<Item value="apple"/>` over `<Item item="apple"/>`.

[2017-07-26 01:32] souporserious opened #9 "should 0 index mean no selection?"
I'm not sure the official ARIA guidelines here. But should the arrow navigation act in a way where you can always get back to just the text you have entered like in the following gif:

![autocomplete](https://user-images.githubusercontent.com/2762082/28600530-6ff523c4-7167-11e7-8ce0-362118735a8e.gif)

You can [test it here](https://www.willitrain.info/). It looks like Google and Facebook searches

[2017-07-26 01:46] souporserious opened #10 "Name change"
Pertaining to https://github.com/kentcdodds/react-autocompletely/issues/1 I personally think it would be beneficial to choose a name that promotes this library for multiple use cases. I think by naming it anything with `autocomplete` could paint the library into a corner. I'd love to see `Dropdown`, `Select` and other cool components made with this. The hard part is I have no idea what a new name

[2017-07-26 01:52] souporserious opened #11 "Look into integrating Lerna"
Pertaining to https://github.com/kentcdodds/react-autocompletely/issues/1. I think it could be nice to have some lib supported packages that included components like `Dropdown`, or `Select`. @FezVrasta how did you like using Lerna in PopperJS? Do you think you could help here? I can take a stab at this if it seems worth it.

[2017-07-26 03:27] #2 closed, assigned to nobody

[2017-07-26 03:31] souporserious opened #13 "Break up components into seperate files"
If you think this is a good idea, I'll work on a PR.

[2017-07-26 03:33] #11 closed, assigned to nobody

[2017-07-26 16:33] souporserious opened #20 "Add smaller scroll-into-view"
This is to keep track of what was discussed in this PR https://github.com/kentcdodds/react-autocompletely/pull/15#discussion_r129609917

The current `dom-scroll-into-view` is a pretty heavy dependency. I ran into this same issue in one of my libs. I can PR a [smaller version](https://github.com/souporserious/react-aria/blob/3484326a9bcfd6bf69d172eed3822fde6a26990f/src/utils/scroll-into-view.js) fo

[2017-07-26 18:59] #20 closed, assigned to nobody

[2017-07-26 18:59] #13 closed, assigned to nobody

[2017-07-26 19:03] souporserious opened #23 "Flow typed"
How do you feel about adding Flow to this project? Could even add inline comments while doing this so docs can be generated later.

We could even take it a step further and remove PropTypes in favor of just Flow with [babel-plugin-react-flow-props-to-prop-types](https://github.com/thejameskyle/babel-plugin-react-flow-props-to-prop-types).

[2017-07-26 19:17] erikfox opened #24 "Extend auto-selection options"
As discussed in #9, explore expanding user options to tailor auto-selection of items to their needs.

Thoughts so far:
- In cases were selection must be a listed item, auto-selection of best match seems appropriate.
- In cases were input is not required to be listed item (e.g. creating a new item), auto-selection of a best match may be counter to intuitive behavior.
- In cases where selection may

[2017-07-26 21:32] #9 closed, assigned to nobody

[2017-07-26 22:47] #7 closed, assigned to nobody

[2017-07-26 22:48] #3 closed, assigned to nobody

[2017-07-27 05:59] kentcdodds opened #31 "Clicking down arrow key on closed menu should highlight the first item"
[Here's an example](https://codesandbox.io/s/1jZV9Q9X0):

![down](https://user-images.githubusercontent.com/1500684/28656296-0271012a-7256-11e7-9953-a90ac833a007.gif)

@souporserious, I think this may have happened with your recent changes. Could you give it a look? Thanks!

[2017-07-27 06:04] kentcdodds commented on #1
Hey folks! :wave: now that we've released a beta version, it's _much_ easier to make examples. Now you can make them _right in the browser_ :tada: (thank you @CompuIves!!!)

So, if you've made an example already, would you mind forking this example: http://kcd.im/rac-example and updating it to your example? Then give it a good title and description and **add the `react-autocompletely:example` tag*

[2017-07-27 06:47] karanjthakkar commented on #1
If anyone has any ideas for examples but are hard pressed on time, I'd love to pick those up.

[2017-07-27 06:53] kentcdodds commented on #1
Here are some ideas. Try reimplementing components from the following libraries:

- [semantic-ui](https://semantic-ui.com/modules/dropdown.html)
- [react-autocomplete](https://github.com/reactjs/react-autocomplete)
- [react-select](https://github.com/JedWatson/react-select) (I think someone may be working on this one)

I expect there are others... :)

[2017-07-27 06:53] karanjthakkar commented on #31
@kentcdodds I was unable to reproduce that behavior on the same example. Here's a gif:

![kapture 2017-07-27 at 12 22 21](https://user-images.githubusercontent.com/1824298/28657821-4fbba85c-72c6-11e7-9741-9f30a45e3191.gif)

Is there a specific interaction after which this starts happening?

[2017-07-27 06:54] kentcdodds commented on #31
The behavior only happens when you're focused on the input and you click the down arrow key on your keyboard :)

[2017-07-27 06:57] karanjthakkar commented on #1
I can work on this: https://reactcommunity.org/react-autocomplete/managed-menu-visibility/ if no one already is.

[2017-07-27 07:03] kentcdodds commented on #1
Sounds great :+1:

[2017-07-27 07:10] karanjthakkar commented on #31
Ahh, the issue title confused me into thinking that this was related to clicking down arrow in the input and not the down arrow keyboard key :)

[2017-07-27 07:32] Haroenv opened #32 "Can't unfocus on mobile"
- `react-autocompletely` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

https://codesandbox.io/s/9rWEmzEv8

What you did:

Open it on an iPhone, try to press "done", but it doesn't dismiss the focusing

What happened:

Input is permanently focused, not even the url bar is accessible. Can get the focus back out of it when pressing refresh only

Reproduction reposi

[2017-07-27 07:52] kentcdodds commented on #32
I cannot reproduce this on my Android phone. Are you sure it's a problem? Maybe something it's only an ios issue?

![2017_07_27_00_49_57](https://user-images.githubusercontent.com/1500684/28659883-cb0a5a5a-7265-11e7-9b2e-ee5c60aede8c.gif)

[2017-07-27 08:14] FezVrasta commented on #32
I can reproduce it on iOS on both Chrome and Safari. The input seems to keep focus and the keyboard can't be closed.

[2017-07-27 11:24] Haroenv commented on #32
![2017-07-27 13_23_26](https://user-images.githubusercontent.com/6270048/28668150-de6ab680-72ce-11e7-9ca9-9c6110ea059a.gif)

Here's a reproducible example in the iOS simulator, might be related to how Safari deals with blurring?

[2017-07-27 12:06] mstaicu opened #34 "Favor Array.prototype.filter() instead of Array.prototype.splice() when unmounting Item instances from the menu component"
Problem description:

I've been following the streaming of the **react-autocompletely** and I've noticed some inconsistent behavior (on my re-implementation) when the Item components were unmounting, due to user interaction with the input element.

The [removeItemInstance](https://github.com/paypal/react-autocompletely/blob/master/src/menu.js#L99) function on the Menu component, which uses ```Arra

[2017-07-27 15:14] souporserious commented on #31
Oops, yes I will look into this today 😅

[2017-07-27 15:19] souporserious opened #35 "scrollIntoView throws error"
`scrollIntoView` seems to be broken for just the Apollo example. I'll look into this today to see what is going on.

![image](https://user-images.githubusercontent.com/2762082/28678018-1d8e1b66-72a4-11e7-970a-24fdbe172632.png)

[2017-07-27 15:30] kentcdodds commented on #32
Oh, that's odd. And that's how it works on iOS as well?

We definitely want to fix that! Could you dig into it a little bit?

[2017-07-27 15:35] kentcdodds commented on #34
Hmmm... I'm unsure what problem this causes. Also unsure that it's still a problem.... Could you verify that it's still an issue and demonstrate what the issue is?

[2017-07-27 15:53] FezVrasta commented on #32
I tested only on real device so I'd say "yes"

[2017-07-27 16:15] mstaicu commented on #34
Most likely it was a cache issue, because it worked for a while using the ```.filter``` approach and then it went back to the old behavior.

The problem was that the highlighted item, in the Menu, was not correctly selected when the user interacted with it via the Enter keydown event.
If you were searching for something, and you were getting for example two results, and then you were deleting your

[2017-07-27 17:00] souporserious commented on #1
Going to try an example like this soon
![image](https://user-images.githubusercontent.com/2762082/28682614-6d908546-72b2-11e7-8d88-7932532b191f.png)

[2017-07-27 17:07] dashed commented on #32
Interesting. I can confirm this issue.

[2017-07-27 17:11] jtmthf commented on #1
@kentcdodds For future examples, do you prefer for them to be in code sandbox only or do you also want them here? Downside to code sandbox is that some examples might get out of sync as the API changes if their original authors don't update them.

[2017-07-27 17:14] kentcdodds commented on #34
Haha, yeah, that's what I thought. I was pretty sure that I found that bug and fixed it :wink:

#spoileralert

[2017-07-27 17:14] #34 closed

[2017-07-27 17:16] kentcdodds commented on #32
Alrighty! Who wants to fix it? :smile:

[2017-07-27 17:21] kentcdodds commented on #1
@jtmthf, good point. Though we're in the same situation either way...

It might be better to have a specific curated list that we as maintainers can manage. I wonder if @CompuIves could eventually add the idea of "Collections" and we could link to a collection of examples 🤔

For now, let's just do everything in codesandbox, and maybe we can add a list of links to the README and keep that up to dat

[2017-07-27 17:56] CompuIves commented on #1
Wow collections sounds like a great feature and not too hard to make!
That's a very nice way for users to curate examples and content to show to
others, nice idea!

For now you can add the sandboxes to the git repo and use CodeSandbox
import from git. This way everyone can edit the git and the changes are
automatically reflected on the sandbox. Sadly it isn't possible yet to add
tags to git sandbo

[2017-07-27 17:57] kentcdodds opened #36 "Improve accessibility"
I'm 99% sure that the current implementation enables users to be completely accessible, but I'd like to widen the pit of success here (by making it easier or, even better, automatic). We do this already with the `MenuStatus` component which is automatic and how easy it is to add `aria-` attributes to the things you render. Let's see if we can make it so people don't need to think about accessibili

[2017-07-27 17:59] kentcdodds opened #37 "Expose MenuStatus.getA11yStatusMessage"
Right now the `Menu` component uses `MenuStatus` and doesn't pass `getA11yStatusMessage`. We should probably allow people to pass `getA11yStatusMessage` to `Menu` and have that forward to the rendered `MenuStatus`.

This should be quite simple for anyone used to React. Especially since we don't actually have any tests yet 😅

[2017-07-27 17:59] kentcdodds commented on #37
Oh, and we'll want to make sure we document this prop on the `Menu`

[2017-07-27 17:59] kentcdodds commented on #37
This is related to #36 :)

[2017-07-27 18:02] kentcdodds commented on #1
If someone wants to do that I'm fine, but I think that long-term collections would be better so I'm happy to manually maintain a list on the repo until collections exist :smile:

[2017-07-27 18:05] kentcdodds opened #38 "Add Label component"
Related to #36: One thing that you want for a11y is a `label` for your `input`. Normally this is done by putting an `id` on the `input` and a `for="the-id"` on a `label`. So we could expose a `Label` component that automatically hooks up with the `Input`. That could be nice because it could generate a random ID to label the input. If the user provides an `id` prop to the `Input`, then we use that.

[2017-07-27 18:07] kentcdodds opened #39 "Add a11y attributes to the Input"
Based on `react-autocomplete` in [this example](https://reactcommunity.org/react-autocomplete/managed-menu-visibility/) here's what the input renders:

[code]

We should probably add those to ours I think :smile:

Should be pretty straightforward for anyone familiar with react.

[2017-07-27 18:11] kentcdodds commented on #36
I just opened up a few issues based on things that I learned from `react-autocomplete` and it appears that we already have everything that `react-select` has and more. I based the original a11y stuff on `jQueryUI` and we're on par with that as well. So I'll actually just close this. Anyone can feel free to comment further if there's an a11y issue.

[2017-07-27 18:11] #36 closed

[2017-07-27 18:16] psicotropicos commented on #32
@kentcdodds I want 🤘

[2017-07-27 18:18] souporserious commented on #1
Are you cool with leaving Next in there or some sort of way to test out examples in a dev environment? I found it helpful when changing API's and what not so I could test real quick.

[2017-07-27 18:18] kentcdodds commented on #1
Who wants to make [this](https://twitter.com/kentcdodds/status/890067048717586433) with react-autocompletely? :smile:

![ezgif-4-04a9f6be9a](https://user-images.githubusercontent.com/1500684/28685665-5b95b388-72bd-11e7-99eb-cf776d280046.gif)

[2017-07-27 18:20] kentcdodds commented on #1
Yes, we can do it for that purpose :+1: Though maybe we should clean it up to only have a few. And we should update the README to indicate the new purpose of that project.

[2017-07-27 18:21] souporserious commented on #1
sounds great 👌 also, I might take a stab at the Twitter example this weekend 😉

[2017-07-27 18:23] kentcdodds commented on #1
Another fun one would be to make an implementation of [`genie`](https://github.com/kentcdodds/genie) with `react-autocompletely`. Right now the demo is using angular :wink:

[2017-07-27 18:25] bernard-lin commented on #37
I'll do this tonight 🙂

[2017-07-27 18:25] souporserious commented on #38
Would this make sense for Dropdowns? So you would use `<Label/>` with `<Menu/>` and `<Item/>`? I can work on this today by the way 😉

[2017-07-27 18:45] kentcdodds commented on #38
Sounds great.

As an aside: normally I would like to avoid adding things to the API like this (because it can clearly be done on your own), but in the case of accessibility, I want to make the pit of success as wide as possible and I want autocompletes built with these primitives to be as accessible as possible.

[2017-07-27 19:05] zsid commented on #1
`genie` looks fun. I will have a go over the weekend.  😄

[2017-07-27 19:23] #35 closed

[2017-07-27 19:30] zsid opened #41 "Contribute to Tests"
Hi Kent,

If I want to contribute to tests, what will be the best way to start? Have you considered what functionality should be covered first and move to the next i.e. priority list?

[2017-07-27 19:30] salmanmanekia commented on #39
I will take this. If I understand this correctly then only the aria-expanded should be either true or false based on if the onClick event is triggered on the input element. Other elements are
always
[code]

[2017-07-27 19:42] #31 closed

[2017-07-27 19:43] kentcdodds commented on #39
always

This is mostly correct. For the `aria-expanded` one, you should just be able to get the `isOpen` state from `this.autocomplete.state.isOpen`.

They should also all be overrideable (so the `...rest` should appear _after_ these).

[2017-07-27 19:45] kentcdodds commented on #41
Thanks @zsid! If you don't mind I would like to be the one to start on testing. I have opinions about this and want to make sure I get this project going in the right direction before folks start contributing. I should be able to get to it within the next day or two.

[2017-07-27 20:33] #39 closed

[2017-07-27 20:41] zsid commented on #41
Hey Kent, excellent. No rush, I just wanted to get your thoughts on it. Looking forward to your test commit 😃

[2017-07-27 20:44] kentcdodds commented on #41
Let's leave it open :+1: Thanks!

[2017-07-27 21:51] kentcdodds commented on #1
I've updated the `Examples` section. Please make a PR to that section when you've made your example.

[2017-07-28 01:21] zouhir opened #44 "Preact compatibility"
hey friends,

I've been trying to get this component to be compatible with `preact` by using a very thin compatibility layer instead of `preact-compat` module.

The final component renders fine in a pure preact project without compat but it hits a blocker on this line:

https://github.com/paypal/react-autocompletely/blob/master/src/menu.js#L132

would you be open to changing this single line from:

[2017-07-28 01:25] kentcdodds commented on #44
As long as it works with both and there's a comment explaining why then I say yes! Let's do it!

[2017-07-28 02:23] dashed commented on #32
I skimmed through this. The bug seems to be resolved when commenting this line out: https://github.com/paypal/react-autocompletely/blob/008129dca3da8ef7e118fd1bbc93c7cad55dc6d5/src/input.js#L77

When the input is blurred, `handleBlur` is called, which then calls `this.autocomplete.reset()`, which then calls `this.input.reset()`.

Im guessing `moveCursorToTheEnd` re-focuses the input element. On my

[2017-07-28 03:05] nouh commented on #44
Test

[2017-07-28 03:08] psicotropicos commented on #32
@dashed This was the same solution I found so far.
I'm studying the rest of the code to understand the reason for moving the cursor to the end

[2017-07-28 03:50] kentcdodds commented on #32
You know, I think that we probably don't need that. At least not in the core library. People could implement it themselves if they need. Let's remove that code :+1: Thanks!

[2017-07-28 03:50] kentcdodds commented on #32
Who wants to do that?

[2017-07-28 04:20] psicotropicos commented on #32
I will send the PR

[2017-07-28 04:55] psicotropicos commented on #32
Done on #46
Thank you very much @dashed 🤘

[2017-07-28 09:33] stephenkingsley commented on #5
I want this, can you give it to me?

[2017-07-28 13:44] kentcdodds commented on #5
Sure, go for it!

[2017-07-28 17:20] kentcdodds commented on #32
This has been fixed. I'll push another beta release as soon as I get the rest of the PRs merged.

[2017-07-28 19:10] dashed opened #49 "Fine tune babel config"
I tried `react-autocompletely` with a create-react-app project, and attempted to build it (i.e. `npm run build`), but received this error:

[code]

------

I believe babel config would probably need some fine tuning: https://github.com/paypal/react-autocompletely/blob/cfc1ffffe38bac9d89555998add9d5ac2024ea40/.babelrc

[2017-07-28 19:12] kentcdodds commented on #49
Just to be clear, you tried installing the beta right? The current latest version has nothing 😀

[2017-07-28 19:13] kentcdodds commented on #49
Oh, nevermind. I misunderstood. You definitely have the beta

[2017-07-28 19:13] kentcdodds commented on #49
Ah yes, we need to add the transform for trailing commas in function parameter lists and calls. Would you like to do that?

[2017-07-28 20:59] dashed commented on #49
I may look at this over the weekend.

I don't mind if someone else makes the PR. 👍

[2017-07-28 21:54] #32 closed

[2017-07-29 02:24] #37 closed

[2017-07-29 04:21] souporserious commented on #1
Some more inspo:
![image](https://user-images.githubusercontent.com/2762082/28742067-a4c5fb58-73da-11e7-8d13-d68183c1bbf2.png)
I'm going to try and do one like above this weekend.

[2017-07-29 05:23] souporserious commented on #38
I just started implementing this and wondering if it's necessary now. A label could be used to either focus the `Input` or a `Button` which makes things a little more complex now. Since it's not terribly hard to hook up an `id` and `htmlFor` maybe we just mention this in the docs and show a simple example?

[2017-07-29 07:13] dashed opened #51 "revert removal of blur handler"
@kentcdodds after some testing on iOS, it turned out the blur handler removed at https://github.com/paypal/react-autocompletely/pull/46 is actually necessary.

Without this handler, dismissing the iOS keyboard (as shown in https://github.com/paypal/react-autocompletely/issues/32#issuecomment-318335025) will not 'reset' the autocomplete controller, and therefore the menu will be left in the open st

[2017-07-29 08:13] nitin42 commented on #23
Can I work on this ? (PR) I've used Flow earlier!

[2017-07-29 08:17] nitin42 commented on #49
Try this -

Eject from `create-react-app` and use [`babili-webpack-plugin`](https://github.com/webpack-contrib/babili-webpack-plugin) instead of uglify JS (there are some issues with it). It should work! (more info - https://github.com/facebookincubator/create-react-app/issues/984)

[2017-07-29 08:22] nitin42 commented on #23
having a type system makes it easy to understand the codebase rather than increasing verbosity @kentcdodds

[2017-07-29 12:08] kentcdodds commented on #23
I'm not worries about increased verbosity. I'm worried about familiarity for beginners. But maybe that concern is overblown and it won't be bad. Feel free to submit a pull request. Thanks!

[2017-07-29 12:10] kentcdodds commented on #51
Let's restore the original behavior and try to about the iOS bug. I sorta figured this would happen 😅

[2017-07-29 12:11] kentcdodds commented on #49
Nah, let's just add the plugin. People shouldn't have to eject to use this library 😀

[2017-07-29 12:30] nitin42 commented on #23
Awesome!!

[2017-07-29 12:35] kentcdodds commented on #49
Hmmm.... I just realized I'm pretty sure that the transform is already included... I just ran `node dist/menu-status.js` and didn't get any parse errors 🤔

[2017-07-29 12:37] kentcdodds commented on #49
Tried it with node 4 too

[2017-07-29 12:38] nitin42 commented on #49
Which plugin are you using to minify the `src` ?

[2017-07-29 12:42] kentcdodds commented on #49
I just reproduced, sorta:

[code]

Here's the code around that spot:

[code]

Not sure what's up with it. The comma is totally fine there...

[2017-07-29 12:43] kentcdodds commented on #23
I'll tell you what. If we can add a short intro and links to resources in the CONTRIBUTING.md, then I say let's go for adding flow to the project :+1:

[2017-07-29 12:44] nitin42 commented on #49
I will look into this issue @kentcdodds. Will let you know! (any tips on using the setup locally with `create-react-app` ?)

[2017-07-29 12:48] nitin42 commented on #23
Intro and links about setting up Flow or ?

[2017-07-29 12:50] kentcdodds commented on #23
Intro and links about the basics of what Flow is and the syntax. Everything someone would need to know to contribute to a flow codebase for the first time.

[2017-07-29 12:50] kentcdodds commented on #23
Could just be a link to a blog post.

[2017-07-29 12:51] nitin42 commented on #23
Sure! I'll add a section for Flow in the `CONTRIBUTING.md` 👍

[2017-07-29 13:09] nitin42 commented on #49
Got it working 😄 . Here you go - http://autocomplete-react.surge.sh/

Built with `create-react-app`. Minified the `src` with `babili`, copied `dist` locally to my custom setup (with create-react-app) and it works!

![](https://i.gyazo.com/ab2187e8b7fc412b844fe6802b6bd106.png)

[2017-07-29 13:10] kentcdodds commented on #49
Let's see what we need to do so folks don't have to eject from CRA. We definitely shouldn't require that! :smile:

[2017-07-29 13:10] nitin42 commented on #49
@kentcdodds add `babel-preset-babili` to `.babelrc` and you're good to go!

[2017-07-29 13:11] kentcdodds commented on #49
Oh, you mean add babili to this project? I'd like to avoid that too. Could you identify which plugin in babili is making the impact? I'd rather not minify the `dist`... It's helpful for debugging...

[2017-07-29 13:12] nitin42 commented on #49
umm... we can also yield sourcemaps with babel I think so ?

[2017-07-29 13:13] kentcdodds commented on #49
Sorry, that wont be good enough. Let's just make it work. It really shouldn't be a problem.

[2017-07-29 13:14] nitin42 commented on #49
Ok! As u say but this error is really strange 🤔

[2017-07-29 13:15] kentcdodds commented on #49
Agreed it is strange. I'm sure there's just one plugin that babili is using that fixes the problem. If we find out which one that is then we might know what the problem is and have a better hope of fixing it.

[2017-07-29 13:16] nitin42 commented on #49
I'm on it 👍

[2017-07-29 13:16] kentcdodds commented on #49
Thanks!

[2017-07-29 13:17] dashed commented on #51
In my personal fork of `react-autocompletely` within a project, I've just restored the blur handler, and only left out `moveCursorToTheEnd(this._inputNode)`.

This seems to be the right direction.

I'll look into a PR later today (I won't mind if someone else does 😄).

[2017-07-29 13:38] nitin42 commented on #49
Ahn... actually I am not getting any build errors.

I imported `AutoComplete` from `./react-autocompletely/dist` and it works without any changes!

@kentcdodds how did you reproduced the error ? because I am not getting any 😅

[2017-07-29 13:42] kentcdodds commented on #1
There's been some breaking changes released. I've updated [kcd.im/rac-example](http://kcd.im/rac-example) with the latest :smile: Thanks everyone!

[2017-07-29 14:20] kentcdodds commented on #1
Definitely. The example I liked to uses glamorous. You could just switch it to styled-components 😀

[2017-07-29 16:13] Haroenv commented on #51
Pressing `done` and still seeing the results is the best experience though IMO, we’re struggling with this too in autocomplete.js --> https://github.com/algolia/autocomplete.js/issues/141

[2017-07-29 17:13] dashed commented on #51
@Haroenv afaik, for react-autocompletely, naturally un-focusing the input dismisses the menu. IMO for consistency, pressing `done` should still dismiss the menu. But I totally understand the UX angle 😄 .

As a compromise, we probably should expose more API to let devs have more fine grain control over their menus.

That way, react-autocompletely won't need to enforce an opinionated UX of menus.

[2017-07-30 00:31] dashed commented on #49
@nitin42 This should be sufficient: `import Autocomplete from 'react-autocompletely'`

[2017-07-30 04:41] kentcdodds opened #53 "Implement react-autosuggest API"
Anyone wanna take on this task? By doing this it would really help us know whether react-autocompletely is powerful enough to support these use cases and if there's anything we can do to improve the API.

[2017-07-30 04:42] kentcdodds commented on #53
To be clear, this would probably be best as a [Codesandbox.io example](http://kcd.im/rac-example) (could be open sourced later if that's desired, but doesn't need to be).

[2017-07-30 05:08] kentcdodds commented on #51
Yeah, I _think_ that @souporserious's PR #52 might enable this if I'm not mistaken. Either way I think that's a good idea.

FWIW, I almost feel like clicking "done" should leave the input focused, but dismiss the keyboard. That would be the experience I would expect. I'm not sure about whether that's possible though 🤔

[2017-07-30 13:07] zsid commented on #1
I am really sorry,  I won't be able to complete the [genie](https://github.com/kentcdodds/genie) example this weekend as something has come up 😞  `Genie` looks great and if anyone wants to pick it up please feel free to do it.

[2017-07-30 15:22] dashed commented on #51
@kentcdodds PR at https://github.com/paypal/react-autocompletely/pull/52 may definitely help expose some API, and then devs would pass them down as props (or wrap/compose them) to their relevant components.

example: exposing `isMouseDown` and `reset()` at `getControllerStateAndHelpers()`: https://github.com/paypal/react-autocompletely/blob/bd42093ebcad08f672a93d9263917284a5b174f8/src/autocomplete

[2017-07-30 17:34] nndung179 opened #59 "Discussion - Consider to move all example into separated projects"
Currently, the examples are in 1 project. It is not flexible if we use many libs. For example, I saw some examples currently are using `glamorous `. What if I want to use `styled-components` or `material-ui`. So I suggest to consider to split examples to different projects.

[2017-07-30 20:43] souporserious opened #61 "Allow multiple values to be selected"
I think multiple selection is pretty common, as seen here in [react-select](https://github.com/JedWatson/react-select#multiselect-options). I'm going to take a stab at this since I need it. I sort of implemented something similar already in [selectly](https://github.com/souporserious/selectly) so hopefully I can just pull all of that stuff over.

[2017-07-30 21:54] kentcdodds commented on #59
Thanks! We're actually going to have most of the examples be in codesandbox. See #1 👍

[2017-07-30 22:44] souporserious commented on #61
Alright, I have this working in a local branch and it's pretty dang cool 🤓 I think we can build every demo from react-select with this functionality. Once I get my other PR's reviewed, I'll submit this to see if you want it 😇

[2017-07-31 02:47] kentcdodds commented on #61
Sounds great :+1:

[2017-07-31 03:01] kentcdodds opened #62 "More flexibility, less API?"
What do folks think about doing something like this:

[code]

The entire API consists of a handful of props you pass to `Autocomplete` and a handful of arguments you receive in that callback. No need for props like `component` because you render the component yourself and you call a function to get the props to apply to the component so it hooks up properly with the autocomplete. In addition, ther

[2017-07-31 04:51] kentcdodds commented on #62
I've started work on this and gotten a little way of the way there. Would love feedback: https://codesandbox.io/s/mQR4ZlyVE

Even if we don't go with this approach, I really like the way that I changed how the a11y status message works. Give that a look :smile:

[2017-07-31 05:21] geoffdavis92 commented on #1
@kentcdodds You want us to update the README? I have my SpectreCSS example ([here](https://codesandbox.io/s/M89KQOBRB))

[2017-07-31 05:27] geoffdavis92 commented on #62
@kentcdodds I like this pattern a lot more. Perhaps it's because I hadn't really used something similar to the Autocompletely pattern before, but I found it a bit difficult to understand OOB, and perhaps a little "magical".

This is a *lot* easier to wrap my head around. 👍

[2017-07-31 05:34] kentcdodds commented on #1
Hey @geoffdavis92! Thanks for this! It looks like you're not using the latest react-autocompletely@beta but instead using a specific file in your sandbox. Would you be interested in updating it to the latest beta and adding it to the dependencies? (You can fork [this](http://kcd.im/rac-example))

[2017-07-31 05:40] geoffdavis92 commented on #1
@kentcdodds Sure thing, just updated. But it gives me an invariant violation. It doesn't seem to like the `Autocomplete.Menu` item.

[2017-07-31 05:57] kentcdodds commented on #1
That was removed. Sorry, things change day around here until 1.0.0 is released. See the docs (use the controller). Thanks for any API feedback/help you can give us!

[2017-07-31 06:34] souporserious commented on #62
This looks great to me. I love the flexibility it seems to offer 😍 And I love that it's nothing special and just functions. Going to play around with it in the morning!

[2017-07-31 07:27] kentcdodds commented on #62
Just a quick update. I tried to make `getItemProps` work and it does, but we're not going to do it for two reasons:

1. It requires that we return a `ref` prop so we can scroll the node into view. This is fine unless you're applying these props to a composite component (custom component). In that case, the `ref` is set to the instance of the composite component and not a DOM node that we can scrol

[2017-07-31 07:27] kentcdodds commented on #62
Oh, here's my try at `getItemProps` if you're curious: https://codesandbox.io/s/KZllZgEOR

[2017-07-31 09:29] nndung179 commented on #38
It is more nice with material style. I will update label to my example

[2017-07-31 14:52] kentcdodds commented on #62
I've managed to widdle it down to only the `Autocomplete` and `Autocomplete.Input` components. Pretty interesting. Still evaluating this... https://codesandbox.io/s/mQR4ZlyVE

[2017-07-31 16:28] souporserious commented on #62
After looking at this more I think I actually like what we have now better 😕

What I like about the `Controller` is that we get less DOM and more flexibility. Your above example will render an additional `div` now, since `Autocomplete` renders an element already. I personally like less DOM because coming from the front end and design world it's easier for people to manage what is going on as well

[2017-07-31 18:28] geoffdavis92 commented on #61
@souporserious I actually sketched one of those out for the examples! Here: https://www.codesandbox.io/s/M89KQOBRB

[2017-07-31 18:53] souporserious commented on #61
Nice! That's pretty much what I'm doing, just internally now :) I think it's ok to be opinionated about this part since it seems fairly common in UI's and the code to handle it will pretty much be the same. But, I'm open to whatever. Do you think it would be better not to include this in the library @kentcdodds? Maybe we can add helper utils for specific things like this.

[2017-07-31 18:57] geoffdavis92 commented on #61
@souporserious that sounds awesome. Yeah mine is a little rough and perhaps a bit over-engineered.

I second the desire to have a Helper utils/components sub-library, and would love to contribute if desired.

[2017-07-31 19:46] geoffdavis92 commented on #1
@kentcdodds Got it working. Do you allow non-contributors to edit the README? Otherwise my example link is here: https://www.codesandbox.io/s/M89KQOBRB

[2017-07-31 23:17] kentcdodds commented on #1
Thanks! Yes, please open a pull request to the README 😀

[2017-08-01 00:23] souporserious opened #63 "Remove index prop from Item"
I was messing around with sections to replace our current autocomplete and was finding the index prop to be tedious, and then I realized we might be able to get rid of it altogether. Is there any reason you can think of why we can't use `indexOf`? I added it locally and everything seems to be working 👌

[2017-08-01 13:43] bernard-lin commented on #53
Are you looking for something similar to the react-instantsearch example?

[2017-08-01 19:41] kentcdodds commented on #61
I think this is common enough that it'd be nice to expose a helper for it.

[2017-08-01 20:02] souporserious commented on #61
I created similar utilities for my selectly library, maybe I can port them over here :) https://github.com/souporserious/selectly/tree/master/src/utils

[2017-08-01 20:09] #63 closed

[2017-08-01 20:13] souporserious commented on #62
Did you get any further on this? I was wondering if the `getInputProps` needed to be a function and if it could just be `inputProps` similar to [here in react-autosuggest](https://github.com/moroshko/react-autosug
gest#renderinputcomponent-optional). I think this could work nice since you can just intercept `inputProps.ref` and pass it to something like an `innerRef` if you need to.

[2017-08-01 20:17] kentcdodds commented on #62
Here's two options we have

This is basically what we have now (except I've removed `Autocomplete.Controller` and made the `Autocomplete` an `Autocomplete.Controller` instead):

[code]

The drawback here is that the components will render a `div` or `input` as the case may be and if you want to render your own thing you'd have to support a `component` prop. Also if you want to use a `ref` prop to

[2017-08-01 20:23] souporserious commented on #62
What was the reason for bad perf? I think trying to do what I mentioned above might be a pretty nice path. I'll try to fork what you've done and see if I can make it work. I think it should be expected for `refs` to be wonky and we can mention that in the docs. Even the way we do it now with the `component` prop doesn't really work because you run into `ref` issues if your custom component doesn't

[2017-08-01 20:27] kentcdodds commented on #62
We can't do the `inputProps` thing without a wonky API anytime someone wants to add an `onChange` or `onKeyDown` listener. In our function we compose those together. If we just used an object, then folks would have to compose them themselves. That wouldn't be nice.

I'm not certain what the bad perf problem was. You can investigate it a bit if you like.

[2017-08-01 20:28] souporserious commented on #62
After looking I see that `getInputProps` is trying to compose those handlers together. I think this should be on the user in my opinion since it's more expected whether you want to override before or after the event. Plus, you only run into that if you need that additional functionality. I think as long as it is mentioned in the docs it would be fine.

[2017-08-01 20:30] souporserious commented on #62
Ah just saw your response 😇 what if we just expose `compose` or some other util and let them do it when they need to?

[2017-08-01 20:30] kentcdodds commented on #62
But what if we want to add an `onKeyUp` handler for implementation reasons in the future? That'd be a breaking change for anyone currently using an `onKeyUp` prop. I really don't want to expose those implementation details to folks. I think that's a major footgun to require people to compose the `onClick` handler themselves.

[2017-08-01 20:31] souporserious commented on #62
Ahh yeah that's true 😕 good thinking. Maybe what we have currently is good? 🤷‍♂️

[2017-08-01 20:36] kentcdodds commented on #62
Yeah, that's what I'm thinking. Despite the `innerRef` and the `component` props which I'm not a big fan of, I think that this is the most simple...

[2017-08-01 20:37] souporserious commented on #62
Ahhh it stinks 😜 I've tried so many different things to get around this haha. I wish we could just use `findDOMNode` 💀

[2017-08-01 20:40] kentcdodds commented on #62
Why can't we just use `findDOMNode`?

[2017-08-01 20:41] souporserious commented on #62
[It's all here](https://github.com/yannickcr/eslint-plugin-react/issues/678) 😞

[2017-08-01 20:45] kentcdodds commented on #51
I'm going to do this now.

[2017-08-01 21:01] souporserious opened #67 "More props for Input or possible additional component"
I'm trying build this [react-select multiselect demo](https://jedwatson.github.io/react-select/) and wondering if you have any ideas on how to handle this use case?

Should we add some props to determine how the Input is being used? I'm not sure the best way to handle this with our current setup. Seems like we just need to be able to clear the input value after an item has been selected 🤔

[2017-08-01 21:03] kentcdodds commented on #67
I'm thinking that the best thing we could do is have another `Input` component that we expose (`Autocomplete.MultiInput`?) That seems like it'd be the most straightforward way to do things...

[2017-08-01 21:06] souporserious commented on #67
👌 I like that. I'll start playing around with things 😁

[2017-08-01 21:24] kentcdodds commented on #62
So... Here's the thing. When we render it ourselves, we make and rely on assumptions. For example: We apply a `ref` prop on whatever we render for the `input`. But if the user wants to render a custom component, that `ref` will be assigned to the instance of their component rather than the `input` that they render. This will break things.

So with that, I think I'm going to go with this. I don't r

[2017-08-01 21:32] kentcdodds commented on #62
I'm thinking that `findDOMNode` will be unavoidable here... And honestly I wonder if we can make it lazy for the items. That would probably speed things up...

[2017-08-01 21:33] kentcdodds commented on #62
We could also apply `data-` attributes on the `items` and query for them when they're highlighted or something... 🤔

I don't mind the implementation being a tiny bit messy if it means exposing an API that's really clean, flexible, and simple.

[2017-08-01 21:33] souporserious commented on #62
I think `findDOMNode` would be great! The only thing that worries me about it is that it might go away in the future.

[2017-08-01 21:36] souporserious commented on #62
Oh I like the data attribute idea! We've done that in the past at my work and it's worked well.

[2017-08-01 21:37] bernard-lin commented on #53
^bump 🙃

[2017-08-01 21:38] no1melman commented on #62
I used that `data-` to create a global click handler that hooked back into a list of items - works really well, doesn't seem dirty either. Although I did end up recursively going up parentElement till I found one with the correct class....

[2017-08-01 22:00] kentcdodds commented on #62
Problem still remains though... If you're rendering a custom component, you'll be required to forward all props to the underlying dom element. But I don't think that can be helped with any of our stuff anyway. At some point you need to send the props we send you to the right place.

[2017-08-01 22:03] kentcdodds commented on #53
Oh, sorry about that! 😅

Yeah, something like that would be fine :+1:

[2017-08-01 22:03] kentcdodds commented on #53
You really have the liberty to do whatever you'd like honestly :)

[2017-08-01 22:04] kentcdodds commented on #53
What I'm really looking for is some feedback on the API. How straightforward is it? Does it support your use cases? That kind of stuff.

[2017-08-01 22:59] bernard-lin commented on #53
Sounds good! 👍

[2017-08-01 23:41] kentcdodds commented on #62
Here's a WIP that I'm pretty happy with: https://github.com/paypal/react-autocompletely/pull/68

Please give it a look!

[2017-08-02 06:10] #62 closed

[2017-08-02 06:21] kentcdodds commented on #1
There's been a significant update! I've updated the README [the base example](http://kcd.im/rac-example).

Please give it a spin! I'm really excited about the flexibility of the new API! Thank you @jaredly for the inspiration here :tada:

[2017-08-02 11:53] Corjen commented on #1
@kentcdodds great progress, love the new API! 🎉  Couldn't find the time this weekend, but just finished with the first react-select example, see https://codesandbox.io/s/JEKJXDJK

Would love some feedback!

[2017-08-02 16:08] kentcdodds commented on #10
Ok, clearly the name is [confusing people](https://twitter.com/rem/status/892764754497941504).

I'm happy to rename this project, but it's gotta be good.

Why don't we come up with several suggestions, then I can make a twitter poll and see what folks think...

[2017-08-02 16:20] souporserious commented on #10
😇 I'll give you selectly if you want it, since it's similar to the current name 😁

[2017-08-02 16:23] kentcdodds commented on #10
We can make that an option. Though I'd like `react` in the name honestly. I don't expect that this'll work without (P)react...

[2017-08-02 16:24] souporserious commented on #10
Sounds good 👍 `react-selectly` should be available. I'll try to think of some other names 🤔

[2017-08-02 16:58] kentcdodds commented on #51
Fixed

[2017-08-02 16:58] #51 closed

[2017-08-02 16:59] #59 closed

[2017-08-02 16:59] kentcdodds commented on #53
FYI, pushed a pretty significant API change. Probably the last one. It's really great :smile:

[2017-08-02 17:03] bernard-lin commented on #53
I saw! Thanks for the update 😄

[2017-08-02 17:05] kentcdodds opened #71 "What can we remove, need to add to getControllerStateAndHelpers?"
[The `getControllerStateAndHelpers` function](https://github.com/paypal/react-autocompletely/blob/d644435e2415fefa734baad8de5fd8f589dc1041/src/autocomplete.js#L166-L200) currently exposes a bunch of things which we use to send to the users of the component. What should we add or remove from this?

State:

- `value`
- `isOpen`
- `selectedItem`
- `highlightedIndex`

Actions:

- `toggleMenu`
- `openM

[2017-08-02 17:16] dashed commented on #51
@kentcdodds sweet thanks! 👍 I'll check out master when I get the chance 😄

[2017-08-02 19:27] bernard-lin commented on #10
react-optionally 😂

[2017-08-02 20:46] kentcdodds commented on #10
Ok, here's [the tweet](https://twitter.com/kentcdodds/status/892849013182955521) :smile:

[2017-08-02 22:13] kentcdodds commented on #10
Because react-autocompletely can support such a wide variety of use cases, @markdalgleish [suggested](https://twitter.com/markdalgleish/status/892867022425436160) that we come up with a catching but totally meaningless name.

I like the idea! What do you think? Bonus points if it's in reference to something from ancient times (like greek mythology or Medieval times or something).

[2017-08-02 22:17] kentcdodds commented on #10
Sometimes it might help to think of a logo/emoji first and then come up with a cool name. Here are some emoji that I think would be cool:

⚡️ 🔥 🔮 💫 ✨ 💥 🕵️‍♀️ 🔎

[2017-08-02 22:22] bernard-lin commented on #10
I really like the Sherlock one...but probably because I really love the stories 😅

[2017-08-02 22:30] kentcdodds commented on #10
Oh, what if we use a character from ["Mistborn"](http://mistborn.wikia.com/wiki/Mistborn) (I'm reading it right now):

Basically, Mistborn are rare. More commonly you'll find Mistings. Mistings have one of 8 available powers, but Mistborn have all 8 powers. So the idea of flexibility is strong here.

So we could use [Kelsier](http://mistborn.wikia.com/wiki/Kelsier) ([not taken](https://www.npmjs.c

[2017-08-02 22:38] kentcdodds commented on #10
[Azula](http://avatar.wikia.com/wiki/Azula) might be cool to go with 🔥

[2017-08-02 22:38] sumorai commented on #10
react-selectively
react-positively
react-specifically
react-picky
react-choosey
react-pickle
react-pickly

[2017-08-02 22:43] rouzbeh84 commented on #10
that could be cool. i was thinking along the lines of animals like an owl 🦉 for all knowing wise, elephant 🐘 for it's memory/recollection, or even a golden-retriever 🐕 for it's....well, retrieving haha.  might be a bit of a stretch though.

maybe just `react-zoltan` like the fortune teller or `react-acadabra` with a 🎩  for a magician 😝

[2017-08-02 22:59] mateo-io commented on #10
reactive-react

[2017-08-03 01:06] souporserious commented on #10
react-choo 🚂
react-gather 👐
react-harvest 🌾
react-retriever 🐕 (credit to @rouzbeh84 from above, writing it out makes it sound so cool! 😎)

[2017-08-03 03:02] kentcdodds commented on #10
I'm liking:

- react-kadabra 🔮
- react-retriever 🐕

But honestly I'm starting to think that `react-autocompletely` is pretty good and we should just stick with it. I dunno... It's already gotten a fair amount of traction.

[2017-08-03 04:06] souporserious commented on #10
I vote for react-kadabra. I like that you can use the same emoji with it and since the library is still fairly new I think the name change would be fine. It hopefully help mitigate any confusion on it being more than an autocomplete component. I mean with kadabra we could make a reallllllly cool demo site since it has a sort of theme to it 😁

[2017-08-03 04:10] kentcdodds commented on #10
Alright, if you commit to making a cool demo site then consider it done.

[2017-08-03 04:12] souporserious commented on #10
I'm soooo down 😍

[2017-08-03 04:13] kentcdodds commented on #10
Nice!

[2017-08-03 04:20] kentcdodds commented on #10
[code]

[2017-08-03 04:21] kentcdodds commented on #10
It'll take a little time for travis to update but hopefully it'll happen soon

[2017-08-03 04:23] souporserious commented on #10
😱 🎉 yay! I'm leaving for vacation for two weeks soon, but when I get back I'm on it 💪

[2017-08-03 04:26] rouzbeh84 commented on #10
HOORAY! 👏🏽 🎉

@souporserious holler when you get back, i'll def try to help you out on the demo site if you'd like 🙏🏽

[2017-08-03 04:28] kentcdodds commented on #10
I'll try to setup Netlify on this repo so we have an easy deployment story :smile:

[2017-08-03 13:43] ferdinandsalis opened #75 "If there is no scrollable node it results in an error"
- `react-kadabra` version: 1.0.0-beta.7
- `node` version: 8.1.4
- `npm` (or `yarn`) version: 5.3.0

**What I did:**
Clicked on the button that opens the list.

**What happened:**
[code]

I tried to reproduce here but since [codesandbox](https://codesandbox.io/s/yPp1XZnDR) has a scrollable node at some point the error does not occur. However in local project I can reproduce. Setting the `List` Cont

[2017-08-03 14:00] kentcdodds commented on #75
Thanks for this! If you could implement a fix that would be super! Feel free to [make a pull request](http://makeapullrequest.com)! 👍

[2017-08-03 14:19] ferdinandsalis commented on #75
Will do!

[2017-08-03 15:23] kentcdodds commented on #10
This is a good point: https://twitter.com/AntJanus/status/893116305431068673

<img width="626" alt="screen shot 2017-08-03 at 9 23 32 am" src="https://user-images.githubusercontent.com/1500684/28929545-6f0cc1c0-782d-11e7-9630-e529ca31ebc8.png">

We should probably avoid tying ourselves to the pokemon for this reason...

[2017-08-03 15:27] kentcdodds commented on #10
And with that I'm honestly thinking that react-retriever 🐕 may be better... Yikes, all this naming stuff is giving me a headache.

[2017-08-03 15:32] souporserious commented on #10
Oh dang that's a good point 😞 I always liked react-retriever as well. I don't know which is harder, a good API or naming something 💩

[2017-08-03 15:33] kentcdodds commented on #10
Problem with react-retriever is it's not entirely easy to spell. Not a really common word people use...

Back to the drawing board....

[2017-08-03 15:38] souporserious commented on #10
Orrr react-cadabra? Playing off of `Abracadabra` and not pokemon so there aren't any lawsuits 😁

[2017-08-03 15:43] rouzbeh84 commented on #10
`react-resilience` cause who knows what people are gonna put in your form inputs ;). Jk haha

I like both of the resurgent finalists. FYI I only rethink in re-insert-words now 🤣😂

[2017-08-03 15:53] alexkrolick commented on #10
I spelled "kadabra" wrong like 3 times (trying different variants  of abacadabra) whilw Googling after seeing it on Twitter and got really irrelevant results. Maybe as it gets more popular it will rank higher but right now... Not so great.

OTH I do like the Ruby convention of using somewhat fanciful or uncommon names for libraries to avoid giving the appearance of there being an official or "bles

[2017-08-03 15:59] ferdinandsalis commented on #75
@kentcdodds I am trying to link my local fork of react-kadabra via `npm link` in the root directory of react-kadabra and `npm link react-kadabra` in my project to test it. However I get the following error `Module not found: Can't resolve 'react-kadabra'` when running the app. Do you have a clue why that is not working? Same goes for just installing the local package via `npm install`.

On another

[2017-08-03 16:10] ferdinandsalis commented on #75
Resolved the apove. Sorry for the noise. I had some linting errors and this failed the build …

[2017-08-03 16:21] kentcdodds commented on #75
Don't worry about tests yet. I'll add tests when the API has solidified before we do the official release :smile:

[2017-08-03 16:25] kentcdodds commented on #10
I definitely want to keep this `react` specific as it is a react library, so having `react` in the name is important IMO (despite the drawbacks you mention).

Yeah, that's unfortunate... Let's go with something easy to spell.

[2017-08-03 16:35] rossipedia commented on #10
react-completionist
react-volunteer
react-ucompleteme (please don't)

[2017-08-03 16:47] alexkrolick commented on #10
The react part is fine and makes sense, it's "well I'm the first library here so I get the most obvious name" part that isn't great. I.e., react-select, react-router are one of many.

Is there always an input box? If so, "react-typeahead-toolkit" is sufficiently specific to avoid future naming conflicts, without using nonsense words.

[2017-08-03 16:49] souporserious commented on #10
That's part of the issue 😕 there doesn't always need to be an `input` it can be used to make a simple dropdown with keyboard navigation as well as other components.

[2017-08-03 17:14] tkh44 commented on #10
`downshift`

[2017-08-03 17:23] kentcdodds commented on #10
I like that a lot actually @tkh44!

Now for a emoji... The first thing that comes to mind is 🏎  which is totally awesome 🕶

Should it be `react-downshift` or just `downshift`?

Honestly... Someone could wrap this lib up in [`preact-habitat`](https://github.com/zouhir/preact-habitat) by @zouhir and they could use it in any framework. It'd be pretty slick (and small) actually!

So I'm thinking simpl

[2017-08-03 17:26] tkh44 commented on #10
I would just use the word without the react prefix.

[2017-08-03 17:26] bernard-lin commented on #10
second that!

[2017-08-03 17:26] kentcdodds commented on #10
@souporserious what do you think?

[2017-08-03 17:32] souporserious commented on #10
:shipit: 🏎 🎉

[2017-08-03 17:33] souporserious commented on #10
I like single names as well :) I don't think it necessarily needs react in the name. Think of all of the jQuery plugins that came out that didn't prefix jQuery.

[2017-08-03 17:34] souporserious commented on #10
You cool to wait to change until the multiple stuff is done? 😁

[2017-08-03 17:35] kentcdodds commented on #10
Sure, if you're working on it now :wink:

[2017-08-03 17:41] #75 closed

[2017-08-03 18:11] marcysutton opened #79 "Accessibility feedback"
Here are some things I found when I tested the component!

## What Works
- It works great from the keyboard. Very intuitive, and the clear results button is actionable. 👍
- Great job announcing the number of items available!

## What Needs Work
- [x] The input needs a label, as `placeholder` isn't reliable in every assistive technology. You could use a unique `aria-label`, or ideally, a `<label>`

[2017-08-03 18:16] kentcdodds commented on #10
So here's what I'm thinking about for a logo:

![downshift](https://user-images.githubusercontent.com/1500684/28936529-407938f8-7845-11e7-9f02-c550e87a7b24.png)

That emoji is coming from [emojione](https://www.emojione.com/emoji/1f3ce) (which is where I got the glamorous logo from)

But someone suggested I use [the one from twemoji](https://github.com/twitter/twemoji/blob/gh-pages/2/svg/1f3ce.svg

[2017-08-03 18:16] kentcdodds commented on #10
Another benefit is I don't have an SVG for the one from emojione so we'd have to make that ourselves....

[2017-08-03 18:17] marcysutton commented on #79
Note: I wanted to test it on mobile, too, but I can't get codesandbox.io to work on a small screen!

[2017-08-03 18:20] kentcdodds commented on #79
Wow @marcysutton, this is super nice of you to take time out of your busy schedule to help make this accessible! Thank you very much!

On mobile you might try this URL: https://codesandbox.io/embed/9rWEmzEv8?hidenavigation=1&view=preview

You could also download [the example](https://codesandbox.io/s/9rWEmzEv8):

<img width="266" alt="screen shot 2017-08-03 at 12 19 16 pm" src="https://user-images

[2017-08-03 18:35] souporserious commented on #10
Coming from a design standpoint, I like the red car better 😁

[2017-08-03 18:59] kentcdodds commented on #10
Ok! Rename is done and I added a simple png logo. Hoping to get a nice SVG soon!

[2017-08-03 18:59] #10 closed

[2017-08-03 19:08] kentcdodds commented on #10
Oh snap. My friend @strack just sent me this as an SVG! :tada:

![screen shot 2017-08-03 at 1 08 38 pm](https://user-images.githubusercontent.com/1500684/28938937-df0eb4aa-784c-11e7-90e0-cbb5039984e3.png)

I'll update the logo on the README with this. Thanks tons Isaac!

[2017-08-03 19:13] josephrexme commented on #10
Oops I guess I'm late. I did this https://gist.github.com/josephrexme/d35258ac2bc0ef5038795f2e8eee8860

[2017-08-03 19:16] kentcdodds commented on #10
Ah, but 2 minutes! Thanks for working on it! I've already updated it with what Isaac sent me. I think I'll leave it as is. I really appreciate what you've done though, thank you :)

If you still want to help out, I'd love to have a help codesandbox (like [the one for glamorous](https://help.glamorous.rocks)). If you'd like to make that, I'd love it :smile:

[2017-08-03 20:45] kentcdodds opened #80 "Controlled vs uncontrolled"
Right now this is totally uncontrolled (you can't pass the value in and can only get the value out). We should support controlled (passing the value in as well).

Someone brought up their use case to me in gitter and this is important I think.

[2017-08-03 21:08] souporserious commented on #80
I had this functionality in my last PR 😁 I figured it'd be easier to do after that was merged. I'll try and get to this today. React-training's example of this is great.

[2017-08-03 21:12] souporserious commented on #61
done 💯

[2017-08-03 21:12] #61 closed

[2017-08-03 21:17] kentcdodds commented on #80
Nice!

TIL:

[code]

I didn't realize that you can reference `this` inside class fields. That's awesome. Now I have even fewer reasons to ever have a constructor! :tada:

Are you going to work on this now @souporserious?

[2017-08-03 21:18] souporserious commented on #80
Not right now, please feel free to take it if you'd like :) I have somewhat of a busy day today.

[2017-08-03 21:20] souporserious commented on #80
Maybe test IE though if you're getting rid of the constructor. I remember running into a bug where it choked for some reason when trying to use `this` in a property.

[2017-08-03 21:23] souporserious opened #81 "Use refs for items in place of data-attributes"
Now that we have a way to do this for the root element, how do you feel about taking the same approach for items and allow them to accept a `refKey`? I imagine there is a small perf win here since we would have access to the node and not have to query it.

[2017-08-03 21:53] kentcdodds commented on #81
Actually, I think the perf win would be in _not_ using `ref` (because the `ref` function is called once for every item on every render). Also, I don't like `refKey` because it's an implementation detail thing. If I switch from a regular dom element to a glamorous component, now I have to update the `refKey`. I don't have to think about that today. So unless we find a compelling reason to reduce th

[2017-08-03 22:19] ferdinandsalis opened #83 "A note on equlity testing"
We should add a note somewhere about equality testing for props like `isSelected`. This will bite people (me just now ☺️) since objects might not be the 'same' across different render cycles. Maybe in the examples or in a notes section.

[2017-08-03 22:29] kentcdodds commented on #83
Sounds great! Why don't you create a "Common Pitfalls" section in the README and add this to it :+1: Thanks!

[2017-08-03 22:43] souporserious commented on #81
Sounds good 👍

[2017-08-03 22:43] #81 closed

[2017-08-03 22:49] ferdinandsalis commented on #83
Will do.

[2017-08-03 22:56] souporserious commented on #83
I was wondering about this. I was thinking we could treat `selectedValue` as `selectedValue: this.props.getValue(itemValue)` this way we are only working with strings or an array of strings so it's easier to do these things and avoid pitfalls. But that also might make it more complicated since you probably will need to find the item with helper like `getItemFromValue` or something.

[2017-08-03 22:59] souporserious commented on #38
After the recent API changes, do you think it would be helpful to add an `id` to controller state to make building labels super easy? Or we can just leave it up the user since all we'll really be doing is adding a unique id.

[2017-08-03 23:05] souporserious commented on #79
I think `activedescendant` should be relatively easy to add since we have `highlightedIndex`. I did some of this work in [react-aria](https://github.com/souporserious/react-aria/blob/master/src/Select/Option.jsx#L48). I'll try and get it done tomorrow 😁

[2017-08-03 23:09] kentcdodds commented on #38
Well the `label` would have a `for` assigned to the same thing that's the `id` that's applied to the `input` right? So we could generate a random ID per instance of the Autocomplete component and in `getInputProps` return that randomly generated ID. Then a `getLabelProps` that returns `htmlFor: 'the-random-id'`

Should be pretty simple and also widen the a11y pit of success.

[2017-08-03 23:11] kentcdodds commented on #83
I think that the `selectedValue` should be `item.value` personally...

[2017-08-03 23:40] souporserious commented on #83
I like it because you avoid the pitfalls. Do you think we should provide a helper like `getItemFromValue`?

[2017-08-03 23:47] kentcdodds commented on #83
Maybe I'm confused by what you're suggesting....

[2017-08-04 11:20] pqr commented on #10
*react-pqr* - simple, short, alphabet for everything

[2017-08-04 11:43] CMTegner commented on #38
Note that this doesn't play well with SSR in React 15. Checksums are going away in v16, so eventually this won't be a problem :)

[2017-08-04 12:52] ferdinandsalis commented on #83
To be honest I am a bit confused about the different 'values'. This is my understanding of each of the 'values'.

* `selectedValue` — `selectedItem`, item is already a term used in the code
* `inputValue` — value of the input (this one is obvious) which is always a `string`
* `value` — the value from `getValue(selectedValue)` it kinda serves the purpose of an id, right?
* `defaultValue` — the `ini

[2017-08-04 16:16] #80 closed

[2017-08-04 17:47] #38 closed

[2017-08-04 20:27] kentcdodds commented on #44
I'm going to close this in favor of #4

Also, we have in fact switched to `React.Children.only(children)( .. )` :smile:

[2017-08-04 20:27] #44 closed

[2017-08-04 20:31] kentcdodds commented on #79
Progress update: We've added a `getLabelProps` to encourage people to use a label which will have the proper `for` prop and an `id` prop for the input. :+1:

I'll be working on the false "no results" status message. Thanks!

[2017-08-04 23:30] planigan commented on #49
Adding the babili preset does not get rid of this error for me. My original error is different as well:

[code]
The code from `autocomplete.js` line 72:
[code]
Adding the `transform-es2015-template-literals` plugin, the error moves further along:
[code]
The code from the offending area now:
[code]
I thought that might be choking on destructuring, so I added `transfform-es2015-destructuring` and go

[2017-08-04 23:41] kentcdodds commented on #49
I think I fixed it. Thank you for digging @planigan. That gave me the insight I needed!

[2017-08-04 23:41] planigan commented on #49
@kentcdodds I tried with your new `.babelrc` and I get the same error as the final error in my last message.

[2017-08-04 23:44] kentcdodds commented on #49
Hmmm.... That's a surprise...

[2017-08-04 23:48] dashed commented on #49
maybe you need to specify the browser prop? https://github.com/babel/babel-preset-env#targetsbrowsers

[2017-08-04 23:54] planigan commented on #49
I tried with:

[code]
Same error.

[2017-08-04 23:57] dashed commented on #49
That's really weird. 🤔

[2017-08-04 23:58] kentcdodds commented on #49
Why don't we try to add the stage 2 preset 🤷‍♂️

[2017-08-05 00:05] planigan commented on #49
Ok, this was my bad. I apologize. After getting the error fixed in `autocomplete.js`, I was still running the build with an `&& cp dist/autocomplete.js`, so the `set-a11y-status.js` was still the old version. @kentcdodds Your new `.babelrc` works as intended. Sorry to drag this out.

[2017-08-05 00:09] kentcdodds commented on #49
Oh good! I'm glad that's been sorted out. Thanks for all your help everyone!

[2017-08-05 00:09] #49 closed

[2017-08-05 05:38] nndung179 opened #90 "value of inputValue is undefined"
- `downshift` version: ^1.0.0-beta.8
- `node` version: 6.5.0
- yarn version: 0.21.3

Relevant code or config

[code]

What you did:
I inputed keywork to filter result.

What happened:
`inputValue` is `undefined`

Suggested solution:
I replaced `inputValue` with `value`. It has worked fine.  Just confuse **value** and **inputValue**

[2017-08-05 05:55] souporserious commented on #83
Some old API's in there, sorry 😅  `value` is no longer a thing. It seems `selectedValue` might not make sense, maybe `selectedItemValue` is better? And then maybe `defaultValue` to `defaultSelectedValue` or something.

[2017-08-05 14:38] kentcdodds commented on #79
@souporserious, will you get a chance to work on `activedescendant`? That's the last thing we have left for a11y (for now)! :tada:

[2017-08-05 14:42] kentcdodds opened #93 "What can we remove?"
I think we are getting to a point where we could move/remove things before 1.0.0. Ideas welcome. I think that we might be able to remove `multiple` with the new controlled/uncontrolled capabilities. We may be able to merge `onChange` and `onStateChange`... What else?

[2017-08-05 17:04] souporserious commented on #79
On it today 👍

[2017-08-05 17:10] souporserious commented on #93
I think we can get rid of `onChange` in favor of just `onStateChange` since they are fairly similar. I'm curious why you think `multiple` isn't valid anymore? Do you have an example of what that looks like if we remove it? I was out most of yesterday and missed some of the API additions and how `onStateChange` might help here 😇

[2017-08-05 17:33] kentcdodds commented on #93
Could you create a multiple select example in the repo? Then I can see if I can change it to not use multiple an see if we can reasonable remove that. I'm actually almost tempted to remove selectedValue from State and force you to pass that in... That would make it pretty flexible I think...

[2017-08-05 20:43] zsid commented on #1
Hey @kentcdodds,

I have started working on the example ([here](https://codesandbox.io/s/4zNL2WW1) is my example) but my experience with codesandbox is not positive:
* It keeps breaking when I navigate between `styles.css` and the `index.js`
* Doesn't always recognise my classes that I pass to the input.
* I have spent around 1hour debugging to find out that codesandbox seems to randomly throw an

[2017-08-06 06:53] the-simian opened #94 "Example, and question about api"
- `downshift` version: Beta
- `node` version: 8.2.1
- `npm` (or `yarn`) version: yarn 0.27.5

Relevant code or config

Hello! I've been fleshing out a super basic example that is for binding a list of object in the context of Material UI, that' I'd love to submit to the #1 when I've polished more.

![image](https://user-images.githubusercontent.com/954596/29001290-2e3b2446-7a4b-11e7-9b7b-7d6e3daf3

[2017-08-06 06:54] the-simian commented on #90
possibly references, as your question looks like what I also observed #94

[2017-08-06 18:19] souporserious commented on #93
Is the latest beta released? Trying to create a multiple example on Codesandbox, but it seems I can only get 1.0.0-beta.8 to install 😕

[2017-08-06 18:21] kentcdodds commented on #93
It is published. To update you can't click the refresh button on the dependency. You have to add it like you're adding it from the start: `downshift` `beta`

[2017-08-06 20:03] souporserious commented on #93
Thanks! 😄  I put together a [small multiple demo](https://codesandbox.io/s/Q0Nxnqn39). Sorry, it's not the best. I'm leaving for two weeks tomorrow on vacation. But I'll be able to help with whatever when I get back 😅

[2017-08-06 20:32] kentcdodds commented on #93
Everything will be different when you get back 😈😈😈
Jkjk, have fun!

[2017-08-06 20:49] ferdinandsalis commented on #83
… continued from above. The way how values are treated currently seem to be at odds with my thinking. I am trying to  implement a basic select input, similar to the one you find in the browser. Along those lines I pass in the options in the following format `[{ label: 'Arbeiten auf Papier', value: 'works_on_paper' }, …]`. If the select input already has value I pass it in like this `<Select defaul

[2017-08-06 20:58] souporserious commented on #83
[Here's an example](https://codesandbox.io/s/Q0Nxnqn39) I just did that shows how you can build a multi-select. Maybe we need better docs or there can be better naming for these values. @kentcdodds what are your thoughts here?

[2017-08-06 21:16] ferdinandsalis commented on #83
So to give your example an initial value you would need to pass the following to your component `defaultValue={[{name: "Aayla Secura", id: "aayla secura"}]}`. Thats fine for this example. But lets say I have the select hooked up to a form and I am getting the values from an api, I will get some kind of string that serves as id for the selected item.

I guess what I could do  —
[code]

[2017-08-06 23:22] the-simian commented on #94
Oh I wanted to add: I only made an entry point so that the search could apply to whatever the enduser configures. For instance maybe you want to search 'names and emails' or 'just names' - you can override the search string. I feel like for this example it might be more practical to search only titles, but I wanted to demonstrate that one could override that property.

Another (more real-world) ex

[2017-08-07 04:27] souporserious opened #98 "autocomplete.js -> downshift.js?"
Should `autocomplete.js` become `downshift.js` now? So it would be used like `<Downshift .../>`.

[2017-08-07 07:53] jgoux commented on #80
Hello all,

I find it still too hard to make the Autocomplete controlled.

The stateProps concept is great for edge cases, but I'd expect to have at least a `value` props on `Autocomplete` so we can make it controlled without caring about the internal state.

I tried using `selectedItem` but then I have to handle *all* other interactions to update it.

I think adding a `value` props is just a matt

[2017-08-07 08:20] jgoux commented on #94
Hello,

+1 for `clearSelection` clearing only the `selectedValue`, I'd expect it to clear the `inputValue` as well.

Also, could we reduce the API by removing `clearSelection` and passing `null` or `undefined` to `selectValue` ?

[2017-08-07 08:23] jgoux commented on #71
Hello,

maybe we could remove `clearSelection` and accept `null` or `undefined` on `selectItem` ?

[2017-08-07 14:33] kentcdodds commented on #79
Thanks to @souporserious we're done with the specific feedback. Thank you so much @marcysutton! We'll keep an eye on opportunities to improve accessibility of this project :smile:

[2017-08-07 14:33] #79 closed

[2017-08-07 14:39] kentcdodds opened #99 "Make a real browser/esm/cjs build"
Just like in glamorous :smile:

I'll be working on this

[2017-08-07 15:13] ferdinandsalis commented on #83
Sorry guys if I am confusing you. Will take another thorough look at my design. I am sure there are some wrong assumptions on my side ☺️

[2017-08-07 16:28] ferdinandsalis opened #101 "defaultValue can only be provided on initial render"
- `downshift` version: 1.0.0-beta.12
- `node` version: 8.2.1
- `npm` (or `yarn`) version: 5.3.0

**Problem description:**
When providing an initial value via `defaultValue` it will only be 'applied' on initial render. However when that value is only available at an later point (api call) it will be ignored.

**Suggested solution:**
Use component `componentWillReceiveProps` to handle the new `defau

[2017-08-07 16:37] #4 closed

[2017-08-07 16:37] #99 closed

[2017-08-07 16:52] the-simian commented on #1
[I've made an example here](https://codesandbox.io/s/QMGq4kAY). Its based on material ui, thought it is a bit different from the existing material-ui example.
[As soon as I get some clarity about how to clear selection (correctly), I'd like to submit that to the existing examples.](https://github.com/paypal/downshift/issues/94)

[2017-08-07 17:01] kentcdodds commented on #93
Ok, awesome! So I'm much happier with [this solution that doesn't use `multiple`](https://codesandbox.io/s/W6gyJ30kn) and by removing `multiple` from the implementation that simplifies things considerable :smile:

So :wave: multiple!

[2017-08-07 17:50] kentcdodds commented on #98
Done

[2017-08-07 17:50] #98 closed

[2017-08-07 19:23] kentcdodds commented on #94
`clearSelection` does more than just set the `selectedItem` (used to be `selectedValue`, see #104) to `null`. It sets it to null, updates the input value, and focuses on the input. If you don't want to do all that then you can use the other APIs. I think that this is valuable and common enough to justify keeping `clearSelection` around.

@the-simian, I think that what you're talking about is prope

[2017-08-07 19:24] kentcdodds commented on #94
Also, I'm so pleased that you're enjoying this module :smile:

[2017-08-07 19:24] kentcdodds commented on #93
I think I've removed all I want to remove that this point. We're getting closer!

[2017-08-07 19:24] #93 closed

[2017-08-07 19:25] kentcdodds commented on #90
I've updated the docs and some implementation stuff. We're getting really close to being through. Please update your version to the latest beta and let me know if you still experience issues/confusion.

[2017-08-07 19:25] #90 closed

[2017-08-07 19:25] #94 closed

[2017-08-07 19:25] #101 closed

[2017-08-07 19:26] kentcdodds commented on #101
I _think_ the new `defaultInputValue` prop will solve your issue :) Please update to the latest version and take a look at the docs :smile:

Thanks so much for the feedback! It's invaluable.

[2017-08-07 19:26] kentcdodds commented on #94
I'm _pretty_ sure that the latest version should clear up a lot of confusion.

[2017-08-07 19:27] ferdinandsalis commented on #101
I am glad I can help!

[2017-08-07 19:27] the-simian commented on #94
Hi, I think we might be talking past each other, the problem is that clearSelection does not currently also clear the input as well, and results in `[Object object]`, I am not saying we need to get rid of clear selection, I am saying it behaved differntly (and more expectedly) in a slightly earlier version.

If you look at my example I commented where I'm having to 'guard' against the object strin

[2017-08-07 19:30] the-simian commented on #94
thanks for clearing up on my other api questions - I'm looking over the diff to remove any stale references in my demo

[2017-08-07 19:31] kentcdodds commented on #94
Yes! You're right! It did that, but I just fixed it :smile: Try `1.0.0-beta.15` :wink:

Thank you so much!

[2017-08-07 19:31] the-simian commented on #90
@kentcdodds will do!

[2017-08-07 19:33] kentcdodds commented on #83
Ok, sorry, I'm not sure I'm following everything in this thread, however I'm pretty certain that the best way to determine whether something is selected would be to check some sort of identifier on the object. I don't think there's much more we can reasonably do here...

[2017-08-07 19:33] #83 closed

[2017-08-07 19:33] #67 closed

[2017-08-07 19:34] kentcdodds commented on #71
As discussed in another issue, `clearSelection` does a amount more than set the selectedItem to `null`:

[code]

I'm feeling pretty good about the API now so I'm going to close this issue.

[2017-08-07 19:34] #71 closed

[2017-08-07 19:36] kentcdodds commented on #41
I'm finally going to start working on this. It's the last thing we need before our first release candidate :smile:

[2017-08-07 22:20] the-simian commented on #94
Will do, and thank you @kentcdodds :)

[2017-08-08 00:34] souporserious opened #108 "Better isOpen control"
I'm only on my phone so I haven't been able to test thoroughly, but since multiple logic has been removed, how should we handle keeping the menu open when selecting multiple values? I've actually wondered if this library should care about isOpen state the more I work with it. We use a Popover component at my work that takes care of this so I'm wondering if other people would face the same use case

[2017-08-08 02:17] kentcdodds commented on #108
Thanks for bringing that up @souporserious! I've updated [the multiple selection example](https://codesandbox.io/s/W6gyJ30kn) to handle this use case! I think this is really showing the power of `state props` where if a certain prop isn't doing what you want, you can simply control it yourself :smile:

Let me know if that's not quite what you were hoping for and if there's something we can do to m

[2017-08-08 02:17] #108 closed

[2017-08-08 04:12] kentcdodds commented on #5
Feel free to do this, but I don't want to keep this issue open.

[2017-08-08 04:12] #5 closed

[2017-08-08 04:12] kentcdodds commented on #6
Feel free to do this, but I don't want to keep this issue open.

I've decided that windowing is out of scope for `downshift` (heck, it doesn't even know that you're rendering a list of things really, you do all that rendering stuff yourself).

[2017-08-08 04:12] #6 closed

[2017-08-08 04:15] kentcdodds commented on #41
We're at 81% code coverage now. Getting really close :tada:

[code]

This is basically the release candidate :wink:

[2017-08-08 05:18] the-simian commented on #41
Anything I can do to help on testing? I'll update my examples to v 1.0.0-beta.21

[2017-08-08 06:42] the-simian opened #110 "selectItemAtIndex possible regression"
- **Downshift**: 1.0.0-beta-21
- **node version**: 8.2.1
-  **yarn** 0.27.5

Relevant code or config
- working example: [https://codesandbox.io/s/QMGq4kAY](https://codesandbox.io/s/QMGq4kAY)

Before I explain the issue, heres the chunk of code to look for in the demo to be able to reproduce the issue. (around line 131 of the material-combobox.js file)
[code]

Howdy! :) When I upgraded to `1.0.0-be

[2017-08-08 07:21] jgoux opened #111 "Make controlled component easier"
- `downshift` version: 1.0.0-beta.21

Hello all,

I find it still too hard to make the Autocomplete controlled.

The stateProps concept is great for edge cases, but I'd expect to have at least a `value` prop on Autocomplete so we can make it controlled without caring about the internal state.

I tried using the `selectedItem` but then I have to handle **all** other interactions to update it.

I th

[2017-08-08 13:33] kentcdodds commented on #41
No worries on helping with testing. I think it'll be easier to have me just push ahead on it. I should finish it this morning. Thanks!

[2017-08-08 14:52] kentcdodds commented on #110
Your issue is we changed `value` to `item` in `getItemProps`. [Here's a working example](https://codesandbox.io/s/oQL7R81YB).

[2017-08-08 14:52] #110 closed

[2017-08-08 14:53] kentcdodds commented on #110
Thanks again for keeping up with the changes. Things are solidifying so hopefully you wont have to deal with this in the future :smile:

[2017-08-08 14:58] kentcdodds commented on #111
Could you explain what you mean by a `value` prop? I'm pretty sure what you are calling a `value` prop is the `selectedItem` prop. I agree that for some of the state your `onStateChange` handler will be called a LOT (every time the internal state changes). I think this is desireable behavior. However, for the `selectedItem` you can [use `onChange` callback to update your controlled item selection

[2017-08-08 14:58] kentcdodds commented on #111
I'll go ahead and close this, but if I'm missing something let me know and we can discuss it :)

[2017-08-08 14:58] #111 closed

[2017-08-08 15:08] ferdinandsalis opened #113 "Relying on the id attribute for selecting an item fails for compound components"
- `downshift` version: 1.0.0-beta.21
- `node` version: 8.2.1
- `npm` (or `yarn`) version: 5.3.0

**What you did:**
Render a compound component as Item.

**What happened:**
Item does not get selected.

**Problem description:**
Item get selected only when the target node has the id attribute. With compound components this is clearly a problem.

**Suggested solution:**
We could walk up the dom tree t

[2017-08-08 15:09] ferdinandsalis commented on #110
@the-simian I think this also part of your problem https://github.com/paypal/downshift/issues/113

[2017-08-08 15:10] kentcdodds commented on #113
I think that one of the requirements of using this is that when you apply any of the get props functions you must forward _all_ the props regardless of what those props are. I can't think of any way to avoid doing this, even with a `data-item-id` type thing. These properties need to make it to the DOM whether it's a `data-item-id` _or_ an `id` prop. I'm not sure what you mean by:

Could you clarif

[2017-08-08 15:12] kentcdodds commented on #113
One thing that I think we could do is document the requirement a little better. While downshift does not have any opinions about _how, where, when, or what_ you render, it _does_ have a strong opinion about what props are applied to the elements you want to hook into the downshift context.

Does that make sense? Should probably document the importance of that better [here](https://github.com/paypa

[2017-08-08 15:13] ferdinandsalis commented on #113
This would mean you would need to apply the id to every element in the Item.

What I mean when an element is clicked, check if its has the id attribute and if check the parent until you hit the component boundary which should definitely have it. Hope that is clear.

[2017-08-08 15:16] kentcdodds commented on #113
Yes, that is clear. I'll fix that now. Thank you!

[2017-08-08 15:34] kentcdodds commented on #113
Fixed it locally. Making a PR now. Thanks!

[2017-08-08 16:00] #113 closed

[2017-08-08 16:02] kentcdodds commented on #113
[code]

[2017-08-08 16:37] the-simian commented on #110
Ah yep, there it is!
![image](https://user-images.githubusercontent.com/954596/29083260-c12a5b62-7c2d-11e7-93a6-99d254bdcefa.png)
Man i thought I had gotten everything, but I forgot I had to remap that incoming property

😄 Thank you! 😄

[2017-08-08 17:28] #41 closed

[2017-08-08 17:47] kentcdodds commented on #1
Hey everyone! :wave:

[code]

I need your help now! The library now has 100% code coverage and is ready to move forward! The first release candidate has been released. I think that the API is solid now and I'd love some feedback on things. Please build some examples and let me know what could be improved!

Please install the latest `rc`:

[code]

Or fork [this codesandbox](http://kcd.im/ds-example

[2017-08-08 17:53] nndung179 commented on #1
sure I will update example & do some more :)

[2017-08-08 18:26] souporserious commented on #108
That looks great! I'll take a look when I get back. Thanks! 🤗

[2017-08-09 07:09] jgoux opened #119 "RC release feedback"
`downshift` version: 1.0.0-rc.1

Hello,

As I'm working on a [material-ui / virtual-list example](https://codesandbox.io/s/LWMA9QZj) using downshift I have a little list of remaining issues :

- [x] The [`onMouseUp` listener](https://github.com/paypal/downshift/blob/master/src/downshift.js#L583) seems to force a rerender everytime we click outside of the component, even if there is no state / prop

[2017-08-09 19:15] kentcdodds commented on #119
Thank you so much for this great feedback! I've addressed the rerender issue: https://github.com/paypal/downshift/pull/120

I'm looking at your second issue now. I know what to do. Thanks!

[2017-08-09 21:23] kentcdodds commented on #119
Ok, I think that I've solved all the issues as far as I am able. There is [a slight problem with `react-tiny-virtual-list`](https://github.com/clauderic/react-tiny-virtual-list/issues/19).

[2017-08-09 21:23] #119 closed

[2017-08-09 21:23] kentcdodds commented on #119
Note: The react-virtualized works just fine :wink:

[2017-08-09 22:41] kentcdodds opened #123 "Should we invoke onStateChange with _all_ the state?"
- `downshift` version: `1.0.0-rc.3`

Relevant code or config

[code]

Reproduction:

https://codesandbox.io/s/5yJ3G59jA

Problem description:

In my `handleStateChange` handler, I have to check whether `inputValue` is included in the changes if I want to set the state.

Suggested solution:

What if we just always pass _all_ the state to your `onStateChange` callback? Then you wouldn't have to chec

[2017-08-09 23:06] the-simian commented on #123
I would prefer that, myself I noticed in the function that you passed most of what I'd be looking for, but why not show it all? someone can fire a side effect of any mutation they need at this point, and you're allowing folks to access the plumbing more easily.

Ultimately the big picture for this project seems to be that it is an api that enables folks to build *any* ui, so exposing more is not o

[2017-08-09 23:12] kentcdodds commented on #123
Cool! I've almost got that done. Thanks for the validation.

Also, I'm improving things slightly. So now your `onStateChange` will _only_ ever be called when state _actually_ changes (not when `setState` is called) and it's _only_ called with the actual changes (in addition to the second parameter which includes all the state). I think that's what we always wanted, but it wasn't doing that. So I g

[2017-08-09 23:19] #123 closed

[2017-08-09 23:46] kentcdodds commented on #123
It's published as the latest `rc` :smile:

[2017-08-10 03:24] svinkle opened #125 "Running 'npm start storybook' results in "Module not found" errors"
- `downshift` version: 1.0.0-rc.4
- `node` version: 8.1.3
- `npm` (or `yarn`) version: 5.3.0

**Relevant code or config**

[code]

**What you did:**

Fresh install:
1. Forked project
2. `git clone …`
3. `npm install`
4. `npm start storybook`

**What happened:**

Multiple outputs of:
[code]

Along with this at the bottom of the output:
[code]

**Reproduction repository:**

**Problem description:**

[2017-08-10 03:35] kentcdodds commented on #125
Yeah, right now the way it's set up is we have dependencies you need for the project and then there are dependencies you need for the stories. So you'll have to cd into the `stories` directory and `npm install` in there. Then cd back to the repo root and `npm start storybook`.

If you'd like to document this a little bit in the `CONTRIBUTING.md` that'd be welcome!

[2017-08-10 03:35] kentcdodds commented on #125
Thank you so much for the great report!

[2017-08-10 03:43] svinkle commented on #125
@kentcdodds Perfect! Needs documentation for new-comers to the project such as myself for sure. PR incoming. :)

[2017-08-10 03:43] #125 closed

[2017-08-10 07:22] jgoux commented on #119
Wow that was **fast**! 🏎

I switched to react-virtualized in my [material-ui / virtual-list example](https://codesandbox.io/s/LWMA9QZj) so the scrolling can work fine.

So I have these two remaining issues :

- [ ] We can't select an item with `Enter` when using a virtual-list if this item wasn't rendered when the menu appears. (Try to go to the bottom of the list and hit `Enter` on the items, not

[2017-08-10 16:19] kentcdodds commented on #119
Thanks again for all the great feedback! Really invaluable! I've fixed the issues and released a new release candidate.

[code]

[2017-08-10 18:46] kentcdodds opened #130 "change the onChange API"
Right now the `onChange` callback is called with `{selectedItem, previousItem}` but I'm starting to think we should just call it with `selectedItem`. I'm thinking this because the `onStateChange` is only called with the `changes, allState` and doesn't include the previous state.

I just built the [geniejs example](https://codesandbox.io/s/jRLKrxwgl) and found I had to preserve the `previousInputVa

[2017-08-10 19:16] the-simian commented on #130
I assumed that you had included the selected and previous in the 'same spot to give folks the ability to perform some comparison before they do a  mutation. That said, I've not needed that - I can't really select the same thing twice manually. The only thing I could see is if you'd set it via code twice in a row.. in this case I'd expect a developer to compare *before* setting at all.

In other wo

[2017-08-10 20:57] #130 closed

[2017-08-10 21:07] kentcdodds commented on #130
[code]

[2017-08-10 21:08] kentcdodds commented on #1
Hey folks around here! There was a minor breaking change. Before the `onChange` handler accepted an object with a `selectedItem` property, now it is just passed the `selectedItem` property. See the README :smile:

[code]

[2017-08-11 01:25] kentcdodds opened #132 "Fix preact support"
It's kinda broken right now. I'm pretty sure it'll be easy to support, just need to dig into it a little bit. I'm thinking we can do away with `React.Children.only` and just do a little bit of logic. We need to make sure that if we get back an array from the `childre()` call we only pick the first time to return though...

[2017-08-11 06:57] jgoux commented on #130
Hello,

I think this change introduced a bug.

`onChange` is no longer called when calling `clearSelection`.

[2017-08-11 07:02] jgoux opened #133 "onChange not trigerred when calling clearSelection"
`downshift` version: 1.0.0-rc.8

Hi,

Since the last RC release, I'm unable to clear the selection when using the controlled component.

The `onChange` function isn't trigerred anymore when calling `clearSelection`

[2017-08-11 13:32] kentcdodds commented on #130
Ah! Yes, that's a problem! Will fix that in a few hours!

[2017-08-11 13:32] kentcdodds commented on #133
Thanks for catching this! I'll get it fixed in a few hours!

[2017-08-11 15:15] #133 closed

[2017-08-11 20:45] #132 closed

[2017-08-11 20:47] kentcdodds commented on #132
[code]

[2017-08-12 11:49] srph opened #139 "Feature Request: Backspace to delete last option"
Most *multiple* autocomplete implementations I used in the past, most recently react-select, would delete the last option if backspace was pressed when the input was already empty beforehand.

This is doable with this project as it is, but maybe we could make implement this feature directly to the core. Maybe something like `getInputProps` could accept an `onBackspaceRemove`.

[2017-08-12 13:36] kentcdodds commented on #139
I'm pretty sure that I'd rather not encode the concept of _multiple_ in this library. Would you mind making an example of a component that supports this using `downshift` so we can see how hard it is?

[2017-08-12 21:15] ansumanshah opened #140 "Feature: Tab key selects highlighted value"
Can we add Tab key as well to select the highlighted item [here](https://github.com/paypal/downshift/blob/master/src/downshift.js#L368)?

and is it possible to display the highlighted item in the input field as we write it, or if we move up and down the highlight section it should reflect in the input value as well (like typeahead.js)?

[2017-08-12 21:22] ansumanshah commented on #24
#140 +1 for this, and would like to help any update on the progress?

[2017-08-12 21:30] kentcdodds commented on #140
All of this is currently possible with the existing API and I don't think I want to add support for these things in core. If you have terrible implementing this yourself, let us know and someone can help. Start here: http://kcd.im/ds-example

[2017-08-12 21:36] #140 closed

[2017-08-14 14:21] bernard-lin commented on #53
I've been weighed down by work so if anyone wants to take a shot at this in the meantime, please go for it!

[2017-08-19 17:57] Haroenv opened #143 "deprecate old package names on npm"
the names `react-autocompletely` and `react-kadabra` are still published and have no mention of `downshift`. They should be `npm deprecate`d with a message that refers to this version.

[2017-08-19 18:01] kentcdodds commented on #143
Ah, very true! I'll do that asap

[2017-08-19 18:14] srph commented on #139
I agree. Been using Downshift for a while now (app redesign at work). Thanks for this project - I love it!

IMO, there should be a separate token input. I'm still working on this internally, and I haven't reached a conclusion yet if an additional work is needed in integrating the mentioned component.

[2017-08-19 18:14] #139 closed

[2017-08-20 01:53] kentcdodds commented on #143
[done](https://www.npmjs.com/package/react-autocompletely) and [done](https://www.npmjs.com/package/react-kadabra) :smile:

Thanks!

[2017-08-20 01:53] #143 closed

[2017-08-20 01:55] kentcdodds commented on #139
Could you explain what you mean?

I'm glad that you're enjoying the package! Any feedback on things is greatly appreciated before we publish 1.0.0 (in the next week or two). And if you could add some examples that would be fantastic! :tada:

[2017-08-20 03:13] srph commented on #139
I apologize about the term, but I'm referring to something tagging inputs like [preact-token-input](https://github.com/developit/preact-token-input) (which is where I got the term). These inputs are complicated in their own right (if fully functional), and don't necessarily need autocomplete baked into its internals (or the other way around!).

Honestly, been looking forward to! Hopefully I can pu

[2017-08-20 03:14] dashed commented on #139
@srph I'm definitely looking forward to seeing this example! 👍

[2017-08-21 21:32] souporserious commented on #53
@kentcdodds any idea how to achieve the functionality where the input is filled in with the suggested value like in react-autosuggest? I'm guessing you need to hold on to two values. The suggested one as well the current inputValue 🤔 it's an interesting interaction where keyboard highlighting is the only way to get a suggestion, whereas hovering highlighting does not pre fill the input.

[2017-08-21 21:41] kentcdodds commented on #53
I think that we'd just need to control the `inputValue` ourselves right?

[2017-08-21 21:45] souporserious commented on #53
I _think_ so. I haven't tried yet, mainly because I'm a little unsure how to handle it. It seems like we would need to know if highlights are coming from a mouse or keyboard.

[2017-08-22 12:57] kentcdodds commented on #53
Yeah, it does seem that way. Maybe we'll need to add to the [`stateChangeTypes`](https://github.com/paypal/downshift/blob/be71c80318d6412fd89716c7b6d27e5d72551f57/src/downshift.js#L57-L61) after all. I didn't want to do that, but I think that'd be the best way to support this...

I'm in the middle of a big internal refactor/cleanup of things. Once that's done then we can work on this.

I'm plannin

[2017-08-22 15:32] kentcdodds commented on #53
Soooo... [this is what I was thinking](https://github.com/paypal/downshift/compare/pr/cleanup) for the cleanup and now I'm thinking I'm going to punt on that.

I was thinking that we'd allow people to extend/use `ref` if they need ultimate flexibility, but I don't think I want to do that at this stage. Maybe later. Technically we should be able to make this change later without breaking anyone aft

[2017-08-22 16:53] kentcdodds commented on #53
Here it is: https://github.com/paypal/downshift/pull/147

[2017-08-22 18:18] kentcdodds commented on #53
Ok, `rc.17` has been published and supports more `stateChangeTypes`. I'm still not totally jazzed about the API, but I think it's the best way to do what we're trying to accomplish here. Also, these changes mean that `onStateChange` can be called when no state actually changes. We actually take advantage of this in the new example...

I added an internal example that simulates the react-autosugges

[2017-08-22 18:21] kentcdodds opened #148 "Add onUserAction"
The recent change in #147 made it so `onStateChange` is called even though there are no state changes (because there's a `type` property on most `internalSetState` calls now).

So I'm wondering whether we should add an `onUserAction` which would be called with `type`, `changes`, and `allState`. Then we'd change `onStateChange` to only have `changes` (no `type` anymore).

Thoughts here?

I'm pretty

[2017-08-22 19:24] kentcdodds commented on #148
I think this is what I'm going to do. But I'll leave it undocumented (because `stateChangeTypes` is undocumented as well). Most folks should be able to get by with `onStateChange`, and if we see that folks need to be notified any time the user did something that could have updated state then we'll document `stateChangeTypes` and `onUserAction`.

[2017-08-22 19:47] #148 closed

[2017-08-22 23:22] kentcdodds opened #150 "Review the 1.0.0 blog post"
Hey folks who are watching the repo! I'd love it if you could give the 1.0.0 release blog post a review for me: https://medium.com/@kentcdodds/introducing-downshift-for-react-b1de3fca0817

Feel free to add your comments to the medium post or here. Either way is fine.

Thanks again!

[2017-08-22 23:50] the-simian commented on #150
I just read through it, and I felt like it was a good as any clear overview could be. I can especially relate to the situation of having to repeatedly remake this component throughout one's career.

Let me know when its 'ok' to share the article, I can't wait.

[2017-08-23 14:47] kentcdodds commented on #150
Feel free to [share it](https://twitter.com/kentcdodds/status/900361058069630977)! :tada:

[2017-08-23 14:47] #150 closed

[2017-08-23 15:23] morajabi commented on #150
We have already shared it :)

[2017-08-25 18:28] nehero opened #153 "Using as a typeahead?"
First off, thanks for all of the hard work that went into this library! Sorry for not following the issue template, downshift/npm/node version are irrelevant as this is more of a question.

**Problem description**:

It seems like this module was built with flexibility in mind but right now, as far as I can tell, you cannot enter a custom value not present in the "options" array. E.g. if the option

[2017-08-25 20:54] okonet opened #154 "Uncaught TypeError: Cannot read property 'parentNode' of undefined when root node is not a DOM element"
- `downshift` version: 1.0.1
- `node` version: 8.1.3
- `npm` (or `yarn`) version: 0.24.6

Relevant code or config

[code]

What you did:

When using `ListView` (i.e. compound component and not the DOM element) as the root element, I'm getting `Uncaught TypeError: Cannot read property 'parentNode' of undefined when root node is not a DOM element`

The error occurs here: https://github.com/paypal/do

[2017-08-26 01:07] geoffdavis92 opened #155 "Need Exposure of `clearSelection`, possibly other actions, for Downshift wrapper onChange handler"
- `downshift` version: 1.0.1
- `node` version: 6.9.1
- ~~`npm`~~ (or `yarn`) version: 0.24.5

**Relevant code or config**
[Demo on Codesandbox](https://codesandbox.io/s/j2v9p05j95)

**What you did:**

Howdy @kentcdodds and company! I'm trying to get my formerly `react-autocompletely` demo working with `downshift`.

The Autocompletely version ([demo here](https://codesandbox.io/s/M89KQOBRB)) that I

[2017-08-26 05:29] agirton commented on #1
Hi @kentcdodds 👋 , to help better understand the downshift API I built a `redux` version here: https://codesandbox.io/s/0o0w70lp8p does this look ok? I tried to keep it simple but also have some organization.

[2017-08-26 06:44] morajabi commented on #154
@okonet Why don't you wrap your `ListView` into a simple `div` or `span` tag?
Like this example: https://codesandbox.io/s/9rWEmzEv8

[2017-08-26 06:49] okonet commented on #154
@morajabi because `ListView` is my wrapper. Why would I want to add another wrapper for my wrapper?

[2017-08-26 08:31] morajabi commented on #154
It's a common pattern in React, there are several cases you need to wrap components inside `div` tags.
I'm not familiar with the Downshift code base yet to know whether this behaviour can be changed or not. I just gave a suggestion based on what I've seen so far in the examples.

[2017-08-26 08:33] okonet commented on #154
It's a bad practice to say at least but I don't want to start this discussion here since it's unrelated.

[2017-08-26 13:59] kentcdodds commented on #154
Sorry, been busy, you shouldn't have to have another wrapper. I'll look at this when I get a second. If you could dig deeper I'd appreciate it!

[2017-08-26 18:27] geoffdavis92 commented on #155
PS: is my issue related to [this change](https://github.com/paypal/downshift/issues/1#issuecomment-321673976) on #1 ?

[2017-08-26 19:37] kentcdodds commented on #1
That's great @agirton! Could you add it to the list of examples in the README? Thank you!

[2017-08-26 20:45] kentcdodds commented on #155
So [here's one way you could do it](https://codesandbox.io/s/81wm1v43pl). But I'm thinking that instead of `allState` we can just give you all the same stuff you get in your function as child callback. I'm going to do that. Wont be a breaking change and would be pretty handy :+1:

[2017-08-26 21:15] kentcdodds commented on #155
Could you give this a review? https://github.com/paypal/downshift/pull/156

[2017-08-26 21:17] kentcdodds commented on #153
Hey, sorry I don't have much time (will come back later to help more when I have more time), but this is totally possible by controlling the `selectedItem` (and potentially `inputValue`) state. See the README for how to do that.

[2017-08-26 21:18] kentcdodds commented on #154
My guess is that `ListView` does not accept an `innerRef` prop. So your solution is to either make sure that `ListView` can provide you a prop that will allow you to get a DOM reference to the node it's rendering, or render a wrapper `div`.

downshift just needs to get a reference to the root Node you render and it uses `ref` to do this.

[2017-08-27 00:02] agirton commented on #1
@kentcdodds sent a PR #157 with new examples 😄

[2017-08-27 16:10] #155 closed

[2017-08-27 18:28] okonet commented on #154
I believe this can be achieved without passing it down. I'll need to check the source to make sure though.

[2017-08-27 18:32] okonet commented on #154
@kentcdodds any reason you're not doing this

https://github.com/paypal/downshift/blob/master/src/downshift.js#L717-L723

for the composite components?

[2017-08-27 18:34] kentcdodds commented on #154
Yes, react doesn't forward ref props 😔

[2017-08-27 18:35] kentcdodds commented on #154
So we'd get a ref to the instance of the composite component, not the DOM node rendered.

[2017-08-27 18:52] okonet commented on #154
Oh I see. That sucks :-/

[2017-08-27 22:30] geoffdavis92 commented on #155
Sorry, been busy. That looks great! Will update my example accordingly.

[2017-08-28 15:44] kentcdodds commented on #154
It does. I considered using [findDOMNode](https://facebook.github.io/react/docs/react-dom.html#finddomnode) but that's highly discouraged and a pretty slow API. I think that this workaround is better, despite being kinda annoying.

One thing that you could do is write [a DOM Node Finder component](https://codesandbox.io/s/my0lwo41kp):

[code]

I could imagine there being some other way to find the

[2017-08-28 15:44] #154 closed

[2017-08-28 15:56] okonet commented on #154
I believe `findDOMNode` was designed for such cases. I'm still using it in some of my components because of that. Not sure about performance implications. Any links?

[2017-08-28 16:10] kentcdodds commented on #154
Just [this tweet](https://twitter.com/kentcdodds/status/892498164783218688)

[2017-08-30 18:46] tansongyang opened #160 "Question: Are custom checkbox groups a valid use case?"
First of all, thanks for the great work on this component.

I really like the flexibility downshift provides, particularly that it manages state for you while letting you decide what to render. Although this isn't an official use case, I found that downshift works well for implementing a custom checkbox group. I'm not using a "real" `<input type="checkbox" />`, which is why I couldn't use somethin

[2017-08-30 18:57] kentcdodds commented on #160
Haha! I love it! Not really what downshift was built for, so downshift includes some code you don't need, but it does the job and does it pretty well I think!

Just don't forget to make it accessible! I can't select items with the keyboard and I get no indication which item has focus :wink:

I'm glad you like downshift :smile:

[2017-08-30 18:57] #160 closed

[2017-08-30 23:56] codiemullins commented on #153
Type Ahead example [here](https://codesandbox.io/s/82m2px40q9). This is based on [Bare Bones autocomplete](https://codesandbox.io/s/6z67jvklw3) but enhanced to support type ahead.

Two changes required to Bare Bones to make this work convert to stateful component and use control props. Specifically these two arguments passed to Downshift:

[code]

@kentcdodds I added the `downshift:example` tag to

[2017-08-31 02:11] kentcdodds commented on #153
Thanks @codiemullins! Do you think that you could do a little more in the example to show how that could be useful?

Then you'll need to make a PR to add it in the README. Thanks again!

[2017-08-31 12:16] slavab89 opened #162 "Decide whether to initially show a full list of items or only a subset"
I've started using this great project and so far its really great =] so thanks for it!

One of the things that i've noticed is that there is no real distinction between the `selectedItem` and `inputValue`.
Lets assume that the `items` array is a simple string array.
Once the component creates it sets the `inputValue` to be the `selectedItem`. Once the component calls a `reset` function, same thing

[2017-08-31 13:26] slavab89 opened #163 "Controlled input + reselecting of item issue"
- `downshift` version: 1.3.0

I've taken control over the `inputValue` to be able to render the wanted menu items (Somewhat related to my other opened issue).
Please open the linked sandbox code and do the following steps:
1. Click on the select box and choose some value
2. Select all the text in the input and rewrite it - write the letter `l` for example
3. Choose one of the values that show

You

[2017-08-31 13:46] tansongyang commented on #160
@kentcdodds After our discussion yesterday, I tried to do the same thing with a real `<input type="checkbox" />`. It seemed to work, except for a small issue.

You can see it (here)[https://codesandbox.io/s/vmkx9v6185]. Basically, if you comment out the `setTimeout`, clicking on a checkbox will cause the state to update, but the checkbox will not rerender. You have to have a second state update (e

[2017-08-31 16:05] codiemullins commented on #153
@kentcdodds I'm happy to do so. If you or @nehero have any thoughts on how to make the example more useful let me know! I am struggling to think of ideas

[2017-08-31 16:17] nehero commented on #153
Thanks for the solution @codiemullins! Sure, I'll come back to this in a bit with an example

[2017-08-31 16:32] nehero opened #164 "Clicking item via dropdown not working with react-tether"
- `downshift` version: 1.2.0

Relevant code or config:

https://codesandbox.io/s/jlkn76rvlw

What you did:

I'm using [react-tether](https://github.com/souporserious/react-tether) to hoist the dropdown menu (because of overflow issues) outside the parent (moves it to a child of `<body>`).

What happened:

Using the arrow keys + enter to select an item works great. Clicking a dropdown item does not

[2017-08-31 16:49] souporserious commented on #164
I recommend using [react-popper](https://github.com/souporserious/react-popper). The [tether project](https://github.com/hubspot/tether) has seemed to have been abandoned. You can find [an example with react-popper here](https://github.com/paypal/downshift/blob/master/stories/examples/react-popper.js).

[2017-08-31 17:43] FezVrasta commented on #164
react-popper works just fine with react-portal, make sure to wrap them in the right order (you want `react-portal` around `<Popper />` and not around the whole `<Manager />` or inside `<Popper />`

[2017-08-31 17:51] nehero commented on #164
Yeah I had the portal working with popper, the issue is that when you click a dropdown item nothing happens, see this fiddle

https://codesandbox.io/s/oq0q5jmlqz

[2017-08-31 18:53] kentcdodds commented on #153
I think that you could just render the `selectedItem` in another place on the page and that would be sufficient...

[2017-08-31 19:02] kentcdodds commented on #164
My guess is the fact that the portal is not a child of the downshift root element. In an effort to avoid performance issues of adding a bunch of click handlers on all the items every render, we put a single click handler on the root element of your downshift component:

https://github.com/paypal/downshift/blob/47ee3b82d8aa9233b0f1c904e01ce7cb59fb437d/src/downshift.js#L380-L395

So, if you click on

[2017-08-31 19:07] kentcdodds commented on #164
Ah, the reason my attempt isn't working is because the menu is closed before the `click` event fires, so by the time the click event comes around the `div` item is no longer there to respond to the event.

I'll have to think about this... Unfortunately it wont be as easy as adding an `onClick` handler for you because that clearly doesn't work. I think what you'll have to do is control the `isOpen`

[2017-08-31 19:07] kentcdodds commented on #164
A definitely hack would be to control the `isOpen` state and do a `setTimeout` in your `onStateChange` handler whenever the `isOpen` state changes... I'll do that really quick just to make sure it'll work.

[2017-08-31 19:11] kentcdodds commented on #164
So that hack works: https://codesandbox.io/s/z2ywk80z6p

I'm going to leave my investigation at that. I would love an improved solution, but I'm afraid [I don't have time](http://kcd.im/no-time) to look into it any further.

[2017-08-31 19:17] nehero commented on #164
Thanks for taking the time to look at this Kent, I really appreciate all of the work that you do!

[2017-08-31 19:58] codiemullins commented on #153
Sounds good! PR for readme coming. Updated [https://codesandbox.io/s/82m2px40q9](https://codesandbox.io/s/82m2px40q9) to display the value on the page.

@nehero Note: I had to improve the `onStateChange` in the example because after the input lost focus I noticed if the typed in value wasn't in the items array then it would set it to `undefined`, checking for `undefined` resolves the issue.

[2017-08-31 20:04] kentcdodds commented on #162
Hi @slavab89!

Glad you're using downshift! I hope it's helpful to you :)

This is not true. There's definitely a distinction. Maybe the distinction is a little fuzzy for the simple strings-only case, but most real-world scenarios are objects.

This is also not true. Remember that downshift has 0 rendering responsibility. It's entirely up to you on how you want to render items. I just cooked this

[2017-08-31 20:04] #162 closed

[2017-08-31 20:12] kentcdodds commented on #153
Thanks for the example! I'll go ahead and close this now.

As an after-thought, it'd be really cool if the example could autofill the input with the first result with the part I haven't yet typed "selected" in the input field (so I can keep typing). That would actually be a very awesome example.

[2017-08-31 20:12] #153 closed

[2017-08-31 21:36] slavab89 commented on #162
Amazing! 😎 you've just saved a bunch of code for me :)

btw, the other issue that i've opened partially does what i've written in the first commend. But the issue there is a bit different

[2017-09-01 12:45] techniq opened #167 "section/optgroup example"
- `downshift` version: 1.3.0

I was wondering if you've tried to implement an example of item sections (i.e. optgroup)?

This has been a [highly requested](https://github.com/JedWatson/react-select/issues/59) feature for react-select and resulted in a separate [fork](https://github.com/HubSpot/react-select-plus).  I saw the [issue](issue #53) regarding implementing react-autosuggest's API which it

[2017-09-01 14:25] kentcdodds commented on #167
Hi! Thanks for the issue/idea! Do you have a demo of this feature? I'm not sure I follow.

[2017-09-01 14:27] kentcdodds commented on #167
Just looked at a demo elsewhere and this is dead simple with downshift.

Why don't you start trying here: kcd.im/ds-example
Then ping us in here if you have any trouble. This would be a great example for the README!

[2017-09-01 14:38] techniq commented on #167
I guess my confusion was how to have some elements rendered within the menu be excluded from selection (keyboard navigation, onClick, etc).  Looking closer at it, I guess by not adding `{...getItemProps({...}))` to those elements makes them "inert" (for lack of a better word).

I guess the main thing will be determining which group headers to include based on the filtering applied to the elements.

[2017-09-01 16:17] kentcdodds commented on #167
Yes to all the things you said :)

I look forward to seeing what you come up with!

[2017-09-01 17:44] techniq commented on #167
I used react-autosuggest's [multiple sections](https://codepen.io/moroshko/pen/qbRNjV?editors=0010) example as a basis, but here is a working example: https://codesandbox.io/s/zx1kj58npl

The main work (as you'd expect) is here:
[code]

I couldn't come up with a better way to create the item indexes across sections but going the `reduce` route works.  I tried initially to derive them a combination

[2017-09-01 17:44] #167 closed

[2017-09-01 17:56] kentcdodds commented on #167
That's awesome! Could you make a PR to add it to the examples list in the README? This is very cool :+1:

[2017-09-01 18:22] techniq commented on #167
Done: https://github.com/paypal/downshift/pull/168

[2017-09-02 17:07] morajabi opened #170 "Suggestion: Adding a ToC above README?"
I was looking for the **Examples** section in the README and I had to scroll all the way down to find it.
I'm thinking it'd be easier to navigate this long README with a useful ToC.

Probably auto-generated with [doctoc](https://github.com/thlorenz/doctoc)?

If you wish I can make a quick PR on this.

[2017-09-03 04:18] kentcdodds commented on #170
Yes, let's do it! :+1:

[2017-09-03 07:32] morajabi commented on #170
Done! #171

[2017-09-03 13:31] #170 closed

[2017-09-06 18:22] casperOne opened #177 "Cannot clear selection once value is selected."
- `downshift` version: 1.4.0
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

Reproduction repository:

https://olrv026pz6.codesandbox.io/

Problem description:

Using the example from the [Usage](https://github.com/paypal/downshift#usage) page:

- Place the focus on the input element
- Type "app"; the drop down list will show a single element, "apple"
- Click the drop down item, or press `

[2017-09-06 18:37] kentcdodds commented on #177
Hi @casperOne!
Thanks for trying downshift :) This is something you can implement yourself. This kind of behavior is one of those things that has a wide variety of use cases, so I chose a pretty common one when making downshift, and if you want something else to happen, then you can do it yourself: https://codesandbox.io/s/xrzj5l487o

In this example, I added an `onChange` to the `input` and had i

[2017-09-06 18:37] #177 closed

[2017-09-07 16:18] tansongyang commented on #163
I tried reproducing your issue and couldn't. My steps:

1. Click on select box.
2. Click on `4-LOM`.
3. Select all text and write `l`.
4. Click on `Biggs Darklighter`.

I see `Biggs Darklighter` is now selected, which is what I would expect.

Perhaps you could try posting the exact options you chose? Or a screen capture?

[2017-09-07 16:53] slavab89 commented on #163
Thanks a lot for looking into that!
Apparently the sandbox that i've posted is the one with the workaround already 😄 . To make the issue appear, comment the lines with the `Try to remove` (Those should not be there naturally, they do the workaround)
Here is a screen capture of the issue (Hope it helps)

![downshiftbug mov](https://user-images.githubusercontent.com/10363263/30175101-122598de-9406-1

[2017-09-07 17:58] tansongyang commented on #163
Thanks for clearing that up. I see the issue happening now.

There are a lot of other things going on here, and I see a lot of other dependencies. Would you please see if you can create a minimal example? If we take out redux and glamorous and everything else, and we're just working with raw React and downshift, does this problem still happen? This would make it easier to track down the issue.

[2017-09-07 19:29] slavab89 commented on #163
Ok so i've stripped it as much as i can
https://codesandbox.io/s/wy3jv4lqvk

Key points to notice:
- `selectedItem` must be controlled
- items needs to be "filterable"

Further weird behavior of the issue:
1. Click on selectbox and select "First"
2. Select the whole text and press "**t**"
3. Select "Third" - Issue happens

Now refresh the page and do the following
1. Click on selectbox and select

[2017-09-07 19:38] tansongyang commented on #163
Thanks a lot for doing that. @kentcdodds Can you shed any light on this? I took a stab at looking through the code and it's not immediately clear to me what the issue might be.

[2017-09-07 19:47] slavab89 commented on #163
This may be somehow related to https://github.com/facebook/react/issues/4210 or https://github.com/facebook/react/issues/2291
Based on another search i reached the info about `onMouseDown` vs `onClick` when using `onBlur`
https://stackoverflow.com/questions/17769005/onclick-and-onblur-ordering-issue
It might be related to the ordering of events since downshift does listen to `onClick` when clickin

[2017-09-07 20:15] tansongyang commented on #163
Actually, I'm starting to doubt that the issue here is with downshift. If you just type `t` in the beginning, and try to select `Third`, it doesn't work. You could try comparing your implementation with the canonical [autocomplete implementation](https://codesandbox.io/s/6z67jvklw3).

[2017-09-07 20:16] kentcdodds commented on #163
Hmmm... Looking at the reproduction it appears to me that you're trying to control the `inputValue` without actually controlling the `inputValue` which leads to behaviors which (I'm afraid) I don't have time to dig deeper and understand. I suggest you do something like [the typeahead example](https://codesandbox.io/s/2pyn51ykpy) instead.

[2017-09-07 20:25] tansongyang commented on #163
@kentcdodds @slavab89 Since this doesn't appear to be an issue with downshift itself, can we close this issue? We would reopen if there is more conclusive evidence that the issue is with downshift.

[2017-09-07 20:26] kentcdodds commented on #163
Agreed :+1:

[2017-09-07 20:26] #163 closed

[2017-09-07 20:26] kentcdodds commented on #163
We can continue to chat in here though, if you have more questions about this @slavab89 :) We'll help when we can.

[2017-09-08 08:06] slavab89 commented on #163
I've simplified it even further to show you what i mean.
https://codesandbox.io/s/34nypnlpkm
So the `inputValue` is controlled normally through state, simple strings (no nulls etc) as you can see.
The thing that causes the "issue" to appear is attaching `onBlur` + `setState` inside it on the input. I am doing that because onBlur i want to clear the value of the input to an empty string when its no

[2017-09-08 17:28] kentcdodds commented on #163
Ah, I think that I understand what you're trying to accomplish. You just want the input to be cleared whenever the menu is not open right? [How's this](https://codesandbox.io/s/30kln182kp)?

[2017-09-08 20:41] scottjason opened #181 "bind downshift props to component"
- `downshift`:1.4.0
- `node`: 7.4.0
- `npm` (or `yarn`) version: 0.19.1

Relevant code or config:

[code]

Problem description:

Everything works great so far, but was wondering if you have any suggestions on exposing getInputProps, getItemProps, isOpen, etc so I can breakdown the above into smaller pieces without passing everything around.

For example, to breakdown the dropdown portion, right no

[2017-09-08 20:52] kentcdodds commented on #181
Hi! :wave:

You could do this:

[code]

(Naturally formatted nicer)...

But doing things that way would allow you to pass `downshiftStateAndHelpers` anywhere you want as a single prop without much trouble.

I don't think that I want to expose any other way to do this as it would probably lead to indirection and more confusion than anything. As always, this is debatable, but I'm going to close this

[2017-09-08 20:52] #181 closed

[2017-09-08 20:54] scottjason commented on #181
Ok, gotcha. Thank you @kentcdodds

[2017-09-08 21:02] kentcdodds commented on #181
Sure thing! :)

[2017-09-09 11:19] slavab89 commented on #163
Interesting!! didnt think about using `onStateChange` for that. Thanks!!

BTW i didnt say this before but this project is great!! allows for a lot of flexibility and helped me to get the thing i've been trying to do for quite some time: Email input same as gmail (Autocomplete + multi select + **editable selected values / tags** - the part that's missing in all other select boxes that i've tried)

[2017-09-09 13:10] ikovic opened #182 "Console errors when using 'toggleMenu' action prop"
- `downshift` version: 1.3.1
- `node` version: 8.2.1
- `npm` (or `yarn`) version: yarn 0.27.5

Relevant code or config

[code]

What you did:

I've tried using the `toggleMenu` action and `isOpen` props to control the visibility of a dropdown menu.

What happened:

`isOpen` value changes as expected, but the console shows a bunch of these errors:
<img width="860" alt="screen shot 2017-09-09 at 15

[2017-09-09 20:07] tansongyang commented on #182
I'm seeing the same thing. I made a [minimal reproduction](https://codesandbox.io/s/81q4voppl9) and I get the same errors.

[2017-09-09 20:39] kentcdodds commented on #163
That's great! Do you think you could make an example and add it to the list of examples in the README? That'd be awesome.

[2017-09-09 20:47] kentcdodds commented on #182
Hi! Yeah, so the problem is that `onClick` handlers are invoked with an `event` and `toggleMenu` accepts an argument called `otherStateToSet`. So if it's passed an `event`, then downshift tries to set state with the `event`.

So the solution is simple: `onClick={() => toggleMenu()}`...

You know... I think we could make this nicer for folks. In [`toggleMenu`](https://github.com/paypal/downshift/bl

[2017-09-09 21:14] tansongyang commented on #182
@kentcdodds I've got time to do this today.

[2017-09-09 21:17] tansongyang commented on #182
If we do this in `toggleMenu`, would we also want to do it in the other places that spread `otherStateToSet`?

[2017-09-09 21:29] kentcdodds commented on #182
I'm glad you asked! Yes, we should probably do this for all the `actions` which would commonly be used in this way. (`openMenu` and `closeMenu` come to mind)

[2017-09-09 21:31] tansongyang commented on #182
Wow, you respond quickly! I actually just edited my second comment. What do you think of the new points?

[2017-09-09 21:34] kentcdodds commented on #182
Yes, I like your item 3 idea. To avoid the issues though, we'll need to pluck those values off of the given object at the first of the function rather than in the callback. I'm thinking something as simple as:

[code]

We wouldn't really need a util for this I think... But maybe.

[2017-09-09 21:34] tansongyang commented on #182
Also, you mention `closeMenu` and `openMenu`, but they don't accept `otherStateToSet`. Should they?

[2017-09-09 21:35] kentcdodds commented on #182
Haha, I thought they did, but looks like they don't. We're probably good to leave them as-is

[2017-09-09 21:36] tansongyang commented on #182
Sounds great. I'll PR when I'm finished.

[2017-09-10 15:11] slavab89 commented on #163
So i've started to build something, its kinda a WIP but wanted your input on this. I didnt invest in the UI much so it looks kinda weird but the concept is similar to what react-select is doing.
I've used `react-input-autosize` from react-select because of the autosize feature which is nice
https://codesandbox.io/s/o4yp9vmm8z

The general concept is to use something similar to the `multiple` examp

[2017-09-11 16:03] #182 closed

[2017-09-11 17:08] kentcdodds commented on #163
This is great! Thanks for your work on it! This is exactly the kind of experience I was hoping to make easier with downshift. I don't think you could build this kind of thing as easily with other autocomplete solutions...

I'm not sure I understand. Everything seems to be functioning fine to me.

I don't see anything wrong with this functionally. Could use some clean up from a design perspective,

[2017-09-11 18:46] slavab89 commented on #163
Nice! 😄 I'll be able to work on it a bit more close to the weekend so i'll update.

[2017-09-11 20:44] scottjason opened #184 "manually update downshift's internal state of input field"
- `downshift` 1.4.0:
- `node` version: 7.4.0
- `yarn`: 0.19.1

Relevant code or config

[code]

Problem description:

Hi again. I'm using downshift for Instacart's main new search component and need to be able to replicate what we're currently doing, which is:

When a user highlights a suggested item (presses down), replace the input field with whatever is highlighted. This behavior can also be se

[2017-09-11 20:55] kentcdodds commented on #184
Check out [this example](http://downshift.netlify.com/?selectedKind=Examples&selectedStory=autosuggest&full=0&down=1&left=1&panelRight=0). [Here's the code](https://github.com/paypal/downshift/blob/1cb2743827640bc7f92e19f2b8175e4253534a6c/stories/examples/react-autosuggest.js)

If you'd like to clean up that example a bit and put it in a codesandbox then we could include it in the list on the READ

[2017-09-11 20:55] #184 closed

[2017-09-11 21:00] scottjason commented on #184
Great, thank you. Yes, I'll definitely try to clean up this example and put in a codebox. Thanks for being so quick to respond, @kentcdodds! 👍

[2017-09-12 02:17] gricard opened #185 "Implement support for React Native"
- `downshift` version: 1.5.0
- `node` version: 8.3.0
- `npm` (or `yarn`) version: yarn 1.0.1

Relevant code or config

[code]

What you did:
Added an autocomplete input component to my React Native project and attached Downshift to it.

What happened:

window.addEventListener is not a function. (In 'window.addEventListener('mousedown', onMouseDown)', 'window.addEventListener' is undefined)

compon

[2017-09-12 02:34] kentcdodds commented on #185
Hi @sumorai!

Thanks so much for filing this issue and taking up the challenge to bring downshift to React Native! I have no experience with React Native either. I'll reach out to folks on twitter and see if we can get some direction there.

As mentioned to you privately, I would be totally fine to add a few lines of logic that make things compatible. I'd also be fine to add another build if that'

[2017-09-12 06:44] Swizec commented on #185
I had a look around and I'm not having luck using `npm link` with npm that comes with the latest node version (needed to run kcd-scripts and compile downshift). That's why I can't test the changes I made.

But from what I can tell, making downshift support React Native is going to be trickier than it looks at first glance. Avoiding `window.addEventListener` is easy enough, you wrap it in an `if` a

[2017-09-12 12:02] kkemple commented on #185
Agree with @Swizec 100%, accessibility would be different as well I think.

It seems like a glamorous situation IMO, maybe make it another package altogether?

[2017-09-12 15:45] ferdinandsalis opened #186 "Sometimes items is an empty array when clicking an item"
- `downshift` version: latest
- `node` version: 8.4
- `npm` (or `yarn`) version: 5.3.0

**What you did:**
Select an item per left mouse click

**What happened:**
Most of the time it would select the item as expected. However sometimes it will not.

![kapture 2017-09-12 at 17 37 48](https://user-images.githubusercontent.com/340520/30335143-d8e75e38-97e1-11e7-976e-9abb3e228932.gif)

**Reproduction r

[2017-09-12 16:28] kentcdodds commented on #186
Thanks for the issue @ferdinandsalis!

Yeah, looking into this I've realized something kinda tricky about the way that downshift is implemented. We make the assumption that you'll render all items you need synchronously on every render. And you can make this work if the component you wrap is the whole downshift component rather than just the list (see [this example](https://github.com/paypal/downs

[2017-09-12 16:41] kentcdodds commented on #185
Thank you so much for your audits @Swizec and @kkemple!

The reason for the global mousedown listener is to avoid this situation when the user clicks an item:

input onblur -> menu isOpen set to false -> onclick event fired on whatever the menu was covering

So we have the global mousedown to track whether the mouse is still down when the `onBlur` event happens. If that's the case, then we don't c

[2017-09-12 16:42] tansongyang commented on #186
You could also add [TypeScript types](https://github.com/paypal/downshift/blob/1cb2743827640bc7f92e19f2b8175e4253534a6c/typings/index.d.ts#L66).

[2017-09-12 16:51] kentcdodds commented on #186
Yeah, that'd be great! Should hopefully be pretty straightforward given the existing types and the simplicity of this API. It's just a function with no args and no return :)

One other thing, you could replace [this](https://github.com/paypal/downshift/blob/1cb2743827640bc7f92e19f2b8175e4253534a6c/src/downshift.js#L709) with a call to `clearItems`

[2017-09-12 16:54] ferdinandsalis commented on #186
I am bit confused since you I am doing the same thing as in your Apollo example, or am I missing something? Also could you elaborate more on the problem, I dont yet understand it and how `clearItems` solves the problem?

[2017-09-12 17:01] kentcdodds commented on #186
The Apollo example wraps the component that renders `<Downshift />`, yours renders the items within the downshift component.

Downshift keeps track of all the items on its own instance. [It clears them every render](https://github.com/paypal/downshift/blob/1cb2743827640bc7f92e19f2b8175e4253534a6c/src/downshift.js#L709) and [adds them all to the list as they're rendered](https://github.com/paypal/d

[2017-09-12 17:05] ferdinandsalis commented on #186
@kentcdodds thanks for explaining! I will take a look.

[2017-09-12 20:10] ferdinandsalis commented on #186
Implemented in https://github.com/paypal/downshift/pull/187

[2017-09-12 20:39] ferdinandsalis commented on #186
That landed quickly. Thanks @kentcdodds. I guess I can close this.

[2017-09-12 20:39] #186 closed

[2017-09-12 20:43] kentcdodds commented on #186
Thank you! :tada:

[2017-09-12 23:58] gricard commented on #185
From the [RN docs](https://facebook.github.io/react-native/docs/accessibility.html) it looks like we just need to apply some accessibility props to the component, and potentially to the list items. So, those could just be passed back in getInputProps() and getItemProps(), right?

I'm curious exactly how set-a11y-status.js works. Why does it maintain an array of the statuses, and what are those sta

[2017-09-13 01:37] gricard commented on #185
@kentcdodds In validateGetRootPropsCalledCorrectly(), the onClick check there on the root node is probably not needed for React Native, right? At least, from reading the discussion above, that seems like the case.

At any rate, I [updated the repro code](https://github.com/gricard/downshift-reactnative-repro/commit/d4f182637dee34c42fd9e2eeb3fc683fa00d691b) a bit and it a baby step towards function

[2017-09-13 07:48] ferdinandsalis commented on #186
@kentcdodds sorry for being a pest but sadly this did not fix the issue. One more detail I noticed about the issue is that when using the cursor keys and enter to select an item it always works. I think it must have to do with the mouse over and the re-renders. Every little movement will lead to a re-render and clearing of items and adding of new items. Sometimes a click will then stumble upon an

[2017-09-13 08:37] kentcdodds commented on #186
Yeah, that would be an issue... Do you not have any control over what props result in a new network request? You should only make a request when the input value prop changes... Does the higher order component have something for that?

[2017-09-13 08:45] ferdinandsalis commented on #186
Yes that is what I am doing. Only if `inputValue` changes a new network request is made. I dont see how this is related to the issue though. I am doing exactly same as your apollo example but also I am skipping the hoc if the inputValue is empty.

[code]

[2017-09-13 10:47] kentcdodds commented on #186
That logic isn't preventing a rerender when the input doesn't change. It's preventing rerender when the input is falsy.

[2017-09-13 10:52] ferdinandsalis commented on #186
Right, but why does this matter here. I have typed my search and received my results and now I want to select an item either by keyboard or mouse. Apollo wont do a network request at that point. I fear we are talking past each other. Sorry if my explanation is inadequate. Feel free to ignore this issue if you wish.

[2017-09-13 14:53] kentcdodds commented on #186
Oh, I think I understand now! What if you only clear the items when it's loading?

[2017-09-13 14:54] kentcdodds commented on #186
Or maybe only clear them after it's loaded?

[2017-09-13 15:21] ferdinandsalis commented on #186
Would you be open to quickly discussing this via skype or similar?

[2017-09-13 15:35] ferdinandsalis commented on #186
No, that did not work either. I am lost ☺️

[2017-09-13 16:37] kentcdodds commented on #186
Sorry, we just had our 4th baby, so I'm afraid I'm a bit limited with what I can do to help at the moment 😅

[2017-09-13 21:43] kentcdodds commented on #185
Thanks for your work on this @gricard!

Don't concern yourself as much with how `set-a11y-status.js` work and just know that it's responsibility is to alert the user whenever there's a relevant change in the state of the menu based on their interaction. The best way to get an idea of the potential statuses, you can look at the implementation of `getA11yStatusMessage `: https://github.com/paypal/do

[2017-09-13 21:50] pbomb commented on #186
I'm using the new `clearItems` API since I'm fetching results for autocomplete in my scenario. I believe that we should reset the `highlightedIndex` back to the default when `clearItems` is set. Otherwise, it gets maintained and can have a value larger than the number of items. Thoughts? If there is agreement, I can submit a PR.

[2017-09-13 21:58] kentcdodds commented on #186
Hmmm.... I'm not certain that'd be best. I can't think of all use cases, but I think what would be better is for you to just call `setHighlightedIndex(0)` or something 🤔

Otherwise we may make the wrong choice for people wanting to use the clearItems API in the future.

[2017-09-13 22:01] pbomb commented on #186
Oh yeah, good call. Didn't even realize `setHighlightedIndex` was exposed. Thanks (and congratulations! :wink:)

[2017-09-14 01:54] gricard commented on #185
@kentcdodds Congrats! Speaking as a dad of a toddler, get as much sleep as you can. :D

I'll keep fiddling with things and keep this updated.

[2017-09-14 06:07] ferdinandsalis commented on #186
No worries and congratulations! I am still at number one 😊

[2017-09-16 10:29] slavab89 commented on #163
I've updated the example. Made it a bit more pretty to the eyes and more convenient to use.

Myself, i'm using `material-ui` library so you can easily swap the `TagValue` render with a `Chip` element (At least in 0.19). You would also have to play a bit with CSS to make it look more materialized and add an underline.
In version 1.0, its somewhat harder when using `FormControl` and `Input` so when

[2017-09-16 14:09] kentcdodds commented on #163
It's looking better and better!

[2017-09-18 11:24] slavab89 commented on #163
Could you please direct me in what additional things should be done in terms of this example?

A material-ui example of this would be great but it will take in a while to get to it i believe + it will be a different example probably.

[2017-09-18 16:30] bogdansoare opened #190 "Select item even if it isn't in the items list"
Hey there 👋
First of all I would like to thank you for the project, I was searching a long time for something like this 🙏 .

I got stuck using downshift in creating an autocomplete that can also be used to select new items that don't appear in the list.
Could you please help me with some guidance?

Thank you.

[2017-09-18 16:57] kentcdodds commented on #190
Glad you like downshift! I think you'll like this example: https://codesandbox.io/s/82m2px40q9

or this one: https://codesandbox.io/s/xy66ml554

Good luck!

[2017-09-18 16:57] #190 closed

[2017-09-18 16:58] kentcdodds commented on #163
I think it looks great! You might just remove the console logs and then make a PR to add it to the list in the README :)

[2017-09-18 16:59] kentcdodds commented on #163
Oh, also, I'd suggest using match-sorter rather than just the built-in filter. See how to use that in the base example: http://kcd.im/ds-example

[2017-09-18 17:18] bogdansoare commented on #190
Cool, thanks for the examples .
The main problem for me is how to trigger onChange when I hinter enter when focused on the input no matter what text is inside the input. Should I supply a `onKeyPress` to the input and listen for the **Enter** key ?

[2017-09-18 17:37] tansongyang commented on #190
@bogdansoare I think it would help if you show some code. Could you share a working example on codesandbox (or something similar) that demonstrates your problem?

[2017-09-18 20:45] bogdansoare commented on #190
Sure, in https://codesandbox.io/s/54po93zr64 you can see a working example with material-ui and apollo. I would like to recreate the same autocomplete from the ground up .
In the example you can select colors even if the color isn't in the list of option.
Also it would be nice if you have some examples on how I could implement debounce like in the example.

Thank you ❤️

[2017-09-18 21:12] tansongyang commented on #190
I should have clarified. I mean, have you tried to start building with downshift yet? Did the examples help?

[2017-09-20 13:59] brentertz opened #191 "disabled prop?"
Greetings. I am building a Dropdown component based on Downshift and need to provide a way to disable it.  Disabled styles, disabled event handlers, etc.

Have you given any consideration to including a `disabled` prop to Downshift?  If true, the event handlers to open the menu would then be suppressed.

I can do this on my own by simply excluding the eventHandlers after calling `getButtonProps` o

[2017-09-20 14:06] kentcdodds commented on #191
Hi! Thanks for the idea! I think it's great. Would you like to start work on it? I'm happy to help where needed 👍

[2017-09-20 14:23] brentertz commented on #191
Thanks Kent.  I’d be happy too if I can find the time, but not presently.

[2017-09-20 14:28] kentcdodds commented on #191
Ok, I'll leave you open to anyone else who would like to contribute for fun or profit 😉

[2017-09-20 14:29] pbomb commented on #191
I might be able to start work on this soon. Are you thinking that the `<Downshift>` component would take an additional (optional) `disabled=boolean` prop that would de-activate the event handling? That seems pretty straight-forward. @kentcdodds, with this approach, would you also send the `disabled` prop to the func-as-child function? Or is that considered redundant?

[2017-09-20 14:33] kentcdodds commented on #191
Thanks Matt!

I think it could be useful to pass it along, sure 👍

[2017-09-20 15:01] brentertz commented on #191
LOL, sweet!  @pbomb 💥

[2017-09-20 20:32] areinmeyer opened #193 "Keep Downshift menu open always"
- `downshift` version: 1.6.0
I suspect this isn't a bug, but me not understanding how to properly avoid the state change.  If so, I'm happy to take the example below and submit it as an example or update any docs.

Problem:
I'd like to keep the Downshift menu open at all times, even after a selection event occurs as the Downshift component lives inside a Popup in my use case.

I thought that by se

[2017-09-20 21:35] tansongyang commented on #193
Closing because this appears to be an issue with the `Popup` component, not `downshift`. I don't know how it works, but I suspect that it's listening for clicks and closing itself if it receives one. With your current example, even mousing in, then mousing out of the popup causes it to disappear.

If you can replicate this issue with just downshift, we'll reopen.

[2017-09-20 21:35] #193 closed

[2017-09-21 09:33] SpaceK33z opened #194 "`defaultHighlightedIndex ` is set back to `null` after first selection"
- `downshift` version: 1.7.0
- `node` version: 8.3.0
- `npm` (or `yarn`) version: 5.4.2

What you did:

I set `defaultHighlightedIndex={0}` on the `<Downshift />` component.

What happened:

When selecting an item for the first time, it correctly highlights the first item. After changing the selection for a second time however, there is no default highlight on the first item anymore. This is becau

[2017-09-21 17:27] kentcdodds commented on #194
Thanks @SpaceK33z!

I think this is a bug. Would you be willing to make a pull request to fix it? Check out the contributing guidelines 👍

[2017-09-21 17:58] SpaceK33z commented on #194
Working on a fix now (or at least an attempt).

[2017-09-21 18:48] #194 closed

[2017-09-22 10:48] denkristoffer opened #196 "Cycle to input on arrow down and arrow up"
Hey! I'm trying to figure out if it's possible to make the suggestions cycle through to the input as well when navigating suggestions with the arrow keys? That's the way Google works, which seems to work really well to me.

[2017-09-22 15:20] kentcdodds commented on #196
Hi @denkristoffer,

You mean [like this](http://downshift.netlify.com/?selectedKind=Examples&selectedStory=autosuggest&full=0&down=1&left=1&panelRight=0)? :smile:

Here's the implementation: https://github.com/paypal/downshift/blob/efbbe1992382753377312d008060d382629c4dc7/stories/examples/react-autosuggest.js

Good luck!

[2017-09-22 15:20] #196 closed

[2017-09-22 15:30] ferdinandsalis commented on #186
Hi @kentcdodds, I looked at my problem again and I now understand that the complexity of the rendered children influenced wether I could select something with the mouse or not (apollo and the asynchronicity nature of the task was not an issue) .

For example I am using styled-components right now and I have few of those styled components that make up an item (see below for code). Apparently this w

[2017-09-22 16:25] kentcdodds commented on #186
Thanks for following up. I'm a little confused by this:

What actually makes it so the list of items is not yet populated?

[2017-09-22 16:35] ferdinandsalis commented on #186
Sorry my understanding of react internals and js are still limited. However my understanding is that on every render — which happens a lot when moving the mouse over the items — it also newly renders the children, thus there is quite a bit of work happening. So it should be possible that at the point of clicking an item `this.items` is not yet fully populated. Anyway since implementing `shouldComp

[2017-09-22 16:46] kentcdodds commented on #186
I think I understand. So if items have a slow render method, then the user can click before things have finished rendering? Hmm... If you could dig a little deeper then that'd be great, but I think the best we can/should do is add documentation that says folks should implement `shouldComponentUpdate` on their items.

Another thing you might consider is [implementing windowing with react-virtualize

[2017-09-22 16:49] ferdinandsalis commented on #186
Yes will dig deeper. Will be a great way to learn more. Thanks for the feedback.

[2017-09-22 18:04] bliitzkrieg commented on #38
@CMTegner is there a way around the checksum error?

[2017-09-24 08:20] denkristoffer commented on #196
Hey @kentcdodds, actually that example is what I've got up and running at the moment, but it's not quite the behaviour I'd like to end up with. I tried making a GIF that hopefully makes the difference clear:

![myjimbibyr](https://user-images.githubusercontent.com/219017/30780710-d044cd68-a111-11e7-8812-aba01f5cf989.gif)

Have a great Sunday 🙂

[2017-09-24 13:43] kentcdodds commented on #196
Yeah, that's definitely possible, but I don't have time to build it for you. Once you have it done, I think that'd be a super cool example!

[2017-09-24 16:49] denkristoffer commented on #196
Awesome! But just to make sure, should this be possible with Downshift as it is now? If so, I'll dive into the code and see what I can come up with 🙂

[2017-09-24 16:50] kentcdodds commented on #196
Yes, this is definitely possible with downshift as it is without any changes 👍

[2017-09-25 10:04] paul-veevers opened #200 "Rendering in iframe - clicks don't register"
#### What you did:
Rendering downshift inside a different window/document to where the Javascript is running - e.g. inside an iframe.

#### What happened:
Clicks on items don't register.

#### Reproduction repository:
https://codesandbox.io/s/x2ynm9mojw

#### Problem description:
It's due to ` window.addEventListener('mousedown'` and `window.addEventListener('mouseup'` in `componentDidMount`. Refe

[2017-09-25 14:27] kentcdodds commented on #200
Hi @paul-veevers!

Yeah, I'd be fine with your suggestion solution! Might even help push #185 along :)

[2017-09-26 09:39] paul-veevers commented on #200
See https://github.com/paypal/downshift/issues/200

[2017-09-26 11:58] zxxc commented on #163
I'm facing same problem, and we already have a lot of code and validation onBlur with setState. Do we have a workaround or fix for this? as i understand onMouseDown will cause a11y issues

[2017-09-26 12:11] slavab89 commented on #163
@zxxc its a pretty long read :) but you can refer to this [comment](https://github.com/paypal/downshift/issues/163#issuecomment-328165700). Basically, you can make your changes and validation in `onStateChange`

[2017-09-26 13:20] zxxc commented on #163
i'm not using downshift, simply react

[2017-09-28 02:21] mplis commented on #1
@kentcdodds I've got a WIP example of a date picker built with Downshift: https://codesandbox.io/s/nwk52x9qo0

I have a few tweaks I'd like to make, but is there anything in particular you want me to clean up before I submit a PR?

[2017-09-28 04:03] kentcdodds commented on #1
OH WOWOWOWOWOWOWOWOWOW!! That's super awesome!

I'm amazed at how simple it is!

I think it could use some fancy styling. Also, if I could change the month/year for the available selection that'd probably be good too, but this is super cool. Thanks @mplis!

[2017-09-29 07:57] jole78 opened #206 "handleStateChange confusion around controlling isOpen"
**Problem description:**
I'm trying to create a dropdown that contains a couple of choices that the user can select (a checkbox list one could say). It's basically a multiple select thingy.

So I wan't to keep the dropdown menu open while the user is interacting with it.
So, I know that I then have to to take "control" over the isOpen prop and supply that to downshift. That all works fine.

The is

[2017-09-29 10:18] jole78 commented on #160
@tansongyang @kentcdodds  OMG...I am building something similar...dropdown that shows a bunch of checkboxes (like a list of checkboxes with choices...a multiselect with checkboxes basically) and I couldn't figure out why the checkboxes didn't update when I clicked them but when I moused over them they'd update. Is there a reason why this doesn't work with checkboxes and is there a "better fix" tha

[2017-09-29 14:08] kentcdodds commented on #206
Thanks for the issue @jole78, I knew we'd have to deal with this eventually.

Here's how things work... There are 4 parts of state in downshift: `isOpen`, `highlightedIndex`, `selectedItem`, and `inputValue`. We have an API that allows you to control the internal state of the component. When you're controlling any part of the state, then we need to only call `setState` for the parts of the state t

[2017-09-29 20:41] hozefaj opened #207 "index prop required in getItemProps"
The [Readme](https://github.com/paypal/downshift#getitemprops) mentions that `index` is optional  parameter in `getItemProps`.

However omitting `index` out, leads to error. Checkout https://codesandbox.io/s/rkn35nxjm. Once user types a value into the `input` field, code throws the error.

**Possible fix**
Update doc to reflect this behaviour. Happy to send a PR with the change.

[2017-09-29 20:54] jole78 commented on #206
@kentcdodds thx for the reply. It’s Friday night in Sweden so I’ll have to think this over and get back to you next week. Have a great weekend Kent.

[2017-09-29 21:15] tansongyang commented on #207
Closing because the linked example uses version 1.0.0. `index` was made optional in [1.2.0](https://github.com/paypal/downshift/releases/tag/v1.2.0). You can get the behavior you want by upgrading.

[2017-09-29 21:15] #207 closed

[2017-09-29 21:26] hozefaj commented on #207
In that case can we update the example code  & Readme to reflect that update. Latest codebox: https://codesandbox.io/s/3830k2o0yp with updating the dependency.

[2017-09-29 23:10] kentcdodds commented on #207
Nice catch. I've updated it. Thank you!

[2017-09-30 03:46] kentcdodds commented on #185
With some of the changes recently I think that support will be even easier. Especially the new `environment` prop I think will be useful. What do you all think? There's probably still work to be done around the input element...

[2017-10-02 07:31] jole78 commented on #206
@kentcdodds if I'm not misreading how React Bootstrap uses this they allow you to set rootClose on an overlay component and if you do you must specify an onHide event handler (that becomes a required prop). That usually involves you controlling the "show" prop on the overlay (via your state)...so yes, they allow you to control the isOpen state of the overlay. ref (https://react-bootstrap.github.io

[2017-10-02 15:03] kentcdodds commented on #206
I can understand your concern. One thing that I want to avoid is adding a bunch of props to do things which can be done with what's already available.

However, I think this is a pretty common use case, so I'm willing to add a prop for an `onOuterClick` event handler which we would call [here](https://github.com/paypal/downshift/blob/24134f38bec09cf839ba402528c23f9210fdebd1/src/downshift.js#L674).

[2017-10-02 15:04] kentcdodds commented on #206
Note, first person to "claim" this issue by saying "I'm working on this right now" will have their PR iterated on and merged :)

[2017-10-02 15:08] divyenduz commented on #206
I'm working on this right now

[2017-10-02 16:28] jole78 commented on #206
Looks fair enough. Saw that react-select has something similar called onClickOutside or something like that so it seems reasonable. Thx

[2017-10-03 19:56] Joroze commented on #206
Hey everyone, I've been playing around with Downshift and I realized that there may be a bug related to how onStateChange provides the wrong changeType if you have more than one Downshift component being rendered at the same time.

For example... I copied the provided '**Multiple Select**' sample, and just made a modification by rendering an extra Downshift dropdown component below the first one.

[2017-10-04 01:43] kentcdodds commented on #206
Yeah, that's a really odd thing you're doing there... I don't have the time to explain what's going on (someone else can take a crack at it if you want), but if you explain what you're trying to accomplish then maybe I can help you know how to do it properly...

[2017-10-04 01:59] Joroze commented on #206
Hi @kentcdodds. First of all, isn't the point of Downshift to also be a reusable component? It almost certainly is, except for this issue we're looking at. Then again, it is experimental...

Anyways, I'm trying to accomplish rendering a Downshift dropdown component in each accordion panel content of a Semantic-UI-React accordion. https://react.semantic-ui.com/modules/accordion#accordion-example-sh

[2017-10-04 02:04] #206 closed

[2017-10-04 02:07] kentcdodds commented on #206
Ah, the problem is that you're sharing the `isOpen` state between the two. So if the first one collapses because I clicked on the second one, then they'll both collapse and that will happen before the second has a chance to select the item.

You can solve this by keeping the `isOpen` state separate. I suggest creating another component that's responsible for this state and renders the Downshift co

[2017-10-04 02:15] kentcdodds opened #211 "Add downshift intro blog post references to the README"
I want this above the horizontal line above the badges in the readme:

[code]

Please follow [the CONTRIBUTING.md](https://github.com/paypal/downshift/blob/master/CONTRIBUTING.md) instructions.

I'm going to open this issue to first timers only. This means that if you've ever contributed to an open source project before, please let someone else take this one.

First person to comment with: "I'm wo

[2017-10-04 02:15] kentcdodds opened #212 "Add reference to the prop getters blog post"
I want this right below the title [prop getters](https://github.com/paypal/downshift#prop-getters)

[code]

Please follow [the CONTRIBUTING.md](https://github.com/paypal/downshift/blob/master/CONTRIBUTING.md) instructions.

I'm going to open this issue to first timers only. This means that if you've ever contributed to an open source project before, please let someone else take this one.

First pe

[2017-10-04 02:31] rickMcGavin commented on #211
I'm working on this right now

[2017-10-04 02:42] Ronolibert commented on #212
I"m working on this right now!

[2017-10-04 03:47] #211 closed

[2017-10-04 03:47] kentcdodds commented on #212
Well done @Ronolibert!

[2017-10-04 03:47] #212 closed

[2017-10-04 09:20] HiDeoo opened #216 "Test errors since version 1.10.0"
- `downshift` version: 1.10.0+
- `node` version: 8.4.0
- `npm` (or `yarn`) version: yarn 1.1.0

**What you did:**

I'm running into some issues with Downshift while testing components using it with Jest & Enzyme (React 16).

**What happened:**

The error reported doesn't give much details beside `RangeError: Invalid string length` after hanging for a while.

[code]

**Problem description:**

I've

[2017-10-04 13:13] Joroze commented on #206
@kentcdodds ah, duh... Thanks!  👍

[2017-10-05 15:07] kentcdodds commented on #216
Hi @HiDeoo, thanks for the issue! Huh, that's odd. I'm not sure what's going on, but if you or anyone else figures it out then I'd appreciate a pull request to fix it :)

[2017-10-06 08:34] HiDeoo commented on #216
I'm closing this issue as after some investigation this may be a bug in Jest `pretty-format` when using `window` as a prop.

I've created an issue on their Github with a new small repro and in the meantime my current workaround is to mock `window` and adding a `toJSON()` method to it to short-circuit `pretty-format` and avoid using their internal `printComplexValue()` which leads to this error.

T

[2017-10-06 08:34] #216 closed

[2017-10-06 15:44] robin-drexler opened #217 "Cursor jumps to end of input when inputValue is a controlled prop"
- `downshift` version: 1.11.0
- `node` version: 6.9 (and codesadbox.io, could not find out, what they're using)
- `npm` (or `yarn`) version: yarn 1.1.0 (and whatever codesandbox.io uses)

Problem description:
- Visit this [codesandbox](https://codesandbox.io/s/3qnr4j4lnq)
- type text
- move cursor to the left
- type a letter
- the letter will be added at the correct position, but the cursor will m

[2017-10-06 18:56] kentcdodds commented on #217
Thanks for the perfect reproduction issue!

I'm not sure why this is happening. It'll take a little digging. I'll try to get to it when I get the chance, but if you could give it a whirl that'd be great :)

[2017-10-06 19:23] geoffdavis92 commented on #217
It seems @kentcdodds posted before I could share this 😆

---

As I try to debug this, it seems that the `onStateChange` update lags behind the native update of the caret/cursor. I used the function from [this Stack Overflow answer](https://stackoverflow.com/questions/2897155/get-cursor-position-in-characters-within-a-text-input-field#answer-2897229) to track the caret position in the `input`'s `on

[2017-10-06 19:44] kentcdodds commented on #217
Hmmm... Interesting. I would expect that even when `setState` is called, react would make sure that cursor position would be preserved.... 🤔

I'd love to solve this in a way that folks controlling the `inputValue` don't need to worry about it...

[2017-10-06 19:49] kentcdodds commented on #217
Also, thanks so much for a thorough dig @geoffdavis92! That's really helpful!

[2017-10-06 20:45] geoffdavis92 commented on #217
@kentcdodds happy to help.

From my testing, it seems this is the default behavior of any change of an HTML `input`'s `value` attribute, as demonstrated with [this Pen](https://codepen.io/gd-am/pen/KXQyyL?editors=0011).

[2017-10-06 20:51] robin-drexler commented on #217
It feels like: https://stackoverflow.com/questions/28922275/in-reactjs-why-does-setstate-behave-differently-when-called-synchronously

The issue also vanishes if one moves the `this.props.onStateChange` call above the `setState` call in [internalSetState](https://github.com/paypal/downshift/blob/master/src/downshift.js#L271)

I tried to reproduce the same behavior in a smaller example without Down

[2017-10-06 21:43] robin-drexler commented on #217
Reproduced without downshift: https://codesandbox.io/s/036r6xkr7w

The issue seems to be that upon `setState` children are re-rendered.
When this happens, the `value` property of the underlying input field dom node already has changed to the new value, while the result of `getStateAndHelpers` still contains the old value from the prop. Only after `this.props.onStateChange` is called, the prop also

[2017-10-09 00:11] kentcdodds commented on #217
I'd be open to look at a PR for that, but I'd reeeeally like to avoid it if there's any other way to do it...

Alternatively, here's an easy solution: https://codesandbox.io/s/pj5n3xx07

Will that work?

[2017-10-09 05:36] robin-drexler commented on #217
Also thought about something like this, however, we currently use:

[code]

in `onStateChange` to call a passed in `onChange` hander. This works for the input's `onChange`, but also when the user has selected something from the list. The input's `onChange` does not trigger in that case.

But I think this could be fixed by using the input's `onChange` in addition to `onStateChange` and by adding an

[2017-10-09 13:15] wcastand commented on #1
we can't do thread to respond, that's a shame, i don't to flood the conversation too much.
@mplis, maybe we could use [okami](https://github.com/wcastand/okami) to build the date picker with Downshift.

I don't know if that could be a simpler thing but maybe it's worth looking into it :)

[2017-10-09 18:48] throngar opened #218 "preact support removed?"
- `downshift` version: 1.7.0 and up

Problem description:
Is `preact` still supported? In version 1.6.0 there were `preact` specific module versions in `dist`: https://unpkg.com/downshift@1.6.0/dist/. Starting from version 1.7.0 the `preact` modules are gone: https://unpkg.com/downshift@1.7.0/dist/ or https://unpkg.com/downshift@1.11.0/dist/.

[2017-10-09 19:07] #218 closed

[2017-10-09 19:07] kentcdodds commented on #218
Sorry about that. I think I've fixed it. Give it a few minutes. Let me know.

[2017-10-09 20:17] throngar commented on #218
Wow that was fast. Thx, works great now. I guess readme could be updated to state new location of the preact modules.

[2017-10-09 20:19] kentcdodds commented on #218
Good idea! Would you be willing to do that?

[2017-10-10 20:33] dylanmoz commented on #186
@kentcdodds I'm dealing with the same issue. For me, from what I can tell, what happens is that when I click the first search result, it causes a new downshift render (which calls clearItems), and then subsequently rerenders my search results**. After that, the onClick handler executes and calls `selectItemAtIndex`.

** However, react-apollo has a shouldComponentUpdate, and it returns false for th

[2017-10-11 13:41] vejersele commented on #191
Not sure if somebody else is already working on this, but I'm looking into this and I'm having some questions:

If `disabled` would be a property of the `<Downshift>` component we would have to transfer it to the state in the component. This would also require us to add a componentWillReceiveProps lifecycle method right? Otherwise the component won't re-render when the disabled prop changes ...

A

[2017-10-11 13:53] vejersele commented on #23
Hi All,

I see that the PR for this added a .flow.js file which is awesome, but what about actually adding types to the code itself? It would make code changes a lot safer since you would have static type checking and there would be one type definition less to maintain, since it can be automatically generated?

[2017-10-11 21:21] pbomb commented on #191
Hi @vejersele, thanks for looking into this! I don't believe anyone else has started on it yet.

I would treat the `disabled` prop similar to the other controlled vs uncontrolled props such that you would store it in state, pass it to the render prop function, and update it when the consumer changes its value. I think the typical use case will be that a component will not be disabled for its entir

[2017-10-12 04:10] kentcdodds commented on #217
Feel free to open up a pull request and we can talk about it. But know that I probably wont accept a PR that attempts to synchronize state with props. I'm sure we can do this another way. Maybe an `onInputValueChange` prop?

[2017-10-12 04:11] kentcdodds commented on #186
Hi @dylanmoz,
Sorry, I'm afraid [I don't have much time](http://kcd.im/no-time) to dedicate to looking into this for you. If you could dig deeper and come up with a suggested solution (whether that be code or documentation) I'd be happy to look at it. Good luck!

[2017-10-12 04:12] kentcdodds commented on #23
Hey @vejersele! I've definitely considered adding flow to my libraries. My main concern is that it will hinder contributions because folks who are unfamiliar with flow will have a hard time contributing....

[2017-10-12 04:16] kentcdodds commented on #191
I've considered this a little bit further and I'm wondering now whether I want to do this. The original argument was:

However, now that I think of it, couldn't you just disable the input field and that would prevent event handlers functioning as well? 🤔

I do want to be as usable as possible, but I also want to avoid bloating the library to make it overly complex unnecessarily... Thoughts?

[2017-10-12 12:58] brentertz commented on #191
Sensible idea...  FWIW, I tried just disabling the trigger element (both input and button scenarios) in some of the Downshift examples and that seemed to work fine, until I tested in IE11.

[2017-10-12 15:28] kentcdodds commented on #191
If you no longer have a need for it, let's close this issue. Can always reopen it if someone else needs it :+1:

[2017-10-12 15:42] brentertz commented on #191
Sounds good to me.  Thanks!

[2017-10-13 03:18] kentcdodds commented on #191
What if the solution was as simple as:

[code]

🤔 I wonder how bad that would be...

[2017-10-13 03:19] kentcdodds commented on #191
Or what if we did: `getInputProps({disabled: true})` and inside `getInputProps` we just change what we return? I think that would do it and it'd make total sense :+1:

If anyone wants to implement it this way then be my guest and I think I'd be willing to accept that.

Opening....

[2017-10-13 06:26] andreiglingeanu commented on #191
That's actually how I'm handling it, just by [disabling the `input` element](https://github.com/bogdanbiv/TokenFilter/blob/18d42b96ea2a2bf5437aeffc45775b27c025a6cc/src/basic-autocomplete.js#L34). That's good enough for me.

My guess is that we don't really need it to be handled by `getInputProps`, but that's only my opinion.

You could as well add a `placeholder` prop to downshift, which will get

[2017-10-13 14:23] creatyvtype opened #222 "Clicked selection not closing dropdown"
- `downshift` version: 1.11.1
- `node` version: 6.9.5
- `npm` (or `yarn`) version: yarn v1.1.0

What you did:
Seemingly nothing different than the provided examples. I attempt to click to choose my selection, but the menu stays open with that selection filtered and selected. Not controlling value or isOpen. Note that in the log it shows type "__autocomplete_unkown__" instead of the normal mouseup

[2017-10-13 15:51] kentcdodds commented on #191
Thanks for the input @andreiglingeanu. Unfortunately simply disabling the input wasn't enough to prevent the events from firing in IE11 (at least that's what I assume @brentertz meant in his earlier comment).

[2017-10-13 16:00] brentertz commented on #191
Everything worked fine in IE11 when disabling the input.  It was when using a button as the trigger element that did not work in IE11.

This kind of makes sense, with an input a user cannot set a cursor in it to trigger a change event.
 With button, a user can still click on it.  IE still executed the click handler even though the button was disabled.

[2017-10-13 16:14] kentcdodds commented on #191
Ahhh, I see... Hmmm, yeah, that makes sense. I'd much rather have people pass `disabled` to the prop getters than have it configurable at the component level. And people will naturally want to disable the input and button when they wish to disable the event handlers so I don't think it's asking too much to pass `disabled` to both `getButtonProps` and `getInputProps`.

I'm going to go ahead and wor

[2017-10-13 17:38] #191 closed

[2017-10-14 00:32] ellismarkf opened #225 "prop getters should return all current prop values"
- `downshift` version: 1.11.1
- `node` version: 6.9.1
- `npm` (or `yarn`) version: 0.27.5

*Relevant code or config*

[code]

*What you did:*
I expect calling `downshift.getInputProps();` in `Form.handleTypeAheadChange` to return the _current and complete_ set of props on the `input` element, so that I can dynamically set a piece of state in a parent component with the `name` property set on the `

[2017-10-14 00:40] kentcdodds commented on #225
Thanks for the thorough issue! Sorry, I'm on my phone right now, but if I understand correctly, I believe we do what you are suggesting already...

https://github.com/paypal/downshift/blob/master/src/downshift.js#L547

Am I missing something?

[2017-10-14 01:00] ellismarkf commented on #225
Thanks a bunch for the quick response!

I had a feeling I wasn't explaining myself very well :laughing:.

I'll give it another go:

Calling `getInputProps` works as expected when calling it from the child callback function (or some child component of that function), and passing it parameters, ie:

[code]

The above code works as expected.  Inspecting the markup in Developer Tools shows that the pa

[2017-10-14 03:31] Dajust commented on #225
I was just about to file this issue before I saw this, thank you @ellismarkf for saving me the time :smile:

Hey @kentcdodds :wave: I finally tried downshift and it's been awesom :smile: Thanks you so much for this :pray:

So the thing here is, we want more *unique* information about each `<Autocomplete />` instance we build with downshift. I belief @ellismarkf has done a good job explaining this

[2017-10-14 05:15] kentcdodds commented on #225
Hey Justice :wave:

Thanks for helping to clarify! That was really helpful!

Honestly, I think that having the inline arrow function is a great solution to this problem. It's more explicit. However, we do have a mechanism to uniquely identify a downshift component instance using the [id](https://github.com/paypal/downshift#id) prop which you can set, but not get from the instance (easily). I think

[2017-10-14 07:54] Dajust commented on #225
Let me do this one Kent :smile:

[2017-10-14 12:11] Dajust commented on #225
Hey @kentcdodds, the build keeps failing when I `npm run validate`.  I'm not sure how to proceed.

It seems linting the example projects is the cause of this, as they're importing files not in this project. I'm not exactly sure. Here's the log:
[code]

[2017-10-14 13:09] kentcdodds commented on #225
Sorry about that @Dajust! Could you update your branch? I just pushed a small change. Instead of `npm install` and `npm run validate`, now you can simply run `npm run setup` and it'll get everything set up and validated for you.

The problem is that we have a `stories` directory with a `package.json` so those dependencies also need to be installed. I simplified things by just having a `setup` scri

[2017-10-15 03:24] kentcdodds commented on #1
I still want examples, but I'm trying to clean things up so I'm going to close this issue.

Thanks everyone!

[2017-10-15 03:24] #1 closed

[2017-10-15 04:04] kentcdodds commented on #53
I'm going to go ahead and close this. Someone can feel free to open it up if they like though...

[2017-10-15 04:04] #53 closed

[2017-10-15 16:17] slavab89 opened #227 "purpose of a11y-status + possible infinite child elements in this element"
So i've noticed that there is a `status-message` element added to the root of the dom.
I guess its for tracking with what happens with the component..?
The thing is that i've noticed that its possible to add an infinite amount of child elements to it. They will all be with `display:none` yet i'm not sure if this is wanted in the first place.
The elements gets cleared once the select box is no long

[2017-10-15 20:37] tansongyang commented on #222
There's a lot of code to sift through here. It would help a lot if you provided a reproduction repository or a [codesandbox](https://codesandbox.io/). In addition, try removing any unrelated code so that you have just the bare minimum needed to reproduce the issue.

[2017-10-16 02:02] kentcdodds commented on #227
Hi @slavab89,

Thanks for the issue. First of all, the purpose of this is for screen readers. I got the idea from jQuery-UI's autocomplete and it works great. You should try it with a screen reader :wink:

One thing that we do that jQuery-UI's autocomplete doesn't is we actually clear the contents when we can. So when the status message needs to be different then we can reset the contents to that

[2017-10-16 02:02] #227 closed

[2017-10-16 06:11] slavab89 commented on #227
Awesome! Thanks a lot for the detailed explanation.

[2017-10-16 07:12] morajabi commented on #227
@kentcdodds Nice trick for screen readers... I'll read more about them. Thanks for the detail 👍

[2017-10-16 15:53] #225 closed

[2017-10-18 07:19] robin-drexler opened #232 "onChange not called when selectedItem is already set to the inputs value"
- `downshift` version: 1.13
- `node` version: codesandbox
- `npm` (or `yarn`) version: codesandbox

Problem description:

Go to the [typeahead example](https://codesandbox.io/s/82m2px40q9)

 - Type "orange"
- Wait for the selection list to appear.
- Select "orange"

The alert "You selected orange" does not appear, because `onChange` is not triggered.
Probably caused by: https://github.com/paypal/d

[2017-10-18 13:09] tansongyang opened #233 "npm deprecate all version before 1.13.1"
In light of the recent security patch, I think we should run this so that users are warned next time they download the dependency (similar to what `minimatch` does when you try to install versions < `3.0.2`:

    npm deprecate downshift@"< 1.13.1" "Please update to downshift 1.13.1 or higher to prevent an XSS attack vector"

[Source](https://docs.npmjs.com/cli/deprecate).

Of course, we can change

[2017-10-18 13:40] kentcdodds commented on #233
Done! Thank you very much :clap:

<img width="869" alt="screen shot 2017-10-18 at 7 40 14 am" src="https://user-images.githubusercontent.com/1500684/31721800-9dcde8d2-b3d7-11e7-9011-8f3f90917465.png">

[2017-10-18 13:40] #233 closed

[2017-10-18 14:20] kentcdodds commented on #232
Thanks @robin-drexler,
Hmm... The `onChange` shouldn't happen if the selected item is the same (it doesn't change). I don't think I want to allow it by a flag either. I think that would add unnecessary complexity. You should be able to get it from `onStateChange` though. Do you think you could workaround this issue?

[2017-10-18 16:37] robin-drexler commented on #232
thanks @kentcdodds for the quick reply! :)

Maybe if `stateChangeTypes` were considered stable and clicking on an item would produce a type that is not unknown, it might be possible to workaround, but I'm not sure yet (especially considering the `inputValue` might already be updated at this point once #230 is merged).

Regardless of this particular issue:
Have you thought about switching from `onC

[2017-10-18 16:47] kentcdodds commented on #232
Hmmm... What if you added a `onClick` handler to your items? `<div {...getItemProps({item, onClick: handleItemSelection})} />`

I'd just really prefer to workaround this issue as I don't think it's a very common situation.

[2017-10-20 13:57] yp opened #235 "validateGetRootPropsCalledCorrectly does not correctly check if the root props are applied"
- `downshift` version: `1.14.0`
- `node` version:
- `npm` (or `yarn`) version:

Reproduction repository:
https://codesandbox.io/s/23yzon246r

Problem description:
I would like to use a non-DOM component as root component returned by the children function. I pass to it a prop `rootProps` containing the result of `getRootProps()` and it spreads the object to the inner root `div`. In such a way, the

[2017-10-20 14:43] tansongyang commented on #235
I believe the problem is that you are not using `refKey`. Please see the documentation on [getRootProps](https://github.com/paypal/downshift#getrootprops).

Change `MyDiv` like so:

[code]

And then change your call site:

[code]

Here's a working example: https://codesandbox.io/s/m4n2416l1x

Closing now, as I believe this resolves the issue. If not, let me know and we can keep discussing.

[2017-10-20 14:51] yp commented on #235
In my case I cannot change the definition of MyDiv. Actually, the real case is more complicated than the example (that I greatly simplified in the codesandbox).

[2017-10-20 15:12] tansongyang commented on #235
OK. Is there no way to make `refKey` work in your scenario?

[2017-10-20 15:20] yp commented on #235
What about transforming the `throw new Error`s into `console.error` and surrounding the function call by a `if (NODE_ENV!=='production') `?

[2017-10-20 16:19] kentcdodds commented on #235
If we did that then the component would just not work at all. Failing early and obviously is better. Any reason you couldn't wrap `<MyDiv />` in a `<div />` [like this](https://codesandbox.io/s/k09j74mp5)?

[2017-10-21 17:34] titanve opened #237 "onStateChange function called when selecting an item (it's supposed to call just onChange)"
- `downshift` version: 1.14.0
- `node` version: 6.9.4
- `npm` (or `yarn`) version: 1.2.1

Relevant code or config

[code]

What you did:

What happened: When I select an item downshift component is calling `onStateChange` function when it's supposed to call just `onChange`

Reproduction repository:

Problem description:

Suggested solution:

[2017-10-21 21:53] tansongyang commented on #237
Hi there. This is expected behavior (unless I'm misunderstanding something). See the docs about [`onStateChange`](https://github.com/paypal/downshift#onstatechange) (emphasis mine):

It has to be called any time internal state changes, which includes when an item is selected.

In your case, you could probably keep track of the currently selected item. Then, in `onStateChange`, you can check if `ch

[2017-10-21 21:53] #237 closed

[2017-10-22 05:05] #217 closed

[2017-10-22 09:54] yp commented on #235
I understand your position, but the check is too simplicistic and it is failing even if the component would work because the ref is set correctly to the root component.
IMHO a failure when the component should not be failing is an issue, but if you do not agree, I will find a workaround.

[2017-10-22 14:02] kentcdodds commented on #235
But the component doesn't work. With the way refs work, downshift can't get the root DOM node without being able to pass a ref prop to the node itself. It's not enough to pass a ref to a composite component.

Unless I'm mistaken... Feel free to prove me wrong with a pill request.

[2017-10-23 01:14] techniq commented on #164
I had used @kentcdodds workaround for my [mui-downshift](https://github.com/techniq/mui-downshift) component, but while fixing the inability to click on an item, it still had an issue where clicking on the scrollbar and scrolling would close the menu on mouseup.

A better approach, that seems to solve both issues, is to add a `onMouseUp` handler on your popper/menu and stopping the event from prop

[2017-10-23 01:33] kentcdodds commented on #164
Thanks for the idea @techniq! I think that would be great to add to our documentation, but I'm not sure that it's necessary for 95% of the use cases so I don't think I want to introduce an `onMouseUp` prop getter. Thanks again!

[2017-10-23 01:40] techniq commented on #164
The idea was to add a `getMenuProps` prop getter, but I agree it's unnecessary for most use cases (although hitting the [stacking context](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context) problem with multiple menu's and using a portal to work around the issue is also probably something worth adding to the docs).  I don't think I'll be ab

[2017-10-23 01:42] kentcdodds commented on #164
I'll re-open this issue to invite others to add these docs. But they'd be best to be written by someone who's experienced and worked around the issue :+1:

[2017-10-23 05:00] ttamminen commented on #23
If the source code itself is going to be typed then TypeScript should be also evaluated. I am biased towards TypeScript, so I will stay out of the discussion. Just reminding about the options. 😊

The feature sets on both type systems are more than enough.

What should be evaluated then?

- activity on 3rd party library definition creation [TS](https://www.npmjs.com/~types#packages) & [Flow](https:

[2017-10-23 07:53] yp commented on #235
Please refer to this example: https://codesandbox.io/s/n3jv69ywnl
It is the same example as the first repository but with the Downshift source code embedded and two `throw new Error` transformed in `console.error`. I think that the example correctly works, but maybe I am missing something.

[2017-10-23 08:08] yp commented on #235
The main point here is that the `getRootProps` call return an object that is *not* spread onto the composite component but passed as-is to the root composite component which, internally, it spreads onto the root `div`. Since the `ref` is only a key of an object prop (and not a prop itself), react does not intercept it and it can pass to the "real" root DOM element.

[2017-10-23 14:14] robin-drexler commented on #232
I guess that could work if I also added a `keyDown` handler for the input field to also account for the user picking by keyboard. I'd probably call `selectItemAtIndex` with `highlightedIndex`. But that feels like re-implementing a large portion of the downshift api. Will need to think about it, but we can close the issue here if a fix/change won't be accepted to address the issue directly in downs

[2017-10-23 14:43] robin-drexler commented on #232
Would you be open to some sort of `onResetRequested` callback that would be called in `reset` and return state to be merged with Downshift's defaults?

This way one could override `inputValue`, but keep the rest as is.

Something like:

[code]

[code]

[2017-10-23 14:51] robin-drexler commented on #232
Ah, nevermind. This would not fix the issue if the user selects the same value for the second time.

type apple -> select apple -> onSelect called
press arrow down -> select apple -> onSelect not called

[2017-10-23 15:33] kentcdodds commented on #23
Thanks for chiming in @ttamminen.

So long as I'm a maintainer on this project, it's very unlikely I'll choose TS over Flow. I don't have time to go into it, but just know that if I do add types, it'll be flow, not TypeScript.

[2017-10-23 15:36] kentcdodds commented on #235
Ah, I see what you mean. Very interesting. Hmmm... I'm trying to think of a good way to keep the error but also allow you to do what you're doing there because I think that it's more likely people are making a mistake when you don't pass a `refKey` and spreading on a composite component.

What I'm thinking is that we could add an option you could pass to `getRootProps` that is: `silenceRefError: t

[2017-10-23 15:54] tansongyang commented on #235
Reopening since this conversation is taking a different direction.

[2017-10-23 16:01] kentcdodds commented on #232
Hmmm... So I'm thinking that maybe adding an `onSelect` may not be a terribly bad idea. This behavior (the current behavior) makes sense to me:

type apple -> select apple -> `onChange` and `onSelect` called
press arrow down -> select apple -> `onChange` not called, `onSelect` called

I think that's what you suggested in the first place. Is that right?

[2017-10-23 16:12] kentcdodds commented on #235
Maybe instead of `silenceRefError` it should be `suppressRefError`

[2017-10-23 16:18] robin-drexler commented on #232
Yes, that is what I had in mind. :)

I could try to prepare a PR if you'd be open to merge something that goes in that direction.

[2017-10-23 16:30] kentcdodds commented on #232
Yep, after considering it, I'll merge any PR that implements this in a way that's as simple as possible, is tested, and documented :+1:

[2017-10-23 19:07] yp commented on #235
That's fine with me. And sorry if I was not sufficiently clear since the beginning.
If you want, I can try to prepare a PR along this line...

[2017-10-23 19:31] kentcdodds commented on #235
Yes please! Thank you!

[2017-10-23 20:19] tannerlinsley opened #240 "Keyboard selection is rudely interrupted and overridden by auto-complete mouse-enter actions."
- `downshift` version: 1.16.0
- `node` version: 8.5.0
- `npm` (or `yarn`) version: yarn 1.0.2

### Description
In any downshift configuration (at least thus far in my experience), the mouse position will fire (and select whatever is underneath it) immediately after an arrow-selecting and shift-arrow-paging event.

### Replication
1. Navigate to any example: http://downshift.netlify.com/?selectedKi

[2017-10-23 20:24] tannerlinsley commented on #240
Code origin is easy to locate: https://github.com/paypal/downshift/blob/master/src/downshift.js#L637, but the solution to this problem could be more difficult than I thought.

[2017-10-23 20:25] kentcdodds commented on #240
Yep, I've seen and experienced this before. Interestingly, Google avoids this problem and hides the cursor:

![google-example](https://user-images.githubusercontent.com/1500684/31911453-ef2be9de-b7fd-11e7-98b0-d27065deb17d.gif)

I think we could do something similar. I definitely welcome a pull request to improve this experience. I think that most folks would prefer this and others wouldn't notice

[2017-10-23 20:26] kentcdodds commented on #240
As for a solution, I'm not 100% certain the best way to do it. Definitely open to ideas.

[2017-10-23 20:26] tannerlinsley commented on #240
I'm curious if a mouse move event would fire in the same situation.

[2017-10-23 20:27] tannerlinsley commented on #240
That would probably bring some debouncing or cancelling issues to mind, but theoretically would work.  I feel there is a simpler solution though...

[2017-10-24 05:39] philipyoungg commented on #240
@kentcdodds @tannerlinsley I'll look at this tonight! I'm also developing similar component for client work so let's see what I can do.

[2017-10-24 07:22] #232 closed

[2017-10-24 17:26] nitin42 commented on #23
I'll start working on the Flow definition files (busy with some personal work). @ttamminen thanks for your suggestion but let's avoid adding types to the codebase and keep it minimal and clean. Also, let's not forget about the other contributors who are yet not comfortable with the JavaScript toolchain (Flow, TypeScript, etc). I remember, I started adding types to the codebase (downshift) but it a

[2017-10-25 07:24] philipyoungg commented on #240
After thinking for a while, I think this could work (theoretically). Here's how:

1. we need to add a new state. Let's call it `isArrowButtonClicked` for now.
2. on `componentWillMount`, add event listener that binds to `onkeyup`. If `this.state.isOpen` and key UP/DOWN is pressed, change `this.state.isArrowButtonClicked` to true.
3. Similarly, on `componentWillMount`, add event listener that binds

[2017-10-25 13:07] kentcdodds commented on #240
Thanks for the idea @philipyoungg,

I'm not sure I understand the purpose of the `isArrowButtonClicked`... Honestly this doesn't appear to have anything to do with whether you click the toggle button or if there's even a toggle button at all...

I think that it would be easier to see solutions to this than hear it explained. Anyone can feel free to open a PR. It may not get merged right away or at

[2017-10-25 15:19] philipyoungg commented on #240
@kentcdodds IsArrowButtonClicked is a state that monitors whether user pressed key up / key down *while* the dropdown is open.

The problem is mouse event fired when user choosing the dropdown item on arrow up / arrow down right?

The only responsibility of the state is to disable the Mouse event when the state is true.

The state will return to false as soon as user moves the Mouse.

[2017-10-25 15:21] kentcdodds commented on #240
Hmmm... the `isArrowButtonClicked` name just isn't working for me.... But feel free to open a PR and we can talk about it there.

Also, I wonder whether [`pointer-events`](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events) could help us here.

[2017-10-26 10:39] yp opened #243 "Setting the selectedItem to '' does not clear the inputValue"
- `downshift` version: `1.16.0`
- `node` version:
- `npm` (or `yarn`) version:

What you did:
I have a component that lists several items using several "Downshift-enriched" inputs. At the end of the list there is an empty Downshift-enriched input for adding a new item to the list. As such the components are semi-controlled, in the sense that the selectedItem property is set by the parent component

[2017-10-26 14:59] kentcdodds commented on #243
I'm not 100% certain, but I'm thinking that perhaps something's preventing the second autocomplete from re-rendering. Could you do a little more digging?

[2017-10-27 07:21] yp commented on #243
I think that the component re-render. Indeed the `componentDidUpdate` fires. However, `inputValue` is not cleared sing the `selectedItem` prop does not change (was `''` before, it stay `''` after).
If `selectedItem` is a controlled prop, does it make sense to clear/reset `inputValue` after a selection is made? As far as I can tell, the `componentDidUpdate` should then correctly set the `inputValue

[2017-10-27 18:02] kentcdodds commented on #243
I think it makes more sense that `inputValue` should be updated anytime there's an update to `selectedItem` (and it should be updated by calling `itemToString`). I thought that's what happens. Could you figure out why that's not happening? Thanks!

[2017-10-29 18:52] MaxGraey opened #245 "How to detect mouse leaving item list?"
It will be nice to have ```Downshift.stateChangeTypes.itemMouseLeave``` (as a counterweight to ```Downshift.stateChangeTypes.itemMouseEnter)``` or some callback listener like ```onOuterEnter(Leave)``` to determine when user leave opened dropdown menu and make possibility close it.

[2017-10-29 21:03] kentcdodds commented on #245
Thanks for the issue! However no state changes when that event occurs so we won't as that, but you can definitely add an event handler on the item element that you render yourself.

Let us know if you need an example of doing that and I'm sure someone can help. Thanks again! And good luck!

[2017-10-29 21:05] #245 closed

[2017-10-29 22:38] CarlRosell opened #246 "Missing dependencies for some examples."
I was just browsing the docs when I noticed that some of the examples were broken and did not load as expected. I believe that this can have a harmful impact and that new users might be afraid of using it.

Here are all the "broken" examples:
- [Bare bones autocomplete](https://codesandbox.io/s/6z67jvklw3)
- [Type Ahead Example](https://codesandbox.io/s/82m2px40q9) (uses controlled `selectedItem`

[2017-10-29 22:43] kentcdodds commented on #246
Hi @CarlRosell, thanks for bringing this up! They seem to be working to me 🤔
Anyone else see them broken? Try refreshing?

[2017-10-29 22:49] CarlRosell commented on #246
Might have been something on codesandbox then. Now they were loading twice, once with the error still there and then refresh and now they all work. 🤔

[2017-10-29 22:49] #246 closed

[2017-11-02 15:07] ShockiTV opened #249 "How to not lose focus after selection but let user tab out ?"
- `downshift` version: 1.16.0
- `node` version: 8.6.0
- `npm` (or `yarn`) version: 5.3..0

What you did:
I want to control blur events and highlight so user can pick/select multiple items one after another. And than tab out to next form component.
I tried to control the blur behaviour by re-focusing element after each blur state change, but than I am not able to let user tab-out manually.

What ha

[2017-11-02 15:56] ShockiTV commented on #249
Sorry, it was my bad cause I was doing .focus on other element in DOM in my onSelect handler.
Now it is keeping focus correctly as I would expect till I hit tab.

[2017-11-02 16:42] kentcdodds commented on #249
Sounds good. Glad you got it worked out @ShockiTV!

[2017-11-02 16:42] #249 closed

[2017-11-03 10:09] yp commented on #243
I think it is related to this line: https://github.com/paypal/downshift/blob/936c8e053dbb2be4b768ad0fd0b7bce21afb4e74/src/downshift.js#L241
in function `selectItem`.
It seems that `Downshift` assumes that `item` will be the "next" selected item, while, when `selectedItem` is a controlled prop, that assumption may not be true.

[2017-11-03 16:01] yp commented on #243
Yes, it is a possibility.
Another possibility is to set inputValue using the itemToString prop if selectedItem is not controlled or to '' otherwise. What do you think?

[2017-11-03 16:33] kentcdodds commented on #243
Yeah, I'd considered that. So now we need to make a decision between two "defaults" when you control the `selectedItem`. In a decision like this, we need to decide which is a more common scenario:

1. I'm controlling `selectedItem` so I can set it externally, but I still want the user to change the selected item themselves and I want the input value to reflect that change.
2. I'm controlling `sele

[2017-11-06 07:47] yp commented on #243
I see. Please take all the rest of this comment as my respectful opinion.
For better consistency of the design, scenario 1 means that `selectedItem` is not really a controlled prop since it assumes that the next `selectedItem` will be *exactly* the one resulting from the selection. The solution I was proposing has the benefit that if the controlled prop `selectedItem` changes, then the `inputValue

[2017-11-06 16:10] kentcdodds commented on #243
Ah, so you're saying if we make the suggested change, we'll update the `inputValue` anyway because of `componentDidUpdate`?

[2017-11-06 16:29] yp commented on #243
By code inspection, I would say yes. But I did not check.

[2017-11-06 16:30] kentcdodds commented on #243
If you would be willing, I would appreciate a pull request that demonstrates this approach in source, tests, and a new example. Could you do that? Thanks so much for iterating with me on this!

[2017-11-07 23:51] garrettn commented on #196
Hi @denkristoffer, did you ever come up with a solution? I know this issue is closed but I'm facing the same problem now and I'm curious if you were able to come up with a working example.

[2017-11-08 05:23] kentcdodds opened #253 "Replace scrollIntoView with scroll-into-view-if-needed"
I'd like to reduce the amount of code to maintain and `scrollIntoView` is probably the most complicated code in this project. [Richard pointed me](https://twitter.com/richardszalay/status/928128167117701120) to [`scroll-into-view-if-needed`](https://github.com/stipsan/scroll-into-view-if-needed). Looks like it could be a good replacement.

Anyone want to make a PR to [replace `scrollIntoView`](htt

[2017-11-08 08:51] Drapegnik commented on #253
It would be interesting to me, but at the moment there is no time. I can try to do it during the week

[2017-11-08 08:52] denkristoffer commented on #196
@garrettn Yeah, but it felt kind of dirty as I had to reimplement some Downshift internals, which is why I never shared it. Basically what I did was change `changeHighlightedIndex` to something like this:

[code]

[2017-11-08 14:15] kentcdodds commented on #196
@denkristoffer, how did you go about changing that function? Did you have to fork `downshift`?

[2017-11-08 16:09] denkristoffer commented on #196
Nope, I just pass a custom `onKeyDown` prop to `getInputProps` (which I had to do anyway for some other functionality) that handles `ArrowUp` and `ArrowDown`.

[2017-11-08 16:20] kentcdodds commented on #196
Perfect! Do you use `event.preventDefault()` (supported by [`composeEventHandlers`](https://github.com/paypal/downshift/blob/22ed3d7e9be53320a94d41500ebccd611d1cac53/src/utils.js#L127-L141)) or do you just override the `onKeyDown` handler that comes from `getInputProps`?

I built things in such a way that doing something like this would not only be possible, but pretty easy. So either way, what yo

[2017-11-08 17:06] garrettn commented on #196
Ah! Thank you! `event.preventDefault()` was what I was missing. I was already doing a custom `onKeyDown` handler that sets the highlighted index to null if the user arrows out of range, but because of how `composeEventHandlers` works the index was getting overridden with a number. I didn't realize I could stop the composed event handler chain with `preventDefault`. Is that documented somewhere bes

[2017-11-08 17:12] kentcdodds commented on #196
It's not documented actually! It was kinda experimental anyway. And the workaround is pretty easy (put your event handler outside the call to `getInputProps` directly on the element). But if you'd like to document this that'd be super :+1:

[2017-11-08 18:41] denkristoffer commented on #196
Yeah, I found out about `event.preventDefault()` after digging through the source, it seemed cleaner than passing the prop directly on the input, as you say 🙂 I will try to remember to make an example on Codesandbox this week then!

[2017-11-08 20:29] razh commented on #253
Note that [`scroll-into-view-if-needed`](https://unpkg.com/scroll-into-view-if-needed@1.2.8/dist/) (`bundle.js`is 9.51 kB unminified) includes the [amator](https://github.com/anvaka/amator) animation library [(8.13 kB unminified)](https://unpkg.com/amator@1.1.0/dist/).

[2017-11-08 21:01] kentcdodds commented on #253
Ah, that's good to know @razh! Thanks for bringing that up! We definitely don't want that :-/

Maybe we should just take ours and extract it to an isolated package if we can't find something else? I feel like there's gotta be a good, small solution to this!

[2017-11-09 16:15] #235 closed

[2017-11-09 21:15] Drapegnik commented on #253
@kentcdodds how you see the best way:
1. fork `scroll-into-view-if-needed`, get rid of `amator` and:
    1. use it by direct link on github fork repo?
    2. publish new package and use it?
2. completely extract source code as new package

In first case we'll still be able to update ours fork from parent

[2017-11-09 21:18] kentcdodds commented on #253
Well, if we can't find anything better than what we have built ourselves, then I say let's make a new package out of what we have.

Alternatively we could just not worry about it and leave things as they are 😅 Maybe I'm just complicating things...

[2017-11-09 21:55] Drapegnik commented on #253
How about use [`patch-package`](https://github.com/ds300/patch-package)?

[2017-11-09 22:13] kentcdodds commented on #253
Interesting! I've never heard of that before! That is _definitely_ overkill though. I thought about this as a passing idea that would make downshift a little easier to maintain. It's not really a big sticking point for me, and I feel like doing something like that would overcomplicate things...

[2017-11-10 16:39] madeinfree opened #256 "Examples 「Integration with Redux」TypeError"
- `downshift` version: 1.0.0-rc.18
- `node` version:
- `npm` (or `yarn`) version:

[Example Link](https://codesandbox.io/s/0o0w70lp8p)

Relevant code or config

[code]

What you did:

#### Select a item from input.

What happened:

#### The `items` state is missing in store.

Reproduction repository:
<img width="289" alt="2017-11-11 12 31 17" src="https://user-images.githubusercontent.com/4027049/

[2017-11-10 20:23] kentcdodds commented on #256
Ah, good catch, thanks! Feel free to make a pull request to update it to a new codesandbox that fixes this issue. Thanks!

[2017-11-11 01:44] madeinfree commented on #256
Thank you @kentcdodds !

[2017-11-11 02:26] #256 closed

[2017-11-12 06:11] #243 closed

[2017-11-12 06:14] kentcdodds opened #258 "Support a render prop"
I'll provide more info as soon as I'm able, but in the next breaking change (whenever that happens, no plans any time soon), I want to switch from the `children` prop to a new prop called `render`. I have reasons for this (one big one being teachability, also the `children` prop is special in react so it kinda doesn't make sense to use it).

In any case, we can allow folks to opt-into this with th

[2017-11-12 14:30] stipsan commented on #253
Hey guys, just want to let you know that we just introduced a simpler API interface for `scroll-into-view-if-needed`. Next step is to get rid of amator and reduce bundle size as much as possible 😄

[2017-11-12 21:09] kentcdodds commented on #253
Cool! If you're able to make it small and satisfy the use case we have then I'd love to use it!

[2017-11-13 08:01] denkristoffer commented on #196
Here's where I'm at so far: https://codesandbox.io/s/2k1klkk0y – I'd like to polish it before creating a PR but it'll probably have to wait until the weekend. I'm just saving the link here 😉

[2017-11-13 15:53] kentcdodds commented on #196
That looks awesome! I love that you only `preventDefault` when it's the keys you're interested in. That shows me that the `composeEventHandlers` is actually useful because it allows you to preserve the existing behavior except for certain cases :+1: Good work!

[2017-11-16 00:15] stipsan commented on #253
The plan is to replace https://github.com/anvaka/amator with https://github.com/chrisdickinson/raf, that decision was an easy one.
But for letting you control the easing in userland I'm still on the lookout for a minimal library that lets you set a cubic bezier like easing. Best package I've found is https://github.com/arian/cubic-bezier but I'm not sure if it's the way to go.

Speaking of which i