[2017-11-16 02:22] kentcdodds commented on #253
Yeah! We don't need animations, so if you could make it so I don't have to include that but that would be great!

[2017-11-16 08:05] stipsan commented on #253
ah! Then you don't need to wait for a animation refactor, I'll publish an update for you soon 😄

[2017-11-16 23:15] stipsan commented on #253
Does this look good for your use case? https://github.com/stipsan/scroll-into-view-if-needed/pull/152

[2017-11-21 22:42] eliperkins commented on #185
I'm pretty interested in this too! Currently reimplementing a set of Downshift-like inputs and filters in a React Native codebase.

@gricard let me know if I can lend a hand at all!

[2017-11-21 22:51] kentcdodds commented on #185
I honestly don't think that it'd take a whole lot of work to make this happen. Someone's just gotta put in the effort. It can't be me because I'm afraid that I don't have experience with React Native, but I look forward to seeing someone work on this :)

[2017-11-21 23:00] eliperkins commented on #185
@kentcdodds Sounds good! I'll take a stab at this next week after consuming some turkey.

@gricard I assume your branch was here? https://github.com/gricard/downshift/tree/test/gr I'll grab that work and start to build off it a bit.

[2017-11-22 16:00] jlongster opened #260 "Difference between `selectedItem` and `inputValue` is confusing"
- `downshift` version: 1.18.0
- `node` version: 8.2.1
- `npm` (or `yarn`) version: 5.5.1

Issues is probably not the best place for this, but I wanted to log if before I forget. Feel free to close this soon though and/or put it somewhere more appropriate.

I want to control the `inputValue` myself, so I started using the `inputValue` and `onInputValueChange` props. But I found a case where it didn

[2017-11-22 16:34] kentcdodds commented on #260
Hi @jlongster!

I'm thrilled you're using downshift. I'm sorry and agree that `inputValue` and `selectedValue` are confusing. I'm going to describe things a little bit despite the fact that you probably understand lots of this just for the benefit of others and to make things more clear.

Here's a brief definition of the two props:

- `selectedItem`: the current item that the user has selected. Th

[2017-11-22 16:50] kentcdodds commented on #253
See the PR for an explanation for why this is closed.

[2017-11-22 16:50] #253 closed

[2017-11-22 20:14] #258 closed

[2017-11-22 22:17] #222 closed

[2017-11-22 22:18] kentcdodds commented on #164
Going to close this for inactivity.

[2017-11-22 22:18] #164 closed

[2017-11-22 22:18] kentcdodds commented on #24
Going to go ahead and close this for inactivity.

[2017-11-22 22:18] #24 closed

[2017-11-22 22:31] jlongster commented on #260
That makes sense, I had somewhat forgotten that because right now my items are strings so there's no difference between an item and it's "value". There's something not entirely clear if I need to be providing `selectedItem` or not though - apparently I can get away with not providing it at all, except then the "escape" issue happens and it seems like a small thing to make me also provide a `select

[2017-11-22 22:33] jlongster commented on #260
By the way, generally it was nice that this is super flexible and it was easy to make it do exactly what I wanted once I started controlling state and overriding events. Thanks for making it so flexible!

[2017-11-22 22:46] kentcdodds commented on #260
Glad you got it all working and I'm sorry some of it was a little confusing. I left a comment on your gist. I'm not sure there's anything we can do from here, so I'll go ahead and close this issue.

Thanks again for the feedback @jlongster :)

[2017-11-22 22:46] #260 closed

[2017-11-22 22:54] jlongster commented on #260
No problem! Let's continue the discussion there as I think it has helped clarify my original question (I've responded)

[2017-11-22 23:25] kentcdodds commented on #260
I've commented also (Dear GitHub, please add notifications to gists!)

[2017-11-23 15:53] kamir222 opened #263 "Beginner friendly docs"
I wanted to bring attention to something I’ve experienced when integrating this component into the app I’m building. I like this component a lot as it covers accessibility and gives me a lot of flexibility in styling and functionality. I’ve gone through a lot of autocompletes before I found this one, so thank you.

But perhaps a more beginner friendly documentation would be useful for people like

[2017-11-23 18:33] kentcdodds commented on #263
Thanks for the feedback! We definitely could use improved docs. I'm also thinking that I'll make a video course for egghead.io about downshift which should help!

[2017-11-27 21:03] chrisjlee commented on #206
@kentcdodds Found this issue to be useful; especially your rational for using handleStateChange.

So is it certain that the Downshift.stateChangeTypes will be an official part of the API? Or do you have an issue to gather consensus?

[2017-11-27 23:18] eliperkins commented on #185
I took a quick swipe at this here: https://github.com/paypal/downshift/pull/265

Feedback is welcome!

[2017-11-28 16:43] kentcdodds commented on #206
Yeah, I think we'll make the stateChangeTypes official. Anyone can feel free to make a pull request to document it.

[2017-11-28 17:01] oliverjam opened #266 "onChange requires an event"
- `downshift` version: 1.20.0
- `node` version: 8.5.0
- `npm` version: 5.5.1

Apologies if this is a stupid question, but I've been through all the examples and can't figure out what I'm doing wrong here 😭

**What you did:**

We have a controlled input component that I'm trying to use with Downshift. The component accepts an `onChange` prop, which gets called with `event.target.value`. Usually we

[2017-11-28 18:15] chrisjlee opened #267 "Question: Event for selecting an item?"
Is there an event to listen to for when the user selects an item from the autocomplete dropdown via the keyboard or via the mouse input?

Also, to the corollary, is there an event when an item is deselected?

[2017-11-29 18:09] kentcdodds commented on #266
Hi @oliverjam,

The expectation is that you will apply the `getInputProps` to an `<input />` not your custom component. If that's not possible, then you can always just _not_ call `getInputProps` and instead apply the necessary props yourself. Here are the props that `getInputProps` applies:

https://github.com/paypal/downshift/blob/124885ad7bf9afe3db58b68ef85e45073261cd23/src/downshift.js#L612-L6

[2017-11-29 18:09] #266 closed

[2017-11-29 18:10] kentcdodds commented on #267
Hi @chrisjle,

You can use [`onStateChange`](https://github.com/paypal/downshift#onstatechange) for both of these. If you have further questions, please provide an example of what you're trying to accomplish by forking [this codesandbox](http://kcd.im/ds-example).

Good luck!

[2017-11-29 18:10] #267 closed

[2017-11-29 23:42] cmmartin commented on #240
`/s/isArrowButtonClicked/isArrowButtonPressed`

Fingers don't click :)

[2017-11-30 03:04] cycomachead opened #269 "Preventing Selecting "Disabled" items?"
* `downshift` version: 1.21.1
* `node` version: 6.9.1
* `npm` (or `yarn`) version: yarn 1.20

Relevant code or config

[code]

What you did:

I have a list of items, users in this case, some of which are disabled. I'm trying to prevent downshift from allowing them to be selected.

What happened:

So far, this works OK, except it also clears the input value -- which is what clearSelection was desig

[2017-11-30 10:09] kentcdodds commented on #269
Hi @cycomachead!

I wonder if you could simply not apply the `getItemProps` to the menu items you wish to have be disabled? [For example](https://codesandbox.io/s/v666z3o6ml) :smile:

Though your suggestion does seem interesting, I prefer to keep downshift lean and primitive to avoid baking in too many opinions/functionality that others don't need. So I'll go ahead and close this, but feel free to

[2017-11-30 10:09] #269 closed

[2017-11-30 11:44] oliverjam commented on #266
Thanks for the detailed reply @kentcdodds! We ended up refactoring the underlying input to just always pass the event to the `onChange` handler. You're right, this makes more sense for an input

[2017-11-30 13:22] slavab89 commented on #217
Is this usable when using "multi selection"?
I'm asking this because i've tried to remove my `onChange` handler of `input` and use `onInputValueChange` to get updates on the inputValue changes.
The issue is that once an item is selected and added to the array of the controlled `selectedItem` prop, it triggers `onInputValueChange` with the whole contents of the array basically ([here](https://githu

[2017-11-30 16:06] kentcdodds commented on #217
Hi! I'm afraid I don't have too much time right now, but I made this last night and it might help you: https://github.com/kentcdodds/advanced-downshift

Notice that I just set the selectedItem to null and instead of controlling the input value, I use reset to clear the input.

[2017-11-30 16:58] slavab89 commented on #217
WOW!! That looks awesome! Going to have to change some code on my side 😆
A lot of code in the render functions but still nice :) Does it have some performance impact when you do all those render inside render dynamic stuff?

In any case I understand your point and its a very nice approach 😄

[2017-11-30 17:13] mihir478 commented on #263
@kentcdodds Is it possible to add a quick example on how to use **actions**. I am specifically interested in using selectItem to set the state of the downshift programatically.

[2017-11-30 18:16] kentcdodds commented on #217
Maybe? But not enough to be concerned about.

Good luck!

[2017-11-30 18:34] kentcdodds commented on #263
Sure! [here you go](https://codesandbox.io/s/1vox77x074)

Hopefully that helps :)

[2017-11-30 19:49] mihir478 commented on #263
I got that to work as well! My issue is how do I expose the ability to select an item to a parent component. Is ref my only option?

[2017-11-30 20:56] kentcdodds commented on #263
You could use a ref, or you could also control the `selectedItem` state by using the `selectedItem` control prop. See the docs for more on that :+1:

[2017-11-30 21:28] cycomachead commented on #269
Hi Kent,

Thanks so much for the quick response! I hadn't yet considered not sending item props. That's brilliantly simple! :)

[2017-11-30 22:03] kentcdodds commented on #269
😊

[2017-12-01 15:37] JofArnold commented on #263
To help clarify this answer to anyone who's come across this issue looking to use Downshift as a controlled component, here's a quick example gist  https://gist.github.com/JofArnold/c03326170ebd7bb9118fd6aa3bb8aaf1. Note: untested code, but hopefully it gives you an idea

tl:dr;

[code]

The docs confused me a bit w.r.t `inputValue`, `defaultInputValue`

[2017-12-01 15:51] kentcdodds commented on #263
Thanks for chiming in with an example!

[2017-12-04 20:50] Zashy opened #274 "Keying down from last item to first item doesn't scroll all the way"
* `downshift` version: v1.22.1
* `node` version: v8.9.0
* `npm` (or `yarn`) version: v5.5.1

Relevant code or config is a bunch of custom internal junk, but I reproduced it at the [example](https://codesandbox.io/s/9rWEmzEv8).

What you did:
1. Load up the example
2. Click on the dropdown arrow
3. Press the down arrow key
4. Press the up arrow key
5. Press the down arrow key

What happened:
Where

[2017-12-04 22:11] kentcdodds commented on #274
Thanks for this! If you could [make a PR](http://makeapullrequest.com/) with tests that would be super duper! :smile: Thanks 🗡

[2017-12-05 04:11] davvidbaker commented on #243
Just ran into this same problem, and happy to find you guys already figured it out! This is what I ❤️ about open-source. Thanks for all your hard work!

[2017-12-05 10:30] srishanbhattarai opened #275 "onUserAction typings issue"
* `downshift` version: 1.22.1
* `node` version: 8.9.10
* `npm` (or `yarn`) version: yarn 0.27.5

What you did:
Tried following the autosuggest [example](https://github.com/paypal/downshift/blob/efbbe1992382753377312d008060d382629c4dc7/stories/examples/react-autosuggest.js) in TypeScript.

What happened:
Could not use the `type` property on `onUserAction`'s callback parameter - as seen [here](https

[2017-12-05 16:09] Zashy commented on #274
I can sure try. Just not sure how fast I'll get my head around Jest for adding a test, heh.

[2017-12-05 17:10] kentcdodds commented on #274
If you're an egghead subscriber maybe this will help: http://kcd.im/egghead-jest

If you're on Frontend Masters then maybe this: http://kcd.im/fm-testing

Thanks! :)

[2017-12-05 17:47] httpete-ire opened #276 "broken keyboard navigation in safari"
* `downshift` version: 1.22.1
* `node` version: n/a
* `npm` (or `yarn`) version: n/a
* `chrome version:  62.0.3202.94`
* `safari version: 11.0.1 `

What you did:

In the dropdown example [here](http://downshift.netlify.com/?selectedKind=Examples&selectedStory=dropdown&full=0&down=1&left=1&panelRight=0), in safari when the dropdown is clicked the menu opens but trying to navigate the items with the

[2017-12-05 18:03] kentcdodds commented on #276
Thanks for reporting @httpete-ire! I was able to reproduce it.

I don't have time to work on this issue myself, but if you or anyone else would like to debug this and discover what the core issue is that would be awesome!

[2017-12-05 20:39] httpete-ire commented on #276
@kentcdodds looked into this. I dont think its an issue with downshift.

I could reproduce the issue with just [react](https://codesandbox.io/s/43j0m6njqx) and [vanilla js](https://jsbin.com/sanetonutu/edit?html,js,console,output). Keydown gets fired on both of these examples in chrome, they both dont work in safari. I wonder if safari is ignoring the keydown listener on a button element.

[2017-12-05 23:18] kentcdodds commented on #276
Thanks for digging @httpete-ire. Do you think we could come up with a workaround? We could either document how to implement the workaround or maybe even do the workaround within downshift itself.

[2017-12-06 12:50] philipyoungg commented on #276
Have the same problem. My workaround, while not ideal, is to focus on the button when it's clicked.

[2017-12-06 12:56] philipyoungg opened #277 "Menu is not closed when TAB is pressed"
* `downshift` version: `1.22.1`
* `node` version: `null`
* `npm` (or `yarn`) version: `5.5.1`

Relevant code or config

[code]

What you did: Pressing TAB when `isOpen` is true

What happened: It stays open when no input present. Alternatively, It's closed when there's an input component.

Problem description: Actually, I can fix this problem by calling `closeMenu` on button `onBlur`. This is just

[2017-12-06 20:19] httpete-ire commented on #276
@philipyoungg could you please expand on your workaround 👍

[2017-12-07 03:07] philipyoungg commented on #276
@httpete-ire

[code]

[2017-12-07 22:33] httpete-ire commented on #276
@philipyoungg Thanks for the example. However spreading getButtonProps will override your onClick handler. I fixed it by doing this 👇 not ideal but at least it works. Thanks for the tip of focusing the button.

[code]

https://codesandbox.io/s/o96643xm5z

[2017-12-08 14:33] kentcdodds commented on #276
Actually @httpete-ire and @philipyoungg, you run into some problems doing that ([watch this](https://egghead.io/lessons/react-use-prop-getters-with-render-props) today for free before it's pro-only tomorrow).

Instead you should do:

[code]

It'd be awesome if someone could make a PR to the README to add/update an example :)

[2017-12-08 14:34] kentcdodds commented on #276
Or maybe we could make this the default behavior 🤔

[2017-12-08 14:47] httpete-ire commented on #276
@kentcdodds I think it should be default behavior because at the moment it doesnt work in the latest Firefox without adding the focus to the button.

[2017-12-08 16:01] kentcdodds commented on #276
I think I know what's up. By default we focus on the input when you click that button but if there is no input rendered then we shouldn't do that. Should be a fairly simple fix.

[2017-12-09 01:17] #276 closed

[2017-12-09 01:45] philipyoungg commented on #276
Yeah. Kent comment is the right way to do. I wrote the code snippet above in hurry. Sorry for the wrong guidance!

[2017-12-09 01:48] kentcdodds commented on #276
But now you shouldn't have to do it at all because the library should handle it for you thanks to #278 :)

[2017-12-09 01:51] philipyoungg commented on #276
Oh sorry! I meant we should've adding all additional props inside the 'getButtonProps' 😉

[2017-12-09 03:50] #274 closed

[2017-12-09 03:50] kentcdodds commented on #274
Thanks a bunch @Zashy! 🎉

[2017-12-12 05:01] ibrahima commented on #186
Huh, I think I ran into this same issue in a different context.

In our case, we have a react Component inside our `<Downshift>` element that's responsible for actually rendering the menu, and it extends React.PureComponent. By sticking console.log statements inside Downshift itself, I found the same thing that others have found: under some set of circumstances, the items array gets cleared during

[2017-12-12 05:09] kentcdodds commented on #186
Bingo, that's your solution. Please don't use PureComponent without an associated benchmark showing that it's necessary because otherwise it causes more problems than it's worth.

To be clear, it's not populating `state` in the React sense, but an instance property. And you can control that via the `itemCount` prop (set via parent) or `setItemCount` (set via child) if you need to.

Seriously, chec

[2017-12-12 05:29] ibrahima commented on #240
My 2c, I think part of the naming confusion is because it's not an arrow button, but an arrow key. Button makes web developers think of `<button>` I think 😛.

`isArrowKeyPressed`?

[2017-12-12 05:33] kentcdodds commented on #240
Thanks @ibrahima. Yes, I do like `isArrowKeyPressed` better :+1:

Still not sure I follow the suggested solution well, but a PR would help me understand I think.

[2017-12-12 05:47] ibrahima commented on #186
That's a fair point, I do agree with that (wasn't my decision to use PureComponent there, I was just helping a coworker debug this issue). Premature optimization and all that ;)

I do still feel like it can be confusing if you don't know how getItemProps works, because even if you're not using PureComponent any wrapper that implements `shouldComponentUpdate` (sounds like react-apollo does?) could

[2017-12-12 17:13] kentcdodds commented on #186
Yeah, I'd love an addition to the docs for that 👍

It could also say:

[2017-12-12 20:51] jlongster opened #280 "Mouse interferes with keyboard navigation"
* `downshift` version: 1.22.3
* `node` version: 7.9.0
* `npm` (or `yarn`) version: 4.2.0

Relevant code or config

I made a sandbox, which is just the "basic" example from the site with some extra items: https://codesandbox.io/s/x3y2xzppyw

What you did:
What happened:

Here's a video: http://jlongster.com/s/downshift-scroll.mov

In Chrome, if you hover over an item and then try to use the keyboar

[2017-12-12 21:04] kentcdodds commented on #280
Thanks James. I think this is a duplicate of: https://github.com/paypal/downshift/issues/240

[2017-12-12 21:12] jlongster commented on #280
It does look like the same. Ideally we'd ignore all `mouseenter` events if we are manually scrolling. I don't have a local version of downshift right now to try that, but you could set `this.scrolling = true` before setting the `scrollTop` and then set `this.scrolling = false` afterwards.

I'm surprised because I thought `mouseenter` events weren't fired due to scrolling. It's problematic for me i

[2017-12-13 15:53] jlongster commented on #280
Finally able to reproduce my original issue! Opening a new bug.

[2017-12-13 15:53] #280 closed

[2017-12-13 16:10] jlongster opened #281 "Scrolling is janky when controlling the `highlightedIndex` prop"
I originally filed #280 even though it wasn't the exact issue I was hitting, but was related. I was able to reduce my issue down to a test case.

* `downshift` version: 1.22.3
* `node` version: 7.9.0
* `npm` (or `yarn`) version: 4.2.0

Reproduction repository: https://codesandbox.io/s/x3y2xzppyw

Problem description:

When you control the highlightedIndex prop, in `componentDidUpdate` it checks if

[2017-12-13 16:16] jlongster commented on #281
Thinking about this more, that fix is probably not right. It's very hard to guess when the user stops scrolling, and the `onMouseEnter` event that is causing problems will probably fire after we think the user has stopped scrolling anyway.

Let's focus on why it's not measuring the right node - why does it even think it needs to scroll something into view, when the new highlighted item should be f

[2017-12-13 16:20] kentcdodds commented on #281
Thank you for filing this issue so thoroughly! Definitely want to see this fixed. I don't have time at the moment. If anyone wants to dive in to answer the questions @jlongster asked to identify the core issue that'd be super :+1:

[2017-12-13 16:23] jlongster commented on #281
I think I know a fix, if it works I'll file a PR.

[2017-12-16 01:09] cycomachead opened #283 "Improved Mapping of ARIA Roles and Attributes."
* `downshift` version: 1.22.3
* `node` version: n/a
* `npm` (or `yarn`) version: n/a

Relevant code or config
See any example. :)

Problem description:
Currently, the ARIA roles used by downshift don't seem to map to the suggested locations.
The ARIA Authoring Practices lists a few examples which are basically what downshift aims to solve:
https://w3c.github.io/aria-practices/examples/combobox/ari

[2017-12-16 19:39] kentcdodds commented on #283
This is all fantastic! If you could make a pull request for these changes, we can iterate on the solution, and then I'd love to have it merged!

Instead of `getItemListProps` we could call it `getMenuProps` because I think that makes the most sense for folks using downshift.

Thanks again!

[2017-12-16 21:02] #281 closed

[2017-12-19 10:29] justynjozwiak opened #286 "List automatically scrolled to the top after selecting item from the bottom of scrollable list"
* `downshift` version: 1.22.3
* `node` version: 8.9.3
* `npm` (or `yarn`) version: 5.5.1

What you did: I have multiselect implemented (checkbox + label items), scrollable list, I selected the item from the bottom of scrollable list (`selectItem` method).

What happened: after selecting the item from the bottom of scrolled list, the list automatically scrolled to the top which is not intended beha

[2017-12-19 10:34] Antontelesh opened #287 "Selection via mouse click does not work when menu is inside a portal"
* `downshift` version: 1.3.0
* `node` version:
* `npm` (or `yarn`) version:

What you did:

Trying to implement simple select component using Downshift. The requirement for my select is that menu is inside a portal. I'm using `react-portal` npm package that leverages React's native `createPortal()` API.

What happened:

After I've put menu inside portal, selection via mouse stopped working. Menu i

[2017-12-19 10:43] Antontelesh commented on #287
I have found: https://github.com/paypal/downshift/blob/master/src/downshift.js#L796-L800

Here there is a check for mouseup event target to be inside the root element. Due to mouseup being browser native event and not a react synthetic one, this condition is met. That's because the menu is outside of Downshift root element.

[2017-12-19 10:49] kentcdodds commented on #287
Thanks for the report! We could probably add a feature for the upcoming getMenuProps function (see the pull requests) which would apply a ref so we can check that as well as the root ref... Unless someone else has another idea.

[2017-12-19 11:09] Antontelesh commented on #287
Thank you for so quick response. `getMenuProps` sounds like a good idea.

[2017-12-20 09:43] gotenxds opened #288 "rest() method does not fire the on input change events."
* `downshift` version: ^1.12.0
* `node` version:6.12.0
* `npm` (or `yarn`) version:3.10.10

What you did:
Called the reset method each time I change the selected value(s)

What happened:
The input events (onInput, onChange...) does not fire when `rest` changes the input value to `''`.

[2017-12-20 11:26] riax opened #289 "onInputValueChange fire when tabbing out of input"
* `downshift` version: 1.22.5
* `npm` (or `yarn`) version: Yarn 1.0.2

Relevant code or config

https://codesandbox.io/s/w61oovz4v5

What you did:
1. Write some text in the input
2. Press TAB key

What happened:
onInputValueChange fire with empty value.

Problem description:
Since the value has not changed this cause problems. Also the empty value provided is incorrect.

Suggested solution:
Do not

[2017-12-20 13:07] AudioVitamins opened #290 "Accessing inputValue inside the rendered item"
I am building a search engine style application and want to include a 'back to search results' feature. Using react router - Link, I can pass through certain values to the location state and attach this to the Link back, but i cannot access the inputValue from the getInputProps.  I do not want to set any stores, because the user might click a separate search link and the behaviour they will expect

[2017-12-20 14:10] #290 closed

[2017-12-20 14:10] AudioVitamins commented on #290
My mistake, I noticed in the FethchItems i was not passing in the inputValue separately

[2017-12-20 19:31] kentcdodds commented on #289
Hi @riax,

Sorry, but when the `blur` event fires on the input, `reset` gets called which will reset the `inputValue` to the `itemToString` value of `selectedItem`. When that happens, the `inputValue` is changed and hence we call `onInputValueChange`. Does that make sense?

If you don't like this behavior, you can change it by adding an `onBlur` handler in `getInputProps` and call `event.preventDe

[2017-12-20 19:31] #289 closed

[2017-12-22 14:38] boykoc opened #292 "Broken links in contributor notification email."
* `downshift` version: Master?
* `node` version: N/A
* `npm` (or `yarn`) version: N/A

Relevant code or config

`N/A`

What you did:

Made a commit, did not add myself as a contributor, received notification emails regarding the PR, merging and adding myself as a contributor, and tried to click the links in the email.

What happened:

After submitting a Pull Request I received the typical automate

[2017-12-22 22:58] kentcdodds commented on #292
Hi! Thanks for reporting this.

It wasn't a bot. It was really me. But I use it so often that I have a GitHub "Saved Reply" for it.

<img width="339" alt="screen shot 2017-12-22 at 3 57 46 pm" src="https://user-images.githubusercontent.com/1500684/34314427-df8a880c-e730-11e7-91b5-8f18780cd340.png">

I know that it only works when you're on github.com. I have a LOT of repositories that I use that s

[2017-12-22 22:58] #292 closed

[2017-12-27 00:31] circlingthesun commented on #287
I've just hit this problem. Is there maybe a workaround in the meantime?

[2017-12-27 06:52] kentcdodds commented on #287
I'm at a cabin with my family right now with very limited internet access, but there is a work around. Any time you don't like what downshift does with state, you can control it yourself (see the readme). There's an example you can see here: https://github.com/paypal/downshift/blob/master/stories/examples/controlled.js

It's not an example of the workarounds necessarily, but hopefully that will po

[2017-12-27 10:14] Paradox22 commented on #286
My current solution for this involves adding an `index` property to each selectable item, controlling `highlightedIndex` and implementing a custom `onStateChange` handler. This looks fine, but it quickly gets out of hand with additional requirements like "reset `highlightedIndex` when input value is changed", "reset `highlightedIndex` when menu is toggled", "user can select up to N items" and so o

[2017-12-27 17:49] kentcdodds commented on #286
Hmm... I feel like a well placed onClick handler with event.preventDefault() could help here.

Also, there was recently a release that may have fixed this 🤔 are you on the latest?

[2018-01-03 12:27] #286 closed

[2018-01-04 01:52] tiansijie opened #294 "getRootProps refKey error only shows up on production build"
* `downshift` version: 1.22.5
* `node` version: 8.9.2
* `npm` (or `yarn`) version: 5.5.1

Relevant code or config

https://codesandbox.io/s/y320wwj4z

What you did:
I am using one of the example on your repo as an example. When I run this code under development, it's totally fine. But when I run a production build of it, it shows up the error.

What happened:
production build shows up error
`You m

[2018-01-04 03:18] kentcdodds commented on #294
Thanks for finding this issue! I like your solution. Feel free to [make a pull request](http://makeapullrequest.com/) to implement this! Thanks so much!

[2018-01-04 15:03] MarkFalconbridge opened #296 "Down arrow key selection gets confused with the mouse selection when options scroll"
* `downshift` version: 1.22.5
* `node` version:9.2.1

What you did:

Using the example at https://codesandbox.io/s/zx1kj58npl, open the drop down and move the mouse over one of the options. That highlights the option. Then use the down arrow on the keyboard to go through the options ensuring to try to get to the items currently scrolled out of view.

What happened:

The highlighted item follows th

[2018-01-04 15:11] moimael opened #297 "Example for integration with redux-form"
* `downshift` version: 1.22.5
* `node` version: 8.9.4
* `npm` (or `yarn`) version: 5.6.0

Problem description:

I'm trying to integrate Downshift with redux-form. Right now when selecting an item, redux-form get the full object, so my input displays `[Object: object]`

Suggested solution:

Add an example in the repo on how to integrate with redux-form

[2018-01-04 20:14] kentcdodds commented on #277
What button are you talking about? Could you make a reproduction codesandbox? Based on this? http://kcd.im/ds-example

[2018-01-04 20:15] kentcdodds commented on #240
This was mistakenly closed.

[2018-01-04 20:16] kentcdodds commented on #296
I think this is a duplicate of https://github.com/paypal/downshift/issues/240

I'll close this to consolidate the issues.

[2018-01-04 20:16] #296 closed

[2018-01-04 20:16] kentcdodds commented on #296
Thanks!

[2018-01-04 20:16] kentcdodds commented on #275
I'd be willing to accept a pull request to update the TypeScript definitions. I'm warming up to the "experimental feature" anyway :)

[2018-01-04 22:24] tansongyang commented on #275
If no one's taking this, I've got time to work on it.

[2018-01-05 08:01] MarkFalconbridge commented on #277
He may be talking about the button in this example: https://codesandbox.io/s/zx1kj58npl

I ran into the same issue when implementing a select input using downshift. I have a button and no input field because it's not something I want my users typing into. Triggering the drop down works just fine but  tabbing away doesn't close the drop down.

[2018-01-05 08:11] kentcdodds commented on #277
Oh I see. Thanks for bringing this up @philipyoungg and for clarifying @MarkFalconbridge :+1: I would be fine to merge [a pull request](http://makeapullrequest.com/) that adds an `onBlur` handler to the `getButtonProps` [here](https://github.com/paypal/downshift/blob/16b6cde084ec35b7fa30b52cc95124898ce9ea3b/src/downshift.js#L541-L544) if it had a test 👌

Thanks!

[2018-01-05 08:16] MarkFalconbridge commented on #277
You'd need to be careful just adding an onBlur. In the example https://codesandbox.io/s/zx1kj58npl, shift tabbing would certainly blur the button but you'd then have focused on the input so probably wouldn't want to close the drop down.

[2018-01-05 08:24] kentcdodds commented on #277
That's true. Perhaps we should only blur if `document.activeElement` is outside `this.rootEl`, similar to how we handle clicking outside the component.

[2018-01-05 08:34] MarkFalconbridge commented on #277
That would work.

[2018-01-05 20:03] natenorberg commented on #216
@HiDeoo, how do you mock the `window` object in the test? I had added
[code]
and that seemed to work, but I'm updating to Jest 22 now and it's failing again.

[2018-01-05 20:34] HiDeoo commented on #216
@natenorberg I removed all my mocks regarding this issue when updating to Jest 22. I've reported the issue with a repro on the Jest repo and [it has been fixed](https://github.com/facebook/jest/pull/4750) since then, fix available in Jest 22.

So if it's the exact same issue, you shouldn't have to do anything special to no get this error, just remove your mock.

[2018-01-05 20:36] natenorberg commented on #216
Hmm, ok. I guess I must have a slightly different issue then, or else Jest 22 is causing something else to hang. I'll keep digging in. Thanks for your fix!

[2018-01-05 20:39] HiDeoo commented on #216
Yeah, I'm gonna assume it must be slightly different.

I also have some issues with Jest 22, I'm guessing due to the internal jsdom update, specially when doing some canvas related tests, I'll have to keep digging too.

[2018-01-05 20:40] natenorberg commented on #216
Yeah we had some issues with the new jsdom as well. This is the last thing on my list 😅

[2018-01-05 21:12] kentcdodds commented on #216
Actually, if you're talking about what I think you're talking about, I just had a pill request merged into jest that fixes it. We just need to wait for a release 😀

[2018-01-05 21:15] natenorberg commented on #216
This one? https://github.com/facebook/jest/pull/5227

Was that fixing something that could cause snapshots to hang?

[2018-01-05 21:28] kentcdodds commented on #216
That's the pull request, but didn't fix that at all.

[2018-01-08 12:46] MarkFalconbridge opened #301 "Focus not reapplied to input when an item is selected with the mouse"
* `downshift` version: 1.3

What you did:

Using the example [here](https://codesandbox.io/s/zx1kj58npl), open the drop down and select an item with the mouse, once selection has happened, focus should go back to the input element but it doesn't. Focus does go back to the input element if you use the keyboard (actually I suspect it never leaves the input) to select an item so mouse selection shoul

[2018-01-08 13:18] moimael commented on #297
Thanks ! I actually implemented the itemToString function but it doesn't seems to be called before passing the payload to redux-form. Redux form gets the full object instead.

[2018-01-08 13:22] moimael commented on #297
I actually managed to display the right thing by overriding the item prop in getItemProps, but then how do i get the id of the selected item ? Because now it's only storing the text value. I'd need something similar to the way the select input works so I get the id and the value of the selected item in the autocomplete.

[2018-01-08 15:13] kentcdodds commented on #297
Could you make what you have so far in a codesandbox.io ? You could start with kcd.im/ds-example

That would really help.

[2018-01-08 15:19] kentcdodds commented on #301
Yes, I agree this should be handled by default. Would you like to [make a pull request](http://makeapullrequest.com)?

[2018-01-09 04:06] donysukardi commented on #301
But the expected behavior when using keyboard and mouse should be slightly different.

If user clicks the arrow button to open the dropdown and make a selection, I'm not entirely sure if user actually expects the input to get focus (and opens up the keyboard on mobile).

[2018-01-09 05:00] kentcdodds commented on #301
I think that if the user's using the mouse they don't care where the focus goes after they click an item. Makes just as much sense for it to go to the input as the body (which is where it would go otherwise).

[2018-01-09 05:20] donysukardi commented on #297
@moimael

I added a simple redux-form integration example with list of strings to the list of examples https://codesandbox.io/s/k594964z13.

As for your use case, you can check https://codesandbox.io/s/pm4zrq97vj.
`onStateChange` is only required if you're making a typeahead/autocomplete component. Otherwise if it's a select component, `onChange` alone should suffice.

[code]

[2018-01-09 11:04] moimael commented on #297
I ended up doing something like this: https://codesandbox.io/s/7yrrjv4396
The only issue i still have is when I use it with apollo, then the field is rerendered when I select an item in the liust and it clears the text in the input. Because I need to store the id of the selectedItem in redux-form and display the text. Still haven't figured out how to do this.

[2018-01-09 16:13] mshaw-nm opened #303 "Input field examples"
* `downshift` version: 1.23.2
* `node` version:
* `npm` (or `yarn`) version:

Are there any examples where we need to have some more control over the input field or where the control functions like react-select.

A few things that I'm trying to achieve that I'm not able to figure out from the examples/documentation.

The input field should already be populated with a value when the control is firs

[2018-01-09 16:27] kentcdodds commented on #303
Hi @mshaw-nm!

Maybe someone could help build an example for you. If I'm able to find the time then I'll do it myself.

The basics of what you want is to control the `inputValue` and use `onStateChange` to decide when to update your `inputValue` state. See the docs in the README about control props.

Hopefully it provides some assurance that what you're describing is totally possible with downshif

[2018-01-09 22:06] mshaw-nm commented on #303
ok, I believe I have most of what I'm looking for, but I'm experiencing one issue that I can't resolve, whenever I type into the input field (i.e. John). I am able to delete all the characters except for the J.

this is my onStagechange handler
[code]

[2018-01-09 22:09] kentcdodds commented on #303
That's a falsyness issue with JavaScript because `changes.inputValue` would be `''` in that case. Try this instead:

[code]

[2018-01-09 22:25] mshaw-nm commented on #303
that did it thanks

[2018-01-09 22:46] kentcdodds commented on #303
Awesome! Would you like to give back by making an example for the README? :)

[2018-01-10 04:01] donysukardi commented on #297
You need to bind back the redux-form's value from `input.value` back to `selectedItem` on your Downshift component to make it a controlled component. Otherwise the text that you see in the input textbox comes from Downshift's internal state.

[2018-01-10 14:31] mshaw-nm commented on #303
Sure, I would have to clean up the example that I have since it was for a work project.

[2018-01-10 17:57] natenorberg opened #304 "npm run setup fails"
* `downshift` version: master (v1.23.2)
* `node` version: v6.10.1
* `npm` version: v5.6.0

What you did:
Forked and cloned the repo and ran `npm run setup`

What happened:

Got this error:
[code]

It looks like the error happens in the `validate` script. When I run the scripts by hand, `install` and the storybook build pass, but `validate` throws this:

[code]

Reproduction repository:

https://gi

[2018-01-10 18:23] kentcdodds commented on #304
You need to be using version 8 of node. You're on version 6. I suggest using http://git.io/nvm

Good luck!

[2018-01-10 18:23] #304 closed

[2018-01-10 19:54] danseethaler opened #305 "React.Fragment not allowed as returned renderProp"
### Problem description:
The current setup doesn't support returning `React.Fragment` from the renderProp function. Instead it will reach [this line](https://github.com/paypal/downshift/blob/d9c830ee0075c68f9db8a3170a53f6be6c035c99/src/downshift.js#L891) which throws an error.

### Suggested solution:
From what I can tell the `isDOMElement` function in the [utils.js](https://github.com/paypal/down

[2018-01-10 20:32] danseethaler commented on #305
Actually after looking into this more and exploring the `getRootProps` in the readme I'm thinking this may not be possible at all. I don't see any discussion about fragments so if anyone has any thoughts on it please enlighten me :)

[2018-01-10 21:04] kentcdodds commented on #305
Hi Dan!

I can't think of a scenario where you'd want to use `<React.Fragment>` with downshift, but you should be able to do it with this:

[code]

I don't think that I want to do any extra work to make it easier because it's hard for me to think of a use case where you'd not just simply use a `<div>` as the root.

Feel free to convince me otherwise, but I'll go ahead and close this for now :)

[2018-01-10 21:04] #305 closed

[2018-01-10 21:24] danseethaler commented on #305
Thanks for the response Kent!

I tried the code here and it looks like it's throwing a different error `Uncaught TypeError: _this4._rootNode.contains is not a function at onMouseUp (downshift.esm.js:778)`.

I'm working on a component that is joined with other components to create a search bar so I was hoping to use a fragment - but at the end of the day you're right, a div will probably work just

[2018-01-11 09:47] AnaRobynn commented on #289
Hi @kentcdodds!

It makes sense in the way I understand why it gets reset, however I'm not sure if it makes sense to have the behaviour. What was the reasoning behind resetting the inputValue onBlur?
The example seems to be behaving the exact same way as the @riax's Issue.

Nice work with the library thought, really helped that autocomplete behaviour.

[2018-01-11 16:27] kentcdodds commented on #289
Glad you got it worked out :)

[2018-01-12 19:02] Yosiempresafo commented on #190
@bogdansoare you could recreate the same autocomplete from the ground up using downshift? (select colors even if the color isn't in the list of option). I thought about the same functionality but I failed to program it. 😢

Thank you 👍

[2018-01-12 19:22] skywinston commented on #287
+1 for `getMenuProps` or any solution that would allow use with a Portal.  The behavior of the menu pushing all content below it down the page is undesirable in many circumstances.  It would be great render the menu in a portal passing in the values from `this.button.getBoundingClientRect()` so the menu can be positioned absolutely below the button without pushing content down.

`Downshift` has be

[2018-01-12 19:50] kentcdodds commented on #190
Take a look at the examples in the README. There's at least one that does what you're saying if I remember correctly...

[2018-01-12 19:51] kentcdodds commented on #287
You can avoid that with a well-placed `position: relative` on the container and `position: absolute` on the menu. You shouldn't need portals for that.

I'm so glad!

[2018-01-12 20:56] skywinston commented on #287
@kentcdodds You're totally right.  That bit of CSS knowledge decided to escape my brain whilst working on this component.

[2018-01-14 19:03] JofArnold commented on #303
Just stumbled over this question when I was trying to figure out how I'm managed to get the parent and Downshift's state out of sync.

Here's an example https://codesandbox.io/s/4879rjw289

And here's the important bits of the code if you can't access codesandbox:

[code]

**The important bit:** Downshift tests props against `!== undefined` so for every value you want to be controlled, to avoid sy

[2018-01-14 19:06] JofArnold commented on #303
Opinionated side-note: if you're going controlled I recommend you only use `onStateChange` and completely take control of Downshift's internal state. I've saved myself a lot of headaches this way. For instance, if you want to clear a selection you'll need to clear all of `selectedItem`, `inputValue`, `highlightedIndex` or the next time you type Downshift may end up reverting to internal state for

[2018-01-16 14:46] use-strict commented on #287
Menus have to be rendered inside portals because an arbitrary parent can have an 'overflow: hidden', clipping the menu.

[2018-01-16 17:46] kentcdodds commented on #287
Depends on your situation, but yes, that's definitely a situation where it'd be nice to use a portal. I'll get to reviewing https://github.com/paypal/downshift/pull/285 now :+1:

[2018-01-18 03:06] #294 closed

[2018-01-19 18:18] jasonrhodes commented on #216
Was seeing this also on Jest 21.2.1, Downshift 1.22.1

Upgrading to Jest 22.1.4 fixed for us. :+1:

Even this simple example was hanging/exploding on Jest 21:

[code]

result:
[code]

[2018-01-19 19:52] natenorberg opened #311 "onOuterClick only fired when isOpen is true"
This is more a question than a bug, but it looks like `onOuterClick` isn't fired if the menu has been closed already. It looks like this is explicitly checked for but I wasn't sure why.

https://github.com/paypal/downshift/blob/master/src/downshift.js#L812

* `downshift` version: 1.22.5
* `node` version: 8.9.4
* `yarn` version: 1.3.2

Relevant code or config

[code]

What you did:
1. Focus the fie

[2018-01-19 20:10] kentcdodds commented on #311
Yes, let's add a note to the docs. `onOuterClick` is for a very specific use case (which can actually be accomplished other ways) and I don't want to put much more work into it to make it more general.

Thanks @natenorberg!

[2018-01-19 20:27] natenorberg commented on #311
That makes sense, it was easy to work around. Added a note to the docs in #312

[2018-01-19 20:30] kentcdodds commented on #311
Thanks @natenorberg!

[2018-01-19 20:30] #311 closed

[2018-01-22 07:18] #297 closed

[2018-01-22 07:18] #301 closed

[2018-01-24 23:58] emp823 opened #313 "GetInputPropsOptions type definition may be too restrictive"
https://github.com/paypal/downshift/blob/ae58dab51dafda217818c231001e05ed42f3219e/typings/index.d.ts#L77

Using typescript and was passing custom props with names like `classes` & `startAdornment` to `getInputProps`.

This code ran but resulted in a typescript error bec. those custom props did not fit the definition I linked above.

Seems like defining the options passed as `React.HTMLProps<HTMLIn

[2018-01-25 00:12] kentcdodds commented on #313
You're right @emp823. The typings should allow you to pass anything in that object (though generally you should only be passing those props to the `<input />` element directly, it's understandable that you might be using a component that renders an input and forwards all but some custom props).

I don't maintain the typescript definitions, but several maintainers here do. You should also feel free

[2018-01-29 11:59] philipyoungg opened #315 "Pressing [ENTER] on any input inside <form> element will toggle Downshift"
* `downshift` version: 1.16.1
* `npm` (or `yarn`) version: npm 5.5.1

Relevant code or config

[code]

What you did: Pressing [ENTER] on any input inside <form> element

What happened: It will toggle Downshift content

What do I expect: It won't toggle the Downshift component when pressing [ENTER] inside form element.

Reproduction repository: https://codesandbox.io/s/pwn92r9plx

Suggested solutio

[2018-01-29 12:25] notruth commented on #315
@philipyoungg, It's not Downshift fault 🤨
https://codesandbox.io/s/wnm9zwqw0w

[2018-01-29 12:38] notruth commented on #315
Pressing [ENTER] on any input element calls 'submit' event on form; If Button[type="submit"(by default)] is present in the form - before 'submit' event it will call 'click' event on this button.
[How to Fix](https://stackoverflow.com/questions/2825856/html-button-to-not-submit-form): <button **type="button"**>...</button> in your Form. 🤗

[2018-01-29 12:45] philipyoungg commented on #315
Whoa didn’t know that before submit—form will click the button with type=submit.

Thanks @notruth!

[2018-01-29 12:46] philipyoungg commented on #315
Closing as this is not relevant anymore 😁

[2018-01-29 14:45] kentcdodds commented on #315
My co-worker has this same problem. Maybe we should explicitly return the type as button from getButtonProps unless it's overridden. I don't think anyone would want the button to submit the form.

[2018-01-29 14:55] philipyoungg commented on #315
@kentcdodds agreed.

[2018-01-29 15:08] notruth commented on #315
Will it be appropriate to create a brunch with upcoming Button changes?
I also want to implement Button_focus() after [reset](https://github.com/paypal/downshift/blob/master/src/downshift.js#L296)

[2018-01-29 15:12] kentcdodds commented on #315
I don't think that's a common enough use case to make that the default. More common to want to focus the input I think...

Who wants to make a PR to add `type: 'button'` to this object?

https://github.com/paypal/downshift/blob/10c69241c9525b9866a42b9f9cbc7f76365bc0e6/src/downshift.js#L554-L561

[2018-01-29 15:13] kentcdodds commented on #315
Actually, this is a great first-timers-only issue... So I'm going to prepare it later today and only allow first-time OSS contributors to submit a PR for it :)

[2018-01-29 15:26] philipyoungg commented on #277
Is this solved with #314?

[2018-01-29 15:27] kentcdodds commented on #277
Yes, I think so :+1: Thanks!

[2018-01-29 15:27] #277 closed

[2018-01-29 15:35] kentcdodds commented on #315
🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only.](http://www.firsttimersonly.com/)

🤔 What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you

[2018-01-29 15:40] xutopia commented on #315
Hi, I would like to claim this issue please.

[2018-01-29 17:22] #315 closed

[2018-01-29 17:24] kentcdodds commented on #315
Congratulations @xutopia!

[2018-01-30 09:29] philipyoungg opened #318 "Downshift content won't open when there's autoFocused component inside {isOpen} logic"
* `downshift` version: 1.26.1
* `node` version: 8.9.1
* `npm` (or `yarn`) version: 1.3.2

Relevant code or config

[code]

What you did:

Reproduction repository:

Problem description:

To make it easier for user, I autofocused on the input when the dropdown button is clicked
![onblur](https://user-images.githubusercontent.com/11477718/35558269-2e732cfe-05da-11e8-93e1-60244c3d9d1d.gif)

Suggested

[2018-01-30 10:04] notruth commented on #318
Oh. @philipyoungg, It's not **Button->onBlur** fault.
Same problem with [Button into Input](https://codesandbox.io/s/8xo2y6xw28) too;
The fact is that any Downshift-operated element(with getButtonProps or getInputProps) inside the another element(with getButtonProps or getInputProps) will be cause conflict. It looks like antiPattern...
In Your case, the Button needs to be handled manually i think(

[2018-01-30 10:08] philipyoungg commented on #318
`getButtonProps` and `getInputProps` are sibling here https://codesandbox.io/s/pwn92r9plx

`onClick` and `onFocus` is a great idea! But I do need the `getButtonProps` to get `aria-...` and other accessibility tags right?

[2018-01-30 10:12] notruth commented on #318
Oh, sure. Then You can do like: [https://codesandbox.io/s/4jw91lynyw](https://codesandbox.io/s/4jw91lynyw)

[2018-01-30 11:24] philipyoungg commented on #318
@notruth dude, why I didn't think of that -_-

Thanks for the help these past 2 days!

[2018-01-30 11:25] #318 closed

[2018-01-30 12:59] notruth opened #319 ""closeOnSelection" property(Multiple selection out of box)"
I want to propose new Prop named `closeOnSelection`.

What happened, Problem description:
[This codesandbox-example](https://codesandbox.io/s/y0oo25o591)([Your Multi-select example](https://codesandbox.io/s/W6gyJ30kn) with latest Downshift version) contains hardcoded solution: Menu doesn't close(as it were), it open after close. Because of this, the `highlightedIndex` is reset; as well as existenc

[2018-01-30 16:00] kentcdodds commented on #319
Seems like a good idea!

What if we made the solution more powerful. What if we added a prop called `modifyStateChange` and we put it [here](https://github.com/paypal/downshift/blob/e4846d86544a9a23ed05d8573ee9d6f5eb0ca054/src/downshift.js#L347):

[code]

Where the default would simply return `stateToSet` but you could provide your own function that could modify the state that will be set. You cou

[2018-01-30 17:54] notruth commented on #319
@kentcdodds, Yeah! Looks great! i like this solution 👍, thanks.
And, the last important problem for me 😊  - its `.focusInput()`. I think, `focus`ing on Input element after reset - is bad pattern. What if we `focus` **last focused element BEFORE reset**? This will be flex solution.
Probably need to Cash this element...🤔
What do you think?

[2018-01-30 17:58] kentcdodds commented on #319
Yep, I love that :+1:

Would you like to work on both of those? They should be in different PRs I think :)

[2018-01-30 18:28] notruth commented on #319
Yes, i can. Of course, different.
I'll start a little bit later(in 2-3 hours).
Thanks for support!

[2018-01-30 18:29] kentcdodds commented on #319
Loving the ideas coming here. Thank you!

[2018-01-31 15:49] mperrotti commented on #287
Is there an estimate on when Portal support will be available? I saw https://github.com/paypal/downshift/pull/285, but not much activity the past two weeks.
I've been working on adding Portal support independently, but I don't want to step on anybody's toes.
I'm more than happy to help get this working! :)

[2018-01-31 16:09] kentcdodds commented on #287
Thanks @mperrotti! I've made a comment in that PR.

[2018-01-31 21:04] sslgeorge opened #321 "Input Value is maintained on Clearing Input Field"
* `downshift` version: 1.25.0
* `node` version: 8.9.3
* `npm` (or `yarn`) version: 5.6.0

**What you did:**
I realized that on downshift whenever input is cleared after selecting an item, the value of the input returns when the form field loses focus

**Reproduction repository:**
On the link I have provided below you will find react-autoselect and Downshift implemented to do the same thing, but Do

[2018-01-31 21:12] #321 closed

[2018-02-01 23:05] HansWurst90 opened #322 "getButtonProps() returns different result locally and in production"
* `downshift` version: 1.22.5
* `node` version: 8.9.4
* `npm` version: 5.6.0

### Problem description:

In a project I am working on there is a discrepancy between the output of `getButtonProps()` when I run the project locally and when it is in production. The Element that is created with downshift has `"type": "button"` when in production but when it is run locally it does not have that property

[2018-02-01 23:23] kentcdodds commented on #322
Hi @HansWurst90!

Make sure that you're using the same version locally that you are in production. A recent release added `type: "button"`.

I'm going to bet that's the issue. If  you want it to have a different type, then you can do: `getButtonProps({type: 'submit'})`

I'll go ahead and close this.

[2018-02-01 23:23] #322 closed

[2018-02-02 18:33] #319 closed

[2018-02-02 18:54] HansWurst90 commented on #322
You won that bet 😄 .

`getButtonProps({type: null})` helped me to get the same result as before.

Thanks a lot!

[2018-02-02 19:12] RobertDowny92 opened #324 "https://github.com/DEALERSDEALER/DEALERDEALERS/MYACCOUNT.PCH.Pay.COM"
https://github.com/DEALERSDEALER/DEALERDEALERS/MYACCOUNT.PCH.COM

* `downshift` version:
* `node` version:
* `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened:

Reproduction repository:

Problem description:

Suggested solution:

[2018-02-02 19:13] RobertDowny92 commented on #324
https://github.com/DEALERSDEALER/DEALERDEALERS/MYACCOUNT.PCH.COM

[2018-02-02 19:13] #324 closed

[2018-02-02 20:08] tansongyang commented on #275
Closing because this has already been merged.

[2018-02-02 20:08] #275 closed

[2018-02-02 21:26] kentcdodds commented on #322
Thanks! Sorry for the breaking change. I didn't expect anyone actually wanted the button to have a type of submit so I considered it a bug.

[2018-02-02 23:15] glockjt opened #325 "Remove selectedItem and clear out inputValue"
* `downshift` version: 1.25.0
* `node` version: 6.10.0
* `npm` (or `yarn`) version: 5.4.2

Relevant code or config

[code]

What you did:

What happened:

How would I clear out the input field and deselect?  Would I need to take total control of this component and handle all state changes or is there any built-in methods that I am not seeing?  Basically, I have an autocomplete in a form and that f

[2018-02-02 23:30] kentcdodds commented on #325
To be clear, you want to make it so whatever the user types is what the selected value is, even if it's not one of the items that you call `getItemProps` with?

Or is it _only_ that you want the user to be able to clear the item if they delete all the text in the input? What if they delete most of the text and change their mind and tab away? What should the selectedItem be in that case?

All of th

[2018-02-03 00:57] glockjt commented on #325
Thanks for the prompt response!  I really appreciate it.

The second point.  I only want the user to be able to clear the item if they delete all the text in the input.  And to your question in that point _What if they partially delete and move on?_ I think it should go back to showing the selected item in the input.  **Only** when the input is completely empty it should change the value to empty

[2018-02-03 18:09] kentcdodds commented on #325
Here you go: https://codesandbox.io/s/m76r4n9l0x

Here's the important part:

[code]

Enjoy :)

[2018-02-03 18:09] #325 closed

[2018-02-04 02:25] kentcdodds commented on #288
Sorry @gotenxds, somehow I missed this (I was on vacation at the time you filed the issue, so I guess maybe that's why).

The `onInput`/`onChange` events respond to user input, and the `reset` function is programatically changing the value of the input, so it makes sense those event handlers would be called.

I'm sure there's another way to do what you want though. What are you trying to accomplis

[2018-02-06 23:40] kentcdodds commented on #185
Re-opening as what was just merged is experimental support. That means that things may break intentionally without a semver major bump. To get to official support we need:

1. A committed maintainer (I don't use RN, so I can't maintain it). I think at least 2 of you are committed here :)
2. At least one integration test (see ./other/misc-tests). I don't know what would be involved, but I would lik

[2018-02-07 05:15] kentcdodds commented on #185
Awesome! Thank you! Yes another example section would be wonderful!

[2018-02-07 16:41] eliperkins commented on #185
@donysukardi Heh, awesome! I had a very similar version of this I was using while working on #265.

I'm certainly committed to maintaining this, as we'll be using this in production at [Clubhouse](https://clubhouse.io)!

Agreed. I think we can put together some tests for this using [Jest's React Native snapshot testing](https://facebook.github.io/jest/docs/en/tutorial-react-native.html), to at lea

[2018-02-07 17:18] kentcdodds commented on #185
Let's have a section in the docs that talk about react native usage. It should mention any differences  and show an example :+1:

[2018-02-08 07:57] futurfutur opened #329 "How to get selected object, not selected values?"
Passing array of objects as **suggestions** array. In **onChange** function I get selected string value, how can I get the assosiated object?

[2018-02-08 08:06] donysukardi commented on #329
Make sure you pass in your item object to `getItemProps`. Here's a sandbox example https://codesandbox.io/s/7jqv565mlj.

[2018-02-08 08:21] futurfutur commented on #329
yep, with **itemToString** function works like a charm. Thanks a lot for a really quick and helpful response!

[2018-02-08 08:38] donysukardi commented on #329
Awesome! You're most welcome 🏎

[2018-02-08 08:38] #329 closed

[2018-02-13 23:24] hzhu opened #330 "Enter event on form wrapped input should not have e.preventDefault()"
First of all thanks @kentcdodds for authoring this library! Also thanks to everyone else who's been helping Kent maintain this project ❤️.

* `downshift` version: 1.28.0
* `node` version: v8.1.3
* `yarn` version: 1.2.1

### What you did:
I type the string "black" (lowercase) into the form example in Downshift's storybook - then hit `ENTER`.

### What happened:
The form submission handler does not

[2018-02-13 23:33] kentcdodds commented on #330
Hey @hzhu,

Thanks for the issue! I'm not sure of the best solution for this to be honest. I can think of several things you could do, but I'm not super fond of them.

I don't think I want to add a prop especially for this case. I think we can come up with something else. I'd love people to give their input to solving this problem. Anyone have ideas?

[2018-02-15 15:40] eliperkins commented on #185
I think what might be the first use of Downshift on React Native is now live in the App Store! We're using Downshift for selecting and filtering lists in a few places:

<img width="1230" alt="screen shot 2018-02-15 at 10 39 01 am" src="https://user-images.githubusercontent.com/1051453/36265140-92c037c4-123c-11e8-8d9a-913dba33ad09.png">

If you're a [Clubhouse](https://clubhouse.io) user, check it

[2018-02-15 16:24] krvajal commented on #288
Hi, I have the same issue here. In my case, I would like that when I clear the input field (value="") the `onStateChange` should be called and the menu closed.

[code]
And the behavior I am seen is this
![screen recording 2018-02-15 at 17 22](https://user-images.githubusercontent.com/5899385/36267746-f435718a-1274-11e8-9642-485f6e1e6d2d.gif)
Notice that when I clear the field the menu stays opened

[2018-02-15 16:44] kentcdodds commented on #185
I have so many happy feelings about this that I tweeted a long thread: https://twitter.com/kentcdodds/status/964176513657724928

So here's what we've got:

- [x] A committed maintainer (I don't use RN, so I can't maintain it). I think at least 2 of you are committed here :)
- [ ] At least one integration test (see ./other/misc-tests). I don't know what would be involved, but I would like to make s

[2018-02-15 16:55] kentcdodds commented on #288
@krvajal, this is the default behavior by design. The idea is that when the user interacts with the input the menu should be open until the user moves on.

That said, in developing downshift I knew that not every use case would reflect my own, and so I've built in a few simple ways to change the built-in behavior. You could either use control props or a state reducer. I think the simplest here wou

[2018-02-15 16:55] #288 closed

[2018-02-16 17:14] kavink opened #333 "How to make downshift just behave like text box if user does not want to select from selection"
I am trying to figure how do I make Downshift Input just behave like a text box if there are no suggestions or user wants to enter something free text and ignore suggestion .

Any thoughts ?

[2018-02-16 17:49] newyork-anthonyng commented on #333
What's awesome about `downshift` is that it gives you the power to render what you want.

Take a look at this [CodeSandbox demo](https://codesandbox.io/s/oo88mkoq56) that I forked from the `simple downshift` example.

Inside of the `render` method, I added an `if` statement to check if there are suggestions:
[code]

[2018-02-16 19:01] kentcdodds commented on #333
Thanks @newyork-anthonyng!

Also @kavink, there are several examples on the README and I'm pretty sure one or two of them are what you're looking for. I think it's the type ahead one.

[2018-02-16 19:01] kentcdodds commented on #333
I'm going to go ahead and close this as it's not actionable, but feel free to continue asking questions and hopefully someone watching the repo can help answer.

[2018-02-16 19:01] #333 closed

[2018-02-16 19:34] kavink commented on #333
@kentcdodds  Thanks for comments, I did look at type ahead one, But ```onStateChange``` user typing and selecting does not actually reflect in submitted form. Any thoughts how I can workaround it because as soon I leave the text box, it resets the field in fold and does not persist user option.

@newyork-anthonyng Thanks, that solves issue when there are no suggestions. Im still trying to nail dow

[2018-02-16 22:26] newyork-anthonyng commented on #333
@kavink Could you provide an example of this in CodeSandbox?

When I look at the [TypeAhead example on CodeSandbox](https://codesandbox.io/s/82m2px40q9), the behavior isn't what you describe.
For example:
* I type `ap` into the input field
* I press `tab` to leave the input field
* The `selected fruit` text reads `ap`. The input field did not reset.

[2018-02-16 23:57] kavink commented on #333
@newyork-anthonyng  here is an example: https://codesandbox.io/s/zlv7kmmyp

[2018-02-17 00:09] kavink commented on #333
@newyork-anthonyng @kentcdodds You can try entering ```sssss``` into the ```fruit``` field , and leave click elsewhere in screen you will see the data is removed/reset from Form. (form data is in the bottom)

[2018-02-17 00:17] kentcdodds commented on #333
I gave it a quick look and I can tell you there are definitely a few ways to accomplish what you want to. But I'm afraid I don't have time at the moment to show you any of them. Just posting this to say don't lose hope! This is definitely possible (without any weird hacks).

[2018-02-17 00:34] kavink commented on #333
@kentcdodds No worries, Even a pointer is enough on why would it reset field on leaving if nothing is selected. Or if you can point me in right direction.

[2018-02-17 00:39] kentcdodds commented on #333
Downshift has to make decisions and have some opinions on the user experience. One decision that it has made is to [call `reset`  when the user blurs the input](https://github.com/paypal/downshift/blob/83cb60beae498f48c454f9407e7a6bcf256879cb/src/downshift.js#L686-L690). The reset function will reset the input's value to the `itemToString` value of the `selectedItem`.

Downshift exposes a few meth

[2018-02-17 01:02] kavink commented on #333
In the example I posted, thats what I had done. Tried to override onBlur. which seems to work in this example: https://codesandbox.io/s/k594964z13 but not in mine. Same piece of code.  Anyways will keep digging through, now I know some background why its happening .
[code]

[2018-02-17 02:40] newyork-anthonyng commented on #333
@kavink I took a look at your example.

Making the change below seems to make the `onBlur` work as you wanted it to.
[code]

I think the difference between your example using `react-final-form` and `redux-form` is how they handle `onBlur` events.

In `react-final-form`, it looks like `e.preventDefault` is not called ([see relevant lines here](https://github.com/final-form/react-final-form/blob/5dd

[2018-02-17 03:58] kavink commented on #333
@newyork-anthonyng Thanks a ton!!! I thought this will work : https://codesandbox.io/s/zlv7kmmyp
But looks like it does not see to behave today ... still plowing through..

[2018-02-17 04:52] newyork-anthonyng commented on #333
@kavink I think this might have solved it?? (https://codesandbox.io/s/8x167ww6kj)

[code]

[2018-02-17 08:11] kavink commented on #333
Thanks a lot!!! Yes that works.... Even I got to same solution, but then I hit another issue , changing ```<input``` to Material UI ```TextField``` with ```react-popper``` the ``` isOpen``` would never become ```true```...I then  just spend last hour or so just migrating to ```react-autosuggest``` Got that working like this with ```final-form``` so I'm good for now...   @kentcdodds  The sandbox fr

[2018-02-17 12:25] kentcdodds commented on #333
Thanks @newyork-anthonyng!

@kavink, I'm glad you got something that will work for your use cases.

If someone wants to add a react final form example to the README that would be great. The codesandbox currently has a lot of distraction around it so if we could simplify it that would be great. Also, it's probably not good to spread the `input` object across `<Downshift>` like that considering it w

[2018-02-18 04:03] austintackaberry commented on #333
@kentcdodds I would like to work with @newyork-anthonyng to clean up the react final form example and add it to the README

[2018-02-18 04:10] kentcdodds commented on #333
Super! Thanks @austintackaberry! I'll be happy to review it when you've got a PR ready :)

[2018-02-18 19:00] newyork-anthonyng commented on #330
@hzhu I was working on this [commit](https://github.com/newyork-anthonyng/downshift/commit/75377bf34f6981f018406756cfbffeab26751799) that seems to address the issue.

I'm not sure if it's the most elegant. I had to control the `isOpen` and `selectedItem` of the `Downshift` component. I also had to pass the `onSubmit` function to the `input` element.

Something else that I tried playing with but co

[2018-02-19 13:09] daphnesmit commented on #287
Really hoping this will be added soon:D

[2018-02-19 13:15] austintackaberry commented on #330
It seems like there are really only 2 options to let downshift handle the event correctly as the code stands right now. You either find a way to close the menu or you find a way to highlight the item before the Enter keyDownHandler is run.

@newyork-anthonyng for my app, I ended up doing something similar to your commit. I can't think of a better way to do it.

[2018-02-19 14:19] eyalcohen4 opened #334 "[react-native] Button props - Cannot read property activeElement of undefined"
* `downshift` version: 1.28.0
* `node` version: 8.5.0
* `npm` (or `yarn`) version: 5.6.0
* `react-native` version: 0.52.0
* `react` version: 16.2.0

Relevant code or config

[code]

What you did:
Hey! tried to use the new and experimental react-native version (Thanks for that!), With Button instead of TextInput as the trigger.

What happened:
`Cannot read property activeElement of undefined` error

[2018-02-19 14:41] kentcdodds commented on #334
That solution sounds good to me! What do you think @eliperkins?

[2018-02-19 15:56] eliperkins commented on #334
Hm, I’m not too familiar with what the use-case would be here, but my knee jerk reaction would be that we should still attempt to call `focus` on the input field, which we should be able to do if there’s a ref for it. But putting the check there for now seems like a nice way to degrade gracefully, rather than throw an error!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 19:25] rhinoceraptor commented on #287
@circlingthesun One workaround I've found works (courtesy of @techniq at [https://github.com/paypal/downshift/issues/164](https://github.com/paypal/downshift/issues/164))is to add ```onMouseUp: e => e.stopPropagation()``` to your ```getItemProps```. For my use case, I'm rendering my items inside of an existing context menu component I wrote that uses portals.

[2018-02-19 19:38] circlingthesun commented on #287
@rhinoceraptor thanks. My workaround was to use `onMouseDown={e => selectItem(item)}`. That looks less hacky :)

[2018-02-19 19:57] eyalcohen4 commented on #334
In my particular example there is only a button -
It's the use case of a drop-down without Auto complete.

maybe we should refocus the button (which is what I think line 569 trying
to achive) in native environment - I'll reaserch for a way to implement
this.

Thanks!

On Mon, Feb 19, 2018, 5:56 PM Eli Perkins <notifications@github.com> wrote:

[2018-02-19 20:29] rhinoceraptor opened #335 "Add render prop parameter for opening via button"
Sorry if this has already been suggested, I searched for this and didn't find anything.

I'd like to propose an enhancement for ```isOpen```, by adding something like ```isOpenViaButton``` (or some other name). I'd like to be able to show all of my items if the user clicks the button, or filter by the input value if the menu is open via typing.

```isOpenViaButton``` would be set to true when the

[2018-02-19 20:43] newyork-anthonyng commented on #335
@rhinoceraptor I think passing your own `isOpen` prop to `<Downshift />` and controlling it would get the desired effect you're looking for.

Take a look at this [CodeSandbox demo](https://codesandbox.io/s/vnkrqo8r4y). Notice how I passed in `onStateChange` and `isOpen` to `<Downshift />`.

Take a look at the docs about [Control Props](https://github.com/paypal/downshift#control-props) for more in

[2018-02-19 21:01] rhinoceraptor commented on #335
Yep, that's what I ended up doing, just adding some component state to set a flag on button click, and unset it on input change.

[2018-02-19 21:01] #335 closed

[2018-02-20 02:14] kentcdodds commented on #334
Hmmm.... The intention of the existing code is to refocus on the target of the event (which is normally the `input` but could also be a button in the case of a drop-down. I'm not sure how focus works in native mobile apps, but if you do have to manage focus, then we should probably do it in the same way.

[2018-02-20 11:30] austintackaberry commented on #330
I'm sure there are many reasons this is a terrible idea, but the implementation below allows the user to let downshift handle the event while still getting the functionality that @hzhu wanted.

https://codesandbox.io/s/x229880xjo

The general idea is
[code]

[2018-02-20 15:36] eliperkins commented on #334
to achive) in native environment - I'll reaserch for a way to implement
this.

I'm not sure that React Native exposes a way to really accomplish "focusing a button" (see [this doc on `highlighted` vs `selected` state on Collection Views in iOS](https://developer.apple.com/library/content/documentation/WindowsViews/Conceptual/CollectionViewPGforIOS/CreatingCellsandViews/CreatingCellsandViews.html#/

[2018-02-20 16:16] newyork-anthonyng commented on #330
@austintackaberry I forked your [CodeSandbox example](https://codesandbox.io/s/xv8nk618xp) and wrapped it with a `<form />`. It looks like the `onSubmit` isn't firing.

Could you take a look at see if I'm missing something?

[2018-02-20 23:23] kentcdodds commented on #334
We used to apply a `ref` but changed things because it was simpler the way things are now. I'm not opposed to adding a `ref` back (similar to how `getRootProps` works, so we'd need an optional `refKey` as well). I'd prefer to only _use_ the ref for React Native though. Let's leave the current logic as-is for browsers :+1:

[2018-02-20 23:35] kentcdodds commented on #330
What if we allowed you to do this:

[code]

This would be fairly trivial to implement. We'd just need to add a little bit of logic [here](https://github.com/paypal/downshift/blob/83cb60beae498f48c454f9407e7a6bcf256879cb/src/downshift.js#L670-L674). Probably change it to this:

[code]

It would be an advanced feature and we should mention that in the docs to avoid using it because it exposes the do

[2018-02-21 00:00] austintackaberry commented on #330
Oops, I misread the original concern. Yeah, my [codesandbox](https://codesandbox.io/s/x229880xjo) doesn't submit the form (especially considering there is no form). All it does is select the item that equals inputValue when hitting Enter.

Why do you need to actually submit the form though? Why not just make your form a [controlled component](https://reactjs.org/docs/forms.html#controlled-componen

[2018-02-21 00:41] hzhu commented on #330
Hi Austin, just to preface, I could be wrong as I'm pretty new to working with autocomplete UIs 🤐 . Some apps like Amazon.com implement their search autocomplete as a form. I think it would be standard behavior when a user hits `ENTER` that the `<form>`'s `onSubmit` handler is invoked. Note, the form doesn't need to be submitted to a server. The page doesn't need to refresh.

Hi Kent, I'd love to

[2018-02-21 02:18] kentcdodds commented on #330
Thanks for that thorough overview @indiesquidge.

I think a lot of people forget that there are a _TON_ of use cases with user experience for components that use downshift. Sure YouTube, Google, and Amazon may have autocompletes that behave similarly (and differently from downshift's default), but that's because they actually have similar "search" kinds of use cases. What about an autocomplete whe

[2018-02-21 10:40] tdeschryver opened #336 "Browsing through the menu with shift key"
* `downshift` version: 1.28.0
* `node` version: /
* `npm` (or `yarn`) version: /

Problem description:
I don't know if this is an issue or if it is intended, this is just an observation and I couldn't find a test for this use case.
When using the shift key together with arrow down while having one of the the last 5 items in the menu selected, the first item in the menu gets selected.
The same happ

[2018-02-21 11:02] austintackaberry commented on #336
It looks like this functionality is intentional based on this line [here](https://github.com/paypal/downshift/blob/83cb60beae498f48c454f9407e7a6bcf256879cb/src/downshift.js#L490). Based on the code and in testing, it seems like holding shift skips 5 items on each down arrow. I think the idea is that this allows you to scroll through the list more quickly.

I checked other autocomplete implementati

[2018-02-21 11:29] tdeschryver commented on #336
@austintackaberry yea, I know it is a feature but it behaves a bit weird while being at the top or bottom of the menu.
![downshift-example](https://user-images.githubusercontent.com/28659384/36477783-c642f814-1702-11e8-84b0-f35cfd2adeeb.gif)

[2018-02-21 11:45] austintackaberry commented on #336
Sorry, I misunderstood. If I am understanding correctly, your suggested solution is:

If you're 3 items from the bottom and you press shift + down, then instead of highlighting the top item (as it does now), it highlights the bottom item.

The only issue I see with that suggestion is if you have a very long list, and you're at the bottom, but you would like to be at the top. In that case, the curr

[2018-02-21 12:04] kentcdodds commented on #336
Yes, this is by design. It's a "power-user" feature

No, this feature has nothing to do with the name "downshift" 😅

Yes, we should probably document it (any takers?)

You will be able to use the new feature being worked on for https://github.com/paypal/downshift/issues/330 to override the behavior if you don't like it.

Yes, I understand that when it goes around the top or bottom things can behav

[2018-02-21 12:10] kentcdodds commented on #336
I should note that you can actually already customize this behavior by adding an `onKeyDown` event handler to the input in `getInputProps` and calling `event.preventDefault()` when you want to customize behavior :)

[2018-02-21 12:10] kentcdodds commented on #330
Ha! I knew that making the solution more generic was a good idea! This solution will also make the arrow key behavior easier to control as well (#336)

[2018-02-21 12:11] kentcdodds commented on #336
Hey @austintackaberry, I've noticed you've been really helpful in issues lately. Thanks so much for your help! I've added you as a collaborator on the project. Please make sure that you review the `other/MAINTAINING.md` and `CONTRIBUTING.md` files (specifically the bit about the commit messages and the git hooks) and familiarize yourself with the code of conduct (we're using [the contributor coven

[2018-02-21 12:14] kentcdodds commented on #330
Oh and @indiesquidge, I forgot to address your "Potential Solution (Change in Downshift Internals)" solution. That wont work because the value of the input and the value of the item is not necessarily the same because the item can be an object and the `itemToString` is responsible for serializing the items to a string for the input value. We don't have a mechanism to deserialize a string value to

[2018-02-21 12:34] austintackaberry commented on #336
Oh yeah, good point about #330! I would like to add this feature to the docs. I am happy to help; I'll read those documents and make a PR later today!

[2018-02-21 12:40] austintackaberry commented on #330
I believe @hzhu was taking this one on

[2018-02-21 12:43] tdeschryver commented on #336
@kentcdodds I'm fine with everything, as long as it is intended :smile:
Thanks again!

[2018-02-21 18:49] indiesquidge commented on #330
Hi, @kentcdodds. Those are all super valid points, and I agree that it is not necessarily Downshift's responsibility to implement (or even help provide a way to implement) all of the features for all of the different types of autocompletes, typeaheads, combo boxes, etc.—it could be a never-ending list of requests 😅

I knew I was missing some caveat with my one-off solution, haha. Thanks for explai

[2018-02-21 19:32] kavink commented on #333
@newyork-anthonyng @austintackaberry  @kentcdodds based on this: https://github.com/final-form/react-final-form/issues/162  Erik created a polished example and posted in README in react-final-form: https://codesandbox.io/s/qzm43nn2mj

[2018-02-21 21:12] eyalcohen4 commented on #334
Get it, Cool.
To summarize and make sure I understand - I'll apply a `ref` as in `getRootProps` for the input both on web and native, but for now will only use it (in order to refocus) when:  `button_handleClick` called, we are in native environment, and a `ref` exist.

Let me know if you think or meant something different.
Hope to make it by the weekend,
Thanks for the help, I'm really enjoying u

[2018-02-21 21:14] eliperkins commented on #334
I think we could get away with only getting when in React Native for now, since that's the only place we'll use the ref. This will help prevent any quirks we might see on web by attempting to get a ref here too.

What do you think @kentcdodds ?

[2018-02-21 21:32] kentcdodds commented on #334
Sounds great!

[2018-02-21 22:46] kentcdodds commented on #333
Awesome! Who wants to open a pull request to add this to the README?

[2018-02-22 00:09] austintackaberry commented on #333
Done!

[2018-02-22 08:46] hzhu commented on #330
Hi @kentcdodds, my schedule's been hectic but I'll try to submit a PR for review this weekend 😸 !

[2018-02-22 11:09] Antontelesh opened #338 "Provide typings for stateReducer"
* `downshift` version: 1.28.0
* `node` version: 8.9.1
* `npm` (or `yarn`) version: yarn 1.3.2

Problem description:

When trying to use the fantastic `stateReducer` property, TypeScript warns that there is no such property in Downshift component.

Suggested solution:

Provide typings for `stateReducer` property.
I can create a PR for that in some time.

[2018-02-22 23:15] jaredpalmer opened #340 "Does resetIdCounter() work?"
Currently upgrading an app to React 16 and it seems that downshift is breaking hydration. To confirm, I was able to reproduce on a brand new Razzle app.

See https://github.com/jaredpalmer/downshift-razzle-bug

Thoughts?

[2018-02-23 00:02] notruth commented on #340
@jaredpalmer, hm... 🤨
It seems that `webpack`(under the hood of the `razzle`) uses same [`idCounter`](https://github.com/paypal/downshift/blob/master/src/utils.js#L1) on both(client and server) sides. And this happens only in DEV mode...

I don't know why this feature was added in Downshift, but the solution is to shove [this variable](https://github.com/paypal/downshift/blob/master/src/utils.js#L

[2018-02-23 00:27] kentcdodds commented on #340
The feature is intended for server side rendering and there's actually an existing test for it. Not sure what is going on, but @notruth's workaround will work. You can also pass an ID prop to downshift directly.

But we should probably figure out what's going on 🤔

I won't have time to work on this myself though.

[2018-02-23 00:36] austintackaberry commented on #336
I don't see a good spot to put this in the docs right now. Perhaps when the keyDownHandlers prop is added to the docs, I could add information about this functionality in that section.

[2018-02-23 00:41] notruth commented on #340
@kentcdodds, The problem is that `webpack` uses the same [`idCounter`](https://github.com/paypal/downshift/blob/master/src/utils.js#L1) on both(client and server) sides in DEV mode. In `razzle` DEV mode client and server sides works parallel, and `webpack`(core of `razzle`) uses the same module(`downshift/utils.js`) on both sides.

I can add a PR tomorrow with the relevant decision.

[2018-02-23 00:42] kentcdodds commented on #336
That makes sense 👍

[2018-02-23 00:52] notruth commented on #340
Simply put, the [`idCounter`](https://github.com/paypal/downshift/blob/master/src/utils.js#L1) variable shouldn't stick out. Because `webpack` uses the same variable address for both sides(If u increment it on server, it increments on client).

[2018-02-23 02:47] notruth commented on #340
I found.

This(root) [`generateId()`](https://github.com/paypal/downshift/blob/master/src/downshift.js#L72) calls in Init time and `idCounter` right away rises to `2`.

On **server-side** after that we reset the `idCounter` to `0` every render time.
It means that others `generateId()`'s begin counting from `0`.
But on **client-side** others `generateId()`'s begin counting from `2`, because no rese

[2018-02-23 03:56] kentcdodds commented on #340
That sounds fine to me! Thanks for researching that @notruth!

Two things:

1. Let's definitely add a brief code comment over the initialization of the `idCounterAfterInit` variable to explain what its purpose is because it seems nonsensical without some context.
2. Instead of `void 0` let's just use `undefined` :)

Thanks!

[2018-02-23 04:03] notruth commented on #340
@kentcdodds, Thanks for review.
About `void 0` - sure.
But I prefer the first solution 'Migrate this generateId() into constructor() handler', it's more more semantic: render time = render id. What do you think?

[2018-02-23 04:28] kentcdodds commented on #340
Oooh! I missed that! That's actually a bug! What it's currently doing is setting an id for _all_ instances of downshift, not each individual instance. Yes, we should definitely fix this. Except, I would remove the `defaultProp` for the `id` [here]() (that's the bug), and add `id = this.props.id || generateId('downshift')` above [this line](https://github.com/paypal/downshift/blob/a1bf4ddc8deb78f00

[2018-02-23 04:39] donysukardi commented on #340
Yeah. Looking at it, I think the first solution, i.e. moving `generateId` to constructor makes more sense.

[2018-02-23 05:35] notruth commented on #340
@kentcdodds, @donysukardi, Thanks for approve.
About `test`: I'm think it will not be difficult. Just need to check that the `idCounter` value is equals to `0` after Downshift initialized...

[2018-02-23 05:36] kentcdodds commented on #340
Cool, thanks all! I love working on downshift with you fine folks!

[2018-02-23 05:37] kentcdodds commented on #340
Note: we do currently have tests for SSR: https://github.com/paypal/downshift/blob/master/other/ssr/__tests__/index.js

If you could update those to catch this that would probably be best 👌

[2018-02-23 05:38] kentcdodds commented on #340
Though now that I think about this, I'm not sure that'd be the right place for it. 🤔 Whatever you think is best

[2018-02-23 05:53] notruth commented on #340
Yeah, probably it's better to do a separate test for this...

[2018-02-23 06:41] austintackaberry opened #342 "itemToString warning under certain circumstances"
* `downshift` version: 1.22.3
* `node` version: codesandbox
* `npm` (or `yarn`) version: codesandbox

**Relevant code or config**

[simple downshift example](https://codesandbox.io/s/6z67jvklw3)
![image](https://user-images.githubusercontent.com/29493001/36579667-23c0d5f8-1819-11e8-96be-dda6fdb9b315.png)

**What you did:**

IF you type/delete a letter AND:

- the autocomplete menu is open
- there

[2018-02-23 16:55] jaredpalmer commented on #340
@kentcdodds confirmed workaround is just passing an `id` to `getInputProps()` and removing `resetIdCounter()`.

2 Questions:

- From a DX perspective, I was surprised that downshift needed special SSR consideration. What do you think about about calling this out bit earlier in the documentation?
- How do you feel about making `id` required in `getInputProps()` in the interim? (At minimum in TS typ

[2018-02-23 17:28] kentcdodds commented on #340
We do have this mentioned in [the FAQ](https://github.com/paypal/downshift/blob/748d0f338b41f2e5d23ee18f5f6811175ea9f408/README.md#faq). I suppose we could mention it earlier. Or perhaps we could add an entire section to the docs about server side rendering. That way it would appear in the table of contents. Would you like to do that?

Nope, sorry. 99% of use cases for downshift (more?) don't requ

[2018-02-23 17:47] kentcdodds commented on #342
Here's the problem:

https://github.com/paypal/downshift/blob/748d0f338b41f2e5d23ee18f5f6811175ea9f408/src/downshift.js#L796

This gets passed to `itemToString` and causes the error. So the solution would be to just remove `|| {}`. I'm pretty sure there shouldn't be any problems with that. Thoughts?

[2018-02-23 17:49] jaredpalmer commented on #340
@kentcdodds a warning if window is undefined is a great idea

[2018-02-23 17:51] kentcdodds commented on #340
Cool! Let's do it. Who wants to give it a go?!

[2018-02-24 01:09] austintackaberry commented on #342
Ah, I thought it was that line, but I couldn't tell if it was ever passed to itemToString. I'll look into it a little bit more and make a PR!

[2018-02-24 10:33] donysukardi commented on #340
That didn’t quite address the actual issue with the mismatch as @notruth pointed out. I think once we resolve that, providing id is no longer necessary.

@jaredpalmer, to answer your first question, it’s quite a common approach to reset auto generated counter (in this case the id). A similar approach is also used by
https://github.com/reactjs/react-tabs/blob/master/README.md#resetidcounter-void.

[2018-02-24 11:36] austintackaberry commented on #304
I have this issue with node v8.9.4, 9.5.0, and 9.6.1 running `sudo npm run setup`

However, I was able to get around it by individually running:

[code]

[2018-02-24 16:53] kentcdodds commented on #304
Hmmmm... That's pretty odd (and very dangerous) that you need to run those commands with `sudo`. Also super odd that it works when running them individually but not in a single command 🤔

[2018-02-24 22:26] austintackaberry commented on #304
Ok thanks for the advice! I deleted every folder that required admin rights and ran `npm run setup` without any issues.

[2018-02-25 04:11] #342 closed

[2018-02-26 10:11] davidalekna opened #347 "Apollo with debounce example"
Hi, thanks for an awesome library! I'm trying to figure out the correct way of throttling / debouncing the input for Apollo, would be awesome if someone could help to figure it out!

Cheers!

[2018-02-26 12:49] TheoVitkovskiy opened #348 "Question: Is changing the `inputValue` on the `ArrowUp` and `ArrowDown` event possible?"
I am trying to make a call to `selectedHighlightedItem` every time the user changes the highlighted menu item. When I press enter, everything works, but the `isOpen` changes to `false` and I don't want the user to press Enter for this anyway. Is there a way to make it work? I would appreciate any help!

[2018-02-26 15:17] donysukardi commented on #347
Hi @davidalekna,
I extended the Apollo integration example with debounce feature - https://codesandbox.io/s/20x5plo070. Basically what you need to do is to store the current query value as a separate state slice and apply debounce on the update (i leverage on `onStateChange`) and pass that value to Apollo instead.

[2018-02-26 17:40] davidalekna commented on #347
Awesome @donysukardi, thanks a lot!

[2018-02-26 17:40] #347 closed

[2018-02-26 22:52] indiesquidge commented on #336
@kentcdodds, just to bring this into context with another [conversation](https://github.com/paypal/downshift/issues/330#issuecomment-367191664) around "default behavior" in Downshift, is there a reason why jumping by 5 when holding SHIFT is seen as something "default" rather than something "custom"?

As was pointed out in the linked comment, including the user input in the list of suggestions was

[2018-02-26 22:54] kentcdodds commented on #330
Folks who care, I'd appreciate feedback on the PR: https://github.com/paypal/downshift/pull/346#discussion_r170763621

I'm starting to rethink the decision we've made about this.

[2018-02-26 22:57] kentcdodds commented on #336
That's fair @indiesquidge. This particular feature is something I've added to all autocomplete experiences I've implemented because I've wanted it in every autocomplete I've used. It came over naturally out of that when I copy/pasted some logic from my last autocomplete component. I didn't think there would be any harm in it considering many people are nothing but pleasantly surprised when they re

[2018-02-26 23:32] indiesquidge commented on #336
This is legitimate. I personally don't have a problem with it, I was more just curious about what constitutes a "default" in the eyes of Downshift. It feels like things like this are more than just what meets the standard spec.

The only reasonable concern for this is what @tdeschryver already brought up, namely, that it's a bit jarring to have it jump to the top if you are <5 items from the botto

[2018-02-26 23:43] kentcdodds commented on #336
Exactly :+1: everything you said is :100:

And if someone were to fork downshift just for this and that thing started getting traction just because this one difference, then I'd happily accept that as evidence that most people don't like this default and we can make a change. But my guess is most people don't know about this feature, and those who find out are pleasantly surprised or just remember

[2018-02-27 00:18] indiesquidge commented on #336
Sure, I'd love to contribute to Downshift by adding this to the docs :)

[2018-02-27 08:03] austintackaberry commented on #348
@TheoVitkovskiy So you want the inputValue and the selectedItem to be set to the value of the highlightedItem at all times? And you want Enter to do nothing?

[2018-02-27 08:58] TheoVitkovskiy commented on #348
@austintackaberry Yes, and Enter should just close the Menu and I should be able to make an AJAX call to the server. I read through most of the issues that relate to it and I guess it's possible to modify this behavior.

[2018-02-27 12:43] austintackaberry commented on #348
@TheoVitkovskiy Sounds good! Are you good to close this issue?

[2018-02-27 12:49] TheoVitkovskiy commented on #348
@austintackaberry What I meant was that I know that it should be possible but I have no idea how. If it's something too obvious and I'm just missing the point then I can close the issue.

[2018-02-27 18:47] yuripramos opened #349 "Incompatibility With StyledJSX in nextJS babel generator error"
* `downshift` version: 1.28.1
* `node` version: 6.11.4
* `npm` (or `yarn`) version: 3.10.10

Hello Guys, I'm trying to implement the downshift as a component inside my application using nextJS.
The issue is, when I use styledJSX I got this error:
[code]
**My code:**

[code]
The most bizarre situation is when I comment or delete the `{...getItemProps({ item })}`  OR `<style jsx>{styles}</style>` ev

[2018-02-27 22:46] kentcdodds commented on #348
No worries @TheoVitkovskiy :) We're happy to help where we can. This is definitely possible. I think the easiest solution is to use a [`stateReducer`](https://github.com/paypal/downshift#statereducer) like this: https://codesandbox.io/s/v6yn8j0l03

I think I'll go ahead and close this issue as it's not actionable, but feel free to ask any clarifying questions. :)

[2018-02-27 22:46] #348 closed

[2018-02-28 03:06] donysukardi commented on #340
This should be working as intended with `downshift@1.28.2` now. No explicit id is required 🎉

[2018-02-28 04:30] #340 closed

[2018-02-28 04:31] kentcdodds commented on #340
Thanks!

[2018-02-28 07:59] austintackaberry commented on #336
@indiesquidge it might be good to just add a section for each keyDownHandler and include this in the ArrowDown handler section

[2018-02-28 14:21] kentcdodds commented on #336
That's a good idea! Maybe it could be a sub-section of `getInputProps` that talks about the props which are returned.

[2018-02-28 16:46] jduthon opened #350 "Selecting text in the input can lead to reset()"
* `downshift` version: 1.27.1
* `node` version: 8
* `npm` version: 5.5.1
(But I believe all versions are concerned)

When clicking to select the text from the input that `downshift` controls, if you end the selection outside of the input it can end up resetting the input to the `selectedItem` value, while the user is actually trying to interact with the input and select the full text to replace it

[2018-03-01 00:47] BenBrostoff opened #351 "Changes to defaultSelectedItem prop does not impact re-rendered input"
Thanks for an awesome library! My issue may be related to incorrect usage of the `downshift` API, but after reviewing the docs, I'm still not sure of the proper way to handle this problem. In short, I'm finding changes in the `defaultInput` and `defaultSelectedItem` props in `downshift` do not result in changes in `getInputProps` and `selectedItem` in the arguments in the `render` prop.

**Depende

[2018-03-01 08:27] austintackaberry commented on #350
When you say

At this point, shouldn't the input value be "bana" not "banana"? Also, when I click on the input slightly to the right of "bana", nothing happens. I only see the behavior you describe onBlur.

[2018-03-01 08:29] jduthon commented on #350
@austintackaberry yes absolutely correct, sorry. I will edit

[2018-03-01 09:03] austintackaberry commented on #350
I was able to reproduce this issue with your version and the latest version of downshift. As you mentioned, this is clearly a bug.

I like your suggested solutions; however, it looks to me like the onBlur is a button prop not an input prop:
https://github.com/paypal/downshift/blob/1dec961ad5e787ad29556c85afe8ddc8bb05968f/src/downshift.js#L543

[2018-03-01 09:13] jduthon commented on #350
Good (kind of haha).
Well let's wait a bit to have an opinion on how to fix it better.
I wouldn't mind doing it as soon as we know which way to go.

[2018-03-01 09:22] austintackaberry commented on #350
I could be wrong, but it seems like onOuterClick doesn't actually do anything by default. It is only there to allow the user the opportunity to customize an onOuterClick function. Whereas onBlur has functionality and cannot be customized.

I agree that the issue is with the line you linked. Since all the action is triggered on `mouseUp`, you would need to find a way for that function to know what

[2018-03-01 09:25] jduthon commented on #350
@austintackaberry the problem is effectively not with the `onOuterClick` directly, I expressed myself wrongly I believe.
The problem is that at the line I pointed, `downshift` is also doing a `reset` of the state. (and then calling the `onOuterClick` prop, so I meant more the idea of clicking outside, not the `onOuterClick` prop).

And I believed you can actually customize the `onBlur` by passing

[2018-03-01 09:41] austintackaberry commented on #350
Sorry, yes. The reason you would have both is if you wanted to customize `onBlur` to have different behavior than `onOuterClick`.

What do you think about removing `isMouseDown` from the state and replacing it with something like `mouseDownOnElement` and setting it equal to `event.target` `onMouseDown`? And then `onMouseUp` you could check if `mouseDownOnElement` is the input element. Then at the

[2018-03-01 09:50] jduthon commented on #350
I was thinking of something similar, even though I would personally go with a `onMouseDown` on the `input` and `items`, so the `isMouseDown` would still be useful as a `boolean`, maybe rename it to `wasInnerMouseDown`. And then just check if `wasInnerMouseDown`, if it's `true` then just set it to `false` and that's it as the `mouseUp` is matching it, otherwise do what is done now :  reset the stat

[2018-03-01 10:03] austintackaberry commented on #350
Looks like we need to listen to all the `mouseDowns` anyways based on this comment:

https://github.com/paypal/downshift/blob/master/src/downshift.js#L817

[2018-03-01 10:14] jduthon commented on #350
Hmmm but in the comment, the case where this is useful if is user clicked on an `item` no?
I was proposing to listen for `mouseDown` on `input` and `items` :)

[2018-03-01 10:15] austintackaberry commented on #350
Ah, my bad. Sounds good to me!

[2018-03-01 10:18] jduthon commented on #350
Awesome!
Should we wait for some more opinion(s) or do you think I can already go ahead with a PR?

[2018-03-01 10:27] austintackaberry commented on #351
Why not just change the `selectedItem` rather than changing the `defaultSelectedItem`? It is my understanding that the `selectedItem` is only set to the `defaultSelectedItem` value when `Downshift` is mounted.

[2018-03-01 10:43] austintackaberry commented on #350
It might be good to wait. Thanks for opening this issue!

[2018-03-01 11:45] austintackaberry commented on #351
What about something like this:

https://codesandbox.io/s/431w33k8ox

[2018-03-01 14:00] BenBrostoff commented on #351
@austintackaberry `selectedItem` does resolve the issue, but using a control prop forces me to manage state; this is fine, but I'm wondering why it's not desirable functionality to make changes in`defaultSelectedItem` trigger changes in the displayed input. The button case is probably a bad example on my end here. What about a route change with `react-router` where `Downshift`'s constructor is not

[2018-03-01 14:39] donysukardi commented on #351
@BenBrostoff This behaviour is inline with the behaviour of React's `<input type="text" defaultValue={x} />` component as shown here https://codesandbox.io/s/ko1rm3wnk3.

As suggested above, you have the option of making it a controlled component. Adding code to detect changes in `defaultSelectedItem` would definitely improve the complexity of the component and would in fact overlap with `selected

[2018-03-01 14:56] BenBrostoff commented on #351
Thanks @donysukardi and @austintackaberry  - these explanations make sense to me. I'll use a controlled component :+1:

[2018-03-01 14:56] #351 closed

[2018-03-01 19:58] #349 closed

[2018-03-01 20:03] yuripramos opened #352 "After selected value the result shows [object object]"
* `downshift` version: 1.28.1
* `node` version: 6.11.4
* `npm` (or `yarn`) version: 3.10.10

Hello guys, my problem is, I've passed an array of objects inside the items prop, now when I select some value my input updates to [object object] but what I need is **item.name**, I'm seeking like crazy through the documentation and on issues but with no success, could someone help me how to display only

[2018-03-01 21:08] kentcdodds commented on #352
Hi @yuripramos, :wave:

You need to use the [`itemToString`](https://github.com/paypal/downshift#itemtostring) prop:

[code]

Good luck!

[2018-03-01 21:08] #352 closed

[2018-03-02 00:07] kentcdodds commented on #350
Thanks @jduthon!

I think this makes sense. Feel free to [make a pull request](http://makeapullrequest.com) for that :+1:

Thanks so much

[2018-03-02 00:12] kentcdodds opened #353 "Change how to prevent default events"
Right now if you add a custom event handler (like `onKeyDown` to the `getInputProps` for example), you can prevent the default behavior with `event.preventDefault()`. This has worked pretty well, but honestly it's overloading the feature of preventing the default from events so we should come up with another way to signal preventing the default behavior.

What if instead you simply add a property

[2018-03-02 17:24] #350 closed

[2018-03-02 18:36] ericedem commented on #353
Ok so just to clarify the particular case mentioned in #330. The new workaround will be:

[code]

Which overrides the default behavior of calling `event.preventDefault()` when there is no item highlighted, but otherwise let Downshift behave normally.

[2018-03-02 18:45] kentcdodds commented on #353
Thanks for the example @ericedem. That's exactly what I would do :+1:

[2018-03-03 00:07] #338 closed

[2018-03-03 00:10] ericedem commented on #353
If there is a consensus, happy to take this one on.

[2018-03-03 00:10] kentcdodds commented on #353
So I want this to be implemented. I'd be happy to implement it myself, but I'm happy to accept a PR from anyone who gets to it before me.

For this first iteration we should implement it as a non-breaking change and support both this and the current mechanism. It shouldn't be too much work. Probably just documentation, tests, and an update in the utils file for `composeEventHandlers`:

https://git

[2018-03-03 00:11] kentcdodds commented on #353
Perfect @ericedem :+1: Thanks!

[2018-03-03 05:11] ericedem commented on #353
@kentcdodds I have an implementation working for this, where do you recommend putting docs. Under [getInputProps](https://github.com/paypal/downshift#getinputprops) perhaps? Or maybe a new section related to handlers?

[2018-03-03 14:52] kentcdodds commented on #353
Let's add a new section for it. It applies to several prop getters

[2018-03-05 04:11] austintackaberry opened #356 "Default behavior for mouseUp event"
**v1.28.1 issue:**

[code]

**v1.28.3 solution:**

[code]

**What you did and what happened:**

v1.28.1 Issue
![v1.28.1 Issue](https://user-images.githubusercontent.com/29493001/36956651-68ffdb50-1fe4-11e8-9b94-4546308767fa.gif)

**Problem description:**

Previously, downshift would reset if your mouseUp event.target was outside of downshift even though mouseDown happened on the input element. Tha

[2018-03-05 06:48] cusxio opened #357 "Is there a way to disable item selection?"
* `downshift` version: 1.28.0
* `node` version:
* `npm` (or `yarn`) version:

**Problem description**:

Is there a way to disable the selection of an item based on some conditionals from the dropdown so that `onSelect` or `onChanged` doesn't gets triggered?

**Methods tried**:

I've tried using `stateReducer`, however after pressing enter on an item that I want to disable, the dropdown loses focus

[2018-03-05 07:00] Antontelesh commented on #357
Did you try removing the call to `getItemProps` on the item you want to be disabled?

[2018-03-05 07:14] cusxio commented on #357
removing `getItemProps` also removes any keyboard interaction on the item.

Is there a way to disable the `clickItem` or `keyDownEnter` handler?

The problem I'm facing  right now is that the dropdown loses focus when  those events are triggered, because the input is refocus.

[2018-03-05 08:05] Antontelesh commented on #357
There are some discussions under #353 around that. Other than that, I believe, there is only a way to use `stateReducer` or to override Downshift event handlers.

[2018-03-05 08:41] jduthon commented on #356
I believe we could also check if the `document.activeElement` is an input? That would cover the case with multiple inputs. It would though leave the button case aside.

[2018-03-05 08:55] austintackaberry commented on #357
I agree with @Antontelesh in that I don't believe you can prevent `onSelect` from being called when you click on an item or when you hit Enter on a highlighted item.

However, I may have an example that fits your needs. In this example, if the user clicks on or presses Enter on an item that starts with "A", then nothing happens. The menu stays in focus and the arrow keys still work. Please let me

[2018-03-05 10:29] kimgronqvist commented on #353
Just wanted to add that this would be great. I was very confused by the current behavior. We use Downshift together with Draft.js and have to use this ugly thing to make them play nice together.

[code]

[2018-03-05 12:57] kentcdodds commented on #356
Thanks for opening this @austintackaberry!

As I mentioned, that was just an example use case. I'm sure there are more situations. What we need to decide is generally: "If the user clicks on something within the downshift component that _isn't_ an item, should we reset the component?" If it's an item, then a whole different code path will follow so we don't need to worry about those, but who knows

[2018-03-05 13:08] kentcdodds commented on #353
Yeah, it was kind of a last minute feature and in retrospect wasn't thought through very well 😅

[2018-03-05 14:56] cusxio commented on #357
@austintackaberry thank you for the example. 🙏

However, while trying to implement a similar solution on the app I'm working on, `keyDownArrowUp` and `keyDownArrowDown` event just stops working after pressing `keyDownEnter`.

My `stateReducer` function is not triggered on arrow keys keydown. Can't find the root cause for this, so still debugging it!

[2018-03-05 16:27] kentcdodds commented on #357
Hi @cusxio!

Thanks @Antontelesh and @austintackaberry for all your help here!

Hmmm.... Make sure you're on the latest version? Though that's probably not it...

We do have support for disabling the [input](https://github.com/paypal/downshift/blob/10d2cf6128bc008bd7984d537edd812dd2e4306e/src/downshift.js#L638) and the [button](https://github.com/paypal/downshift/blob/10d2cf6128bc008bd7984d537edd8

[2018-03-05 22:51] #330 closed

[2018-03-05 22:51] #353 closed

[2018-03-05 22:54] kentcdodds commented on #330
Alright! So `downshift@1.28.6` now supports [`event.preventDownshiftDefault = true`](https://github.com/paypal/downshift#event-handlers). Much better IMO and will help us avoid this issue entirely :)

Thanks everyone! Especially @ericedem for implementing it and those who contributed to the discussion in #353 :+1: :tada:

[2018-03-05 23:11] kentcdodds commented on #330
Hmmm.. I'm not certain what went wrong with the auto-release, but I'm kicking off another one. Hopefully we'll have the actual new version soon.

[2018-03-05 23:28] kentcdodds commented on #330
Ok, great! It's out and it's actually `downshift@1.29.0` (because this is a new feature 😅)

Thanks again!

[2018-03-06 06:40] austintackaberry commented on #357
Sounds good to me, I'd be happy to take this one on! Also, looks like the `disabled` feature isn't in the docs. I'd be happy to add that as well.

[2018-03-06 11:22] franklixuefei commented on #217
Hi @kentcdodds
Sorry, but I haven't figured out how you fixed the cursor jumping problem in your advance downshift demo without using onInputValueChange()? And also, if I want to pass in default selected recipients, how would you do that? I tried `defaultSelectedItem` prop but it doesn't work in your demo...

Thanks!

[2018-03-06 11:53] austintackaberry commented on #217
I used the [codesandbox](https://codesandbox.io/s/github/kentcdodds/advanced-downshift) from [advanced downshift](https://github.com/kentcdodds/advanced-downshift) and did not have the cursor jumping issue:

![undefined](https://user-images.githubusercontent.com/29493001/37030954-ba10d0a4-20f1-11e8-81ea-8566bd1aa1d2.gif)

[2018-03-06 12:32] kentcdodds commented on #357
Yes please!

[2018-03-06 18:37] franklixuefei commented on #217
Thanks @austintackaberry but I still don't know how this was achieved without onInputValueChange().
@kentcdodds
Sorry, but I haven't figured out how you fixed the cursor jumping problem in your advance downshift demo without using onInputValueChange()? And also, if I want to pass in default selected recipients, how would you do that? I tried defaultSelectedItem prop but it doesn't work in your dem

[2018-03-06 20:45] maikelrobier opened #360 "Support contentEditable"
* `downshift` version: 1.29.1

What you did:
I tried using Downshift using a `contenteditable` `div` element instead of an `input` element.

What happened:
It doesn't show the autocomplete list. (Expected, since there is `getInputProps` but not something like `getContentEditableProps`)

Reproduction repository:
https://codesandbox.io/s/67y5xk23r

Problem description:
I'd love to use Downshift in a

[2018-03-06 21:36] eliperkins opened #361 "Support `onChange` and `onChangeText` props for React Native"
[After having some discussion around implementing a test suite for React Native](https://github.com/paypal/downshift/pull/328#discussion_r167035528), we realized there's some tweaks that we should make with regards to the `onChange` prop supplied to a `Downshift` component on React Native.

### Problem description:

The `onChange` prop is meant to emulate the prop of the same name that is used wit

[2018-03-06 22:09] kentcdodds commented on #360
Hi @maikelrobier!

This is a good question. I think it'd be good to support this. I've given it a start here: https://codesandbox.io/s/mqkmq2zx8p

The basic idea is that you wrap downshift with your own component that manages including `getContentEditableProps`. It works pretty well actually (though we'll probably want to expose a few things to make it easier).

You shouldn't need changes in downs

[2018-03-06 22:42] kentcdodds commented on #361
That solution sounds fine to me :+1: Don't worry about breaking changes because the React Native support is still currently experimental :+1:

[2018-03-06 22:53] maikelrobier commented on #360
Thanks @kentcdodds for the quick response! [Your idea](https://codesandbox.io/s/mqkmq2zx8p) sounds good. I'm playing with it right now to see how it works for my use case.

[2018-03-07 01:33] franklixuefei commented on #217
NVM, I figured it out.
1. @kentcdodds 's demo is working because in his demo `inputValue` is not a controlled (by us) prop, so that the cursor problem will not happen at all.
2. In his demo, `selectedItem` is assigned `null` so that this API is disabled, thus `defaultSelectedItem` is not working either, as expected.

If I understand correctly, the `defaultXXX` props will only be useful when the co

[2018-03-07 05:07] austintackaberry commented on #217
Below is a demo that has `inputValue` and `defaultSelectedItem` as control props. The `defaultSelectedItem` prop works as expected and there is no jumping cursor issue.

https://codesandbox.io/s/5konk5137n

Let me know if this isn't what you're looking for! :smile:

[2018-03-07 08:50] franklixuefei commented on #217
@austintackaberry Thanks! This is what I'm looking for. I think you can also use the `onInputValueChange()` prop which is already provided. But either works.

[2018-03-07 16:01] shaksi opened #363 "itemToString returns null on react native 0.48.3"
* `downshift` version: 1.29.1
* `react native`: 0.48.3
* `node` version: 9.3.0
* `yarn` version: 1.3.2

Relevant code or config

https://snack.expo.io/BkVnOwpOM

What you did:
copied the sample code, and using it as a component.

What happened:
initially errors occured due to missing key.
add key to touchopacity in the component which fixed it (not sure if that is the best method)

![simulator scr

[2018-03-07 18:02] wKovacs64 commented on #185
Are you using a [`FlatList`](https://facebook.github.io/react-native/docs/flatlist.html) in `renderList`, @eliperkins? I tried [forking](https://snack.expo.io/SkRIbspdM) @donysukardi's [example](https://snack.expo.io/SJZm7qnOf) and replacing the `map` with a `FlatList`, but it seems to break Downshift. `onChange` is no longer called, `selectedItem` is not updated, etc.

https://snack.expo.io/SkRIb

[2018-03-07 18:36] eliperkins commented on #363
Yup, the `key` is required here. When we add a proper example to the README, we should make sure that if you're using `map` instead of a `<FlatList>`, that the `key` is included.

Using your example, selecting a city seems to work just fine for me. Do you have more information on how to reproduce this?

Can you capture a sequence of events that would repro this too?

[2018-03-07 18:37] eliperkins commented on #185
@wKovacs64 Yup, we're using `FlatList` and it's working for our use-case.

This sounds similar to #363 that was just reported as well. Let's use that issue to track this, and see if it solves your problem, rather than overloading this issue.

[2018-03-07 19:06] wKovacs64 commented on #363
Same here, the city selection example works fine for me.

In my case, I tried [forking](https://snack.expo.io/rJrev3aOz) @donysukardi's [example](https://snack.expo.io/SJZm7qnOf) and replacing the `map` with a `FlatList`, which is what seemed to break things. `onChange` is no longer called, `selectedItem` is not updated, etc. and now this issue drew my attention to `itemToString`, which is indeed

[2018-03-07 19:34] shaksi commented on #363
i was able to replicate my issue -  it seems to stem from having component inside the scrollview.

https://snack.expo.io/SyNu02adz

[2018-03-07 19:56] wKovacs64 commented on #363
`FlatList` inherits `ScrollView` props (most of the time), so `ScrollView` may be the culprit, ultimately? Eli said they are using `FlatList` successfully, though. 😕

[2018-03-07 23:26] #357 closed

[2018-03-07 23:33] austintackaberry opened #364 "Space keyDown to toggle menu can't be used without resetting input"
* `downshift` version: v1.29.1

Relevant code or config

https://github.com/paypal/downshift/blob/68499b42eff38474947e55e9ea636a340984608e/src/downshift.js#L681-L685

**What you did and what happened:**

https://codesandbox.io/s/vv3km9z9m5

![undefined](https://user-images.githubusercontent.com/29493001/37124186-0ff2fd1e-221c-11e8-8b84-cf16aed6b5da.gif)

**Problem description:**

Using default beh

[2018-03-08 16:20] petetnt opened #366 "this._rootNode ends up being null, causing `cannot read property 'contains' of null` errors"
* `downshift` version: ^1.10.1
* `node` version: 8.9.*
* `npm` (or `yarn`) version: 5.7.1

What you did:

Not sure why this happens, but sometimes under heavy load (for example on page load on a rather data heavy application) `this._rootNode` ends up being null which fails on the `mouseUp` handler

What happened:

[code]

Suggested solution:

I guess adding a `null` check in the lines below would

[2018-03-08 16:29] kentcdodds commented on #366
Weird. So the real problem is that `this._rootNode` could ever be null. Could you figure out why it's ever null?

[2018-03-08 16:37] petetnt commented on #366
At least I figured out what causes the error now, its not heavy load, it happens to me when I switch a (sub) route so that a certain `DownshiftInput` unmounts and then switch back so the route the error starts occurring.

I guess the issue is that the cleanup is not being called when it should, but I guess it could be an application error on my side too (the logic is rather complex there).

[2018-03-08 21:35] kentcdodds commented on #366
Interesting. Well, I'm pretty sure that there's something else going on here. It would help if you could reproduce the issue here: http://kcd.im/ds-example then we can see whether a change within downshift is necessary.

[2018-03-08 22:31] petetnt commented on #366
For sure! I'll see if I get down to the issue tomorrow!

[2018-03-09 11:22] petetnt commented on #366
This is getting super weird: the issue only occurs if the route with Downshift is mounted on first render, but does not occur if its not.

Tried to replicate the issue in here https://codesandbox.io/s/q9ynk5rj89  (with something close to my setup, with `react router` and styled-components` to no avail.

[2018-03-09 16:14] wKovacs64 commented on #363
@eliperkins Do you know what you did differently that would enable `FlatList` to work for you vs. what @shaksi and I are doing? Our examples seem pretty vanilla. Thanks in advance.

[2018-03-09 22:47] eliperkins commented on #363
In both of these examples, neither `ScrollView` has [`keyboardShouldPersistTaps`](https://facebook.github.io/react-native/docs/scrollview.html#keyboardshouldpersisttaps) set. This means that the `TextInput` will have focus/first responder, and not allow for `Touchable`s to be interacted with.

This worked with the `map` examples because no `ScrollView` was involved.

By adding `keyboardShouldPersi

[2018-03-09 22:47] #363 closed

[2018-03-09 23:50] wKovacs64 commented on #363
Thanks!

[2018-03-10 17:57] shaksi commented on #363
@eliperkins tried that, still not working - am I missing something simple. here is the updated snack: https://snack.expo.io/B1hEnc-KM

[2018-03-10 18:07] wKovacs64 commented on #363
@shaksi Props are case-sensitive, it should be `keyboardShouldPersistTaps`

[2018-03-11 03:14] austintackaberry commented on #364
Thoughts anyone??

[2018-03-12 06:39] indiesquidge commented on #336
Hey, @kentcdodds. While working on getting Downshift's default event handlers documented, I noticed a strange behavior in the ESCAPE keydown event that I wanted to run by you to see if it is expected or a bug. (If it is the latter, I can open a new issue for it.)

![](http://g.recordit.co/Xu0HQIYHaP.gif)

[2018-03-12 11:51] austintackaberry commented on #336
I believe that this is intended. If you select an item, it becomes the new `selectedItem`. If you type some letters with the menu open, and then you hit escape, the current `selectedItem` should not change. It should only change if you actually select a different item.

[2018-03-12 15:56] kentcdodds commented on #336
@austintackaberry is correct. There are many different ways to build autocompletes and downshift's default is that a selected item must be selected. There's an example in the README for how to make the selected item be whatever the user typed. I think it's called Typeahead.

[2018-03-12 16:35] kentcdodds commented on #364
Thanks for bringing this up @austintackaberry. I like your suggested solution :+1:

Anyone can feel free to open a PR to fix this behavior. Please include tests! (Perhaps a Cypress test would be best for this one).

[2018-03-13 07:10] peterph-am opened #371 "Selecting an option after the items are filtered doesn't update selectedItem"
* `downshift` version: 1.3.0

When you click on an item after it has been filtered nothing happens, the `selectItem` callback isn't fired.

Shouldn't the selectedItem change to the item clicked even after filtering the items?

This happens in the type ahead example online also: https://codesandbox.io/s/82m2px40q9

[2018-03-13 08:52] austintackaberry commented on #371
I believe the `onSelect` prop gets called when you click an item if you update to the latest version of downshift, 1.30.0. Perhaps we should update the version on that codesandbox.

[2018-03-13 12:30] kentcdodds commented on #371
The reason `onChange` isn't being fired is because that example updates the selected item as you type. So if you've typed out the entire item string ("apple" for example), then the selected item will be "apple" and when you click on the item in the list "apple" then the selected item doesn't change. It stays the same. This is why `onChange` doesn't fire... Because the selection didn't change.

As

[2018-03-13 12:30] #371 closed

[2018-03-13 12:58] austintackaberry commented on #364
Thanks, I'll give it a try!

[2018-03-14 21:16] titanve opened #375 "Component not working and its name is Unknown"
* `downshift` version: 1.30.0
* `node` version: 8.9.1
* `npm` (or `yarn`) version: yarn v1.5.1

Relevant code or config

[code]

What you did: moving from local server to production server

What happened:

![image](https://user-images.githubusercontent.com/4803351/37431330-f31c9024-27a2-11e8-850b-3096eb90a60b.png)

Reproduction repository:

Problem description: I moved from dev server (local) to p

[2018-03-14 21:32] kentcdodds commented on #375
Hi @titanve,
I'm sorry this happened. I'm afraid there's not much we can do to help you unless you give use a reproduction. Please follow the issue template and create a reproduction or at least an example of your code in a codesandbox: http://kcd.im/ds-example

[2018-03-15 02:09] titanve commented on #375
Hey Kent,

I'm sorry, the problem was my `itemToString` function

it's now fixed! Thanks! 😄

[2018-03-15 02:09] #375 closed

[2018-03-15 11:44] MarkFalconbridge commented on #287
Any idea when this will be resolved?

[2018-03-15 12:12] kentcdodds commented on #287
I'm planning on spending time soon to finish #285 and resolve this among other updates.

If anyone wants that to happen sooner then please feel free to open a PR :)

[2018-03-18 07:24] Tori777 commented on #263
What balance

[2018-03-19 04:04] TommyQu opened #378 "How Downshift onSelect get MenuItem key or show specific fields as MenuItem label?"
I'm trying to use the example from material-ui
https://material-ui-next.com/demos/autocomplete/

In renderSuggestion function, I have menu item with key, how can I get the key with onSelect function?
[code]

[code]

If I change to below:
[code]
When I select the object, it will show as: [object Object].

[2018-03-19 04:12] kentcdodds commented on #378
I'm pretty sure I know how to help you but the easiest way for me to show you is if you make a simple version of your component using codesandbox: http://kcd.im/ds-example

[2018-03-19 05:23] TommyQu commented on #378
@kentcdodds https://codesandbox.io/s/x3y0lv2v1o
Please change it to "Current Module View"

[2018-03-19 07:11] donysukardi commented on #378
@TommyQu You need to pass itemToString prop to Downshift component to tell it how to render the selected item, e.g.

[code]

@kentcdodds we should think of a way to better highlight the importance of `itemToString`. Seems like a lot of people miss it from the current documentation.

[2018-03-19 20:24] kentcdodds commented on #378
Make sure you handle `null` in your `itemToString` handler as well:

[code]

[2018-03-19 20:25] kentcdodds commented on #378
@donysukardi, you're right. A lot of people do seem to miss it. We do log to the console when the default implementation is used with anything but a string, but maybe those logs are missed 🤔

[2018-03-19 23:35] TommyQu commented on #378
@kentcdodds @donysukardi Cool, thank you guys! I think from my part, I also need to read the document more carefully. Thanks again for helping me out!

[2018-03-20 09:15] madox2 commented on #349
@yuripramos did you manage to resolve this issue?

[2018-03-20 16:55] Andarist opened #380 "Remove .default & .resetIdCounter from index.js"
Problem description:
Such static property assignments prevent tree-shaking (which is still relevant in case of `downshift` in case it gets imported by some some unused part of the code, i.e. some ui-kit library which index.js reexports bunch of stuff):

https://github.com/paypal/downshift/blob/d2df6ec05198609ec5abbbad92bdc91dcac3b8c9/src/index.js#L9-L10

Not mentioning that adding `.default` is no

[2018-03-20 20:13] kentcdodds commented on #240
This was solved a while back. Forgot to close the issue.

[2018-03-20 20:13] #240 closed

[2018-03-20 20:21] kentcdodds commented on #303
Feel free to make a PR to add an example. I'm going to go ahead and close this for inactivity for now. Thanks!

[2018-03-20 20:21] #303 closed

[2018-03-20 20:24] kentcdodds commented on #336
Thanks @indiesquidge! This has been documented :+1:

[2018-03-20 20:24] #336 closed

[2018-03-20 20:28] kentcdodds commented on #360
Any thoughts here? I'm preparing downshift@2.0.0 and it'd be cool to be able to say we support content editable (even if it's just a simple example, or another lib built on top of downshift). What do you think?

[2018-03-20 20:28] kentcdodds commented on #364
This was resolved :+1: thanks @austintackaberry

[2018-03-20 20:28] #364 closed

[2018-03-20 20:29] kentcdodds commented on #366
I think we can go ahead and do a `null` check. I'm fine with that :+1:

[2018-03-20 20:30] kentcdodds commented on #378
I'm not sure what to do about this one so I'm going to go ahead and close it. Someone can open a PR to improve the docs if they like.

[2018-03-20 20:30] #378 closed

[2018-03-20 21:21] #366 closed

[2018-03-20 21:23] petetnt commented on #366
FWIW I just started to dig around the issue again to check if the null-check fixes the issue properly and while it fixes the issue (as in Downshift works after the error), the `onMouseUp` handler still stays alive and gets called with the null rootNode.

I wish I could replicate this on some easier setup to get to the root cause.

[2018-03-20 21:27] kentcdodds commented on #366
If you find anything concrete we can do please let me know. Thanks!

[2018-03-20 21:37] kentcdodds opened #384 "Expose more methods"
Just so I don't forget. I want to expose a few more internal methods.

[2018-03-20 21:38] #356 closed

[2018-03-20 22:06] kentcdodds opened #386 "Rename `getButtonProps` to `getToggleButtonProps`"
Because `getButtonProps` is ambiguous.

I think I'll release this in 1.0.0 and just support both. Then I'll remove it in 2.0.0

[2018-03-20 22:07] #384 closed

[2018-03-20 22:15] #386 closed

[2018-03-20 22:17] maikelrobier commented on #360
Hi. I'm glad to hear there is a new release of downshift coming soon. About my original issue, I had to take a different path (using Draft.js) because for my specific purpose using `contentEditable` directly was too painful. Then I found a small package on top of Draft.js that helped me with the autocomplete feature, so, because of my timing restrictions I didn't get too far on this, but [your exa

[2018-03-21 00:28] kentcdodds commented on #360
Technically we already support contentEditable, the user just has to do all the work. An example integration with Draft.js would be very cool, but I don't think we'll build in first class support.

I'm glad you got your stuff working. Best of luck to you!

[2018-03-21 00:28] #360 closed

[2018-03-21 00:29] kentcdodds commented on #185
Hey folks! I'm getting things ready for a v2 release this week and would love react-native support to be official for it. Hope are we doing on that?

[2018-03-21 08:52] 50bbx commented on #386
I think that the alias is not working as expected. I'm using 1.31.1. When using this component

[code]

gives `getButtonProps is not a function` error. Changing the function name to `getToggleButtonProps` resolve the issue. Is the breaking change happening in a minor? Or is the alias not working properly?

[2018-03-21 09:04] gsimone opened #387 "getButtonProps is not a function"
As of version v1.31.1 we get `getButtonProps is not a function`.
There supposedly is an alias since the change tonight to `getToggleButtonProps`, but something is not working as expected, looking through the code right now, will update if I find the problem.

[2018-03-21 09:17] donysukardi commented on #387
The aliasing wasn’t not done properly (ref to Line 552) as the getButtonProps don’t get passed down along with getToggleButtonProps to the render function.

This change was introduced as minor patch and need to be rectified as soon as possible.

Would you like to makeapullrequest.com @gsimone?

[2018-03-21 09:24] gsimone commented on #387
Working on the PR @donysukardi

[2018-03-21 09:35] Andarist commented on #380
@kentcdodds if you specify which one of those:
- remove .default and use exports: 'named' in rollup.config.js
- create a separate file for cjs that could wrap the original entry to provide .default
would u like to have done, then I can work on this one - although not sure if I manage to do that before the weekend and I'm not sure how fast you'd like to release the new version

[2018-03-21 09:39] donysukardi commented on #386
@50bbx You're right. The alias is not working properly. It was supposed to be a non breaking change (since there's aliasing). The issue is being tracked here - https://github.com/paypal/downshift/issues/387

[2018-03-21 11:47] #387 closed

[2018-03-21 11:47] kentcdodds commented on #387
I'm terribly sorry about that. Thank you for the quick PR!

[2018-03-21 11:48] kentcdodds commented on #386
PR has been merged. I'm terribly sorry about my silly miss there. Normally I would have asked for a review, but I was working quickly and didn't want to wait. My bad :-/

[2018-03-21 11:50] kentcdodds commented on #380
No worries. This change is pretty easy to make so I'll go ahead and do it myself.

I'm going to do:

Considering the `rollup.config.js` is already using `exports: 'named'` :+1:

[2018-03-21 13:33] ghost opened #389 "[Typescript] Missing setItemCount & unsetItemCount action typings"
* `downshift` version:   All since v1.22.0
* `node` version:   v8.9.4
* `npm` (or `yarn`) version:   npm v5.6.0 / yarn v1.5.1

**What you did:**
Tried using the `setItemCount` and/or `unsetItemCount` actions within a Typescript project.

**What happened:**
"Type 'ControllerStateAndHelpers' has no property 'setItemCount' and no string index signature".

**Problem description / Suggested solution:**

[2018-03-21 13:38] stereobooster commented on #389
Hi @Sharakai. Do you want to do PR for this?

[2018-03-21 13:49] Sharakai commented on #389
@stereobooster Happy to when I get home from work, but won't be until late night (~9pm UTC).

[2018-03-21 13:51] stereobooster commented on #389
No need to rush. Team is across the globe. Somebody will handle it as soon as you do your PR.

[2018-03-21 14:08] eliperkins commented on #185
@kentcdodds it looks like the last thing in that checklist of yours that we need is documentation and an example!

Based on the discussion in #363, it might be helpful to note the fix to that problem (including the `keyboardShouldPersistTaps="handled"` prop on `ScrollView`s used within Downshift) within the documentation for it as well.

Beyond that, I would say this is good to go in v2!

[2018-03-21 15:34] kentcdodds commented on #185
Awesome. I think it'd also be great to close existing react-native issues :+1: Can we get any of those resolved?

[2018-03-21 18:10] kentcdodds commented on #380
Fixed!

[2018-03-21 18:10] #380 closed

[2018-03-21 22:11] kentcdodds commented on #283
This has been fixed and merged in the `next` branch. Should be part of v2.0.0 which should hopefully be released in the next week or so.

[2018-03-21 22:11] #283 closed

[2018-03-21 22:12] kentcdodds commented on #287
Hey folks! #285 was merged (into the `next` branch). Anyone want to work on adding a `refKey` prop to the new `getMenuProps` method? Make sure you make your branch off the `next` branch!

[2018-03-23 17:03] jamesplease opened #395 "`itemToString` - strange arguments with multiselect"
* `downshift` version: 1.30.1
* `node` version: 9.x
* `npm` (or `yarn`) version: 5.x

Relevant code or config

See the multiselect example [from the README](https://codesandbox.io/s/W6gyJ30kn).

What you did:

I updated `itemToString` to be:

[code]

What happened:

Sometimes, `itemToString` is called with an object, and other times, an Array.

![image](https://user-images.githubusercontent.com/23

[2018-03-23 17:18] kentcdodds commented on #395
Hi @jamesplease! Thanks for bringing this up!

Yeah, this is tricky. First of all we're calling it ourselves with a single item in a few places in that example. I've updated it to not do that anymore. Secondly, [in some places](https://github.com/paypal/downshift/blob/ee64fd8a58d5e9e3b80a55a172a88072e9f72a2a/src/downshift.js#L819) `itemToString` will be called on an `item` and in [other places](ht

[2018-03-23 17:18] #395 closed

[2018-03-23 20:15] jamesplease commented on #395
Thanks @kentcdodds ! The updated example is 👌. I think that is a good solution.

---

As an aside, I wonder if a Downshift that was built to support multi-select by default would have a slightly cleaner API. The current multi select works, but it feels like it is tacked onto the primary use case of a single selected item. I haven't put too much thought into the idea – it may not be possible, or th

[2018-03-23 21:48] jamesplease commented on #395
I have been playing with the code in the updated [multi-select example](https://codesandbox.io/s/W6gyJ30kn), which is:

[code]

This solves some problem with `itemToString`, but the API will return inconsistent results in other areas with this code. For instance, `onInputValueChange` will pass you strings sometimes, and arrays other times.

For instance, you may get these values passed:

[code]

I

[2018-03-23 22:34] kentcdodds commented on #395
Alrighty, you twisted my arm. Give the example a look now: https://codesandbox.io/s/W6gyJ30kn

You'll see I re-implemented this to create a `MultiDownshift` component in a `./multi-downshift.js` file that is 90 lines long (a couple dozen lines :wink:). It could use some work on supporting control props and composing some things together (like the `stateReducer`), but for the most part this is what

[2018-03-23 22:39] kentcdodds commented on #361
What's the status here? I feel like this is probably needed before we say react native is official (which will happen with downshift 2.0.0

[2018-03-24 00:29] jamesplease commented on #395
Thank you for taking the time to put together some code as a reply @kentcdodds ! I don't have time to look at it _right this second_, but I plan to in the next few days or weeks. I will write back here once I do get around to it!

:v: Agreed!

[2018-03-24 18:24] stereobooster commented on #23
Hi. Everybody who want to participate are welcome to comment on this PR https://github.com/paypal/downshift/pull/399. Thank you

[2018-03-25 14:59] stereobooster opened #400 "[discussion] Issue with types"
As of now supporting type signatures is manual and error prone process. Possible solutions:

1. Rewrite downshift in TypeScript or Flow. At build time compile source down to JS and type signatures.

- [TypeScript to Flow](https://github.com/stereobooster/type-o-rama#typescript-to-flow)
- [Flow to TypeScript](https://github.com/stereobooster/type-o-rama#flow-to-typescript)
- [JavaScript to TypeScri

[2018-03-25 17:05] Antontelesh commented on #400
I support the intention, although it would be harder for people that are unfamiliar with TS/Flow to contribute to the project.

[2018-03-27 04:33] kentcdodds commented on #400
Thanks for the issue @stereobooster.

At work I use flow for pretty much everything. But I've abstained from doing this in my OSS work because I'm worried about the barrier to contributors this would cause. I can understand the burden this puts on those (like yourself) maintaining the typings, but I think it's worth it.

[2018-03-27 10:24] stereobooster commented on #400
There is also approach which puppeteer picked up - they use JS + TypeScript flavored JSDoc. It is possible to use TypeScript to verify those signatures, but [not possible to generate signature files based on it yet](https://github.com/Microsoft/TypeScript/issues/7546). Also [there are bunch of bugs in JSDoc implementation](https://github.com/Microsoft/TypeScript/issues?q=is%3Aissue+is%3Aopen+label

[2018-03-27 13:51] damild15 commented on #263
Hi, is it possible to add optionvalue and optionlabel for the result data ? Just like we do for select ? Because for this input we only have the front value

[2018-03-28 15:53] kentcdodds commented on #400
If we do add types it'll be Flow, not TypeScript. There's also some comment support from flow.

Regardless, it _is_ a barrier for the uninitiated and I don't find it worth the barrier I'm afraid. So I don't think we'll do this.

[2018-03-28 15:53] #400 closed

[2018-03-28 15:54] kentcdodds commented on #263
Hi @damild15, I think you should look at the `itemToString` prop.

[2018-03-29 03:17] damild15 commented on #263
OK thanks i’ll look into it

[2018-03-29 16:01] damild15 commented on #263
hi @kentcdodds here is my exemple:

it's about the itemtostring again
in this exemple,
seee how my suggestion have  value and label , how would i use itemTostring to show the label in front of the textbox when the user choose one from the autocomplete  and use value for exemple 'afa' in the background, because i's the value that am going to grab so i can save it to the database.
who would i use it

[2018-03-29 16:38] kentcdodds commented on #263
Could you put this example in a codesandbox that we can run? It'll be much easier that way. You can start here: http://kcd.im/ds-example

[2018-03-29 19:09] damild15 commented on #263
hi @kentcdodds  I finally figure it out  :)  i was passing  in rendresuggestion(
 itemProps: getItemProps({ item: **suggestion.label** }),  instead of suggestion.label now i am passing  the  whole object of what was selected ," itemProps: getItemProps({ item: **suggestion** }), " .

2)Then i am passing to my Downshift  itemToString={this.itemToString} onChange={this.handleChange}  the itemstring

[2018-03-30 09:54] trevorwhealy commented on #334
Copied the `axios` example (http://downshift.netlify.com/?selectedKind=Examples&selectedStory=axios&full=0&addons=1&stories=1&panelRight=0), and found the port over to React Native to be pretty easy, but was surprised that anywhere I click post-typing gets this ActiveElement error.

Not sure what I'm doing wrong, but happy to add it to the docs, because I don't see any starter example for a basic

[2018-03-30 13:25] kentcdodds commented on #334
TREVOR!!!! I miss you already buddy!

This is great. I don't think you're doing anything wrong. If you could dig a little further to see what's going on then we can get that error fixed.

As for an example, I'm not very into the react native world, but I think that a [snack.expo.io](https://snack.expo.io/) link would be sweet :)

[2018-04-01 11:36] oliviertassinari opened #403 "React.StrictMode issue"
* `downshift` version: 1.31.2

Relevant code or config: https://codesandbox.io/s/9lrw4n774w

What you did: I have added `React.StrictMode`.

What happened: a `TypeError stateToSet is not a function` error is thrown.

Notice that it works fine without `React.StrictMode`. It's potentially a React bug.

[2018-04-01 11:43] stereobooster commented on #403
[code]

[2018-04-01 11:52] oliviertassinari commented on #403
@stereobooster I can't reproduce on a simple Downshift example: https://codesandbox.io/s/24r1j952op. I keep digging;

[2018-04-01 13:01] oliviertassinari commented on #403
Ok, I have a new reproduction example without Material-UI as a dependency: https://codesandbox.io/s/9lrw4n774w.
- focus the input
- type `a`
- blur the input

[2018-04-01 13:27] kentcdodds commented on #403
Thanks! If someone would like to use the polyfill provided by the React team and update this component to not have this error in strict mode that would be wonderful!

[2018-04-02 19:41] jonavila opened #404 "Using event.preventDownshiftDefault = true triggers React warning"
* `downshift` version: 1.31.2
* `node` version: 8.9.4
* `npm` (or `yarn`) version: npm 5.8.0

Relevant code or config

[code]

What you did:
I was preventing the default downshift handler from executing.

What happened:
React triggered a warning

index.js:2178 Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're adding a new property in the synthetic event

[2018-04-02 22:45] kentcdodds commented on #404
Dang. I hadn't considered this and I'm surprised I didn't notice this. We'll have to think about another way to implement this feature without having the warning. Perhaps check `event.nativeEvent.preventDownshiftDefault` 🤔

[2018-04-02 23:11] jonavila commented on #404
@kentcdodds  I thought to myself: "The feature has been out for almost a month. I'm must doing something wrong, hahaha". BTW, Downshift is awesome. I've just been getting familiar with it in the past day or so. I'll dig up ticket on why event.preventDefault is not a good option.

[2018-04-03 08:29] franklixuefei opened #406 "[Typescript] Fixes to the type definitions in index.d.ts"
* `downshift` version: latest
* `node` version: 8
* `npm` (or `yarn`) version: npm

Relevant code or config
#407

What you did:
Fixed existing types and added missing types in `index.d.ts`
What happened:
Some type definitions in `index.d.ts` were either not accurate or missing.

Reproduction repository:

Problem description:

Suggested solution:

[2018-04-03 20:31] #406 closed

[2018-04-04 13:32] janhoogeveen commented on #403
@kentcdodds I'll take a stab at it!

[2018-04-04 15:10] psachs21 commented on #334
I've ran into a similar issue, but on IE11. If the activeElement is an SVG after in the input_handleBlur function, IE will blow up when here:
https://github.com/paypal/downshift/blob/master/src/downshift.js#L690

Because dataset is undefined on SVG elements in IE11. Not sure I should log a different issue or piggy back here.

[2018-04-04 15:51] psachs21 opened #409 "IE11: Exception onBlur when next focused element is SVG"
* `downshift` version: 1.31.2
* `node` version: 8.9.1
* `npm` (or `yarn`) version: yarn 1.5.1

Relevant code or config

[code]

What you did:

Click the clear button (in IE11)

What happened:

```Unable to get property 'toggle' of undefined or null reference```

Reproduction repository:

[code]

Problem description:
dataset doesn't exist on svg elements in IE11.

Suggested solution:
Add additional

[2018-04-04 16:13] kentcdodds commented on #409
Hmmm... Why is the `activeElement` the `svg` when you click the button though?

[2018-04-04 16:15] psachs21 commented on #409
Not 100% sure. It seems that IE11 considers SVG elements focusable by default. One fix I came up with was adding `focusable="false"` to the svg. That gets around the issue. If we're good with that, we can close this.

[2018-04-04 16:17] kentcdodds commented on #409
I think I'm good with that as a workaround. If you could figure out why that ever gets set to the activeElement after you click the button though that's probably where the real problem lies. I'm fairly confident that it doesn't have anything do do with downshift though.

[2018-04-04 16:18] psachs21 commented on #409
Alright, thanks @kentcdodds

[2018-04-04 16:18] #409 closed

[2018-04-04 16:20] kentcdodds commented on #409
Thanks @psachs21. If you come up with something else or discover there's a problem in downshift, please let us know and we can dig further!

[2018-04-05 15:46] SteveALee opened #411 "items not listed under props in readme"
Looking at latest README I don't see 'items' listed and documented though it is used in the example

[2018-04-05 16:17] kentcdodds commented on #411
Hmm... Are you talking about the example in the usage section? The `items` are passed to the `BasicAutocomplete` component via the `App` component.

[2018-04-05 16:25] SteveALee commented on #411
That's annoying - I can;t select lines when viewing a markdown file as I can for otehr files types :(

I mean 'items' is not listed in this section https://github.com/paypal/downshift/blob/master/README.md#props

surely it should be, even though is fairly obvious

[2018-04-05 16:51] Antontelesh commented on #411
As far as I know, Downshift does not accept any `items`. It’s your custom component is up to use this prop. Or it can be named differently. It's up to you.

[2018-04-05 16:54] SteveALee commented on #411
@Antontelesh oh, yes you are probably correct. I confused myself :) thanks

[2018-04-05 16:54] #411 closed

[2018-04-05 16:59] Antontelesh commented on #411
You are welcome. This issue might be a sign that the example could be improved somehow

[2018-04-05 17:02] SteveALee commented on #411
That's very good thinking in general :)
Alternatively just me being perverse as usual :-P

[2018-04-06 13:30] KamWis commented on #349
The reason for that behaviour is `spread operator`. For some reason, if it's present in markup, it will crash with above error. Like in mine case:

If I do:
[code]
It will crash.

If I extract it like that:

[code]

and use it in the markup there the styles are:
[code]

It will be just fine

[2018-04-09 13:18] ArthurAttout opened #413 "Get the item's index in onChange"
I have this DownShift that triggers actions when the suggestions are clicked

[code]

The suggestions are rendered with the following function
[code]

The menuItem only prints the property `label` of the object. However, I need the full object in my handler.
Is there any way I could retrieve the full object in the `onChange` method ?

Thanks !

[2018-04-12 22:41] dovidweisz opened #417 "Most properties in the StateChangeOptions ts interface should be optional"
* `downshift` version: 1.30.1
* `node` version: 8.5.0
* `npm` (or `yarn`) version:  Yarn 1.1.0

## Problem description:

The only required property on the [StateChangeOptions](https://github.com/paypal/downshift/blob/18b91795101930747819fa7274f0855183671bf9/typings/index.d.ts#L94) interface that should be required is `type`. All other properties should be optional.

This is a problem when using [`

[2018-04-13 03:33] dovidweisz commented on #417
I have my changes ready [here](https://github.com/dovidweisz/downshift) and [here](https://github.com/dovidweisz/downshift/tree/temp-avoid-breaking-change).

Now I need to test it 😲

[2018-04-13 10:27] blobor opened #418 "IE11: exeception when document.activeElement is not an HTML"
* `downshift` version: 1.31.2
* browser:  IE11
* `yarn` version: 1.5.1

Problem description:
Sometimes getting an error (`TypeError · Unable to get property 'id' of undefined or null reference`) from this line https://github.com/paypal/downshift/blob/master/src/downshift.js#L583. Apparently in IE 11 `activeElement `can be null, so this line throws an error 😅.

Simplest solution whould be to check

[2018-04-13 13:34] kentcdodds commented on #418
Ok, I think I'd be fine to do a null check in that if statement. Would you like to make a pull request for that?

[code]

[2018-04-13 13:55] blobor commented on #418
Sure, will throw a PR!

[2018-04-14 20:25] pcattori commented on #353
@kimgronqvist any change you can provide a link to a more complete example?

I'm also trying to integrate draftjs with downshift, but it seems that draftjs is eating the up/down/escape events and not letting downshift see them.

[2018-04-14 20:41] #418 closed

[2018-04-14 21:56] kimgronqvist commented on #353
Sure! This example conveys the general idea: https://codesandbox.io/s/zx9z9275xm

[2018-04-14 22:09] pcattori commented on #353
@kimgronqvist you missed a pair of `{}` to destructure `onKeyDown` from `getInputProps` :

[code]

[link with the fix](https://codesandbox.io/s/4z00n89xj9)

thanks!

[2018-04-14 22:25] stereobooster commented on #417
Hi @dovidweisz checkout https://github.com/paypal/downshift/blob/next/typings/index.d.ts

[2018-04-16 01:20] dalehurwitz opened #421 "Dropdown in iOS Safari cannot be re-opened while focused"
* `downshift` version: 1.31.6

**Relevant code or config**

[code]

**What you did:**

In iOS Safari (iPhone 7, iPhone X) the dropdown button was clicked multiple times in succession in order to toggle the menu

**What happened:**

The menu opened once then closed, then could not be re-opened while the button remained in focus.

**Reproduction repository:**

This can be reproduced in the official

[2018-04-16 12:58] dovidweisz commented on #417
@stereobooster Thank you for pointing that out to me.

What is the reasoning for using `|null`? It wouldn't solve _my_ issue, because i would still need to reconstructure the entire object; just with `null`s.

Also, generic for item bothered me at first. (What if i have more than one item type) But it's growing on me.

[2018-04-16 18:38] damild15 opened #422 "when selecting a item , it pushes they other grids column in my page ."
Hi  if anybod can help me with this ,

Problem description:
when selecting a item on the menu , it pushes they other grids column in my page .
if i select another item it pushes gaing the they other grids column more further like giving them more width automatically, how to prevent that ? thanks for the help

Suggested solution:

[2018-04-17 03:11] kentcdodds commented on #421
Hi @dalehurwitz! Thanks for the issue!

Hmmm... I don't have an iOS device, so I wont be able to work on this myself. Would you be willing to debug this, suggest a solution and potentially open up a PR for a fix?

[2018-04-17 03:50] dalehurwitz commented on #421
This is a tough one to dev for me as I'm running windows so the kcd-scripts don't work :| Having to debug from compiled code

[2018-04-17 03:58] drobannx commented on #403
I noticed a similar issue with Downshift when using React.StrictMode. I debugged some and found what I think is going on.

When turning on strict mode, react says the following:

Strict mode can’t automatically detect side effects for you, but it can help you spot them
by making them a little more deterministic. This is done by intentionally double-invoking
the following methods:

- Class componen

[2018-04-17 04:17] kentcdodds commented on #421
Sorry about that! kcd-scripts actually runs on Windows (as evidenced by [the windows CI with appveyor](https://ci.appveyor.com/project/kentcdodds/kcd-scripts/build/1.0.210)). If it's not working on your machine then there's probably something else wrong (make sure you're on the latest version of node and npm).

[2018-04-17 04:24] drobannx commented on #403
@kentcdodds - We could do that but I think that only resolves one of the issues that StrictMode tries to alert about. In the React docs they have this about the first argument to the setState updater function:
[code]

I created a quick PR #423  with some changes that I tested locally and seems to resolve the issue.

[2018-04-17 04:40] kentcdodds commented on #403
I think you're mistaken. The code currently does not mutate the `state` (or `prevState` as it's referred to in the docs) object at all. It simply reassigns the variable binding which is different.

[2018-04-17 04:53] drobannx commented on #403
Wouldn't creating a new object in `getState` and assigning that back to state change its reference? Maybe I am using the wrong terms here and confusing things. I guess `prevState` isn't being directly mutated but rather its reference changed which I was trying to prevent, maybe thats not a big deal.

[2018-04-17 05:02] kentcdodds commented on #403
Changing a reference is not the same as mutating the value :+1: So no, it's not a big deal. One could argue it makes the code harder to follow, but as far as mutation is concerned, your code doesn't do anything to change that. The `getState` function actually creates a new object entirely so we're safe from mutation :)

[2018-04-17 05:04] drobannx commented on #403
Sorry for the confusion with the terms I was using and thanks for the explanation. I can remove that change from the PR as that change did not impact the cause of the error in StrictMode.

[2018-04-17 07:33] stereobooster commented on #417
This does make sense

[code]

but this is not precise equivalent on JS code, which is ok from my POV

[code]

You can open PR (against `next`) and we can start discuss changes.

Did I miss any of your questions? It seems you found all answers on your own.

[2018-04-17 13:15] dovidweisz commented on #417
@stereobooster Are there tests for Typescript?

[2018-04-17 16:01] dovidweisz commented on #417
@stereobooster You're right. `stateToSet.type` Should also be optional.

[2018-04-18 09:27] andrroy commented on #334
@kentcdodds I am getting the same error as @trevorwhealy. In `input_handleBlur` ([see here](https://github.com/paypal/downshift/blob/master/src/downshift.js#L690)), setting `downshiftButtonIsActive` crashes the app because `this.props.environment.document` is undefined. I'm not familiar with the code in this library, do you have any suggestions on why this is?

[2018-04-18 10:52] aMollusk commented on #421
I've had a bit of a mess around with this in browserstack, and I think @dalehurwitz is correct. It's also due to the `setTimeout` inside the `button_handleBlur`.

I've had success by wrapping the `toggleMenu` call inside a `setTimeout`, but it feels like a band-aid for a band-aid. This does however preserve the existing behaviour focus behaviour for safari/firefox/chrome, while resolving the bug i

[2018-04-19 01:57] #421 closed

[2018-04-19 09:02] adrienharnay opened #426 "Menu doesn't close onTapOutside on mobile"
* `downshift` version: 1.31.2
* `node` version: 8.11.1
* `npm` (or `yarn`) version: yarn 1.5.0

Relevant code or config

https://codesandbox.io/s/9rWEmzEv8 (downshift demo by @kentcdodds)

What you did/What happened:

On desktop:
- click on the button
- the menu opens
- click outside the select
- the menu closes

On mobile:
- tap on the button
- the menu opens
- tap outside the select
- the menu s

[2018-04-19 16:54] nicoxxie opened #428 "Not able to simulate click for v1.31.9"
* `downshift` version: v1.31.9
* `node` version: 6.10.2
* `npm` (or `yarn`) version: 3.10.10

Relevant code or config

[code]

What you did:
In v1.31.7, I am able to simulate a click for testing, and the downshift status will change to open.  But in v1.31.9, the status does now change after the simulated click.  I roll back to v1.31.7 again, it would immediately work again.

What happened:

Reprod

[2018-04-19 16:57] #428 closed

[2018-04-19 18:31] stereobooster commented on #417
Current tests are primitive. I'm not sure how to improve this at the moment. One of the ideas was to rewrite library in TypeScript or Flow. See this discussion: https://github.com/paypal/downshift/issues/400

[2018-04-20 01:30] kentcdodds commented on #426
This was actually resolved and released: https://github.com/paypal/downshift/pull/425

I forgot to close it.

[2018-04-20 01:41] aMollusk commented on #426
Hey @kentcdodds. I think this is a separate issue to the one I resolved in that PR.

[2018-04-20 01:43] kentcdodds commented on #426
Oh, you're right. Sorry about that 😅

[2018-04-20 01:43] kentcdodds commented on #426
I'd be happy to look at a PR for this. Thanks!

[2018-04-20 05:46] austintackaberry commented on #422
Are you able to reproduce the issue in a [codesandbox](codesandbox.io)? I don't fully understand what you mean

[2018-04-20 05:51] austintackaberry commented on #413
Hey! Do you think you could reproduce the issue in a [codesandbox](codesandbox.io)?

[2018-04-20 05:59] austintackaberry commented on #404
Has this issue been resolved?

[2018-04-20 17:36] ssilve1989 commented on #297
@donysukardi In your example when the field loses focus, a change event with an `undefined` payload gets triggered. This doesn't overwrite the value in the form state, but doesn't look like it should be happening?

I modified the sandbox to use `redux-logger` so you can see. Put some text in, click outside the field, observe undefined payload.

https://codesandbox.io/s/6zxk83jwn3

[2018-04-21 15:58] adrienharnay commented on #426
Alrght I will take a look when I have some time!

[2018-04-22 02:41] Brushedoctopus opened #430 "inputValue incorrectly initialized when selectedItem is 0"
* `downshift` version:1.31.7
* `node` version: 9.11.1
* `yarn` version: 1.3.2

Code example:
https://codesandbox.io/s/o4m0znror9
itemToString isn't called when selectedValue is 0. Setting selectedValue to 1 will call it.

Problem description:
When mounting a component with selectedValue as a falsy value (e.g. 0), inputValue is an empty string.

Suggested solution:
Change `if (state.selectedItem)`

[2018-04-22 02:52] kentcdodds commented on #430
Hi @Brushedoctopus,

Thanks for this issue. Classic rookie mistake :sweat_smile: My bad. If you (or anyone else) could please [make that change](http://makeapullrequest.com/) I would be very grateful. I think it'd be great to include a simple test as well.

[2018-04-23 06:41] aMollusk commented on #426
@kentcdodds This can be closed now 😁. Resolved in #429

[2018-04-23 07:51] tvthatsme commented on #430
@Brushedoctopus and @kentcdodds, I'd like to pick this up!

[2018-04-23 07:56] austintackaberry commented on #430
Looks like @Brushedoctopus already submitted a PR. If you're looking for ways to contribute, I recommend "watch"ing the repository if you're not already!

[2018-04-23 09:25] pdrummond opened #432 "Improving docs/examples for simple "dropdown select" component"
I'm new to Downshift and really impressed with what I've seen so far!  I just want to provide some feedback regarding one aspect I'm struggling with - implementing a simple "dropdown select" component (similar to HTML "select" element) where the items are not just strings, but instead "key/value" pairs.

I'm finding that most examples use a string array for their items and also they usually start

[2018-04-23 09:45] adrienharnay commented on #426
Just upgraded and tested, works like a charm :+1: Thanks a lot!

[2018-04-23 09:45] #426 closed

[2018-04-23 13:13] kentcdodds commented on #430
This was resolved and released. Thanks @Brushedoctopus!

[2018-04-23 13:13] #430 closed

[2018-04-24 15:05] kentcdodds opened #433 "Remove support for "render" prop and only support "children""
Right now we support both `<Downshift render={() => <div />} />` and `<Downshift>{() => <div />}</Downshift>`. It's kinda nice, but now that React has adopted the children version with the new context API it'd be good to just go with `children` for cohesion. In v2.0.0 we'll drop support for the prop called render.

[2018-04-25 11:15] aknaus opened #434 "Disabled items can be selected by pressing enter"
* `downshift` version: 1.7.2
* `node` version: 8.8.1
* `npm` (or `yarn`) version: 1.2.1

### Problem description:
At the moment it is possible to select a disabled item by pressing enter although selection by click is disabled. Personally, I think it should not be possible to select a disabled item (at least not for the user).

### Suggested solution:
Since the event handler is not registered on t

[2018-04-25 15:33] kentcdodds commented on #434
Thanks for the report @aknaus!

So your suggested solution wont work I'm afraid because we have no control over the `item`'s properties. It could be a string, object, function, anything. So we can't check the `disabled` prop. But we _do_ have a mechanism for finding the DOM node by it's index and the DOM node will have a `disabled` prop.

So we could change this:

https://github.com/paypal/downshi

[2018-04-25 15:35] kentcdodds commented on #434
Actually, this could preclude someone who wanted to force selection of a disabled item programatically... Perhaps we should put that logic right in the event handler here:

https://github.com/paypal/downshift/blob/703fd05819957914d1fb5d9cff65d278d664088c/src/downshift.js#L514-L521

---

Another thought... How is the highlighted item getting set to a disabled item? That shouldn't be possible. If it

[2018-04-26 16:08] damild15 commented on #422
yeah it was a problem with my form width , once i give it a fixed width , the chips stop over-floating , it fixed..

[2018-04-26 16:09] #422 closed

[2018-04-26 17:00] malcolm-kee commented on #313
Hmm... I'm interested to make a pull request on this, but IMO when user has custom props that is not part of standard HTML input props, they should pass it separately, as it wouldn't ever crash with downshift props.
If we're making the props to flexible, I'm afraid that the props typo would not be caught.

[2018-04-30 08:15] aknaus commented on #434
You are right @kentcdodds it should be handled in the event handler. However, I think it should be possible to focus disabled elements in order to aid people who are using screen readers. If I may, I would create a PR to resolve it?

[2018-04-30 13:42] kentcdodds commented on #434
That sounds fine. Thanks!

[2018-04-30 18:37] nicoxxie opened #437 "button_handleClick setTimeout not triggered for Enzyme test"
* `downshift` version: 1.31.12
* `node` version: 8.x
* `npm` (or `yarn`) version: 6.x

Relevant code or config

What you did:

We have unit test that simulates a click and test the dropdown populates the right options.
[code]

What happened:

Our getToggleButtonProps passed in `onClick` function is working as designed but the button_handleClick fuction is not working right and isOpen state is neve

[2018-04-30 19:41] kentcdodds commented on #437
Yeah, it's unfortunate that this was necessary and I'd love to come up with a different solution if possible. Do you know if `requestAnimationFrame` will really solve your problem?

If not, perhaps we could add an `if` check to not use the timeout if `process.env.NODE_ENV === 'test'` or something 🤔

[2018-04-30 19:53] nicoxxie commented on #437
@kentcdodds Thank you for your reply.  I have not personally tried `requestAnimationFrame` as I'm not doing any ios development, wonder if someone here more knowledgable would know.

The if check might be a good idea.  Or if we can have a check to call only for ios/mobile? does `process.env.BUILD_REACT_NATIVE` do that job?

[2018-04-30 20:06] kentcdodds commented on #437
I'm pretty certain that the original bug was ios mobile web, so `BUILD_REACT_NATIVE` wont work for that case. But I do feel like the `NODE_ENV` check would be acceptable. I'm 99% certain that I'd accept a PR for that :)

[2018-04-30 20:15] nicoxxie commented on #437
Ok I will draft up a PR tomorrow, unless someone figure out an alternative in the next couple hours :)

[2018-05-01 00:50] aMollusk commented on #437
I'll have a look around today and see if I can come up with a better solution.

If we can avoid this focus (in the click handler) triggering the blur event in mobile, then we can avoid the `setTimeout`. Just will require a bit of testing on different devices. Will let you know.

[code]

[2018-05-01 06:47] joshpitzalis opened #438 "double space after text results in a period"
In the sandbox demo https://codesandbox.io/s/6z67jvklw3?from-embed if you start typing out a fruit and then enter two spaces it gives you a period.

Is there a way to stop this. Or a way around this so that I can enter double spaces in my string?

[2018-05-01 13:32] kentcdodds commented on #438
Hi @joshpitzalis, I'm pretty sure that must be a setting on your computer. Downshift doesn't do that. Look at your computer settings. Good luck!

[2018-05-01 13:32] #438 closed

[2018-05-01 19:48] kentcdodds commented on #437
@aMollusk, if you can get that to work that'd be swell. @nicoxxie made a PR which I just merged to resolve this using the `NODE_ENV` check. We can move to something better if that comes along :) Thanks!

[2018-05-01 19:48] #437 closed

[2018-05-03 07:05] klapouchy opened #440 "Array of objects"
I would like to know how Downshift can work with array of objects.

Instead

[code]

[code]

https://codesandbox.io/s/ryw2yzmyzp

[code]

[2018-05-03 11:33] #434 closed

[2018-05-03 13:10] kentcdodds commented on #440
This is a surprisingly common question. We should update the simple example in the README to be an object instead. Would you like to do that @klapouchy?

[2018-05-03 16:31] binarybaba opened #441 "onChange doesn't reflect changes when using with React Router 4's component prop"
* `downshift` version: 1.31.10
* `node` version: 9.6.1
* `yarn` version: 1.5.1
* `react router` version: 4.2.2

Relevant code or config

[code]

What happened:
onChange doesn't reflect the selectedItem inside the input box when using with React router 4's component property on `<Route/>`.

Reproduction repository: https://codesandbox.io/s/xojn9mkz54

Problem description:
When using React router 4

[2018-05-03 19:49] klapouchy opened #442 "Toggle Menu on Focus"
Is there a generic way to toggle menu when input field is on focus?

[code]

[2018-05-03 20:40] kentcdodds commented on #442
As noted [in the docs](https://github.com/paypal/downshift#actions), there's a `toggleMenu` function you can call :)

[2018-05-03 20:40] #442 closed

[2018-05-03 23:02] vonwao opened #443 "Dropdown select does not work on iOS (safari)"
* `downshift` version: http://downshift.netlify.com/
* `node` version:
* `npm` (or `yarn`) version:

What you did:
Tried dropdown example

What happened:
I can open dropdown by clicking button, but I can't select any other item

[2018-05-04 14:49] klapouchy commented on #442
@kentcdodds I missed it. However, I am still unsure how to call it from within `onFocus`.

[2018-05-05 15:25] Joroze commented on #443
Hi, I believe this also occurs on FireFox/IE11 if you have a Semantic UI Dropdown HTML structure like the following:

Basically, having your item elements within the menu div element, all under the root button dropdown element.

`
<button class="ui dropdown button">
  <i class="filter icon"></i>
  <span class="text">Filter Posts</span>
  <div class="menu">
    <div class="ui icon search input">

[2018-05-05 15:47] Joroze commented on #443
This seems to also occur on Firefox/IE11 in cases where you have a root button element, and a div child element (dropdown menu), with div child (dropdown items) in the menu.

For example, an HTML structure like this Semantic UI React component
https://react.semantic-ui.com/modules/dropdown#dropdown-example-input

[2018-05-05 23:32] stevenfitzpatrick opened #444 "Control closing the menu if clicking outside"
* `downshift` version: 1.31.14
* `node` version: 9
* `npm` (or `yarn`) version: 1.6.0

I'm looking for a way to prevent the menu from closing when clicking outside the menu.

Right now when you click outside the menu , handleToggle is always called and `isOpen` set to false closing the menu. I'm looking to prevent this where I want to actually keep the menu open in some cases , is there anyway to

[2018-05-06 00:01] kentcdodds commented on #444
Hi! Look at the docs for how to use the stateReducer 👌

[2018-05-06 01:26] stevenfitzpatrick commented on #444
Thanks for the reply, that does help me get on the right track.

However for a full solution I do need to get access to the `event.target` of the `click`/`mouseup` event which Downshift doesn't seem to return. Do you know any work around to get the `event` returned ?

[2018-05-06 01:34] kentcdodds commented on #444
Could you help us understand why you need the event?

[2018-05-07 05:27] klapouchy commented on #442
@kentcdodds thanks! This leads to my next question. How to open the entire menu if an item is selected.

Here is the behavior I am trying to achieve:

1. Typeahead show results
2. User selects one item
3. Next user clicks on the input
4. The entire menu is shown with selected item (instead of just one item)

[2018-05-08 13:08] green-arrow commented on #444
I'm not the original poster, but I have what might be a similar issue. On mobile, we render the dropdown menu items in a portal. This means that detecting if `event.target` is inside of `_rootNode` will always be `false` when selecting a menu item, since all menu items are in a portal outside of the root node.

We could look at the `type` and just ignore the `touchstart` event type, but I'm wonder

[2018-05-08 14:51] kentcdodds commented on #444
Ah, this will be resolved with this: https://github.com/paypal/downshift/issues/287

I just need to carve out enough time to work on downshift 2.0.0 which should hopefully be in the next week or two.

[2018-05-09 20:38] kentcdodds commented on #263
Hi @VanillaWulf,

Maybe [this example from the README](https://codesandbox.io/s/zKE37vorr) will help?

I'm going to go ahead and close this issue as it's a bit stale. People can feel free to open other issues if needed.

[2018-05-09 20:38] #263 closed

[2018-05-14 15:04] ArthurAttout commented on #413
I'm not working on this project anymore, so the issue can be closed. It may be reopened if someone experience the same issue

[2018-05-14 15:04] #413 closed

[2018-05-16 09:18] VanillaWulf opened #445 "Input controll"
`downshift` version: 5.6.0
`node` version: 10.0.0
`npm` (or `yarn`) version: npm

Hi, thanks for really comfortable component, but I have one question.

The problem: Not to reset the input with onBlur or onOuterclick, because I have my own validation for selections.

What I tried.
1. Try to make selectItem = inputvalue — but notice, that it make a request to data again.

2. Try to make my own onBl

[2018-05-16 13:33] kentcdodds commented on #445
Hi @VanillaWulf!

I'm pretty sure you can accomplish what you're trying to do with a `stateReducer`. Check out the README about that.

I'm going to go ahead and close this, but feel free to comment if you have further questions.

[2018-05-16 13:33] #445 closed

[2018-05-21 13:53] nathanforce commented on #409
Just ran into this one as well!

Seems that `{ pointer-events: none; }` on the SVG will also fix.

[2018-05-22 15:12] Abdul-Moiz-Ansari commented on #433
I would love to do it. Also suggest that we should add a nice informational message in console in case if there is a 'render' prop. Just like React does in various cases.

[2018-05-22 15:48] petercutting opened #448 "can items be an array of objects?"
The downshift examples tend to set items to an array of strings eg ["red","blue"]. These simple examples annoy me because they immeadiately block the developer from using them in a realistic scenario.

A realistic API call returns an array of objects (items) where each object has an attribute that will be displayed and an attribute that is a unique id (and other attributes). An example at this com

[2018-05-22 16:27] #448 closed

[2018-05-22 16:27] kentcdodds commented on #448
Hi @petercutting,

This is a _very_ common question, so I've updated the example in the README. You need to use the `itemToString` prop. I hope that helps. Good luck!

[2018-05-22 16:33] kentcdodds opened #449 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-22 17:02] kentcdodds commented on #449
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-22 18:56] stereobooster commented on #23
@dashed they are merged in next branch and will be released as part of v2.0

[2018-05-23 09:53] Rendez commented on #200
I have the impression that this bug still exists within ShadowDOM. Can someone confirm this?

[2018-05-23 13:00] #200 closed

[2018-05-23 13:02] kentcdodds commented on #448
It's because that example is not using `match-sorter` properly for the data. Check out the `TypeAheadField.js` file and read the [`match-sorter`](https://github.com/kentcdodds/match-sorter) docs.

Good luck.

[2018-05-23 17:52] kohgpat opened #450 "onChange event is not firing"
* `downshift` ^1.31.14:
* `node` v10.0.0:
* `yarn`: 1.6.0

Hello!

I looking for your help. I'm working on the app and trying to integrate downshift. For some reason I've got the issue - `onChange` event is not firing.

I've no reproducible example, sorry. I've tried to reproduce the issue but in other apps everything works like a charm. And the issue is most likely app related.

As I find out the

[2018-05-25 20:26] kentcdodds commented on #448
:tada: This issue has been resolved in version 1.31.15 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v1.31.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-25 20:26] #449 closed

[2018-05-27 09:59] lenaggar commented on #440
@kentcdodds I would like to do that, can you please show me how, this will be my first time :smiley:

[2018-05-29 00:39] aMollusk commented on #450
Hey @kohgpat
Not sure if this relates to your specific case, but I encountered something similar, and it was to do with a mismatched React-dom 15 and React 16. The `setState` callback seems to be invoked differently between the versions.

[2018-05-29 07:34] kohgpat commented on #450
@aMollusk Hey. Thank you for the suggestion. I'll take a look in this direction.

[2018-05-29 20:37] kentcdodds commented on #443
I'm sorry, I don't have time to look into this myself. But I'd love for this to be fixed once and for all. iOS Safari has been a bit of a pain.

[2018-05-29 23:02] franklixuefei commented on #403
Is this still a problem?

[2018-05-29 23:40] aMollusk commented on #443
I'm more than happy to help, but I can't reproduce this on a real iOS device.

Which emulator are you using @alfredringstad - I'll take a look if I can get one running.

As a side note: I've noticed that storybook behaves kind of strangely on iOS because of the iFrame (the white container). Ensuring that the grey menus are out of the way seems to resolve some unexpected behaviour.

[2018-05-29 23:45] drobannx commented on #403
@franklixuefei - I believe this issue was resolved with https://github.com/paypal/downshift/pull/423

[2018-05-31 05:48] austintackaberry commented on #441
I don't think this is a hacky solution. For React Router v4, the component prop accepts a component, whereas the render prop accepts a function.

[2018-05-31 09:13] binarybaba commented on #441
Welp. I just started with React and react Router 4 so I hope if beginners stumble upon this problem not knowing what's going on, this could help.. Can someone close this issue?

[2018-05-31 23:43] vonwao commented on #443
@aMollusk it seems to be working now for me, although there is a noticeable lag, between the time you touch an item and when it highlights and selects.

[2018-06-04 20:41] kentcdodds opened #452 "Where can downshift be improved?"
Hey friends! I'm looking for feedback. Where can downshift be improved? This is an open-ended question and I'm looking for ideas. How can we improve the docs? What can we improve about the API? How can the implementation be improved?

A few ideas I have:

1. A legit website with an easier way to add or contribute to examples (I have some ideas here... Maybe it could just be a repo that could be lo

[2018-06-04 20:59] TrySound commented on #452
Remove `jsnext:main` field in the next major. It was initiated by rollup and deprecated (just with an issue) in it in favour of `module` field. It's better to not provide dead stuff which others copy in their projects.

[2018-06-04 21:00] kentcdodds commented on #452
Cool! Go ahead and make a PR for that whenever 👌

[2018-06-05 06:55] lixualinta opened #454 "Keep the menu open when scrolling the page on the mobile screen"
* `downshift` version: V1.31.15
* `node` version: V8.9.3
* `npm` (or `yarn`) version: 1.3.2

What you did:
On a mobile phone (or use the chrome developer tool), type something in the input field to open the menu open, then use the finger to scroll the screen

What happened:
If the area the finger press when started scrolling is in the input field or on the menu, the menu stays open;
If the area th

[2018-06-06 22:00] alfredringstad commented on #443
So I finally had some time to look into this. While I thought this was related to the original issue, I now realised that my problem might not be what @vonwao intended. If that is the case, I'm sorry for stealing this issue.

My problem exists when the toggle button is a `<button>` element. When I press the toggle button the first time, it opens the menu as it should. I can select other items in t

[2018-06-07 04:32] kentcdodds commented on #443
Let's see a pull request with your suggested solution. Thank you!

[2018-06-08 08:02] jakubgawlikowski opened #457 "Unable to override autoComplete="off""
* `downshift` version: 1.31.15
* `node` version: 9.7.0
* `npm` (or `yarn`) version: yarn 1.6.0

Relevant code or config

[code]

What you did:
I tried to override autocomplete="off" in order to solve this issue: https://stackoverflow.com/questions/12374442/chrome-browser-ignoring-autocomplete-off/34998771#34998771
What happened:
The autoComplete attribute is still "off". It seems it's not possible

[2018-06-10 14:00] Nazerbayev opened #458 "Cannot navigate dropdown when NVDA is active"
Using keyboard navigation only on firefox 60.0.2 (not verified with other browsers) after opening the dropdown menu or autocomplete options are displayed, if trying to navigate between the options using the arrow keys the menu is closed after de-selecting the first item on the options

* `downshift` version: 1.31.15

[2018-06-10 14:07] kentcdodds commented on #458
Thank you for finding this issue! I don't have a Windows machine or NVDA so we'll need you help to track down the cause is this issue and resolve it. Could you please?

[2018-06-10 16:21] Nazerbayev commented on #458
i'll look it up on my spare time

[2018-06-11 09:48] nicgirault commented on #432
I'm also using a hidden input but it really seems to me that it is a code smell. Moreover, while integrating with redux-form and material-ui, I'm facing bugs such as `onBlur` not working. An example would definitely be appreciated :-)

[2018-06-11 21:06] 9jaswag commented on #452
I used downshift for the first time today and I had a need to find out what element was changed in my `onChange` method. I don't know if there's already a way to get this info but I had to get the `id` from the `stateAndHelpers` and add `-input` to the end of the string before going ahead to find the element in the DOM.
If a better solution for this exists, I'd like to know. If not, it'll be cool

[2018-06-11 21:15] kentcdodds commented on #452
Hi @9jaswag, could you describe your use case further? Why do you need to know what element was changed? And what do you mean by "element was changed?"

[2018-06-11 21:34] 9jaswag commented on #452
@kentcdodds I have multiple downshift input fields on a page and in the `onChange` method, I'm setting `selectedItem` to state. I want to use the same `onChange` method for all the for all the input fields on the page.
From my little React knowledge, I do something like this `this.setState({ [event.target.name]: event.target.value }) and it sets the matching item in the state.
So, I wanted to do t

[2018-06-11 22:12] kentcdodds commented on #452
Gotcha. Here's what I'd do:

[code]

Then your `onChange` could be: `onChange(elementName, selectedItem) {`. Does that make sense?

[2018-06-11 22:20] 9jaswag commented on #452
Yes, it does. Thanks 😃

[2018-06-11 23:41] kentcdodds opened #459 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-11 23:49] kentcdodds commented on #459
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-11 23:56] #459 closed

[2018-06-12 00:00] kentcdodds commented on #452
Could you file another issue about that please?

[2018-06-12 03:38] Nazerbayev commented on #458
i've an update @kentcdodds : the issue seems to be related with how NVDA traverses through the pages. If the currently focused element isnt an input (link, button, etc) then using the arrow keys allows you to change the focus as if the tab key was used, if the element is an input then arrow keys are not overriden.

So, the issue might not be with downshift per se but how we render the dropdown (si

[2018-06-12 04:05] kentcdodds commented on #458
Thank you so much for doing this work @Nazerbayev! This will help downshift and everyone using it be more accessible. Please do let me know what you find out and we'll try to encode a solution into downshift. I'm guessing it will require that we add a prop to the input or something. If that's the case, then it's an easy fix and that would go here:

https://github.com/paypal/downshift/blob/19781464

[2018-06-12 08:42] 9jaswag commented on #452
I'll do that

[2018-06-12 09:01] 9jaswag opened #460 "Add ability to get the target element from the onChange method"
To get more context on this issue, please check [here](https://github.com/paypal/downshift/issues/452#issuecomment-396423298)

Problem description: When using a single downshift component for multiple input fields on a page, one is unable to easily get the current input element being interracted with by the user. In my case, I had to write extra lines of code to get the target element

Suggested s

[2018-06-12 16:28] kentcdodds commented on #460
Hi @9jaswag!
I don't think that we'll do this. Generally you shouldn't need access to the element itself and when you do you can [use a ref to do this](https://codesandbox.io/s/20x8plpm1r)

Thanks!

[2018-06-12 16:28] #460 closed

[2018-06-12 19:44] kentcdodds commented on #287
lol, I was just working on this and having a really hard time reproducing it. I finally upgraded [the original codesandbox](https://codesandbox.io/s/wzvj823r8) to the latest version of downshift and the bug is gone!

However, it's still possible to reproduce if the user clicks on a non-item that's rendered within the portal, [like here](https://codesandbox.io/s/wn98on1015). So I'll fix that :)

[2018-06-12 20:49] kentcdodds commented on #361
I might be publishing 2.0.0 this week. What are the chances we can make this happen by then?

[2018-06-12 21:44] kentcdodds commented on #433
This has been merged into the `next` branch which should be merged into `master` soon.

[2018-06-12 21:44] #433 closed

[2018-06-12 21:44] kentcdodds commented on #287
This has been merged into `next` which should be merged into `master` soon.

[2018-06-12 21:44] #287 closed

[2018-06-12 21:51] #389 closed

[2018-06-12 21:59] #185 closed

[2018-06-12 22:01] #403 closed

[2018-06-12 22:56] kentcdodds commented on #404
This will be resolved in downshift@2.0.0 which has had a beta release. Official release coming soon! Please try the beta! Learn more in #461

[2018-06-12 22:56] #404 closed

[2018-06-12 22:57] kentcdodds commented on #444
downshift@2.0.0 has had a beta release and this has been fixed in there I believe. Please see #461 for more information on how to try it out! The official release will come soon.

[2018-06-12 22:57] #444 closed

[2018-06-12 22:58] kentcdodds commented on #23
downshift@2.0.0 will be released soon with this! Thanks @stereobooster!

Learn more: #461

[2018-06-12 22:58] #23 closed

[2018-06-12 23:08] kentcdodds commented on #454
This is definitely possible with the built-in capabilities. I think you might need to use a `stateReducer` (see the docs). You may alternatively consider using control props and controlling the `isOpen` state (see the docs).

As this is a question and not a bug or feature that we'll be making changes to the library for, I'll go ahead and close this. If you need further help, please join our commun

[2018-06-12 23:08] #454 closed

[2018-06-13 16:19] Nazerbayev commented on #458
actually i think we need to remove `aria-activedescendant`, according to mdn:
[code]
I think the main issue is that the options are not direct descendant of the input that receives the active-descendant prop. After i removed that prop on my sample code nvda did swap to forms mode as intented (nvda wasnt changing modes even if the input had role=combobox)

This still needs further testing though, r

[2018-06-13 16:40] kentcdodds commented on #458
Huh, I wonder if we could put the `aria-activedescendant` on the root div instead if that would fix the issue with NVDA without causing issues for other screen readers 🤔

[2018-06-14 23:18] kentcdodds opened #463 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-14 23:20] kentcdodds commented on #283
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 23:20] kentcdodds commented on #406
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 23:20] kentcdodds commented on #287
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 23:20] kentcdodds commented on #433
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 23:20] kentcdodds commented on #404
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 23:20] #463 closed

[2018-06-15 18:45] #361 closed

[2018-06-17 17:22] denkristoffer commented on #457
Setting `autoComplete` on the `<Downshift />` component itself doesn't do anything, but you can override it by setting it in `getInputProps()`, like so:

[code]

(It's been a while since I looked at Downshift's API, please excuse me if this has changed)

[2018-06-18 14:14] tomasz89nowak opened #465 "Unexpected events when clicking on label"
- `downshift` version: 2.0.0 or 1.31.15
- `node` version: 10.0.0
- `npm` (or `yarn`) version: yarn 1.6.0
- config does not matter, it works the same way on codesandbox

What you did:
I added checkbox with label in each row of select dropdown and clicked on label

What happened:
__autocomplete_click_item__ triggers twice,
__autocomplete_blur_button__ triggers once and closes dropdown, which is prev

[2018-06-18 15:07] Tilican opened #466 "defaultInputValue as object ?"
Hi,

I want to make a select but with more than one field input, for example firstname / lastname.
it's possible with downshift ?

[2018-06-18 15:16] Tilican commented on #466
But i want just one downshift list, link to many search input

[2018-06-18 15:19] kentcdodds commented on #466
Could you elaborate on why you want just one downshift list? Let's move this over to spectrum: https://spectrum.chat/downshift

Thanks!

[2018-06-18 15:19] #466 closed

[2018-06-18 15:38] EnoahNetzach opened #467 "Respect defaultInputValue when provided"
Hi, thanks a lot for this UI-less solution: it's been really easy to integrate with our existing UI lib as a substitution of a (really) old jQuery based one!

I'm having one single problem: I provide both a `selectedItem` and a `defaultInputValue` to downshift, and since `inputValue` and `selectedItem` are decoupled, I'd expect that in my initial rendering I would see `defaultInputValue`.

In prac

[2018-06-18 15:45] kentcdodds commented on #467
Hmmm... But the only reason `selectedItem` would not be `null` is if you're specifying a `defaultSelectedItem` prop. The `inputValue` should reflect the `selectedItem` when the user hasn't made changes to the input value which is why that logic is the way it is. Can you show an example of the kind of UI experience you're trying to build so I can understand better why you want things to not work as

[2018-06-18 15:47] EnoahNetzach commented on #467
I'm talking about the initial render only (where the default values make sense), I'll show you what I mean shortly.

[2018-06-18 15:59] EnoahNetzach commented on #467
[Here](https://codesandbox.io/s/vzxn7yrv3) a quick example.

I would like to maintain the decoupling you have when you're changing the input, but the selected item doesn't change yet:
![screen shot 2018-06-18 at 17 55 48](https://user-images.githubusercontent.com/663755/41547653-165a933c-7321-11e8-8a15-cc340e2487a5.png)
even in the first render (here implemented by a `pristine` value in the state:

[2018-06-18 16:14] EnoahNetzach commented on #467
The user experience I'd like to give is: since users haven't interacted with the dropdown yet, I'd like to show them all the viable options.

Now the experience they have is: they see an input without options, and they have to actively clear the input before options are shown

Example: [here](https://codesandbox.io/s/v670kq95l) (I just took one official example, and added a `defaultSelectedItem`).

[2018-06-18 16:16] kentcdodds commented on #467
That's very interesting. I'm inclined to agree with you. I'm thinking what might be better is an `initialInputValue` prop, or perhaps a more flexible prop that could allow you to specify the initial state of the entire component:

[code]

What would you say to that?

[2018-06-18 16:20] EnoahNetzach commented on #467
My understanding was that it was exactly the role of the `default_` props (`defaultSelectedItem`, `defaultHighlightedIndex`, `defaultInputValue`, `defaultIsOpen`), if not I completely missed their point..

Anyway, any solution looks equally promising (where the more flexible one could be useful moar broadly).

[2018-06-18 16:31] kentcdodds commented on #467
That's part of the use case, but another part of the use case is what to do when downshift is reset. The distinction is slight and normally not noticeable. It's probably kinda confusing. But the reason the `default` isn't being picked up in this case is because the default doesn't make sense when there's a selected item. Default is interpreted to mean: "When there's no other value that makes sense

[2018-06-18 16:36] EnoahNetzach commented on #467
I got the distinction. I'll try to get a PR with the `initial_` props ASAP.
I'd go down the distinct props, as opposed to the `initialState`, just to keep the same API.

I'll try also to add a short paragraph in the docs to explain the distinction.

Would that be OK?

[2018-06-18 16:42] kentcdodds commented on #467
That sounds fine. Maybe we could get away with not having docs dedicated to each prop? I want to avoid confusion. Most people probably wont need these props so having a single section for "initial props" would probably be sufficient.

[2018-06-18 16:47] EnoahNetzach commented on #467
agreed!

[2018-06-18 16:55] RoystonS opened #469 "v2 typings advertise an input prop called `render`, which is ignored"
- `downshift` version: 2.0.0
- `node` version: 8.11.1
- `npm` (or `yarn`) version: yarn 1.7.0

What you did:
Upgraded an existing TypeScript-based project to downshift v2

What happened
Project compiled cleanly (apart from a few `ControllerStateAndHelpers` referencing now happily needing a generic type) but all Downshift UI output disappeared.   This is because I didn't update my code, which used

[2018-06-18 21:39] RoystonS commented on #469
I'll slap a PR together for this...

[2018-06-19 06:39] tomasz89nowak commented on #465
I tried it on example You provide, few other and two of my own, it works the same way, label with htmlFor change the behavior.

[2018-06-19 07:40] alexandernanberg opened #471 "Using spacebar to open menu has issues in Firefox"
- `downshift` version: 2.0.2
- `node` version: 8.11.2
- `npm` (or `yarn`) version: 6.1
- `firefox` version: 60.0.2

What you did:
Open Firefox, go to the linked Storybook page, focus the button and then press the spacebar to open (or close) the menu.

What happened:
The menu opens but then closes right after. If you hold the spacebar down the menu will start to flicker between the open and close s

[2018-06-19 11:18] #469 closed

[2018-06-19 12:35] EnoahNetzach commented on #467
I have a question: right now on reset only `defaultHighlightedIndex` is respected, but from your previous comment I thought the default props were meant to be used on reset.

[This](https://github.com/paypal/downshift/blob/master/src/downshift.js#L833) is the piece of code I'm talking about:
[code]

Shouldn't it be something more like:
[code]
where the current state is completely discarded in favo

[2018-06-19 13:46] kentcdodds commented on #467
Yeah, you're right. It really should be using the defaults in the reset. That's a design flaw. I sure wish that we'd realized this before I released 2.0.0 last week 😅

I think this is worth releasing 3.0.0 though. So let's change this and push it as a breaking change. Could you do that?

[2018-06-20 06:57] stefanoferretti opened #476 "memory leak warning"
- `downshift` version: 2.0.2
- `node` version: 9.11.1
- `npm` (or `yarn`) version: 1.7.0

Relevant code or config

See problem description

What you did:
Submitted a form with enter when focus is on the autocomplete component

What happened:
React warns that "Can't call setState (or forceUpdate) on an unmounted component"

Problem description:
Every time I submit a form when the focus is on a comp

[2018-06-20 18:40] kentcdodds commented on #476
I think that'd probably be best. We could have a `timeouts` instance property that's an array of all current timeouts, then iterate through and clear them in `componentWillUnmount`.

Alternatively, we could have an instance property called `_isMounted` that's a boolean, set it to `true` in `componentDidMount`, then set it to false in `componentWillUnmount`, and in our `internalSetState` method we

[2018-06-21 05:13] Alex-Mason-1982 opened #478 "Switching between controlled and uncontrolled input"
I have set up an autocomplete with downshift and it works perfectly... except it gives me the following warning whenever i select an option.

**Warning: A component is changing a controlled input of type text to be uncontrolled. Input elements should not switch from controlled to uncontrolled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the c

[2018-06-21 13:13] kentcdodds commented on #478
Hi, could you please reproduce your issue in codesandbox? You can start with this one: http://kcd.im/ds-example

It's just really hard to debug your issue with a wall of unformatted code 😅

[2018-06-21 13:16] #476 closed

[2018-06-21 13:51] preraksola opened #480 "Clear Selection via an external button click"
- `downshift` version: 1.31.16
- `node` version: 8.11.12
- `npm` (or `yarn`) version: 5.6.0

What you did:
I have integrated downshift in a form in my react application to display a list of users fetched from an API. I have a button in this form, which is used to clear all the fields.
However, I am not able to clear the autocomplete text field of Downshift upon clicking the button.

So, is there a

[2018-06-21 14:01] kentcdodds commented on #476
:tada: This issue has been resolved in version 2.0.7 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/paypal/downshift/releases/tag/v2.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-21 16:20] oliverjam opened #481 "defaultInputValue doesn't update when props change"
- `downshift` version: 2.0.7
- `node` version: 8.11.1
- `npm` (or `yarn`) version: 6.0.1

Relevant code or config

[code]

What you did:

We are storing the selected item (country) in our Redux state. This is initially populated on the server (via query string) and passed to Downshift via `defaultSelectedItem`. If the user changes their country using Downshift we dispatch an action to update this

[2018-06-21 17:40] alexandernanberg commented on #471
After doing some more research it seems that Firefox does not respect `event.preventDefault()` on the `onKeyDown` event handler (still propagates to a click event).

A possible solution would be to add a `onKeyUp` event handler that executes `event.preventDefault()`, this will prevent Firefox from firing the click event when pressing the spacebar. Is this a viable solution or will it break somethi